;-----------------------------------------------------------------------------
; Makes the server up to date with what stripper version we on - Stripper by Midknight
;-----------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "console,command,say < Stripper 1.1 loaded >"
	}
}

;-----------------------------------------------------------------------------
; Fix a certain misinput on music loop that can cause double music starting to play
;-----------------------------------------------------------------------------
modify:
{
	match:
	{
	"classname" "math_counter"
	"targetname" "adrammelechmath"
	}
	delete:
	{
		"OnStartTouch" "stage_2_bosssong,PlaySound,,187,1"
		"OnHitMin" "stage_2_bosssong,Kill,,0,1"
	}
}

;-----------------------------------------------------------------------------
; Change some zm item spawns
;-----------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "env_entity_maker"
		"targetname" "zmhealmaker"
	}
	replace:
	{
		"origin" "-992 6944 -416"
	}
}
modify:
{
	match:
	{
		"classname" "env_entity_maker"
		"targetname" "warpmaker"
	}
	replace:
	{
		"origin" "224 6976 -384"
	}
}
modify:
{
	match:
	{
		"classname" "env_entity_maker"
		"targetname" "stage_2_zmhealmaker"
	}
	replace:
	{
		"origin" "6944 7680 -4864"
	}
}
modify:
{
	match:
	{
		"classname" "env_entity_maker"
		"targetname" "stage_2_zmfiremaker"
	}
	replace:
	{
		"origin" "6904 5360 -4804"
	}
}

;-----------------------------------------------------------------------------
; Add a filter to a certain trigger hurt to avoid zm items dying in water on s3 (no tp, cause you shouldnt be falling here in the first place, ztele exists)
;-----------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "-12892 -2016 -816"
	}
	insert:
	{
		"filtername" "MapFilterCT"
	}
}

;-----------------------------------------------------------------------------
; Balance s3 bosshp's since theyre a bit too much
;-----------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "chaoshpadd"
	}
	delete:
	{
		"OnStartTouch" "chaosmath,Add,800,0,-1"
	}
	insert:
	{
		"OnStartTouch" "chaosmath,Add,500,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "endchaoshptrig"
	}
	delete:
	{
		"OnStartTouch" "endchaosmath,Add,85,0,-1"
	}
	insert:
	{
		"OnStartTouch" "endchaosmath,Add,65,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "stage_3_chaoshpadder"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "stage_3_chaosmath,Add,80,0,-1"
	}
	insert:
	{
		"OnStartTouch" "stage_3_chaosmath,Add,65,0,-1"
	}
}

;-----------------------------------------------------------------------------
; Balance some chaos attacks since they were (still) a bit too overpowered. Changing absorption (sethp) attack to only ever fire once and only to 150 hp
;-----------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "wrath_of_seraphim_hurt"
	}
	replace:
	{
		"Damage" "20"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "chaosabsorptionhurt"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,health 100,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,health 150,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "chaoscase"
	}
	delete:
	{
		"OnCase04" "console,Command,say *** Chaos has casted Absorption! ***,0,-1"
		"OnCase04" "chaosabsorptionhurt,Enable,,4,-1"
		"OnCase04" "chaosabsorptionhurt,Disable,,5,-1"
	}
	insert:
	{
		"OnCase04" "console,Command,say *** Chaos has casted Absorption! ***,0,1"
		"OnCase04" "chaosabsorptionhurt,Enable,,4,1"
		"OnCase04" "chaosabsorptionhurt,Disable,,5,1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "chaoseternalpain"
	}
	replace:
	{
		"Damage" "15"
	}
}

;-----------------------------------------------------------------------------
; Add new attacks to math_counter onhitmins
;-----------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "adrammelechmath"
	}
	insert:
	{
		"OnHitMin" "adrammelech_explodehurt,Kill,0,1"
	}
}
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "chaosmath"
	}
	insert:
	{
		"OnHitMin" "wrath_of_seraphim_hurt,Kill,0,1"
	}
}

;--------------------------------------------------------------------------------
; Shorten after chaos end hold
;--------------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stage_3_finaltrig1"
	}
	delete:
	{
		"OnStartTouch" "console,Command,say *** Grate will break in 25 seconds ***,0,1"
		"OnStartTouch" "stage_3_finaldoor1,Kill,,25,1"
		"OnStartTouch" "stage_3_finalvent1,Kill,,30,1"
	}
	insert:
	{
		"OnStartTouch" "console,Command,say *** Grate will break in 20 seconds ***,0,1"
		"OnStartTouch" "stage_3_finaldoor1,Kill,,20,1"
		"OnStartTouch" "stage_3_finalvent1,Kill,,25,1"
	}
}

;--------------------------------------------------------------------------------
; Buff heal item
;--------------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "heal_trigger"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,health 200,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,health 250,0,-1"
	}
}