;fix not adjustable music volume
modify:
{
	match:
	{
		"message" "arena_1.mp3"
	}
	replace:
	{
		"message" "#arena_1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "arena_2.mp3"
	}
	replace:
	{
		"message" "#arena_2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "arena_3.mp3"
	}
	replace:
	{
		"message" "#arena_3.mp3"
	}
}
modify:
{
	match:
	{
		"message" "arena_4.mp3"
	}
	replace:
	{
		"message" "#arena_4.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ctf_19.mp3"
	}
	replace:
	{
		"message" "#ctf_19.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ctf_22.mp3"
	}
	replace:
	{
		"message" "#ctf_22.mp3"
	}
}