;---------------------------------------
;Change Boss HP Scale
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "eyeboss_health_scale"
	}
	delete:
	{
		"OnStartTouch" "BossCounter2,add,25,0,-1"
		"OnStartTouch" "BossCounter1,add,25,0,-1"
	}
	insert:
	{
		"OnStartTouch" "BossCounter2,add,55,0,-1"
		"OnStartTouch" "BossCounter1,add,55,0,-1"
	}
}
