;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;KEEP NUKE ENABLED
;-------------------------------

modify:
{
	match:
	{
		"origin" "7000 14708 -800"
		"classname" "trigger_once"
		"hammerid" "73025"
	}
	delete:
	{
		"OnStartTouch" "trigger_hurt_final_nuke,Disable,,92,-1"
	}
}

;--------------------------------------------------------
;STRIPPER PART BY HOBBITTEN
;--------------------------------------------------------

; Adds more maptime
modify:
{
	match:
	{
		"classname" "logic_auto"
		"origin" "-3545 -13947 462"
	}
	delete:
	{
		"OnMapSpawn" "point_servercommand_1,Command,mp_roundtime 6,1,-1"
	}
	insert:
	{
		"OnMapSpawn" "point_servercommand_1,Command,mp_roundtime 16,0,-1"
		"OnMapSpawn" "point_servercommand_1,Command,say *** Stripper 1 added ***,5,-1"
		"OnMapSpawn" "point_servercommand_1,Command,say *** Reach the control room at the oil rig ***,7,-1"
		"OnMapSpawn" "point_servercommand_1,Command,say *** Have fun on the remake! ***,8,-1"
	}
}

; Adds targetnames to snowballs
modify:
{
	match:
	{
		"origin" "-3282.05 -10207 -152"
	}
	insert:
	{
		"targetname" "snowball"
	}
}
modify:
{
	match:
	{
		"origin" "-3878.05 -10207 -152"
	}
	insert:
	{
		"targetname" "snowball"
	}
}
modify:
{
	match:
	{
		"origin" "-4306.05 -10207 -152"
	}
	insert:
	{
		"targetname" "snowball"
	}
}
modify:
{
	match:
	{
		"origin" "-4902.05 -10207 -152"
	}
	insert:
	{
		"targetname" "snowball"
	}
}
modify:
{
	match:
	{
		"origin" "-5330.96 -10207 -152"
	}
	insert:
	{
		"targetname" "snowball"
	}
}
modify:
{
	match:
	{
		"origin" "-5926.96 -10207 -152"
	}
	insert:
	{
		"targetname" "snowball"
	}
}
modify:
{
	match:
	{
		"origin" "-6354.05 -10207 -152"
	}
	insert:
	{
		"targetname" "snowball"
	}
}
modify:
{
	match:
	{
		"origin" "-6950.05 -10207 -152"
	}
	insert:
	{
		"targetname" "snowball"
	}
}

; Adds 2 trigger to kill snowballs
add:
{
	"model" "*139"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-4096 -7163.5 -4969.42"
	"classname" "trigger_once"
	"OnStartTouch" "snowball,Kill,,1,1"
}
add:
{
	"model" "*139"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-6136 -7184.5 -4969.42"
	"classname" "trigger_once"
	"OnStartTouch" "snowball,Kill,,1,1"
}

; Kills top snowballs at boats
modify:
{
	match:
	{
		"origin" "-4691 -1474.5 -237"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "func_physbox_snowball_1,Kill,,0,1"
		"OnStartTouch" "func_physbox_snowball_2,Kill,,0,1"
	}
}

; Kills ice spikes both parts when end reached
modify:
{
	match:
	{
		"origin" "-3068 7358.5 16"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "func_physbox_icicles_2,Kill,,0,1"
		"OnStartTouch" "func_physbox_icicles_3,Kill,,0,1"
		"OnStartTouch" "func_physbox_icicles_1,Kill,,0,1"
	}
}

; Removes nuke trigger and makes a message instead
modify:
{
	match:
	{
		"origin" "7000 14708 -800"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "point_servercommand_1,Command,say ***** The Oil Rig Has Been Reached *****,0,-1"
		"OnStartTouch" "point_servercommand_1,Command,say ***** Nuke Squad Will Arrive in 90 Seconds *****,1,-1"
		"OnStartTouch" "trigger_hurt_final_nuke,Enable,,91,-1"
		"OnStartTouch" "point_servercommand_1,Command,say ***** Nuke Squad Is Here *****,84,81"
		"OnStartTouch" "ambient_generic_final_nuke_1,PlaySound,,84,-1"
		"OnStartTouch" "ambient_generic_final_nuke_2,PlaySound,,88,-1"
		"OnStartTouch" "trigger_hurt_final_nuke,Disable,,92,-1"
	}
	insert:
	{
		"OnStartTouch" "point_servercommand_1,Command,say ***** The Oil Rig Has Been Reached *****,0,1"
		"OnStartTouch" "point_servercommand_1,Command,say ***** Make your way to the control room and barricade it! *****,2,1"
		"OnStartTouch" "point_servercommand_1,Command,say ***** QUICKLY NOW *****,5,1"
	}
}

; adds new nuke trigger location
add:
{
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "8526.5 14721.5 -7.5"
	"classname" "trigger_once"
	"OnStartTouch" "point_servercommand_1,Command,say ***** Control room reached - DEFEND IT for 90 seconds *****,0,1"
	"OnStartTouch" "trigger_hurt_final_nuke,Enable,,91,1"
	"OnStartTouch" "trigger_hurt_final_nuke2,Enable,,91,1"
	"OnStartTouch" "point_servercommand_1,Command,say ***** Nuke incoming *****,84,1"
	"OnStartTouch" "ambient_generic_final_nuke_1,PlaySound,,84,1"
	"OnStartTouch" "ambient_generic_final_nuke_2,PlaySound,,88,1"
}

; Adds a nuke on the oilplatform so only top room survives
add:
{
	"model" "*170"
	"targetname" "trigger_hurt_final_nuke2"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "7604 14708 -1328"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "99999"
	"damage" "999999"
	"classname" "trigger_hurt"
}

; Increases damage done by nuke1
modify:
{
	match:
	{
		"origin" "3512 14708 -784"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagecap" "9999"
		"damage" "99999"
	}
}