;---------------------------------
; Edit from Pasas1345 & .Rushaway
;--------------------------------------------------
; ADJUST ITEMS COOLDOWN TO MATCH NEMESSIS GAMEPLAY
;--------------------------------------------------
modify:
{
	match:
	{
		"origin" "13408 12000 512"
		"targetname" "IceArrow_Act"
		"hammerid" "401221"
	}
	delete:
	{
		"OnPass" "IceArrow_Light,ShowSprite,,4,-1"
		"OnPass" "IceArrow_Button,Unlock,,4,-1"
	}
	insert:
	{
		"OnPass" "IceArrow_Light,ShowSprite,,13,-1"
		"OnPass" "IceArrow_Button,Unlock,,13,-1"
	}
}

modify:
{
	match:
	{
		"origin" "13408 12096 512"
		"targetname" "StarArrow_Act"
		"hammerid" "400673"
	}
	delete:
	{
		"OnPass" "StarArrow_Light,ShowSprite,,4,-1"
		"OnPass" "StarArrow_Button,Unlock,,4,-1"
	}
	insert:
	{
		"OnPass" "StarArrow_Light,ShowSprite,,13,-1"
		"OnPass" "StarArrow_Button,Unlock,,13,-1"
	}
}

;-----------------------------------------------
; REMOVE SPEED MODIFICATIONS ON TP FOR ZM ITEMS
;-----------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"hammerid" "/(371933|372066|157530)/"
	}
	delete:
	{
		"OnStartTouch" "Speed,ModifySpeed,0.00,0,-1"
		"OnStartTouch" "Speed,ModifySpeed,1.0,0.1,-1"
	}
}

;-----------------------------------------
; FIX ITEMS NOT RESTORING SPEED CORRECTLY
;-----------------------------------------
modify:
{
	match:
	{
		"targetname" "IceArrow_hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnHurtPlayer" "Speed,ModifySpeed,0.00,0,-1"
		"OnHurtPlayer" "Speed,ModifySpeed,1,0.8,-1"
	}
	insert:
	{
		"OnHurtPlayer" "Speed,ModifySpeed,0.40,0,-1"
		"OnHurtPlayer" "Speed,ModifySpeed,1.13,1.6,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "StarArrow_hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnHurtPlayer" "Speed,ModifySpeed,0.40,0,-1"
		"OnHurtPlayer" "Speed,ModifySpeed,1,0.6,-1"
	}
	insert:
	{
		"OnHurtPlayer" "Speed,ModifySpeed,0.40,0,-1"
		"OnHurtPlayer" "Speed,ModifySpeed,1.13,1.6,-1"
	}
}

;-------------------------------------------------
; REPLACE PHYSICS LEVEL SYSTEM WITH PERM ENTITIES
;-------------------------------------------------
add:
{
	"classname" "info_target"
	"targetname" "Stage_CounterInit"
	"spawnflags" "0"
	"OnUser1" "Stage_CounterTemplate,ForceSpawn,,0,1"
	"OnUser1" "Stage_Counter,AddOutput,classname info_target,0.03,1"
	"OnUser1" "!self,Kill,,0.06,1"
}

add:
{
	"classname" "point_template"
	"targetname" "Stage_CounterTemplate"
	"Template01" "Stage_Counter"
	"spawnflags" "2"
}

add:
{
	"classname" "math_counter"
	"targetname" "Stage_Counter"
	"startvalue" "1"
	"StartDisabled" "0"
	"min" "1"
	"max" "2"
	"OnGetValue" "Stage_Case,InValue,,0,-1"
}

add:
{
	"classname" "logic_case"
	"targetname" "Stage_Case"
	"Case01" "1"
	"Case02" "2"
	"OnCase01" "Stage_1_relay,Trigger,,0.02,-1"
	"OnCase02" "Stage_2_relay,Trigger,,0.02,-1"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "Stage_CounterInit,FireUser1,,0,1"
		"OnMapSpawn" "Stage_Counter,GetValue,,0.02,1"
		"OnMapSpawn" "player,AddOutput,targetname default,0,-1"
		"OnMapSpawn" "player,SetDamageFilter,,0,-1"
	}
}

;----------------------------------
; CONVERT STAGE TRIGGERS TO RELAYS
;----------------------------------
add:
{
	"origin" "14808 12248 488"
	"targetname" "Stage_1_relay"
	"StartDisabled" "0"
	"spawnflags" "0"
	"classname" "logic_relay"
	"OnTrigger" "Terra_Break,PlaySound,,3,-1"
	"OnTrigger" "Lift2_*,Kill,,0,-1"
	"OnTrigger" "Barrier2_*,Kill,,0,-1"
	"OnTrigger" "Barrier_dust2_*,Kill,,0,-1"
	"OnTrigger" "Zsmoke2,TurnOff,,0,-1"
	"OnTrigger" "maker_StarArrow,AddOutput,origin 11172 5349 -20,2,-1"
	"OnTrigger" "maker_IceArrow,AddOutput,origin 10777 5348 -20,2,-1"
	"OnTrigger" "maker_StarArrow,ForceSpawn,,3,-1"
	"OnTrigger" "maker_IceArrow,ForceSpawn,,3,-1"
	"OnTrigger" "sprite,Kill,,0,-1"
	"OnTrigger" "SC,Command,say ** Nano Grid2 1/2 **,4,-1"
	"OnTrigger" "Stage1_Final,Enable,,5,-1"
	"OnTrigger" "Stage1_Wall,Enable,,5,-1"
	"OnTrigger" "Stage2_Wall,Disable,,5,-1"
	"OnTrigger" "St2_Buy,SetTeam_None,,0,-1"
}

add:
{
	"origin" "14776 12248 488"
	"targetname" "Stage_2_relay"
	"StartDisabled" "0"
	"spawnflags" "0"
	"classname" "logic_relay"
	"OnTrigger" "St2_Teleport1,Enable,,0,-1"
	"OnTrigger" "St2_Teleport2,Enable,,0,-1"
	"OnTrigger" "AFK_Teleport,AddOutput,angles 0 180 0,0,-1"
	"OnTrigger" "AFK_Teleport,AddOutput,origin 7441 -15078.5 1726,0,-1"
	"OnTrigger" "Mech_Break,PlaySound,,3,-1"
	"OnTrigger" "Lift1_*,Kill,,1,-1"
	"OnTrigger" "Barrier1_*,Kill,,1,-1"
	"OnTrigger" "Barrier_dust1_*,Kill,,1,-1"
	"OnTrigger" "Zsmoke1,TurnOff,,1,-1"
	"OnTrigger" "maker_StarArrow,ForceSpawn,,3,-1"
	"OnTrigger" "maker_StarArrow,AddOutput,origin 4967.5 -15078.5 1789,2,-1"
	"OnTrigger" "SC,Command,say ** Nano Grid2 2/2 **,4,-1"
	"OnTrigger" "Stage1_Wall,Disable,,0.5,-1"
	"OnTrigger" "Stage2_Wall,Enable,,0.5,-1"
	"OnTrigger" "maker_IceArrow,ForceSpawn,,3,-1"
	"OnTrigger" "maker_IceArrow,AddOutput,origin 3893 -15078.5 1789,2,-1"
	"OnTrigger" "St2_Buy,SetTeam_AllTeams,,0,-1"
	"OnTrigger" "Finish_brush,Disable,,5,-1"
	"OnTrigger" "tp2_1_*,Enable,,1.5,-1"
}

modify:
{
	match:
	{
		"targetname" "Stage1_Human"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Stage2_brush,Disable,,0,1"
		"OnStartTouch" "Stage1_brush,Enable,,0,1"
	}
	insert:
	{
		"OnStartTouch" "Stage_Counter,SetValueNoFire,2,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "St2_Win"
		"classname" "trigger_once"
	}
	insert:
	{
		; Map has been beaten - Reset map
		"OnStartTouch" "Stage_Counter,SetValueNoFire,1,0,1"
	}
}

;------------------
; UPDATE ADMINROOM
;------------------
modify:
{
	match:
	{
		"origin" "10816 11296 760"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "Stage1_brush,Disable,,0,-1"
		"OnPressed" "Stage2_brush,Enable,,0,-1"
	}
	insert:
	{
		"targetname" "admin_btn_s1"
		"OnPressed" "!self,Lock,,0,-1"
		"OnPressed" "admin_btn_s2,Unlock,,0,-1"
		"OnPressed" "Stage_Counter,SetValueNoFire,1,0,-1"
		"OnPressed" "sc,Command,say ** (Admin) Next round will start at Stage 1 **,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "10888 11296 760"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "Stage1_brush,Enable,,0,-1"
		"OnPressed" "Stage2_brush,Disable,,0,-1"
	}
	insert:
	{
		"targetname" "admin_btn_s2"
		"OnPressed" "!self,Lock,,0,-1"
		"OnPressed" "admin_btn_s1,Unlock,,0,-1"
		"OnPressed" "Stage_Counter,SetValueNoFire,2,0,-1"
		"OnPressed" "sc,Command,say ** (Admin) Next round will start at Stage 2 **,0,-1"
	}
}
;--------------------------
; CLEANUP OLD LEVEL SYSTEM
;--------------------------
filter:
{
	"classname" "func_physbox"
	"targetname" "/Stage(1|2)_phys/"
}

filter:
{
	"classname" "func_brush"
	"targetname" "/Stage(1|2)_brush/"
}

filter:
{
	"classname" "trigger_once"
	"targetname" "/Stage(1|2)_trigger/"
}

;------------------------
; REMOVE UNKNOW ENTITIES
;------------------------
filter:
{
	"classname" "env_ambient_light"
}

filter:
{
	"classname" "env_instructor_hint"
}