;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 18.05.2024
;STRIPPER CFG BY MAŁGO https://steamcommunity.com/profiles/76561197992553990/
;---------------------------------------------------------------
;---------------------------------------
;Make seconds lasers easier
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "laser_laser2"
		"classname" "func_movelinear"
	}
	replace:
	{
		"speed" "1400"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_laser3"
		"classname" "func_movelinear"
	}
	replace:
	{
		"speed" "1400"
	}
}

;---------------------------------------
;Make breakable possible to destroy
;---------------------------------------
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7617"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7683"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7551"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7815"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7419"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7881"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7485"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7749"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "8013"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "7947"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "8301"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "8079"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "8169"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "8235"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "20443"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "20470"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "8367"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "8433"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "8499"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "20449"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "20482"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "20464"
	}
	replace:
	{
		"health" "1000"
	}
}
modify:
{
	match:
	{
		"classname" "func_physbox"
		"hammerid" "20464"
	}
	replace:
	{
		"health" "1000"
	}
}

;---------------------------------------
;Balance ending zombie HP
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "acho"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,health 150,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,health 40,0,-1"
	}
}