;------------------------------------------------------------
;ze_acuticnotes_v1_2s -- Spawn Points Fix
;------------------------------------------------------------

modify:
{
	match:
	{
		"classname" "info_player_terrorist"
		"hammerid" "19"
		"origin" "-64 64 16"
	}
	replace:
	{
		"origin" "-64 48 49"
	}
}

modify:
{
	match:
	{
		"classname" "info_player_counterterrorist"
		"hammerid" "27"
		"origin" "-64 -96 16"
	}
	replace:
	{
		"origin" "-64 -16 49"
	}
}

;------------------------------------------------------------
;Counter-Terrorist Spawns
;------------------------------------------------------------

add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-64 -64 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-64 -112 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-64 -160 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-64 -208 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-64 -256 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-104 -16 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-104 -64 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-104 -112 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-104 -160 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-104 -208 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-104 -256 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-144 -16 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-144 -64 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-144 -112 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-144 -160 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-144 -208 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-144 -256 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-184 -16 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-184 -64 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-184 -112 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-184 -160 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-184 -208 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-184 -256 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-224 -16 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-224 -64 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-224 -112 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-224 -160 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-224 -208 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-224 -256 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-264 -16 49"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-264 -64 49"
}

;------------------------------------------------------------
;Terrorist Spawns
;------------------------------------------------------------

add:
{
	"classname" "info_player_terrorist"
	"origin" "-64 96 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-64 144 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-64 192 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-64 240 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-64 288 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-104 48 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-104 96 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-104 144 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-104 192 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-104 240 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-104 288 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-144 48 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-144 96 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-144 144 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-144 192 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-144 240 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-144 288 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-184 48 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-184 96 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-184 144 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-184 192 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-184 240 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-184 288 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-224 48 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-224 96 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-224 144 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-224 192 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-224 240 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-224 288 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-264 48 49"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-264 96 49"
}