;----------------------------------------------------------
; Fixes s2 end trigger_hurt filtername
;----------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s2_map_nuke"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"filtername" "MapFilterT"
	}
}

;----------------------------------------------------------
; Fixes train zombie teleport when they touch it
;----------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "train_zm_teleport"
		"classname" "trigger_teleport"
	}
	replace:
	{
		"parentname" "train_move"
	}
}

;----------------------------------------------------------------------
; Gives some feedback messages to where the train is being spawned at
;----------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "train_spawn_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase01" "console,Command,say *** Train on middle rail ***,0,-1"
		"OnCase02" "console,Command,say *** Train on right rail ***,0,-1"
		"OnCase03" "console,Command,say *** Train on left rail ***,0,-1"
	}
}

;----------------------------------------------------------------------
; Fixes a boss attack not being killed after boss dying
;----------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "White_Goose_Boss_Break"
		"classname" "func_physbox_multiplayer"
	}
	insert:
	{
		"OnBreak" "push_attack_1,Kill,,0,1"
		"OnBreak" "push_attack_2,Kill,,0,1"
		"OnBreak" "push_attack_3,Kill,,0,1"
		"OnBreak" "push_attack_4,Kill,,0,1"
	}
}

;------------------------
; Reduces atons boss hp
;------------------------
modify:
{
	match:
	{
		"targetname" "s1_aton_boss_health_giver"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "boss_white_goose_counter,Add,1200,0,-1"
	}
	insert:
	{
		"OnStartTouch" "boss_white_goose_counter,Add,900,0,-1"
	}
}

;---------------------------------------------
; Gives more seconds to react to push attack
;---------------------------------------------
modify:
{
	match:
	{
		"targetname" "push_attack_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "console,Command,say *** ATONS FART IS STRONG ***,0,-1"
		"OnTrigger" "push_attack_1,Enable,,1,-1"
		"OnTrigger" "push_attack_2,Enable,,1,-1"
		"OnTrigger" "push_attack_3,Enable,,1,-1"
		"OnTrigger" "push_attack_4,Enable,,1,-1"
		"OnTrigger" "push_attack_4,Disable,,5,-1"
		"OnTrigger" "push_attack_3,Disable,,5,-1"
		"OnTrigger" "push_attack_2,Disable,,5,-1"
		"OnTrigger" "push_attack_1,Disable,,5,-1"
		"OnTrigger" "console,Command,say *** AHAHAHA ATON COULD NOT FART FOR LONG ***,5,-1"
		"OnTrigger" "White_Goose_Boss_Physbox,DisableMotion,,1,-1"
		"OnTrigger" "White_Goose_Boss_Physbox,EnableMotion,,5,-1"
		"OnTrigger" "push_attack_rotating,Start,,1,-1"
		"OnTrigger" "push_attack_rotating,Stop,,5,-1"
		"OnTrigger" "push_attack_particle,Stop,,5,-1"
		"OnTrigger" "push_attack_particle,Start,,1,-1"
		"OnTrigger" "White_Goose_Boss_Model,SetAnimation,Spin,1,-1"
		"OnTrigger" "White_Goose_Boss_Model,SetDefaultAnimation,Spin,1.01,-1"
		"OnTrigger" "White_Goose_Boss_Model,SetDefaultAnimation,Run,5.01,-1"
		"OnTrigger" "White_Goose_Boss_Model,SetAnimation,Run,5,-1"
	}
	insert:
	{
		"OnTrigger" "console,Command,say *** ATONS FART IS STRONG ***,0,-1"
		"OnTrigger" "console,Command,say *** GO MIDDLE NOW! ***,1,-1"
		"OnTrigger" "push_attack_1,Enable,,3,-1"
		"OnTrigger" "push_attack_2,Enable,,3,-1"
		"OnTrigger" "push_attack_3,Enable,,3,-1"
		"OnTrigger" "push_attack_4,Enable,,3,-1"
		"OnTrigger" "push_attack_4,Disable,,7,-1"
		"OnTrigger" "push_attack_3,Disable,,7,-1"
		"OnTrigger" "push_attack_2,Disable,,7,-1"
		"OnTrigger" "push_attack_1,Disable,,7,-1"
		"OnTrigger" "console,Command,say *** AHAHAHA ATON COULD NOT FART FOR LONG ***,7,-1"
		"OnTrigger" "White_Goose_Boss_Physbox,DisableMotion,,3,-1"
		"OnTrigger" "White_Goose_Boss_Physbox,EnableMotion,,7,-1"
		"OnTrigger" "push_attack_rotating,Start,,3,-1"
		"OnTrigger" "push_attack_rotating,Stop,,7,-1"
		"OnTrigger" "push_attack_particle,Stop,,7,-1"
		"OnTrigger" "push_attack_particle,Start,,3,-1"
		"OnTrigger" "White_Goose_Boss_Model,SetAnimation,Spin,3,-1"
		"OnTrigger" "White_Goose_Boss_Model,SetDefaultAnimation,Spin,3.01,-1"
		"OnTrigger" "White_Goose_Boss_Model,SetDefaultAnimation,Run,7.01,-1"
		"OnTrigger" "White_Goose_Boss_Model,SetAnimation,Run,7,-1"
	}
}

;------------------------------------------------
; Removes old teleport system on subway part
;------------------------------------------------
filter:
{
	"targetname" "s2_train_fail_teleport"
	"classname" "trigger_teleport"
}

;---------------------------------------------------------------------
; Makes a new system for not being on the rails - HUMANS
;---------------------------------------------------------------------
add:
{
	"model" "*76"
	"targetname" "s2_train_fail_hurt_human"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-7576.1 11648 -7034"
	"nodmgforce" "0"
	"filtername" "MapFilterCT"
	"Damagetype" "0"
	"damagemodel" "0"
	"damagecap" "999999"
	"damage" "150"
	"classname" "trigger_hurt"
}

;---------------------------------------------------------------------
; Makes a new system for not being on the rails - ZOMBIES
;---------------------------------------------------------------------
add:
{
	"model" "*76"
	"targetname" "s2_train_fail_hurt_zombies"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-7576.1 11648 -7034"
	"nodmgforce" "0"
	"filtername" "MapFilterT"
	"Damagetype" "0"
	"damagemodel" "0"
	"damagecap" "999999"
	"damage" "1500"
	"classname" "trigger_hurt"
}

;---------------------------------------
; Increases 2 teleporter by 5 seconds
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "main_trigger_2"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "teleporter_2,Enable,,25,1"
		"OnStartTouch" "main_door_right,Close,,25,1"
		"OnStartTouch" "main_door_left,Close,,25,1"
		"OnStartTouch" "main_door_left_2,Close,,56,1"
		"OnStartTouch" "main_door_right_2,Close,,56,1"
		"OnStartTouch" "console,Command,say *** Atons weird guests are teleported in 10 seconds ***,46,1"
		"OnStartTouch" "teleporter_3,Enable,,56,1"
	}
	insert:
	{
		"OnStartTouch" "console,Command,say *** GUESTS ARRIVE INFRONT OF DOOR IN 5 NUGGETS ***,26,1"
		"OnStartTouch" "teleporter_2,Enable,,31,1"
		"OnStartTouch" "main_door_right,Close,,31,1"
		"OnStartTouch" "main_door_left,Close,,31,1"
		"OnStartTouch" "main_door_left_2,Close,,61,1"
		"OnStartTouch" "main_door_right_2,Close,,61,1"
		"OnStartTouch" "console,Command,say *** Atons weird guests are teleported in 10 seconds ***,51,1"
		"OnStartTouch" "teleporter_3,Enable,,61,1"
	}
}

;--------------------------------
; Reduces a hold by 5 seconds
;--------------------------------
modify:
{
	match:
	{
		"targetname" "main_trigger_4"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "main_door_left_4,Open,,20,1"
		"OnStartTouch" "main_door_right_4,Open,,20,1"
		"OnStartTouch" "console,Command,say *** Please wait 5 seconds ***,5,1"
		"OnStartTouch" "console,Command,say *** Ah damn it sorry its 10 more seconds which you have to wait ***,10,1"
		"OnStartTouch" "console,Command,say *** There we go ***,20,1"
		"OnStartTouch" "bridge_boss_entrance_template,ForceSpawn,,20,1"
		"OnStartTouch" "amongus_npc_maker,AddOutput,origin 4128 3072 1608,18,1"
		"OnStartTouch" "amongus_npc_maker,ForceSpawn,,18.5,1"
		"OnStartTouch" "amongus_npc_maker,ForceSpawn,,19.5,1"
		"OnStartTouch" "amongus_npc_maker,AddOutput,origin 4304 3072 1608,19,1"
		"OnStartTouch" "boss_cage_template,ForceSpawn,,20,1"
	}
	insert:
	{
		"OnStartTouch" "main_door_left_4,Open,,15,1"
		"OnStartTouch" "main_door_right_4,Open,,15,1"
		"OnStartTouch" "console,Command,say *** Please wait 10 seconds ***,5,1"
		"OnStartTouch" "console,Command,say *** There we go ***,15,1"
		"OnStartTouch" "bridge_boss_entrance_template,ForceSpawn,,15,1"
		"OnStartTouch" "amongus_npc_maker,AddOutput,origin 4128 3072 1608,13,1"
		"OnStartTouch" "amongus_npc_maker,ForceSpawn,,13.5,1"
		"OnStartTouch" "amongus_npc_maker,ForceSpawn,,14,1"
		"OnStartTouch" "amongus_npc_maker,AddOutput,origin 4304 3072 1608,14.5,1"
		"OnStartTouch" "boss_cage_template,ForceSpawn,,15,1"
	}
}