;ze_bhop_facility_final_v2

;------------------------
;FIXING SKIPPING THE LAST DEFENSE
;------------------------
add:
{
"model" "*170"
"targetname" "anti_skip_stage"
"StartDisabled" "0"
"speed" "500"
"spawnflags" "1"
"pushdir" "0 0 0"
"origin" "6208 3936 288"
"classname" "trigger_push"
}
modify:
{
	match:
	{
		"targetname" "Item_wind_weapon"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "Item_wind_button,Unlock,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Item_cage_weapon"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "Item_cage_button,Unlock,,0,-1"
		"OnPlayerPickup" "CTF_serverCommand,Command,say ** Earth has been picked **,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-424 -92 120"
		"hammerid" "44740"
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "server_command,Command,mp_roundtime 5,0,-1"
	}
	insert:
	{
		"OnMapSpawn" "server_command,Command,mp_roundtime 17,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl5"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "to_3_43,Enable,,0,-1"
	}
	delete:
	{
		"OnTrigger" "Item_no_bhop_template_maker,ForceSpawn,,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl4"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Item_no_bhop_template_maker,ForceSpawn,,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl2"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Item_no_bhop_template_maker,ForceSpawn,,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl1"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Item_no_bhop_template_maker,ForceSpawn,,0,1"
	}
}
filter:
{
	"targetname" "Item_no_bhop_template_maker"
	"classname" "zenv_entity_maker"
	"origin" "2368 624 104"
}
filter:
{
	"model" "*130"
	"origin" "4912 1184 72.5"
	"classname" "trigger_teleport"
	"hammerid" "35609"
}
modify:
{
	match:
	{
		"targetname" "Relay_LevelWon_4ct"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "mv_*,Kill,,0,-1"
		"OnTrigger" "l_t_f_*,Kill,,0,-1"
		"OnTrigger" "lt_*,Kill,,0,-1"
		"OnTrigger" "lc_*,Kill,,0,-1"
		"OnTrigger" "button_1_easy_lasers*,Kill,,0,-1"
		"OnTrigger" "button_brush,Kill,,0,-1"
		"OnTrigger" "light_glow_easy_lasers_ct*,Kill,,0,-1"
		"OnTrigger" "temp_mv_*,Kill,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Relay_LevelWon_3ct"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "mv_*,Kill,,0,-1"
		"OnTrigger" "l_t_f_*,Kill,,0,-1"
		"OnTrigger" "lt_*,Kill,,0,-1"
		"OnTrigger" "lc_*,Kill,,0,-1"
		"OnTrigger" "button_1_easy_lasers*,Kill,,0,-1"
		"OnTrigger" "button_brush,Kill,,0,-1"
		"OnTrigger" "light_glow_easy_lasers_ct*,Kill,,0,-1"
		"OnTrigger" "temp_mv_*,Kill,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Relay_LevelWon_3"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "mv_*,Kill,,0,-1"
		"OnTrigger" "l_t_f_*,Kill,,0,-1"
		"OnTrigger" "lt_*,Kill,,0,-1"
		"OnTrigger" "lc_*,Kill,,0,-1"
		"OnTrigger" "button_1_easy_lasers*,Kill,,0,-1"
		"OnTrigger" "button_brush,Kill,,0,-1"
		"OnTrigger" "light_glow_easy_lasers_ct*,Kill,,0,-1"
		"OnTrigger" "temp_mv_*,Kill,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Relay_LevelWon_4"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "mv_*,Kill,,0,-1"
		"OnTrigger" "l_t_f_*,Kill,,0,-1"
		"OnTrigger" "lt_*,Kill,,0,-1"
		"OnTrigger" "lc_*,Kill,,0,-1"
		"OnTrigger" "button_1_easy_lasers*,Kill,,0,-1"
		"OnTrigger" "button_brush,Kill,,0,-1"
		"OnTrigger" "light_glow_easy_lasers_ct*,Kill,,0,-1"
		"OnTrigger" "temp_mv_*,Kill,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_1_27"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "math_counter_level,SetValueNoFire,2,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "t3"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "break_1,break,,0,1"
		"OnTrigger" "to_2_48,kill,,0,1"
		"OnTrigger" "break_2,break,,0,1"
		"OnTrigger" "to_2_45,kill,,0,1"
		"OnTrigger" "break_4,break,,0,1"
		"OnTrigger" "to_2_6,kill,,0,1"
		"OnTrigger" "break_5,break,,0,1"
		"OnTrigger" "to_2_7,kill,,0,1"
		"OnTrigger" "break_7,break,,0,1"
		"OnTrigger" "to_2_33,kill,,0,1"
		"OnTrigger" "break_8,break,,0,1"
		"OnTrigger" "to_2_11,kill,,0,1"
		"OnTrigger" "break_10,break,,0,1"
		"OnTrigger" "to_2_14,kill,,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_45"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,say ** 30s **,0,-1"
		"OnTrigger" "break_2,Break,,30,0"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,30,-1"
	}
	insert:
	{
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "break_2,Break,,15,0"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_47"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,say ** 30s **,0,-1"
		"OnTrigger" "tp_1,Enable,,30,0"
		"OnTrigger" "break_3,Break,,30,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,30,-1"
	}
	insert:
	{
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "tp_1,Enable,,15,0"
		"OnTrigger" "break_3,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_6"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_4,Break,,30,-1"
		"OnTrigger" "server_command,Command,say ** 30s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,30,-1"
	}
	insert:
	{
		"OnTrigger" "break_4,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_7"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_5,Break,,30,-1"
		"OnTrigger" "server_command,Command,say ** 30s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,30,-1"
	}
	insert:
	{
		"OnTrigger" "break_5,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_8"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_6,Break,,30,-1"
		"OnTrigger" "server_command,Command,say ** 30s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,30,-1"
	}
	insert:
	{
		"OnTrigger" "break_6,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_33"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_7,Break,,25,-1"
		"OnTrigger" "server_command,Command,say ** 25s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,25,-1"
	}
	insert:
	{
		"OnTrigger" "break_7,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_11"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_8,Break,,25,-1"
		"OnTrigger" "server_command,Command,say ** 25s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,25,-1"
	}
	insert:
	{
		"OnTrigger" "break_8,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_46"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_9,Break,,25,-1"
		"OnTrigger" "server_command,Command,say ** 25s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,25,-1"
	}
	insert:
	{
		"OnTrigger" "break_9,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_14"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_10,Break,,20,-1"
		"OnTrigger" "server_command,Command,say ** 20s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,20,-1"
	}
	insert:
	{
		"OnTrigger" "break_10,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_15"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_11,Break,,20,-1"
		"OnTrigger" "server_command,Command,say ** 20s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,20,-1"
	}
	insert:
	{
		"OnTrigger" "break_11,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_17"
		"classname" "trigger_once"
	}
	delete:
		{
		"OnTrigger" "break_12,Break,,20,-1"
		"OnTrigger" "server_command,Command,say ** 20s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,20,-1"
	}
	insert:
	{
		"OnTrigger" "break_12,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_2_18"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_13,Break,,20,-1"
		"OnTrigger" "server_command,Command,say ** 20s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,20,-1"
	}
	insert:
	{
		"OnTrigger" "break_13,Break,,15,-1"
		"OnTrigger" "server_command,Command,say ** 15s **,0,-1"
		"OnTrigger" "server_command,Command,say ** GO GO GO! **,15,-1"
	}
}

; Fix commands usages
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl1"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,zr_respawn_team_zombie_world 1,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_timelimit 0,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_block_rejoin 0,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_team_zombie 1,0,1"
		"OnTrigger" "server_command,Command,zr_infect_mzombie_respawn 1,0,1"
		"OnTrigger" "server_command,Command,zr_respawn_time 0,0,-1"
		"OnTrigger" "server_command,Command,zr_respawn_delay 0,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl2"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,zr_respawn_team_zombie_world 1,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_timelimit 0,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_block_rejoin 0,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_team_zombie 1,0,1"
		"OnTrigger" "server_command,Command,zr_infect_mzombie_respawn 1,0,1"
		"OnTrigger" "server_command,Command,zr_respawn_time 0,0,-1"
		"OnTrigger" "server_command,Command,zr_respawn_delay 0,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl3"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,zr_respawn_team_zombie_world 1,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_timelimit 0,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_block_rejoin 0,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_team_zombie 1,0,1"
		"OnTrigger" "server_command,Command,zr_infect_mzombie_respawn 1,0,1"
		"OnTrigger" "server_command,Command,zr_respawn_time 0,0,-1"
		"OnTrigger" "server_command,Command,zr_respawn_delay 0,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl4"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,zr_respawn_team_zombie_world 1,0.01,1"
		"OnTrigger" "server_command,Command,zr_zspawn_timelimit 0,0.01,1"
		"OnTrigger" "server_command,Command,zr_zspawn_block_rejoin 0,0.01,1"
		"OnTrigger" "server_command,Command,zr_zspawn_team_zombie 1,0.01,1"
		"OnTrigger" "server_command,Command,zr_infect_mzombie_respawn 1,0.01,1"
		"OnTrigger" "server_command,Command,zr_respawn_time 0,0.01,-1"
		"OnTrigger" "server_command,Command,zr_respawn_delay 0,0.01,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "logic_relay_lvl5"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,zr_respawn_team_zombie_world 1,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_timelimit 0,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_block_rejoin 0,0,1"
		"OnTrigger" "server_command,Command,zr_zspawn_team_zombie 1,0,1"
		"OnTrigger" "server_command,Command,zr_infect_mzombie_respawn 1,0,1"
		"OnTrigger" "server_command,Command,zr_respawn_time 0,0,-1"
		"OnTrigger" "server_command,Command,zr_respawn_delay 0,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "to_3_final"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,zr_respawn_delay 0,0,-1"
		"OnTrigger" "server_command,Command,zr_respawn_time 0,0,-1"
	}
}