;---------------------
;Rebalance boss fight
;---------------------
modify:
{
	match:
	{
		"targetname" "hp_to_boss"
		"origin" "-7656 8076 402.5"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "break_boss,AddHealth,5000,0.01,-1"
		"OnStartTouch" "break_boss1,AddHealth,5000,0.01,-1"
	}
	insert:
	{
		"OnStartTouch" "break_boss,AddHealth,6000,0.01,-1"
		"OnStartTouch" "break_boss1,AddHealth,6500,0.01,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "trigger_heal_ultima"
		"origin" "-7656 8064 600"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "fire_ultima_break,AddHealth,800,0.01,-1"
		"OnStartTouch" "ice_ultima_break,AddHealth,800,0.01,-1"
	}
	insert:
	{
		"OnStartTouch" "fire_ultima_break,AddHealth,600,0.01,-1"
		"OnStartTouch" "ice_ultima_break,AddHealth,600,0.01,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_final_lasers"
		"origin" "-15684 -15720 596"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "break_boss_lasers1,AddHealth,500,15,-1"
	}
	insert:
	{
		"OnStartTouch" "break_boss_lasers1,AddHealth,300,15,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "mv_2_f_1_h4"
		"origin" "-11210 -15720 599.5"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "break_boss_lasers1,RemoveHealth,300,0,-1"
	}
	insert:
	{
		"OnStartTouch" "break_boss_lasers1,RemoveHealth,250,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "mv_2_f_2_h4"
		"origin" "-11210 -15720 556"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "break_boss_lasers1,RemoveHealth,300,0,-1"
	}
	insert:
	{
		"OnStartTouch" "break_boss_lasers1,RemoveHealth,250,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "mv_2_f_3_h4"
		"origin" "-11210 -15720 547"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "break_boss_lasers1,RemoveHealth,300,0,-1"
	}
	insert:
	{
		"OnStartTouch" "break_boss_lasers1,RemoveHealth,250,0,-1"
	}
}

;-----------------------------------------
;Nerf zombie wind + fix incorrect cd text
;-----------------------------------------
modify:
{
	match:
	{
		"origin" "-7644.33 6490.8 1644.05"
		"targetname" "zinv_branch2"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "zinv_item2,Disable,,7,-1"
		"OnTrigger" "sound_zmwind,Volume,0,7,-1"
		"OnTrigger" "zItem_wind_particle_use,Stop,,7,-1"
	}
	insert:
	{
		"OnTrigger" "zinv_item2,Disable,,4,-1"
		"OnTrigger" "sound_zmwind,Volume,0,4,-1"
		"OnTrigger" "zItem_wind_particle_use,Stop,,4,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-7636.22 6490.5 1615.88"
		"targetname" "zinv2_text"
		"classname" "game_text"
	}
	delete:
	{
		"message" "Push item: you push human during 8 secondes CD: 45 secondes"
	}
	insert:
	{
		"message" "Push item: you push humans for 4 seconds - CD: 60 seconds"
	}
}

;-----------------------
;(Undocumented changes)
;-----------------------
modify:
{
	match:
	{
		"origin" "-7104 10504 248"
		"targetname" "lr_end1"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "fwt_final_zm,toggle,,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "to_final_lasers"
		"origin" "-15684 -15720 596"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "break_boss_lasers_protect,Kill,,16,1"
	}
	insert:
	{
		"OnTrigger" "fwt_5_final,Kill,,13,1"
		"OnTrigger" "break_boss_lasers_protect,Kill,,13,1"
	}
}

;------------------------
;Adjust stage 1 mz ratio
;------------------------
modify:
{
	match:
	{
		"origin" "-8059.73 7837 1685.59"
		"targetname" "logic_relay_lvl1"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "server_command,Command,zr_infect_mzombie_ratio 8,0,-1"
	}
	insert:
	{
		"OnTrigger" "server_command,Command,zr_infect_mzombie_ratio 10,0,-1"
	}
}

;---------------------------------
;Fix modelscale after door closes
;---------------------------------
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "/f_b_.*/"
	}
	insert:
	{
		"OnPressed" "player,SetModelScale,1,20,1"
	}
}

;----------------------------------------------
;Move admin room buttons + lock after teleport
;----------------------------------------------
modify:
{
	match:
	{
		"targetname" "fb_l_1"
		"origin" "-16359.5 -15608 904"
		"classname" "func_button"
	}
	replace:
	{
		"origin" "-2386 8042 408"
	}
}
modify:
{
	match:
	{
		"targetname" "fb_l_2"
		"origin" "-16359.5 -15680 904"
		"classname" "func_button"
	}
	replace:
	{
		"origin" "-2386 8106 408"
	}
}
modify:
{
	match:
	{
		"targetname" "fb_l_3"
		"origin" "-16359.5 -15752 904"
		"classname" "func_button"
	}
	replace:
	{
		"origin" "-2386 8170 408"
	}
}
modify:
{
	match:
	{
		"targetname" "fb_l_4"
		"origin" "-16359.5 -15816 904"
		"classname" "func_button"
	}
	replace:
	{
		"origin" "-2386 8242 408"
	}
}
modify:
{
	match:
	{
		"targetname" "fb_l_5"
		"origin" "-16359.5 -15880 900.76"
		"classname" "func_button"
	}
	replace:
	{
		"origin" "-2386 8314 408"
	}
}
modify:
{
	match:
	{
		"targetname" "to_lasers"
		"origin" "-2134 9319 632"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "fb_l_*,Kill,,0,1"
	}
}

;---------------------------
;Kill lasers when boss dies
;---------------------------
modify:
{
	match:
	{
		"targetname" "break_boss_lasers1"
		"origin" "-7394 -15648 511.91"
		"classname" "func_breakable"
	}
	insert:
	{
		"OnBreak" "mv_2_f_6,Kill,,0,1"
		"OnBreak" "mv_2_f_10,Kill,,0,1"
		"OnBreak" "mv_2_f_7,Kill,,0,1"
		"OnBreak" "mv_2_f_1_h4,Kill,,0,1"
		"OnBreak" "mv_2_f_2_h4,Kill,,0,1"
		"OnBreak" "mv_2_f_3_h4,Kill,,0,1"
	}
}

;------------------------
;Fix item pickup message
;------------------------
modify:
{
	match:
	{
		"origin" "-7525.19 7332 1657.72"
		"targetname" "zinv_knife1"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "server_command,Command,say ***Zombies Nuke has been picked***,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "server_command,Command,say ***Zombie Nuke has been picked***,0,-1"
	}
}

;-------------------------
;Start the map at level 2
;-------------------------
modify:
{
	match:
	{
		"origin" "-8075.73 7837 1669.59"
		"targetname" "math_counter_level"
		"classname" "math_counter"
	}
	replace:
	{
		"min" "2"
		"startvalue" "2"
	}
}

;-------------------------------------------
;Replace trigger_multiple with trigger_hurt
;-------------------------------------------
filter:
{
	"targetname" "mv_2_f_1_h5"
	"origin" "-7423 -15720 599.5"
	"classname" "trigger_multiple"
}
add:
{
	"model" "*255"
	"targetname" "mv_2_f_1_h5"
	"StartDisabled" "1"
	"spawnflags" "1"
	"parentname" "mv_2_f_8"
	"origin" "-7423 -15720 599.5"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "20"
	"classname" "trigger_hurt"
	"OnHurtPlayer" "!activator,SetModelScale,2,0,-1"
}

;--------------------------------------
;Fix zombies picking up multiple items
;--------------------------------------
add:
{
	"classname" "filter_multi"
	"targetname" "Filter_ZM_Item"
	"origin" "-7308 8576 1573"
	"filtertype" "0"
	"Negated" "0"
	"Filter01" "filter_t"
	"Filter02" "Filter_None"
}
modify:
{
	match:
	{
		"targetname" "zinv_Stripper1"
		"origin" "-7521.19 7332 1659.7"
		"classname" "trigger_once"
	}
	replace:
	{
		"filtername" "Filter_ZM_Item"
	}
}
modify:
{
	match:
	{
		"targetname" "zinv_Stripper2"
		"origin" "-7688.22 6487 1648.42"
		"classname" "trigger_once"
	}
	replace:
	{
		"filtername" "Filter_ZM_Item"
	}
}
modify:
{
	match:
	{
		"targetname" "wpn_bird_strip"
		"origin" "-7998 7438 1458"
		"classname" "trigger_multiple"
	}
	replace:
	{
		"filtername" "Filter_ZM_Item"
	}
}
modify:
{
	match:
	{
		"targetname" "zinv_Stripper3"
		"origin" "-7694 7034 1449.02"
		"classname" "trigger_once"
	}
	replace:
	{
		"filtername" "Filter_ZM_Item"
	}
}
modify:
{
	match:
	{
		"origin" "-7525.19 7332 1657.72"
		"targetname" "zinv_knife1"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_zinv1,0,1"
	}
	insert:
	{
		"OnPlayerPickup" "!self,FireUser1,,0,-1"
		"OnUser1" "!activator,AddOutput,targetname player_zinv1,0,-1"
		"OnUser1" "!self,FireUser1,,0.1,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-7692.22 6487 1646.45"
		"targetname" "zinv_knife2"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_zinv2,0,1"
	}
	insert:
	{
		"OnPlayerPickup" "!self,FireUser1,,0,-1"
		"OnUser1" "!activator,AddOutput,targetname player_zinv2,0,-1"
		"OnUser1" "!self,FireUser1,,0.1,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-8003.19 7437.46 1456"
		"targetname" "wpn_bird"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname monster,0,1"
	}
	insert:
	{
		"OnUser1" "!activator,AddOutput,targetname monster,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-7694 7033 1446.85"
		"targetname" "Item_ultima_weapon3"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname filter_laser_ice,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!self,FireUser1,,0,-1"
		"OnUser1" "!activator,AddOutput,targetname filter_laser_ice,0,-1"
		"OnUser1" "!self,FireUser1,,0.1,-1"
	}
}

;------------------------------
;Fix player size not resetting
;------------------------------
add:
{
	"targetname" "game_playerdie"
	"classname" "trigger_brush"
	"OnUse" "!activator,ClearContext,,0,-1"
	"OnUse" "!activator,AddOutput,modelscale 1,0,-1"
}

;-------------------------------
;Fix visible player start model
;-------------------------------
modify:
{
	match:
	{
		"model" "models/editor/playerstart.mdl"
	}
	replace:
	{
		"classname" "info_teleport_destination"
	}
}

;---------------------------------------------
; Fix not adjustable music volume (Midknight)
;---------------------------------------------
modify:
{
	match:
	{
		"message" "boat_sound_2_1.mp3"
	}
	replace:
	{
		"message" "#boat_sound_2_1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "boat_sound_5_1.mp3"
	}
	replace:
	{
		"message" "#boat_sound_5_1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "boat_sound_5_5_1.mp3"
	}
	replace:
	{
		"message" "#boat_sound_5_5_1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "boat_sound_5_5_2.mp3"
	}
	replace:
	{
		"message" "#boat_sound_5_5_2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "boat_sound_fight.mp3"
	}
	replace:
	{
		"message" "#boat_sound_fight.mp3"
	}
}
modify:
{
	match:
	{
		"message" "boat_sound_final.mp3"
	}
	replace:
	{
		"message" "#boat_sound_final.mp3"
	}
}
modify:
{
	match:
	{
		"message" "boat_sound1a.mp3"
	}
	replace:
	{
		"message" "#boat_sound1a.mp3"
	}
}
modify:
{
	match:
	{
		"message" "boat_sound4a.mp3"
	}
	replace:
	{
		"message" "#boat_sound4a.mp3"
	}
}
modify:
{
	match:
	{
		"message" "boat_sound4c.mp3"
	}
	replace:
	{
		"message" "#boat_sound4c.mp3"
	}
}