;************************************************
; Ze_bulhufas_a1_1_s STRIPPER #2 CFG By Rix :V
;************************************************

modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "16426"
	}
	insert:
	{
		"OnMapSpawn" "commands,Command,say |strp #2|,5,-1"
	}
}


;**************************
; Increase Boss Hp Level 1 
;**************************

modify:
{
	match:
	{
		"targetname" "monark_hp_add"
	}
	delete:
	{
		"OnStartTouch" "boss_hp,Add,1200,0,-1"
	}
	insert:
	{
		"OnStartTouch" "boss_hp,Add,3600,0,-1"
	}
}

;**************************
; Increase Boss Hp Level 2 
;**************************

modify:
{
	match:
	{
		"targetname" "bola_add_hp"
	}
	delete:
	{
		"OnStartTouch" "boss_hp,Add,1300,0,-1"
	}
	insert:
	{
		"OnStartTouch" "boss_hp,Add,3900,0,-1"
	}
}

;**************************
; Increase Boss Hp Level 3 
;**************************

modify:
{
	match:
	{
		"targetname" "coomer_add_hp"
	}
	delete:
	{
		"OnStartTouch" "boss_hp,Add,900,0,-1"
	}
	insert:
	{
		"OnStartTouch" "boss_hp,Add,3900,0,-1"
	}
}

;**********************************************************
; Give some time for opening Vent at Elevator paper stage
;**********************************************************

modify:
{
	match:
	{
		"targetname" "door_second_ele_paper"
	}
	delete:
	{
		"OnFullyOpen" "break_vents,Break,,0,-1"
	}
	insert:
	{
		"OnFullyOpen" "break_vents,Break,,3,-1"
	}
}

;********************************************
; Fix ronaldo item freeze output not correct
;********************************************

modify:
{
	match:
	{
		"targetname" "ronaldo_freeze"
	}
	delete:
	{
		"OnStartTouch" "speed,ModifySpeed,1.00,3,-1"
	}
	insert:
	{
		"OnStartTouch" "speed,ModifySpeed,0.00,3,-1"
		"OnStartTouch" "speed,ModifySpeed,0.00,4,-1"
		"OnStartTouch" "speed,ModifySpeed,0.00,5,-1"
		"OnStartTouch" "speed,ModifySpeed,1.00,6,-1"
	}
}