; Fix blocking issue on stage 1 ending cubes
modify:
{
	match:
	{	
		"classname" "func_movelinear"
		"targetname" "stage1_dodge_b1"
	}
	replace:
	{
		"classname" "func_door"
	}
	insert:
	{
		"dmg" "99999"
		"forceclosed" "1"
		"ignoredebris" "1"
		"lip" "-960"
		"spawnflags" "4096"
		"wait" "-1"
	}
}
; Fix blocking issue on stage 1 ending cubes
modify:
{
	match:
	{	
		"classname" "func_movelinear"
		"targetname" "stage1_dodge_b2"
	}
	replace:
	{
		"classname" "func_door"
	}
	insert:
	{
		"dmg" "99999"
		"forceclosed" "1"
		"ignoredebris" "1"
		"lip" "-960"
		"spawnflags" "4096"
		"wait" "-1"
	}
}
; Fix blocking issue on stage 1 ending cubes
modify:
{
	match:
	{	
		"classname" "func_movelinear"
		"targetname" "stage1_dodge_b3"
	}
	replace:
	{
		"classname" "func_door"
	}
	insert:
	{
		"dmg" "99999"
		"forceclosed" "1"
		"ignoredebris" "1"
		"lip" "-960"
		"spawnflags" "4096"
		"wait" "-1"
	}
}
; Fix blocking issue on stage 1 ending cubes
modify:
{
	match:
	{	
		"classname" "func_movelinear"
		"targetname" "stage1_dodge_b4"
	}
	replace:
	{
		"classname" "func_door"
	}
	insert:
	{
		"dmg" "99999"
		"forceclosed" "1"
		"ignoredebris" "1"
		"lip" "-960"
		"spawnflags" "4096"
		"wait" "-1"
	}
}
; Fix blocking issue on stage 1 ending cubes
modify:
{
	match:
	{	
		"classname" "func_movelinear"
		"targetname" "stage1_dodge_b5"
	}
	replace:
	{
		"classname" "func_door"
	}
	insert:
	{
		"dmg" "99999"
		"forceclosed" "1"
		"ignoredebris" "1"
		"lip" "-960"
		"spawnflags" "4096"
		"wait" "-1"
	}
}
; Fix blocking issue on stage 1 ending cubes
modify:
{
	match:
	{	
		"classname" "func_movelinear"
		"targetname" "stage1_dodge_b6"
	}
	replace:
	{
		"classname" "func_door"
	}
	insert:
	{
		"dmg" "99999"
		"forceclosed" "1"
		"ignoredebris" "1"
		"lip" "-960"
		"spawnflags" "4096"
		"wait" "-1"
	}
}

; Kill gravity attack after boss death
modify:
{	
	match:
	{
		"classname" "logic_relay"
		"targetname" "s3_boss_death_relay"
	}
	insert:
	{
	    "OnTrigger" "stage3_boss_pull*,Kill,,0.2,-1"
	}
}
; Add nodamage to boss attack 1
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "rxez_hurt"
	}
	insert:
	{
		"OnHurtPlayer" "NoDamage,FireUser1,,0,-1"
	}
}
; Add nodamage to boss attack 2
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "kxj_hurt"
	}
	insert:
	{
		"OnHurtPlayer" "NoDamage,FireUser1,,0,-1"
	}
}
