;-------------------------------------------------
; STRIPPER CFG BY VNDREW 03.07.26 (STEAM_0:1:80408960)
;-------------------------------------------------
; Add stripper message
;-------------------------------------------------

modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "253164"
	}
	insert:
	{
		"OnMapSpawn" "serverCommandsay <<< Stripper #1 | 03/07/26 >>>6-1"
	}
}

;-------------------------------------------------
; Fix water textures walls allowing people to get outside of the map
;-------------------------------------------------
add:
{
	"model" "*317"
	"targetname" "void_1"
	"classname" "func_wall"
	"spawnflags" "0"
	"rendermode" "10"
	"renderamt" "0"
	"origin" "2752 7184 1920"
	"disableshadows" "1"
}
add:
{
	"model" "*317"
	"targetname" "void_2"
	"classname" "func_wall"
	"spawnflags" "0"
	"rendermode" "10"
	"renderamt" "0"
	"origin" "2752 7184 2112"
	"disableshadows" "1"
}
add:
{
	"model" "*317"
	"targetname" "void_3"
	"classname" "func_wall"
	"spawnflags" "0"
	"rendermode" "10"
	"renderamt" "0"
	"origin" "2336 7184 2112"
	"disableshadows" "1"
}
add:
{
	"model" "*317"
	"targetname" "void_4"
	"classname" "func_wall"
	"spawnflags" "0"
	"rendermode" "10"
	"renderamt" "0"
	"origin" "2752 7664 1920"
	"disableshadows" "1"
}
add:
{
	"model" "*317"
	"targetname" "void_5"
	"classname" "func_wall"
	"spawnflags" "0"
	"rendermode" "10"
	"renderamt" "0"
	"origin" "2752 7664 2112"
	"disableshadows" "1"
}
add:
{
	"model" "*317"
	"targetname" "void_6"
	"classname" "func_wall"
	"spawnflags" "0"
	"rendermode" "10"
	"renderamt" "0"
	"origin" "2336 7664 2112"
	"disableshadows" "1"
}

;-------------------------------------------------
; Fix stage 3 teleport angles
;-------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"target" "tele_2_1_dest"
	}
	delete:
	{
		"landmark" "!activator"
	}
}

;-------------------------------------------------
; Fix bug where 2 bridges could break in same round
;-------------------------------------------------
modify:
{
	match:
	{
		"hammerid" "1148552"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "999999"
	}
}
modify:
{
	match:
	{
		"hammerid" "1148572"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "999999"
	}
}

;-------------------------------------------------
; Buff Lava and Ogre Boss HP
;-------------------------------------------------
modify:
{
	match:
	{
		"targetname" "plot_track3"
		"classname" "path_track"
	}
	insert:
	{
		"OnPass" "lava_counterEnable0-1"
	}
}
modify:
{
	match:
	{
		"targetname" "giverhp"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnHurtPlayer" "/lava_counter.*/"
		"OnHurtPlayer" "/lava_hp_backup.*/"
		"OnHurtPlayer" "lava_counterEnable01"
	}
	insert:
	{
		"OnHurtPlayer" "lava_counterAdd850-1"
		"OnHurtPlayer" "lava_hp_backupAdd850-1"
	}
}
modify:
{
	match:
	{
		"hammerid" "2012110"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "/ogre_counter.*/"
		"OnStartTouch" "/ogre_hp_backup.*/"
	}
	insert:
	{
		"OnStartTouch" "ogre_counterAdd850-1"
		"OnStartTouch" "ogre_hp_backupAdd850-1"
	}
}