;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;FIX SOME BUTTONS
;-----------------

modify:
{
	match:
	{
		"targetname" "OsamaButton"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "!activator,AddOutput,origin 1866 4341 5320,0,-1"
		"OnPressed" "!self,Unlock,,2.3,-1"
	}
	insert:
	{
		"OnPressed" "!activator,AddOutput,origin -1866 4341 5320,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "MoltardButton"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "!activator,AddOutput,origin 1866 4555 5320,0,-1"
		"OnPressed" "!self,Unlock,,2.3,-1"
	}
	insert:
	{
		"OnPressed" "!activator,AddOutput,origin -1866 4555 5320,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "OsamaTrigger"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,OnUser1 !self:AddOutput:modelindex 404:0.00:-1,0,-1"
		"OnStartTouch" "!activator,AddOutput,origin 1304 -1827 111,0,-1"
		"OnStartTouch" "!activator,FireUser1,,0.1,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,OnUser1 !self:AddOutput:modelindex 665:0.00:-1,0,-1"
		"OnStartTouch" "!activator,AddOutput,origin -4508 3148 4160,0,-1"
		"OnStartTouch" "Level_Counter,AddOutput,OnGetValue OsamaButton:Kill::0:-1,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "MoltardTrigger"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,origin 1304 -1827 111,0,-1"
		"OnStartTouch" "!activator,FireUser1,,0.1,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,origin -4508 3148 4160,0,-1"
		"OnStartTouch" "Level_Counter,AddOutput,OnGetValue MoltardButton:Kill::0:-1,0,-1"
	}
}

