;------------------------
;FIX DUPLICATE HAMMERIDS
;------------------------

modify:
{
	match:
	{
		"targetname" "BoomerButton"
		"classname" "func_button"
		"origin" "6938 5105.8 -901.5"
	}
	replace:
	{
		"hammerid" "392709"
	}
}
