;------------------------------------------------------------------
; Stripper loaded
;------------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "-6546.18 5200 -1200"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "servercommand,Command,say ***Stripper loaded***,6,-1"
	}
}

;------------------------------------------------------------------
; Fixes a long lasting crash issue related to sourcetv and a permanent point_viewcontrol
;------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Relay_Level1"
	}
	delete:
	{
		"OnTrigger" "view_crawl,SetParent,view_crawl_train,0,-1"
		"OnTrigger" "view_crawl_train,StartForward,,1,-1"
	}
}
filter:
{
	"targetname" "view_crawl_train"
	"classname" "func_tracktrain"
}
filter:
{
	"targetname" "view_path1"
	"classname" "path_track"
}
filter:
{
	"targetname" "view_path2"
	"classname" "path_track"
}

;------------------------------------------------------------------
; Fixes the player model issues on the map, allowing for proper skin application.
;------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"hammerid" "1213973"
	}
	delete:
	{
		"OnStartTouch" "Filter_CT,TestActivator,,0,-1"
	}
}
add:
{
	"origin" "13800 12424 13640"
	"vscripts" "ze_chandrila/playermodels.nut"
	"targetname" "map_playerskin"
	"classname" "logic_script"
}

;------------------------------------------------------------------
; Remove old debug message
;------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "boss_transition_player_counter"
		"origin" "-3264 -4224 5089.33"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "servercommand,Command,say **added pipe health**,0.05,-1"
	}
}

;------------------------------------------------------------------
; Prevent the ship from having players ontop of it at the ending
;------------------------------------------------------------------
add:
{
	"model" "*285"
	"targetname" "ending_ship_push"
	"parentname" "u_wing"
	"StartDisabled" "0"
	"speed" "300"
	"spawnflags" "1"
	"pushdir" "0 180 0"
	"origin" "292 12240 9168"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}
add:
{
	"model" "*285"
	"targetname" "ending_ship_push"
	"parentname" "u_wing"
	"StartDisabled" "0"
	"speed" "300"
	"spawnflags" "1"
	"pushdir" "0 180 0"
	"origin" "292 12336 9168"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}
add:
{
	"model" "*285"
	"targetname" "ending_ship_push"
	"parentname" "u_wing"
	"StartDisabled" "0"
	"speed" "300"
	"spawnflags" "1"
	"pushdir" "0 180 0"
	"origin" "172 12440 9112"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}
add:
{
	"model" "*285"
	"targetname" "ending_ship_push"
	"parentname" "u_wing"
	"StartDisabled" "0"
	"speed" "300"
	"spawnflags" "1"
	"pushdir" "0 180 0"
	"origin" "172 12128 9112"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

;------------------------------------------------------------------
; Allow large pillars to be broken by the player
;------------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "2500 -289.55 -1792"
		"targetname" "TombCounter"
		"classname" "math_counter"
	}
	insert:
	{
		"OnHitMax" "pillar_fall,SetHealth,2000,5,1"
		"OnHitMax" "pillar_fall2,SetHealth,2000,7,1"
	}
}

;------------------------------------------------------------------
; Prevents players from blocking the final ship door
;------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "u_wing_doors"
		"origin" "496 12288 9092"
		"classname" "func_door"
	}
	replace:
	{
		"forceclosed" "1"
		"dmg" "9999"
	}
}

;------------------------------------------------------------------
; Fix prop dynamics rendermode and just enable / disable them
;------------------------------------------------------------------

; Fixes statue angle prop dynamics
modify:
{
	match:
	{
		"origin" "1988 368 1280"
		"targetname" "StatueInitRelay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnSpawn" "StatueAngle,Disable,,0.1,1"
	}
}
modify:
{
	match:
	{
		"origin" "1988 368 1144"
		"targetname" "StatueAngle"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
}

; Fixes boss intro prop dynamics
modify:
{
	match:
	{
		"origin" "-6024 -4584 5879"
		"targetname" "intro_boss_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "intro_boss_inq_saber2_mesh,AddOutput,rendermode 1,14.35,-1"
		"OnTrigger" "intro_boss_inq_saber1_mesh,AddOutput,rendermode 1,14.25,-1"
		"OnTrigger" "intro_boss_inq_mesh,AddOutput,rendermode 1,13,-1"
	}
	insert:
	{
		"OnTrigger" "intro_boss_inq_saber2_mesh,Enable,,14.35,-1"
		"OnTrigger" "intro_boss_inq_saber1_mesh,Enable,,14.25,-1"
		"OnTrigger" "intro_boss_inq_mesh,Enable,,13,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-6272 -4144 5056.72"
		"targetname" "intro_boss_inq_mesh"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
	insert:
	{
		"StartDisabled" "1"
	}
}
modify:
{
	match:
	{
		"origin" "-6258 -4152 5091"
		"targetname" "intro_boss_inq_saber1_mesh"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
	insert:
	{
		"StartDisabled" "1"
	}
}
modify:
{
	match:
	{
		"origin" "-6286 -4142 5090"
		"targetname" "intro_boss_inq_saber2_mesh"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
	insert:
	{
		"StartDisabled" "1"
	}
}

; Fixes boss fight prop dynamics
modify:
{
	match:
	{
		"origin" "-5992 -3654 5163.04"
		"targetname" "boss_inq_atk_throw"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "boss_inq_saber1_mesh,Alpha,0,0.15,-1"
		"OnTrigger" "boss_inq_saber2_mesh,Alpha,0,0.15,-1"
		"OnTrigger" "boss_inq_saber1_mesh,Alpha,255,2,-1"
		"OnTrigger" "boss_inq_saber2_mesh,Alpha,255,2,-1"
	}
	insert:
	{
		"OnTrigger" "boss_inq_saber1_mesh,Disable,,0,0.15,-1"
		"OnTrigger" "boss_inq_saber2_mesh,Disable,,0,0.15,-1"
		"OnTrigger" "boss_inq_saber1_mesh,Enable,,2,-1"
		"OnTrigger" "boss_inq_saber2_mesh,Enable,,2,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-6272 -3734 5131.04"
		"targetname" "boss_inq_mesh"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
}
modify:
{
	match:
	{
		"origin" "-6258 -3740 5166.04"
		"targetname" "boss_inq_saber1_mesh"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
}
modify:
{
	match:
	{
		"origin" "-6286 -3730 5165.04"
		"targetname" "boss_inq_saber2_mesh"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
}

; Fixes hangar prop dynamics
modify:
{
	match:
	{
		"targetname" "hangar_button"
		"origin" "-1112 9344 9632"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "hangar_ships_whole_mesh,Alpha,0,1,1"
		"OnPressed" "hangar_ships_broken_mesh,Alpha,255,1,1"
	}
	insert:
	{
		"OnPressed" "hangar_ships_whole_mesh,Disable,,1,1"
		"OnPressed" "hangar_ships_broken_mesh,Enable,,1,1"
	}
}
modify:
{
	match:
	{
		"targetname" "hangar_ships_whole_mesh"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
}
modify:
{
	match:
	{
		"targetname" "hangar_ships_broken_mesh"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"rendermode" "0"
	}
	insert:
	{
		"StartDisabled" "1"
	}
}

;------------------------------------------------------------------
; Increases boss damage from the light sabers
;------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "boss_inq_saber1_hurt"
		"origin" "-6258 -3740 5167.03"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagecap" "99999"
		"damage" "160"
	}
}
modify:
{
	match:
	{
		"targetname" "boss_inq_saber2_hurt"
		"origin" "-6284 -3734 5165.03"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagecap" "99999"
		"damage" "160"
	}
}

;------------------------------------------------------------------
; Fixes elevator fake timer
;------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage_2_elevator_button"
		"origin" "-4532 -8048 -1648"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "servercommand,Command,say ***Elevator arrives in 45 seconds***,0,1"
	}
	insert:
	{
		"OnPressed" "servercommand,Command,say ***Elevator arrives in 40 seconds***,0,1"
		"OnPressed" "servercommand,Command,say ***Elevator leaves in 10 seconds***,45,1"
	}
}

;------------------------------------------------------------------
; Fixes map nuke on stage 2 and afk teleporter
;------------------------------------------------------------------
add:
{
	"model" "*303"
	"targetname" "train_start_afk"
	"target" "train_tp_dest_zombies"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-5608 1246 6912"
	"classname" "trigger_teleport"
}
add:
{
	"model" "*297"
	"targetname" "stage_2_nuke"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "16 10144 11728"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "999999"
	"classname" "trigger_hurt"
}
add:
{
	"model" "*297"
	"targetname" "stage_2_nuke"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "16 10144 13328"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "999999"
	"classname" "trigger_hurt"
}

;------------------------------------------------------------------
; Fixes map music not being adjustable
;------------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "2164.03 -668.92 1121"
		"targetname" "music_action"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/korrib_action.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "3230.5 382.01 1121"
		"targetname" "music_action_way2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/asteroid.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "2230.65 1481.69 1153"
		"targetname" "music_action_way3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/rail_nowhere.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6384 5360 -1200"
		"targetname" "music_anger"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/the_qemists_anger.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6525.25 5312 -1200"
		"targetname" "music_cantina"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/cantina.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6480 5312 -1200"
		"targetname" "music_cantina_clones"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/clones.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6432 5312 -1200"
		"targetname" "music_cantina_vode"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/commando/vode.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6509.25 5312 -1200"
		"targetname" "music_cantina2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/cantina2.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6320 5312 -1200"
		"targetname" "music_commando_elevator"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/commando/commando_elevator.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6352 5312 -1200"
		"targetname" "music_commando_filler"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/commando/commando_filler.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-5952 -3936 5144"
		"targetname" "music_darkdeeds"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/anakinsdarkdeeds.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "2244 3407.76 3104"
		"targetname" "music_explore"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/korrib_dark_explore.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6352 5360 -1200"
		"targetname" "music_finale_hard"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/finale_hard.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6432 5344 -1200"
		"targetname" "music_flight"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/flight.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6384 5312 -1200"
		"targetname" "music_ghostship"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/commando/ghostship.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6400 5312 -1200"
		"targetname" "music_gratuacuun"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/commando/gratuacuun.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6448 5376 -1200"
		"targetname" "music_hope"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/hope.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6368 5312 -1200"
		"targetname" "music_improvisedentry"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/commando/improvisedentry.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6464 5312 -1200"
		"targetname" "music_intermission"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/victoryanddeath.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6416 5312 -1200"
		"targetname" "music_katartor"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/commando/katartor.mp3"
	}
}
modify:
{
	match:
	{
		"targetname" "music_malicos"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/malicos.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6400 5344 -1200"
		"targetname" "music_masterswitch_1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/master_switch1.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6384 5344 -1200"
		"targetname" "music_masterswitch_2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/master_switch2.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6368 5360 -1200"
		"targetname" "music_over"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/notovertilwesayso.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6336 5312 -1200"
		"targetname" "music_rvalpha"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/commando/rvalpha.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6368 5344 -1200"
		"targetname" "music_safe"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/safe.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6352 5344 -1200"
		"targetname" "music_shuttle"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/shuttle.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6400 5360 -1200"
		"targetname" "music_takeover"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/zardonic_takeover_vip.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-7696 4288 991.12"
		"targetname" "music_title"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/opening.mp3"
	}
}
modify:
{
	match:
	{
		"targetname" "Radio_Sound"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/vaderdance.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-6432 5376 -1200"
		"targetname" "stage_2_music_action"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/impbasee_action.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "2656 -7072 -2031"
		"targetname" "stage_2_music_explore"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/impbasee_explore.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "2496 -1056 -1952"
		"targetname" "theme_tomb"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/filler_sith.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "2500 -280.57 -1772"
		"targetname" "TombTheme"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/bespina_action.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "2500 -4290.42 -2180"
		"targetname" "trim_music"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_jka_chandrila/hope.mp3"
	}
}