;-----------------------
;-----MARATHON MODE-----
;-----------------------

;modify:
;{
;	match:
;	{
;		"classname" "logic_relay"
;		"targetname" "AutoMap"
;	}
;	delete:
;	{
;		"OnSpawn" "Console,Command,mp_roundtime 15,0,-1"
;		"OnSpawn" "SecondStageStuff,Trigger,,1,1"
;	}
;	insert:
;	{
;		"OnSpawn" "Console,Command,mp_roundtime 25,0,-1"
;	}
;}

;filter:
;{
;	"classname"	"logic_relay"
;	"targetname" "ElevatorStuff"
;}
;filter:
;{
;	"classname" "logic_relay"
;	"targetname" "ChangeLevelFirstStage"
;}
;filter:
;{
;	"classname" "trigger_hurt"
;	"targetname" "FirstLevelNuke"
;}

;modify:
;{
;	match:
;	{
;		"classname" "logic_timer"
;		"targetname" "Autonuke"
;	}
;	replace:
;	{
;		"RefireTime" "1380"
;	}
;}

;modify:
;{
;	match:
;	{
;		"classname" "func_door"
;		"targetname" "ToElevatorOutOfPowerStation"
;	}
;	delete:
;	{
;		"OnFullyOpen" "LevelEndSafetyWall,Toggle,,0,1"
;	}
;}

;add:
;{
;	"model" "*70"
;	"classname" "trigger_teleport"
;	"targetname" "teleport_elevator_marathon"
;	"origin" "3584 8704 512"
;	"spawnflags" "1"
;	"StartDisabled" "1"
;	"target" "destination_elevator_marathon"
;}

;modify:
;{
;	match:
;	{
;		"classname" "func_door"
;		"targetname" "UndergroundElevator"
;	}
;	insert:
;	{
;		"OnFullyOpen" "SecondStageStuff,Enable,,0,1"
;		"OnFullyOpen" "SecondStageStuff,Trigger,,2,1"
;		"OnFullyOpen" "teleport_elevator_marathon,Enable,,5,1"
;		"OnOpen" "MusicIntoGiganticCavern,Volume,0,7,1"
;	}
;	delete:
;	{
;		"OnUser1" "FirstStageStuff,Disable,,0,-1"
;	}
;}

;add:
;{
;	"classname" "info_teleport_destination"
;	"targetname" "destination_elevator_marathon"
;	"angles" "0 270 0"
;	"origin" "5088 8208 2244"
;}

;modify:
;{
;	match:
;	{
;		"classname" "logic_relay"
;		"targetname" "ChangeLevelSecondStage"
;	}
;	insert:
;	{
;		"OnTrigger" "Console,Command,say ** YOU COMPLETED MARATHON MODE **,1,1"
;	}
;}

;modify:
;{
;	match:
;	{
;		"classname" "logic_relay"
;		"targetname" "SecondStageStuff"
;	}
;	insert:
;	{
;		"OnTrigger" "Console,Command,say ** Part 2 starts now **,0,1"
;	}
;}
