;Remove telehop
modify:
{
	match:
	{
		"classname" "trigger_teleport"
	}
	insert:
	{
		"OnEndTouch" "!self,RunScriptCode,activator.SetAbsVelocity(Vector(null)),0,-1"
	}
}

;Fix gravity boost
modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "Gravity_Trigger"
	}
	insert:
	{
		"OnEndTouch" "main,RunScriptCode,if(activator.GetAbsVelocity().Length2D() > 500) activator.SetAbsVelocity(Vector(null)),0,-1"
	}
}

;Fix hold skips
add:
{
	"classname" "func_wall_toggle"
	"origin" "-10912 14416 -4960.03"
	"model" "*4"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"targetname" "no_skip1"
	"rendermode" "10"
}

modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "Counter_2"
	}
	insert:
	{
		"OnHitMax" "no_skip1,Kill,,39,-1"
	}
}

add:
{
	"classname" "func_wall_toggle"
	"origin" "2432 12816 -480.03"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"model" "*4"
	"targetname" "no_skip2"
	"rendermode" "10"
}

add:
{
	"classname" "func_wall_toggle"
	"origin" "2432 13136 -480.03"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"model" "*4"
	"targetname" "no_skip2"
	"rendermode" "10"
}

modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "Counter_3"
	}
	insert:
	{
		"OnHitMax" "no_skip2,Kill,,29,-1"
	}
}


;; _

;; music volume

modify:
{
	match:
	{
		"message" "castle_bridge/bridge.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/bridge.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/castle1_1.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/castle1_1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/castle2.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/castle2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/castle4_part1.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/castle4_part1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/start1.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/start1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/boss_fight_1.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/boss_fight_1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/final.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/final.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/castle3.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/castle3.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/castle4_part2.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/castle4_part2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "castle_bridge/start.mp3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#castle_bridge/start.mp3"
	}
}