;\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
; Disabling the light-pink shortcut bridge on new rounds
;///////////////////////////////////////////////////////

modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "-1855 4736 -4814"
		"speed" "1000"
	}
	insert:
	{
		"OnPressed" "brush,Disable,,0,-1"
	}
}

;\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
; Hindering exploitative upwards-knifing by humans
;/////////////////////////////////////////////////

add:
{
	"classname" "trigger_multiple"
	"targetname" "AntiBoost"
	"origin" "-512 4800 -4224"
	"spawnflags" "1"
	"StartDisabled" "0"
	"wait" "0"
	"OnStartTouch" "!activator,AddOutput,origin 608 4488 -5076,0,-1"
}

modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "tlvl1"
		"target" "lvl1"
		"origin" "458 4310 -4864.5"
		"spawnflags" "1"
	}
	insert:
	{
		"OnStartTouch" "AntiBoost,AddOutput,solid 2,0,1"
		"OnStartTouch" "AntiBoost,AddOutput,maxs 1536 1728 128,0,1"
		"OnStartTouch" "AntiBoost,AddOutput,mins -1536 -1728 -128,0,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "-1855 4736 -4814"
		"speed" "1000"
	}
	insert:
	{
		"OnPressed" "AntiBoost,AddOutput,solid 2,0,1"
		"OnPressed" "AntiBoost,AddOutput,origin -512 4800 -3456,20,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "-1385 4634 -3735"
		"speed" "1000"
	}
	insert:
	{
		"OnPressed" "AntiBoost,AddOutput,solid 2,0,1"
		"OnPressed" "AntiBoost,AddOutput,origin -512 4800 -2176,20,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "577 5344 -3010"
		"speed" "1000"
	}
	insert:
	{
		"OnPressed" "AntiBoost,AddOutput,solid 2,0,1"
		"OnPressed" "AntiBoost,AddOutput,origin -512 4800 -640,20,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "-1599 5449 -1231"
		"speed" "1000"
	}
	insert:
	{
		"OnPressed" "AntiBoost,Kill,,20,1"
	}
}