;Stripper by koen (STEAM_1:1:114921174)

;add map modification message
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "console,Command,say << Map fixed (#1) >>,12,1"
	}
}

;lower crouch laser in first room to css height
modify:
{
	match:
	{
		"classname" "env_entitymaker"
		"origin" "0 3168 -3221"
	}
	replace:
	{
		"origin" "0 3168 -3226"
	}
}

;make all laser shit actually doable (will need more in-depth tweaking but for now, changing all damage types to 0 will drastically make it easier)
modify:
{
	match:
	{
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagetype" "0"
	}
}