;----------------------------
; Last changed on 25-11-2023
;----------------------------

;---------------------------------------------------
; Fixes a trigger_once that is start StartDisabled
;---------------------------------------------------
modify:
{
	match:
	{
        "origin" "3288 6176 -2804"
        "classname" "trigger_once"
	}
	replace:
	{
        "StartDisabled" "0"
	}
}