;undocumented changes from porter
modify:
{
	match:
	{
		"targetname" "trampath11"
	}
	insert:
	{
		"OnPass" "tramstation2doortrigger,Enable,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "tramstation2doortrigger"
	}
	replace:
	{
		"StartDisabled" "1"
	}
}
add:
{
	"classname" "trigger_teleport"
	"targetname" "teleport11a"
	"origin" "14592 10880 -126"
	"target" "desttpcore"
	"StartDisabled" "1"
	"spawnflags" "1"
	"OnUser1" "!self,AddOutput,solid 2,0,1"
	"OnUser1" "!self,AddOutput,mins -256 -256 -256,0.1,1"
	"OnUser1" "!self,AddOutput,maxs 256 256 256,0.1,1"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "125837"
	}
	insert:
	{
		"OnMapSpawn" "teleport11a,FireUser1,,0.5,1"
	}
}