;fix skybox beam texture
modify:
{
	match:
	{
		"targetname" "skybox_beam1"
		"classname" "env_beam"
	}
	replace:
	{
		"texture" "sprites/laserbeam.spr"
	}
}

;fix skybox grid
modify:
{
	match:
	{
		"targetname" "skybox_grid"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"fademindist" "-1"
		"fademaxdist" "0"
	}
}
