modify:
{
	match:
	{
		"targetname" "boss_teleport"
		"classname" "trigger_teleport"
		"hammerid" "22046"
	}
	delete:
	{
		"OnStartTouch" "HPCounter2,Add,80,0,-1"
	}
	insert:
	{
		; v2 had 50
		"OnStartTouch" "HPCounter2,Add,70,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "hp_counter_set"
		"classname" "trigger_multiple"
		"hammerid" "11290"
	}
	delete:
	{
		"OnStartTouch" "hpcounter2,Add,80,0,-1"
	}
	insert:
	{
		; v2 had 50
		"OnStartTouch" "hpcounter2,Add,70,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "st3_goto"
		"classname" "trigger_multiple"
		"hammerid" "386278"
	}
	delete:
	{
		"OnStartTouch" "st3_hp,Add,700,0,-1"
	}
	insert:
	{
		; v2 had 500
		"OnStartTouch" "st3_hp,Add,600,0,-1"
	}
}

modify:
{
    match:
    {
        "classname"    "trigger_push"
        "targetname" "final_slow_push"
    }
    insert:
    {
        "OnStartTouch" "cmd,Command,sv_airaccelerate 15,0,1"
        "OnStartTouch" "cmd,Command,sv_accelerate 8,0,1"
    }
}

modify:
{
    match:
    {
        "classname" "logic_auto"
    }
    insert:
    {
        "OnMapSpawn" "cmd,Command,sv_airaccelerate 9.6,0,1"
        "OnMapSpawn" "cmd,Command,sv_accelerate 5,0,1"
    }
}