; Fix skybox beam texture
modify:
{
	match:
	{
		"targetname" "skybox_beam1"
		"classname" "env_beam"
	}
	replace:
	{
		"texture" "sprites/laserbeam.spr"
	}
}

; Fix skybox grid
modify:
{
	match:
	{
		"targetname" "skybox_grid"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"fademindist" "-1"
		"fademaxdist" "0"
	}
}

; Fix insane d hp exploit
modify:
{
	match:
	{
		"origin" "-0.53 1.07 -13773"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"targetname" "humans_100hp"
	}
}
modify:
{
	match:
	{
		"origin" "-14616 -14840 -16168"
		"targetname" "d_ex_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "humans_100hp,Disable,,0,-1"
	}
}

; Automatically set insane after beating d
modify:
{
	match:
	{
		"targetname" "d_win_detecttrigger"
	}
	insert:
	{
		"OnUser1" "level_stock,AddOutput,OnUser1 level_counter:SetValue:8:0.06:1,0,1"
		"OnUser1" "server,Command,say *** D INSANE MODE ENABLED FOR NEXT ROUND ***,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "escape_relay"
	}
	insert:
	{
		"OnTrigger" "d_win_detecttrigger,AddOutput,OnStartTouch !self:FireUser1::0:1,119.98,-1"
	}
}

; Use context filters for NPC targetting to fix items breaking
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "enemy1_filter1"
	}
	replace:
	{
		"classname" "filter_activator_context"
	}
	delete:
	{
		"filtername" "target"
	}
	insert:
	{
		"ResponseContext" "NPC_Target"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"hammerid" "2639207"
	}
	insert:
	{
		"OnStartTouch" "!activator,RemoveContext,NPC_Target,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "enemy1_filtertrigger1"
	}
	delete:
	{
		"OnTrigger" "!activator,AddOutput,targetname player,5,-1"
		"OnTrigger" "!activator,AddOutput,targetname target,0,-1"
	}
	insert:
	{
		"OnTrigger" "!activator,AddContext,NPC_Target:1,0,-1"
		"OnTrigger" "!activator,RemoveContext,NPC_Target,5,-1"
	}
}

; Fix targetname usage
modify:
{
	match:
	{
		"hammerid" "2639207"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player_none,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "cannon1_elites"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname cannon1,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "cannon1,AddOutput,targetname player_none,0,-1"
		"OnPlayerPickup" "!activator,AddOutput,targetname cannon1,0.1,-1"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "cannon2_elites"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname cannon2,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "cannon2,AddOutput,targetname player_none,0,-1"
		"OnPlayerPickup" "!activator,AddOutput,targetname cannon2,0.1,-1"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "cannon3_elites"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname cannon3,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "cannon3,AddOutput,targetname player_none,0,-1"
		"OnPlayerPickup" "!activator,AddOutput,targetname cannon3,0.1,-1"
	}
}

; Edict optimization
modify:
{
	match:
	{
		"DisableBoneFollowers" "/.*/"
	}
	replace:
	{
		"DisableBoneFollowers" "1"
	}
}