;---------------------------
; fix wind item chest shit
;---------------------------
modify:
{
	match:
	{
		"origin" "-1118.36 -10756.9 4845.51"
		"targetname" "wind_pick_chance_case"
		"classname" "logic_case"
	}
	Delete:
	{
		"OnCase03" "npc_item_spawner,AddOutput,EntityTemplate Item_wind_crystal_template,0.02,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-1026.95 -10755 4869.51"
		"targetname" "chest_template"
		"classname" "point_template"
	}
	delete:
	{
		"Template04" "npc_item_wind_rarity"
	}
}

;------------------------------------------------
; Fix cameras can lead to unexpected map behavior
;------------------------------------------------
modify:
{
	match:
	{
		"classname" "point_viewcontrol"
	}
	replace:
	{
		"spawnflags" "28"
	}
}

;---------------------------
; add koen name to text
;---------------------------
modify:
{
    match:
    {
        "origin" "5820 9912 -776"
        "targetname" "stage_1_relay"
        "classname" "logic_relay"
    }
    delete:
    {
		"OnTrigger" "console,Command,say *** 4ECHO XEHANORT ***,13,-1"
    }
    insert:
    {
		"OnTrigger" "console,Command,say *** 4ECHO XEHANORT KOEN ***,13,-1"
    }
}


;---------------------------
; Nerf Human skins Hp, speed, and push
;---------------------------
modify:
{
	match:
	{
		"targetname" "imperius_attack_relay"
		"origin" "1821 12092 141.6"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "!self,Enable,,1,-1"
	}
	insert:
	{
		"OnTrigger" "!self,Enable,,1.75,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "tyrael_attack_relay1"
		"origin" "5139 14447 -706.4"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "!self,Enable,,1,-1"
	}
	insert:
	{
		"OnTrigger" "!self,Enable,,1.75,-1"
	}
}


modify:
{
	match:
	{
		"targetname" "tyrael_attack_push1"
		"origin" "5236.9 14479 -686.4"
		"classname" "trigger_push"
	}
	replace:
	{
		"speed" "305"
	}
}
modify:
{
	match:
	{
		"targetname" "imperius_attack_push"
		"origin" "1918.9 12124 161.6"
		"classname" "trigger_push"
	}
	replace:
	{
		"speed" "305"
	}
}
modify:
{
	match:
	{
		"targetname" "tyrael_hitbox1"
		"origin" "5235 14403.5 -661.4"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"health" "185"
	}
}
modify:
{
	match:
	{
		"targetname" "imperius_hitbox"
		"origin" "1917 12047.7 186.6"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"health" "185"
	}
}
modify:
{
	match:
	{
		"targetname" "item_goliath_25"
		"origin" "1785 11924.7 177"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "speed,ModifySpeed,1.1,8.0,-1"
	}
	insert:
	{
		"OnTrigger" "speed,ModifySpeed,1.0,8.0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "imperius_defense_relay"
		"origin" "1805 12092 141.6"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "speed,ModifySpeed,1.1,2.01,-1"
	}
	insert:
	{
		"OnTrigger" "speed,ModifySpeed,1.0,2.01,-1"
	}
}

;---------------------------
; Buff s2 boss
;---------------------------
modify:
{
	match:
	{
		"targetname" "leoric_hp_add"
		"origin" "-8313 9962 -5430"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "bossleoric_math_counter1,Add,75,0,-1"
		"OnStartTouch" "Boss_HealthBackup2,Add,75,0,-1"
		"OnStartTouch" "Boss_Health2,Add,75,0,-1"
	}
	insert:
	{
		"OnStartTouch" "bossleoric_math_counter1,Add,95,0,-1"
		"OnStartTouch" "Boss_HealthBackup2,Add,95,0,-1"
		"OnStartTouch" "Boss_Health2,Add,95,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "leoric_hp_add2"
		"origin" "-8313 9962 -5386"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "bossleoric_math_counter2,Add,48,0,-1"
		"OnStartTouch" "Boss_HealthBackup3,Add,48,0,-1"
		"OnStartTouch" "Boss_Health3,Add,48,0,-1"
	}
	insert:
	{
		"OnStartTouch" "bossleoric_math_counter2,Add,60,0,-1"
		"OnStartTouch" "Boss_HealthBackup3,Add,60,0,-1"
		"OnStartTouch" "Boss_Health3,Add,60,0,-1"
	}
}


modify:
{
	match:
	{
		"targetname" "meph_tower_add_hp"
		"origin" "-8334.94 9619.51 3048.5"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "meph_tower_boss_math,Add,60,0,-1"
		"OnStartTouch" "Boss_HealthBackup4,Add,60,0,-1"
		"OnStartTouch" "Boss_Health4,Add,60,0,-1"
	}
	insert:
	{
		"OnStartTouch" "meph_tower_boss_math,Add,105,0,-1"
		"OnStartTouch" "Boss_HealthBackup4,Add,105,0,-1"
		"OnStartTouch" "Boss_Health4,Add,105,0,-1"
	}
}


;---------------------------
; Remove disabling bhop
;---------------------------
modify:
{
	match:
	{
		"origin" "5882.9 9889.5 -776"
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "console,Command,sv_enablebunnyhopping 0,0,-1"
	}
}


;---------------------------
; Remove invis on zm minion
;---------------------------

modify:
{
	match:
	{
		"targetname" "demon_knife"
		"origin" "7459 15168.1 -1315.07"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,rendermode 6,0,-1"
	}
}


;---------------------------
; Buff azmodan phase 2
;---------------------------

modify:
{
	match:
	{
		"targetname" "s3_azmo_hp_adder_bigboy"
		"origin" "13179.8 -9888 11764.5"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "bossazmobig_math_counter,Add,60,0,-1"
		"OnStartTouch" "Boss_Health_azmobig,Add,60,0,-1"
		"OnStartTouch" "Boss_HealthBackup_azmobig,Add,60,0,-1"
	}
	insert:
	{
		"OnStartTouch" "bossazmobig_math_counter,Add,85,0,-1"
		"OnStartTouch" "Boss_Health_azmobig,Add,85,0,-1"
		"OnStartTouch" "Boss_HealthBackup_azmobig,Add,85,0,-1"
	}
}

;---------------------------
; Remove broken lava hurt trig
;---------------------------

filter:
{
	"origin" "-12936 2137.58 10872"
	"classname" "trigger_hurt"
}

;---------------------------
; Nerf EX diablo phases
;---------------------------
modify:
{
	match:
	{
		"targetname" "s4_ending_counter_adder1"
		"origin" "2944 10784 -10253.8"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "s4_ending_counter1,Add,225,0,-1"
	}
	insert:
	{
		"OnStartTouch" "s4_ending_counter1,Add,180,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "s4_ending_counter_adder2"
		"origin" "2944 10784 -10227.8"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "s4_ending_counter2,Add,175,0,-1"
	}
	insert:
	{
		"OnStartTouch" "s4_ending_counter2,Add,135,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "s4_ending_counter_adder3"
		"origin" "2944 10784 -10205.8"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "s4_ending_counter3,Add,125,0,-1"
	}
	insert:
	{
		"OnStartTouch" "s4_ending_counter3,Add,90,0,-1"
	}
}


;---------------------------
; Make map harder in some places
;---------------------------
modify:
{
	match:
	{
		
		"origin" "10731.5 6249.5 -10477.7"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "console,Command,say *** Tristram gate opens in 25 seconds... ***,0,1"
	    "OnStartTouch" "s3_gate_door,Open,,25,1"
	}
	insert:
	{
		"OnStartTouch" "console,Command,say *** Tristram gate opens in 30 seconds... ***,0,1"
	    "OnStartTouch" "s3_gate_door,Open,,30,1"
	}
}
modify:
{
	match:
	{
		
		"origin" "-7171 -3004.5 -1814"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "console,Command,say *** Lower gate breaks in 15 seconds ***,0,1"
		"OnStartTouch" "s2_tun_break,Break,,15,1"
		"OnStartTouch" "console,Command,say *** The King kept artifacts of immense power in here... ***,18,1"
		"OnStartTouch" "console,Command,say *** Search for the one of the Soulstones and capture it! ***,21,1"
		"OnStartTouch" "s2_relay_npc_spawn3,Trigger,,0,1"
	}
	insert:
	{
		"OnStartTouch" "console,Command,say *** Lower gate breaks in 25 seconds ***,0,1"
		"OnStartTouch" "s2_tun_break,Break,,25,1"
		"OnStartTouch" "console,Command,say *** The King kept artifacts of immense power in here... ***,28,1"
		"OnStartTouch" "console,Command,say *** Search for the one of the Soulstones and capture it! ***,31,1"
		"OnStartTouch" "s2_relay_npc_spawn3,Trigger,,0,1"
	}
}
modify:
{
	match:
	{
		
		"origin" "-9940 -13504 8934.55"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "console,Command,say *** SUMMONING A PORTAL IN 20 SECONDS ***,0,1"
		"OnStartTouch" "s4_swirl,Start,,15,1"
		"OnStartTouch" "s4_blue_portal,Enable,,20,1"
		"OnStartTouch" "portal_sound,PlaySound,,20,1"
		"OnStartTouch" "s4_blue_tp,Enable,,20,1"
	}
	insert:
	{
		"OnStartTouch" "console,Command,say *** SUMMONING A PORTAL IN 30 SECONDS ***,0,1"
		"OnStartTouch" "s4_swirl,Start,,25,1"
		"OnStartTouch" "s4_blue_portal,Enable,,30,1"
		"OnStartTouch" "portal_sound,PlaySound,,30,1"
		"OnStartTouch" "s4_blue_tp,Enable,,30,1"
	}
}

modify:
{
	match:
	{
		"targetname" "s3_entrance_door1"
		"origin" "4256 -9657.47 -7063.99"
		"classname" "func_movelinear"
	}
	delete:
	{
		"OnFullyOpen" "!self,Close,,20,1"
	}
	insert:
	{
		"OnFullyOpen" "!self,Close,,10,1"
	}
}
modify:
{
	match:
	{
		"targetname" "s3_entrance_door2"
		"origin" "4256 -10188.2 -7064.01"
		"classname" "func_movelinear"
	}
	delete:
	{
		"OnFullyOpen" "!self,Close,,20,1"
	}
	insert:
	{
		"OnFullyOpen" "!self,Close,,10,1"
	}
}

modify:
{
	match:
	{
		"origin" "-8634.5 -7802 -2475.5"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "s2_afk_tp,Enable,,40,1"
	}
	insert:
	{
		"OnStartTouch" "s2_afk_tp,Enable,,20,1"
	}
}



;---------------------------
; Buff zm speed +dmg
;---------------------------
modify:
{
	match:
	{
		"targetname" "Item_zombie_speed_trigger"
		"origin" "9714.58 15060.2 -1489.77"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "speed,ModifySpeed,1.1,4,-1"
		"OnStartTouch" "speed,ModifySpeed,1.35,0,-1"
	}
	insert:
	{
		"OnStartTouch" "speed,ModifySpeed,1.1,6.5,-1"
		"OnStartTouch" "speed,ModifySpeed,1.45,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "demon_item_hurt"
		"origin" "7515 15166.7 -1318.07"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "205"
	}
}


;---------------------------
; Adds tp in avoidable spot on s4
;---------------------------
add:
{
    "model" "*298"
    "targetname" "s4_elevator_afk_tp2"
    "StartDisabled" "1"
	"target" "s4_hell_tun_dest"
    "spawnflags" "1"
    "origin" "-12100 2114 11040"
    "filtername" "MapFilterT"
    "classname" "trigger_teleport"
}

;---------------------------
; Nerf extra hp for items during azmo
;---------------------------
modify:
{
	match:
	{
		"targetname" "s3_start_cutscene_relay_e"
		"origin" "11576 2912 1563.78"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "imperius_hitbox,SetHealth,625,19,-1"
		"OnTrigger" "tyrael_hitbox1,SetHealth,715,19,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "s3_start_cutscene_relay_n"
		"origin" "11560 2912 1563.78"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "imperius_hitbox,SetHealth,625,19,-1"
	}
}




modify:
{
	match:
	{
		"targetname" "s4_ex_ending_relay_stone"
		"origin" "-11590.7 3008 -6819.05"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "disable_zmspeed_relay,Trigger,,0,-1"
	}
}


;------------------------------------------------------------------------------------------------------------------------------------
; Remove classname specific information on all items because it makes spectators player entities and can trigger items
; Also sets up a targetname loop incase it gets reset
;------------------------------------------------------------------------------------------------------------------------------------
filter:
{
	"origin" "1824.35 12093.5 157.6"
	"targetname" "filter_imperius"
	"classname" "filter_activator_class"
}
add:
{
	"origin" "21.2002 -10036.3 5457.93"
	"targetname" "filter_imperius"
	"Negated" "Allow entities that match criteria"
	"filtername" "imperius_player"
	"classname" "filter_activator_name"
}
modify:
{
	match:
	{
		"origin" "1917.2 12057.7 157.6"
		"targetname" "imperius_knife"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,classname imperius_player,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname imperius_player,0,-1"
		"OnUser1" "!activator,AddOutput,targetname imperius_player,0.01,-1"
	}
}
filter:
{
	"origin" "5139.1 14447.9 -690.4"
	"targetname" "filter_tyrael"
	"classname" "filter_activator_class"
}
add:
{
	"origin" "21.2002 -10036.3 5457.93"
	"targetname" "filter_tyrael"
	"Negated" "Allow entities that match criteria"
	"filtername" "tyrael_player"
	"classname" "filter_activator_name"
}
modify:
{
	match:
	{
		"origin" "5235.2 14412.7 -690.4"
		"targetname" "tyrael_knife1"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,classname tyrael_player,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname tyrael_player,0,-1"
		"OnUser1" "!activator,AddOutput,targetname tyrael_player,0.01,-1"
	}
}
filter:
{
	"origin" "954 14450 -1079.6"
	"targetname" "cain_filter"
	"classname" "filter_activator_class"
}
modify:
{
	match:
	{
		"origin" "918 14416 -1037.92"
		"targetname" "cain_knife"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,classname cain_player,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "5882.9 9889.5 -776"
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "player,AddOutput,rendermode 1,0,-1"
		"OnMapSpawn" "player,AddOutput,maxhealth 150,0,-1"
	}
	insert:
	{
		"OnMapSpawn" "player,AddOutput,rendermode 0,0,-1"
		"OnMapSpawn" "imperius_ui,Deactivate,,0.1,-1"
		"OnMapSpawn" "cain_ui,Deactivate,,0.1,-1"
		"OnMapSpawn" "demon_item_ui,Deactivate,,0.1,-1"
		"OnMapSpawn" "tyrael_ui1,Deactivate,,0.1,-1"

		"OnMapSpawn" "imperius_ui,Kill,,0,-1"
		"OnMapSpawn" "cain_ui,Kill,,0,-1"
		"OnMapSpawn" "demon_item_ui,Kill,,0,-1"
		"OnMapSpawn" "tyrael_ui1,Kill,,0,-1"

		"OnMapSpawn" "console,Command,say < STRIPPER 2 LOADED >,10,-1"
	}
}
modify:
{
	match:
	{
		"origin" "5882.9 9889.5 -738"
		"targetname" "tonemapper"
		"classname" "env_tonemap_controller"
	}
	delete:
	{
		"OnMapSpawn" "console,Command,mp_roundtime 30,0,-1"
		"OnMapSpawn" "math_counter_level,GetValue,,0.02,-1"
		"OnMapSpawn" "info_target_level,FireUser1,,0,-1"
		"OnMapSpawn" "console,Command,say *** All Hell Breaks Loose... ***  ,4,-1"
		"OnMapSpawn" "map_fog,TurnOn,,1,-1"
		"OnMapSpawn" "spawn_teleporter,Enable,,5,-1"
		"OnMapSpawn" "player,SetDamageFilter,,0,-1"
		"OnMapSpawn" "imperius_boss_damage_relay,Disable,,0,-1"
		"OnMapSpawn" "imperius_hitbox,SetDamageFilter,MapFilterT,7,-1"
		"OnMapSpawn" "hobgoblin_rotate,Start,,2,-1"
		"OnMapSpawn" "player,AddOutput,rendermode 1,0,-1"
		"OnMapSpawn" "player,AddOutput,maxhealth 150,0,-1"
		"OnMapSpawn" "Map_End_Camera,CountPlayersInZone,,1,-1"
		"OnMapSpawn" "extreme_skybox_brush,Disable,,1,-1"
		"OnMapSpawn" "player,AddOutput,targetname player_none,0,-1"
		"OnMapSpawn" "console,Command,sv_enablebunnyhopping 0,0,-1"
		"OnMapSpawn" "console,Command,zr_infect_spawntime_min 12,0,-1"
		"OnMapSpawn" "console,Command,zr_infect_spawntime_max 12,0,-1"
		"OnMapSpawn" "console,Command,zr_respawn_delay 6,0,-1"
		"OnMapSpawn" "console,Command,zr_ztele_human_before 0,0,-1"
		"OnMapSpawn" "console,Command,zr_ztele_human_after 0,0,-1"
		"OnMapSpawn" "console,Command,zr_ztele_zombie 0,0,-1"
	}
}


;---------------------------
; QoL
;---------------------------
modify:
{
	match:
	{
		"targetname" "i_cadeholder_model"
		"origin" "-2826.21 -10234.1 4865.76"
		"classname" "prop_dynamic_override"
	}
	replace:
	{
		"renderamt" "65"
	}
}
modify:
{
	match:
	{
        "targetname" "s3_outside_church_dest"
        "classname" "info_teleport_destination"
	}
	replace:
	{
        "origin" "10752 9280 -10529"
	}
}
modify:
{
	match:
	{
		"targetname" "soulstone_breakable"
		"origin" "-10799.6 2336 -5792"
		"classname" "func_breakable"
	}
	insert:
	{
		"damagefilter" "MapFilterCT"
	}
}


;---------------------------
; TP ZM items during tyrael nuke, remove player_none filter in the hurt
;---------------------------
add:
{
	"model" "*347"
	"targetname" "tp_safe_tyrael_demon"
	"StartDisabled" "0"
	"spawnflags" "1"
	"filtername" "Item_zombie_speed_filter"
	"origin" "5231 14384 -773.99"
	"classname" "trigger_once"
}
add:
{
	"model" "*347"
	"targetname" "tp_safe_tyrael_minion"
	"StartDisabled" "0"
	"spawnflags" "1"
	"filtername" "demon_item_filter"
	"origin" "5231 14384 -773.99"
	"classname" "trigger_once"
}
add:
{
	"model" "*347"
	"targetname" "tp_safe_tyrael_heal"
	"StartDisabled" "0"
	"spawnflags" "1"
	"filtername" "Item_zombie_heal_filter"
	"origin" "5231 14384 -773.99"
	"classname" "trigger_once"
}
modify:
{
	match:
	{
        "targetname" "tp_safe_tyrael_demon"
		"origin" "5231 14384 -773.99"
        "classname" "trigger_once"
	}
	insert:
	{
        "OnStartTouch" "!self,Kill,,0.01,1"
		"OnStartTouch" "!self,Disable,,0,1"
		"OnStartTouch" "teleport_tyrael_nuke,Teleport,,0,1"
	}
}
modify:
{
	match:
	{
        "targetname" "tp_safe_tyrael_minion"
		"origin" "5231 14384 -773.99"
        "classname" "trigger_once"
	}
	insert:
	{
        "OnStartTouch" "!self,Kill,,0.01,1"
		"OnStartTouch" "!self,Disable,,0,1"
		"OnStartTouch" "teleport_tyrael_nuke,Teleport,,0,1"
	}
}
modify:
{
	match:
	{
        "targetname" "tp_safe_tyrael_heal"
		"origin" "5231 14384 -773.99"
        "classname" "trigger_once"
	}
	insert:
	{
        "OnStartTouch" "!self,Kill,,0.01,1"
		"OnStartTouch" "!self,Disable,,0,1"
		"OnStartTouch" "teleport_tyrael_nuke,Teleport,,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "tyrael_safe_template"
		"origin" "5139 14431 -690"
		"classname" "point_template"
	}
	insert:
	{
		"Template02" "tp_safe_tyrael_demon"
		"Template03" "tp_safe_tyrael_minion"
		"Template04" "tp_safe_tyrael_heal"
	}
}
modify:
{
	match:
	{
		"targetname" "tyrael_ult_slow"
		"origin" "5231 14383 -719.99"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagefilter" "MapFilterT"
	}
}


;---------------------------
; Fix imperius being able to run out of their kill trigger
;---------------------------
modify:
{
	match:
	{
		"targetname" "imperius_hitbox"
		"origin" "1917 12047.7 186.6"
		"classname" "func_physbox_multiplayer"
	}
	insert:
	{
		"OnBreak" "imperius_defense_relay,CancelPending,,0,-1"
	}
}