;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;FIX NO KNOCKBACK SKELETON AFTER DEATH
;--------------------------------------


add:
{
	"targetname" "game_playerdie"
	"IsEnabled" "1"
	"EventName" "player_death"
	"classname" "logic_eventlistener"
	"OnEventFired" "!activator,SetdamageFilter,,0.02,-1"
	"OnEventFired" "!activator,AddOutput,rendermode 0,0.02,-1"
}


;; _

;; stage 1 - fix afk teleport glitch spots

modify:
{
	match:
	{
		"targetname" "stage1_tp1"
		"classname" "trigger_multiple"
	}
	replace:
	{
		"origin" "1215 538.5 -948.5"
	}
}

add:
{
	"model" "*281"
	"wait" "0.1"
	"targetname" "stage1_tp1"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "757.5 538.5 -948.5"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activator,AddOutput,origin 1171 -1316 -4088,0,-1"
}

;; stage 2,3 - fix afk teleport glitch spots

add:
{
	"targetname" "porttele1"
	"target" "teler1"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-7111 14272 -3802.5"
	"classname" "trigger_teleport"
	"OnUser1" "!self,AddOutput,solid 2,0,1"
	"OnUser1" "!self,AddOutput,mins -474 -280 -130.5,0.1,1"
	"OnUser1" "!self,AddOutput,maxs 474 280 130.5,0.1,1"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "135137"
	}
	insert:
	{
		"OnMapSpawn" "porttele1,FireUser1,,0,-1"
	}
}

add:
{
	"model" "*152"
	"targetname" "porttele3"
	"target" "teler1"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-3486 12487 -3827"
	"classname" "trigger_teleport"
}
add:
{
	"model" "*152"
	"targetname" "stage3_mars_tp"
	"target" "hellteleport"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-620 12611.5 -4292"
	"classname" "trigger_teleport"
}

;; stage 3 - disable zm push after bossfight a bit later

modify:
{
	match:
	{
		"targetname" "telehell1"
		"classname" "trigger_teleport"
	}
	delete:
	{
		"OnStartTouch" "logs1,Kill,,2,1"
	}
	insert:
	{
		"OnStartTouch" "logs1,Kill,,6,1"
	}
}
