;fix teleport destination
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "escape_finalteleport"
	}
	replace:
	{
		"target" "escape_finaldes"
	}
}
modify:
{
	match:
	{
		"classname" "info_teleport_destination"
		"targetname" "des6"
	}
	replace:
	{
		"targetname" "escape_finaldes"
	}
}

;fix insane d hp exploit
modify:
{
	match:
	{
		"hammerid" "3804266"
	}
	insert:
	{
		"targetname" "humans_100hp"
	}
}
modify:
{
	match:
	{
		"targetname" "stage_ex_d_relay"
	}
	insert:
	{
		"OnTrigger" "humans_100hp,Disable,,1,-1"
	}
}

;--------------------------------
; Fix incorrect targetname usage
;--------------------------------
modify:
{
	match:
	{
		"hammerid" "2639207"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player_none,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "enemy1_filtertrigger1"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnTrigger" "!activator,AddOutput,targetname player,5,-1"
	}
	insert:
	{
		"OnTrigger" "!activator,AddOutput,targetname player_none,5,-1"
	}
}