;------------------------------------------------------------
; // ze Escape The Backroom Stripper : 3 ( 16 / 6 / 2026 ) - map version : v1
;------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "-10400 -48 1235.23"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "sv_cmd,Command,say *** Stripper 3 loaded ***,7,-1"
	}
}

;------------------------------------------------------------
; // Change Tp des
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "spawn_trigger_afk"
	}
	replace:
	{
		"target" "lvl0_des"
	}
}

;------------------------------------------------------------
; // fast spawn
;------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "-10400 -48 1235.23"
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "spawn_fade,Fade,,12,-1"
		"OnMapSpawn" "spawn_lvl0,Break,,15,-1"
	}
	insert:
	{
		"OnMapSpawn" "spawn_fade,Fade,,4,-1"
		"OnMapSpawn" "spawn_lvl0,Break,,8,-1"
		"OnMapSpawn" "sv_cmd,Command,zr_infect_mzombie_max 12,0,-1"
		"OnMapSpawn" "sv_cmd,Command,zr_infect_mzombie_min 12,0,-1"
	}
}

;------------------------------------------------------------
; // Spawn room modify // Spawn room modify // Spawn room modify
;------------------------------------------------------------

;------------------------------------------------------------
; // door_entity_addhp change 400hp to 100hp
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "lvl0_last_door_entity_addhp"
	}
	delete:
	{
		"OnStartTouch" "/.*AddHealth.*/"
	}
	insert:
	{
		"OnStartTouch" "lvl0_last_door_entity_hit_1,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_2,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_3,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_4,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_5,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_6,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_7,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_8,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_9,AddHealth,100,0,-1"
		"OnStartTouch" "lvl0_last_door_entity_hit_10,AddHealth,100,0,-1"
	}
}

;------------------------------------------------------------
; // add filter_human_team and enable trigger_afk at spawn_trigger
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "spawn_trigger"
	}
	insert:
	{
		"filtername" "filter_human_team"
		"OnStartTouch" "sv_cmd,Command,say *** Shoot the core in front and don't touch it until it's completely destroyed. ***,4,-1"
		"OnStartTouch" "spawn_trigger_afk,Enable,,10,-1"
	}
}

;------------------------------------------------------------
; //  Level 0 - The Lobby modify //  Level 0 - The Lobby modify //  Level 0 - The Lobby modify
;------------------------------------------------------------

;------------------------------------------------------------
; //  Add tutorial when break wall
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "lvl0_wall1_brk"
	}
	insert:
	{
		"OnBreak" "sv_cmd,Command,say *** The next door is located near the right *** ,5,-1*** "
	}
}

;------------------------------------------------------------
; //  Fix wrong door name at trigger ( lvl0_wall2_brk to lvl0_wall3_brk)
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-5728 -7344 112"
	}
	delete:
	{
		"OnStartTouch" "lvl0_wall2_brk,Break,,25,-1"
	}
	insert:
	{
		"OnStartTouch" "lvl0_wall3_brk,Break,,25,-1"
	}
}

;------------------------------------------------------------
; //  Add tutorial next part when break lvl0_wall3_brk
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-5728 -7344 112"
	}
	insert:
	{
		"OnStartTouch" "sv_cmd,Command,say *** There are 2 cores on either side, let's split up 2 team. *** ,10,-1*** "
	}
}

;------------------------------------------------------------
; //  Add tutorial when break wall lvl0_2_door_count
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "lvl0_2_door_count"
	}
	insert:
	{
		"OnHitMax" "sv_cmd,Command,say *** Don't go near the core!!! Stay in the hallway. *** ,16,-1*** "
	}
}

;------------------------------------------------------------
; //  change timer at math_counter for wood door
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "lvl0_last_door_entity_count"
	}
	delete:
	{
		"OnHitMax" "sv_cmd,Command,say *** 45 sec ***,5,1"
		"OnHitMax" "lvl0_des4_trigger,Enable,,15,1"
		"OnHitMax" "lvl0_wood_door,Break,,50,1"
	}
	insert:
	{
		"OnHitMax" "sv_cmd,Command,say *** 40 sec ***,5,1"
		"OnHitMax" "lvl0_des4_trigger,Enable,,12,1"
		"OnHitMax" "lvl0_wood_door,Break,,45,1"
	}
}

;------------------------------------------------------------
; //  Level 2 - Level 2 - Pipe Dreams Modify  //  Level 2 - Level 2 - Pipe Dreams Modify  //  Level 2 - Level 2 - Pipe Dreams Modify
;------------------------------------------------------------

;------------------------------------------------------------
; Add filter_zm ( lvl1_f4_zm_tp_bluedoor1_des_trigger )
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "lvl1_f4_zm_tp_bluedoor1_des_trigger"
	}
	insert:
	{
		"filtername" "filter_zm"
	}
}

;------------------------------------------------------------
; Add filter_zm ( lvl1_f4_zm_tp_bluedoor2_des_trigger )
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "lvl1_f4_zm_tp_bluedoor2_des_trigger"
	}
	insert:
	{
		"filtername" "filter_zm"
	}
}

;------------------------------------------------------------
; Add filter_zm ( lvl1_f4_zm_tp_bluedoor3_des_trigger )
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "lvl1_f4_zm_tp_bluedoor3_des_trigger"
	}
	insert:
	{
		"filtername" "filter_zm"
	}
}

;------------------------------------------------------------
; Add filter_zm ( lvl1_f4_zm_tp_last_des_trigger )
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "lvl1_f4_zm_tp_last_des_trigger"
	}
	insert:
	{
		"filtername" "filter_zm"
	}
}

;------------------------------------------------------------
; // Show sprite , enable trigger hurt for smiler Left chase
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "lvl2_smiler_L_come_hit"
	}
	insert:
	{
		"OnBreak" "lvl2_smiler_left_chase_spr,ShowSprite,,14,1"
		"OnBreak" "lvl2_smiler_left_chase_hurt,Enable,,14,1"
	}
}

;------------------------------------------------------------
; // Show sprite , enable trigger hurt for smiler RIGHT chase
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "lvl2_smiler_L_come_hit"
	}
	insert:
	{
		"OnBreak" "lvl2_smiler_R_chase_spr,ShowSprite,,14,1"
		"OnBreak" "lvl2_smiler_R_chase_hurt,Enable,,14,1"
	}
}

;------------------------------------------------------------
; // Increase speed smiler L
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "lvl2_smiler_left_chase_move"
	}
	replace:
	{
		"speed" "550"
	}
}

;------------------------------------------------------------
; // Increase speed smiler R
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "lvl2_smiler_R_chase_move"
	}
	replace:
	{
		"speed" "550"
	}
}

;------------------------------------------------------------
; // Fix TP inside trigger
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "info_teleport_destination"
		"targetname" "lvl2_des"
	}
	replace:
	{
		"origin" "2356 -7417 -1020"
	}
}

;------------------------------------------------------------
; // Change HP for lvl2_smiler_L_come_hit
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "lvl2_smiler_L_come_hit"
	}
	replace:
	{
		"health" "600"
	}
}

;------------------------------------------------------------
; // Change HP for lvl2_smiler_R_come_hit
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "lvl2_smiler_R_come_hit"
	}
	replace:
	{
		"health" "650"
	}
}

;------------------------------------------------------------
; // Delete wrong command
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "-1216.04 -6240 -4160"
	}
	delete:
	{
		"OnStartTouch" "sv_cmd,Command,say *** last 20s ***,0,-1"
		"OnHitMax" "lvl_door11,Break,,20,-1"
	}
}

;------------------------------------------------------------
; //  Level 37 - The Poolrooms Modify  //  Level 37 - The Poolrooms Modify //  Level 37 - The Poolrooms Modify
;------------------------------------------------------------

;------------------------------------------------------------
; // Change glass door 2-3
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "9712 -10672 -1976"
	}
	delete:
	{
		"OnStartTouch" "lvl_pool_glass_door2,Break,,30,-1"
	}
	insert:
	{
		"OnStartTouch" "lvl_pool_glass_door3,Break,,30,-1"
	}
}

;------------------------------------------------------------
; // Change glass door 3-4
;------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "12016 -9408 -1968"
	}
	delete:
	{
		"OnStartTouch" "lvl_pool_glass_door3,Break,,30,-1"
		"OnStartTouch" "lvl_pool_des5_trigger,Enable,,15,-1"
	}
	insert:
	{
		"OnStartTouch" "lvl_pool_glass_door4,Break,,30,-1"
		"OnStartTouch" "lvl_pool_des5_trigger,Enable,,10,-1"
	}
}