;--------------------------------
; Stripper by .Rushaway & Heavy
;-------------------------------
; Adjust game_text
;-----------------
modify:
{
    match:
    {
        "targetname" "text_boss_hp"
        "classname" "game_text"
        "hammerid" "918088"
    }
    replace:
    {
        "holdtime" "5"
        "color2" "164 65 65"
        "color" "200 65 65"
    }
}

modify:
{
    match:
    {
        "targetname" "text_boss_crit"
        "classname" "game_text"
        "hammerid" "918047"
    }
    replace:
    {
        "holdtime" "5"
    }
}

;--------------------------
; Remove un-needed outputs
;--------------------------
modify:
{
    match:
    {
        "targetname" "draftwinds_pushes"
        "classname" "trigger_push"
    }
    delete:
    {
        "OnEndTouch" "mapmanager,RunScriptCode,DraftWindClamp();,0,-1"
    }
}

;----------------------------
; Change zm item "wing" basevolcity
;----------------------------
modify:
{
    match:
    {
        "origin" "-8964 -10852 -7672"
        "targetname" "item_wing_relay"
        "classname" "logic_relay"
    }
    delete:
    {
        "OnTrigger" "!activator,AddOutput,basevelocity 0 0 600,0,-1"
    }
    insert:
    {
        "OnTrigger" "!activator,AddOutput,basevelocity 0 0 300,0,-1"
    }
}

;----------------------------
; Change end area trigger tp so zm's not gonna die
;----------------------------
modify:
{
    match:
    {
        "model" "*60"
        "targetname" "teleport_falldown"
        "origin" "10912 -12288 -9056"
        "classname" "trigger_teleport"
    }
    replace:
    {
        "origin" "10912 -12288 -8960"
    }
}

;----------------------------
; Add missing zm tp in the temple entrance
;----------------------------
add:
{
    "model" "*300"
    "filtername" "filter_t"
    "origin" "10144 -11520 -12672"
    "spawnflags" "1"
    "StartDisabled" "0"
    "classname" "trigger_teleport"
    "target" "teleport_destination"
}

;----------------------------
; Add more hp to temple_uardians
;----------------------------
modify:
{
    match:
    {
        "model" "*224"
        "origin" "12288 -12288 -6743"
        "targetname" "guardian_hp_trigger"
        "classname" "trigger_multiple"
    }
    delete:
    {
        "OnStartTouch" "g_templeguardian_hp_outside_math,Add,300,0,-1"
    }
    insert:
    {
        "OnStartTouch" "g_templeguardian_hp_outside_math,Add,700,0,-1"
    }
}

;----------------------------
; Add more hp to boss
;----------------------------
modify:
{
    match:
    {
        "model" "*100"
        "origin" "11883.5 -12185.5 13846.5"
        "targetname" "i_minotaurgod_hp_trig"
        "classname" "trigger_once"
    }
    delete:
    {
        "OnStartTouch" "i_minotaurgod_hp,AddHealth,2000,0.02,-1"
    }
    insert:
    {
        "OnStartTouch" "i_minotaurgod_hp,AddHealth,4000,0.02,-1"
    }
}