;-------------------------------------------------------------------------
; Removes 2 playerspawns as they are spawning in an unreachable spots
;-------------------------------------------------------------------------
filter:
{
	"origin" "344.198 1312 96"
	"angles" "0 0 0"
	"classname" "info_player_counterterrorist"
}
filter:
{
	"origin" "352 1472 96"
	"angles" "0 0 0"
	"classname" "info_player_counterterrorist"
}
;-------------------------
; Platform break fix
;-------------------------
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "Laser_Vertical_S2"
	}
	delete:
	{
		"OnFullyOpen" "laser_relay3_stage2_vertical,Kill,0,-1"
		"OnFullyOpen" "laser3_hurt_vertical,Kill,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Laser_Vertical_S2_Hurt,Kill,0,-1"
	}
}
;----------------------------------------------------------------------------------------------------
; Fixes all teleportation in every stage so zombies always are teleported + other things
;----------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "-416 224 120"
		"targetname" "Level_Case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "Stage1_Tele_Big_ZM,Enable,,105,-1"
		"OnCase03" "Stage1_Tele_Big_ZM,Enable,,105,-1"
		"OnCase04" "Stage1_Tele_Big_ZM,Enable,,105,-1"
		"OnCase05" "Stage1_Tele_Big_ZM,Enable,,105,-1"

		"OnCase05" "item_teleporte_dest4,Kill,,0,-1"
		"OnCase05" "item_teleporte_dest5,Kill,,0,-1"
		"OnCase06" "item_teleporte_dest4,Kill,,0,-1"
		"OnCase06" "item_teleporte_dest5,Kill,,0,-1"

		"OnCase01" "item_teleporte_dest*,Kill,,106,-1"
		"OnCase02" "item_teleporte_dest*,Kill,,106,-1"
		"OnCase03" "item_teleporte_dest*,Kill,,106,-1"
		"OnCase04" "item_teleporte_dest*,Kill,,106,-1"
		"OnCase05" "item_teleporte_dest*,Kill,,106,-1"
		"OnCase06" "item_teleporte_dest*,Kill,,106,-1"
	}
}
;--------------------------------------------------------------------------------
; Fixes all music in the map so you can change it with music slider
;--------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "schusssound"
		"classname" "ambient_generic"
		"origin" "-280.001 699 412.217"
	}
	replace:
	{
		"message" "#weapons/m249/m249-1.wav"
	}
}
modify:
{
	match:
	{
		"origin" "-352 192 126"
		"targetname" "steam_message"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/steam_message.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-272 176 124"
		"targetname" "stage_zm_music"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/ffvii_9000miles.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-416 176 124"
		"targetname" "stage3_music1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/invincible.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-288 176 124"
		"targetname" "stage7_music2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/35.0a.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-1920 2968 -1976"
		"targetname" "soundLaser"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#npc/roller/blade_out.wav"
	}
}
modify:
{
	match:
	{
		"origin" "-432 176 124"
		"targetname" "stage2_music1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/ff12dragonrider2.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-448 176 124"
		"targetname" "stage1_music1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/biohazard.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-368 192 124"
		"targetname" "stage1_sound_fade"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ambient/machines/teleport1.wav"
	}
}
modify:
{
	match:
	{
		"origin" "5589 1938.04 -880"
		"targetname" "shotgun_sound"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#weapons/shotgun/shotgun_fire7.wav"
	}
}
modify:
{
	match:
	{
		"origin" "5572 1938.04 -880"
		"targetname" "shotgun_empty"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#weapons/shotgun/shotgun_empty.wav"
	}
}
modify:
{
	match:
	{
		"origin" "-1823.71 3126.33 -1976"
		"targetname" "victory"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/victory.wav"
	}
}
modify:
{
	match:
	{
		"origin" "-2002.9 -713 -769"
		"targetname" "tenseretard"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/tenseretard.wav"
	}
}
modify:
{
	match:
	{
		"origin" "5326.24 1921.04 -880"
		"targetname" "item_teleport_sound"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ambient/levels/labs/electric_explosion1.wav"
	}
}
modify:
{
	match:
	{
		"origin" "6589.5 2020 -868"
		"targetname" "item_laser_sound"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#npc/roller/blade_out.wav"
	}
}
modify:
{
	match:
	{
		"origin" "-304 176 124"
		"targetname" "stage7_music1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/38.0.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-320 176 124"
		"targetname" "stage6_music2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/level5_end_song (1).mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-336 176 124"
		"targetname" "stage6_music1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/tsfh_victory.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-352 176 124"
		"targetname" "stage5_music1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#allornothing.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-336 192 126"
		"targetname" "sephiroth"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/seph_onlythechosen.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-384 176 124"
		"targetname" "stage4_music1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/stage4_music1.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-368 176 124"
		"targetname" "stage4_music2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/ffvii_tempest.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-256 176 124"
		"targetname" "stage_zm_music2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/ffvii_rageawake2.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-320 192 126"
		"targetname" "nuke_sound"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ambient/explosions/citadel_end_explosion1.wav"
	}
}
modify:
{
	match:
	{
		"origin" "-400 176 124"
		"targetname" "stage3_music2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#custom/stage3_music2.mp3"
	}
}
modify:
{
	match:
	{
		"origin" "-104 8 304"
		"targetname" "ray_sound"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ambient/explosions/explode_7.wav"
	}
}
modify:
{
	match:
	{
		"origin" "-32 -384 248.938"
		"targetname" "jet ac"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#buttons/button14.wav"
	}
}
modify:
{
	match:
	{
		"origin" "-32 -384 252.119"
		"targetname" "jet z"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ambient/machines/gas_loop_1.wav"
	}
}