;--------------------------------
; FIX INCORRECT TARGETNAME USAGE
;--------------------------------
modify:
{
	match:
	{
		"hammerid" "34923"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,targetname ,0,-1"
	}
}

;------------------
; Fix nuke exploit
;------------------
add:
{
	"model" "*123"
	"targetname" "tls"
	"target" "tlsd"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-596 6959 1033"
	"classname" "trigger_teleport"
}

;---------------------------------------
; Prevent early trigger from secret way
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "eye_button"
		"classname" "func_button"
	}
	replace:
	{
		"spawnflags" "3073"
	}
}

modify:
{
	match:
	{
		"origin" "800 3433 515.5"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "command,Command,say +++ FINAL BUTTON IS UNLOCKED +++,35,1"
		"OnStartTouch" "eye_button,Unlock,,35,1"

	}
}

modify:
{
	match:
	{
		"origin" "416.5 3592 20.5"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "command,Command,say +++ FINAL BUTTON IS UNLOCKED +++,40,1"
		"OnStartTouch" "eye_button,Unlock,,40,1"
	}
}

;------------------------
; Filter secret teleport
;------------------------
modify:
{
	match:
	{
		"targetname" "secret_teleport"
		"classname" "trigger_teleport"
	}
	insert:
	{
		"filtername" "humans"
	}
}

;---------------------------------
; Fix not adjustable music volume
;---------------------------------
modify:
{
	match:
	{
		"message" "eye/eye_music.wav"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#eye/eye_music.wav"
	}
}

;------------------
; Reduce hold time
;------------------
modify:
{
	match:
	{
		"origin" "-736 96 0"
		"classname" "trigger_once"
		"hammerid" "1464"
	}
	delete:
	{
		"OnStartTouch" "door cis,Open,,100,1"
		"OnStartTouch" "command,Command,say +++ PREPARE YOUR DEFENSE AND DEFEND AT THIS ZONE +++,1,1"
		"OnStartTouch" "command,Command,say +++ THE DOOR IS OPENING IN 10 SECONDS  +++,90,1"
		"OnStartTouch" "command,Command,say +++ THE DOOR IS OPEN +++,100,1"
		"OnStartTouch" "command,Command,say +++ THE DOOR IS OPENING IN 100 SECONDS  +++,0,1"
		"OnStartTouch" "teleportzombie,Enable,,100,1"
		"OnStartTouch" "teleportzombie,Disable,,100.04,1"
		"OnStartTouch" "teleportsound,PlaySound,,100,1"
		"OnStartTouch" "jailbreak,Break,,117.5,1"
		"OnStartTouch" "command,Command,say +++ ZOMBIES ARE UNLEASHED IN 17 SECONDS +++,101,1"
		"OnStartTouch" "telefade,Fade,,99.7,1"
		"OnStartTouch" "teleportejas,Disable,,99,1"
		"OnStartTouch" "teleportafkjail,Enable,,100,1"
	}
	insert:
	{
		"OnStartTouch" "door cis,Open,,80,1"
		"OnStartTouch" "command,Command,say +++ PREPARE YOUR DEFENSE AND DEFEND AT THIS ZONE +++,1,1"
		"OnStartTouch" "command,Command,say +++ THE DOOR IS OPENING IN 10 SECONDS  +++,70,1"
		"OnStartTouch" "command,Command,say +++ THE DOOR IS OPEN +++,80,1"
		"OnStartTouch" "command,Command,say +++ THE DOOR IS OPENING IN 80 SECONDS  +++,0,1"
		"OnStartTouch" "teleportzombie,Enable,,80,1"
		"OnStartTouch" "teleportzombie,Disable,,80.04,1"
		"OnStartTouch" "teleportsound,PlaySound,,80,1"
		"OnStartTouch" "jailbreak,Break,,97.5,1"
		"OnStartTouch" "command,Command,say +++ ZOMBIES ARE UNLEASHED IN 17 SECONDS +++,81,1"
		"OnStartTouch" "telefade,Fade,,79.7,1"
		"OnStartTouch" "teleportejas,Disable,,79,1"
		"OnStartTouch" "teleportafkjail,Enable,,80,1"
	}
}

modify:
{
	match:
	{
		"origin" "-736 96 0"
		"classname" "trigger_once"
		"hammerid" "1464"
	}
	delete:
	{
		"OnStartTouch" "murospawn2,Break,,55,1"
	}
	insert:
	{
		"OnStartTouch" "murospawn2,Break,,45,1"
	}
}

modify:
{
	match:
	{
		"targetname" "eye_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "sound_music1,PlaySound,,0,-1"
		"OnHitMax" "command,Command,say ++ ACTIVATE THE EYE ++,0,-1"
		"OnHitMax" "sound_activate_the_eye,PlaySound,,0,-1"
		"OnHitMax" "escapedoor1,Open,,60,-1"
		"OnHitMax" "escapedoor2,Open,,61,-1"
		"OnHitMax" "escapedoor3,Open,,62,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOOR OPENING IN 50 SECONDS ++,10,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOOR OPENING IN 30 SECONDS ++,30,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOOR OPENING WITHIN 10 SECONDS ++,50,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOORS CLOSING!! ++,70,-1"
		"OnHitMax" "escapedoor1,Close,,70,-1"
		"OnHitMax" "escapedoor2,Close,,71,-1"
		"OnHitMax" "escapedoor3,Close,,72,-1"
		"OnHitMax" "eye_part1,Start,,6,-1"
		"OnHitMax" "eye_holder_1,Open,,4,-1"
		"OnHitMax" "eye_holder_2,Open,,4,-1"
		"OnHitMax" "eye_part2,Start,,36,-1"
		"OnHitMax" "eye_holder_3,Open,,35,-1"
		"OnHitMax" "eye_holder_4,Open,,35,-1"
		"OnHitMax" "sound_eye_scream1,PlaySound,,36,-1"
		"OnHitMax" "sound_eye_scream1,PlaySound,,5,-1"
		"OnHitMax" "eye_laser,TurnOn,,36.3,-1"
		"OnHitMax" "eye_laser,TurnOff,,37.3,-1"
		"OnHitMax" "eye_rockbreak1,Break,,37,-1"
		"OnHitMax" "eye_part1_sound,PlaySound,,6,-1"
		"OnHitMax" "eye_part2_sound,PlaySound,,36,-1"
		"OnHitMax" "eye_shake_1,StartShake,,6,-1"
		"OnHitMax" "eye_shake_2,StartShake,,36,-1"
		"OnHitMax" "eye_holder_5,Open,,80,-1"
		"OnHitMax" "eye_holder_6,Open,,80,-1"
		"OnHitMax" "sound_eye_scream1,PlaySound,,80,-1"
		"OnHitMax" "eye_part3,Start,,81,-1"
		"OnHitMax" "eye_part3_sound,PlaySound,,81,-1"
		"OnHitMax" "eye_shake_3,StartShake,,81,-1"
		"OnHitMax" "eye_laser2,TurnOn,,5,-1"
		"OnHitMax" "eye_laser2,TurnOff,,6.3,-1"
		"OnHitMax" "eye_rockbreak2,Break,,6,-1"
		"OnHitMax" "eye_button_spark,SparkOnce,,1,-1"
		"OnHitMax" "eye_button_laser,TurnOff,,3,-1"
		"OnHitMax" "eye_button_laser,TurnOn,,2,-1"
		"OnHitMax" "sound_eye_scream2,PlaySound,,85,-1"
		"OnHitMax" "sound_eye_scream1,PlaySound,,85,-1"
		"OnHitMax" "eye_laser4,TurnOn,,85,-1"
		"OnHitMax" "eye_fade,Fade,,85.3,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOOR IS OPEN!! ++,62,-1"
		"OnHitMax" "nuke_sound,PlaySound,,86,-1"
		"OnHitMax" "eye_rockbreak3,Break,,82,-1"
		"OnHitMax" "eye_laser3,TurnOn,,81,-1"
		"OnHitMax" "eye_laser3,TurnOff,,82,-1"
		"OnHitMax" "eye_the_nuke,Enable,,87,-1"
	}
	insert:
	{
		"OnHitMax" "sound_music1,PlaySound,,0,-1"
		"OnHitMax" "command,Command,say ++ ACTIVATE THE EYE ++,0,-1"
		"OnHitMax" "sound_activate_the_eye,PlaySound,,0,-1"
		"OnHitMax" "escapedoor1,Open,,50,-1"
		"OnHitMax" "escapedoor2,Open,,51,-1"
		"OnHitMax" "escapedoor3,Open,,52,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOOR OPENING IN 40 SECONDS ++,10,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOOR OPENING IN 20 SECONDS ++,30,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOOR OPENING WITHIN 10 SECONDS ++,40,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOORS CLOSING!! ++,60,-1"
		"OnHitMax" "escapedoor1,Close,,60,-1"
		"OnHitMax" "escapedoor2,Close,,61,-1"
		"OnHitMax" "escapedoor3,Close,,62,-1"
		"OnHitMax" "eye_part1,Start,,6,-1"
		"OnHitMax" "eye_holder_1,Open,,4,-1"
		"OnHitMax" "eye_holder_2,Open,,4,-1"
		"OnHitMax" "eye_part2,Start,,36,-1"
		"OnHitMax" "eye_holder_3,Open,,35,-1"
		"OnHitMax" "eye_holder_4,Open,,35,-1"
		"OnHitMax" "sound_eye_scream1,PlaySound,,36,-1"
		"OnHitMax" "sound_eye_scream1,PlaySound,,5,-1"
		"OnHitMax" "eye_laser,TurnOn,,36.3,-1"
		"OnHitMax" "eye_laser,TurnOff,,37.3,-1"
		"OnHitMax" "eye_rockbreak1,Break,,37,-1"
		"OnHitMax" "eye_part1_sound,PlaySound,,6,-1"
		"OnHitMax" "eye_part2_sound,PlaySound,,36,-1"
		"OnHitMax" "eye_shake_1,StartShake,,6,-1"
		"OnHitMax" "eye_shake_2,StartShake,,36,-1"
		"OnHitMax" "eye_holder_5,Open,,70,-1"
		"OnHitMax" "eye_holder_6,Open,,70,-1"
		"OnHitMax" "sound_eye_scream1,PlaySound,,70,-1"
		"OnHitMax" "eye_part3,Start,,71,-1"
		"OnHitMax" "eye_part3_sound,PlaySound,,71,-1"
		"OnHitMax" "eye_shake_3,StartShake,,81,-1"
		"OnHitMax" "eye_laser2,TurnOn,,5,-1"
		"OnHitMax" "eye_laser2,TurnOff,,6.3,-1"
		"OnHitMax" "eye_rockbreak2,Break,,6,-1"
		"OnHitMax" "eye_button_spark,SparkOnce,,1,-1"
		"OnHitMax" "eye_button_laser,TurnOff,,3,-1"
		"OnHitMax" "eye_button_laser,TurnOn,,2,-1"
		"OnHitMax" "sound_eye_scream2,PlaySound,,75,-1"
		"OnHitMax" "sound_eye_scream1,PlaySound,,75,-1"
		"OnHitMax" "eye_laser4,TurnOn,,75,-1"
		"OnHitMax" "eye_fade,Fade,,75.3,-1"
		"OnHitMax" "command,Command,say ++ ESCAPE DOOR IS OPEN!! ++,52,-1"
		"OnHitMax" "nuke_sound,PlaySound,,76,-1"
		"OnHitMax" "eye_rockbreak3,Break,,72,-1"
		"OnHitMax" "eye_laser3,TurnOn,,71,-1"
		"OnHitMax" "eye_laser3,TurnOff,,72,-1"
		"OnHitMax" "eye_the_nuke,Enable,,77,-1"
	}
}