; Tells stripper message
modify:
{
	match:
	{
		"origin" "160 96 -264"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmd,Command,say *** Stripper 4 loaded ***,4,-1"
	}
}

; Removes all env_fire entities
filter:
{
	"classname" "env_fire"
}

; Creates hammerids for heal item
modify:
{
	match:
	{
		"targetname" "heal_elite"
		"origin" "-2891 3987 -694"
		"classname" "weapon_elite"
	}
	insert:
	{
		"hammerid" "202206"
	}
}

; Creates hammerids for gravity item
modify:
{
	match:
	{
		"targetname" "pyramid_gravity_elite"
		"origin" "-2233.1 3984 -704"
		"classname" "weapon_elite"
	}
	insert:
	{
		"hammerid" "2432453"
	}
}

; Increase dps done by boss hitbox
modify:
{
	match:
	{
		"targetname" "Arachnoid_boss_hurt"
		"origin" "-8060.18 8516 -1606.35"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagecap" "9999"
		"damage" "60"
	}
}

; Kills math counters after boss dies - to fix bosshud
modify:
{
	match:
	{
		"targetname" "Noctali_Boss_Physbox"
		"origin" "-8059.19 8507.95 -1602.94"
		"classname" "func_physbox_multiplayer"
	}
	insert:
	{
		"OnBreak" "boss_hp_counter,kill,,2,1"
		"OnBreak" "boss_hp_backup,kill,,2,1"
	}
}

; Increase damage done by hard trigger at final area to insta kill
modify:
{
	match:
	{
		"origin" "-9760 -5376 -1280"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagecap" "99999"
		"damage" "99999"
	}
}

; Adds a shadow_controller to disable all shadows
add:
{
	"classname" "shadow_control"
	"origin" "128 128 -264"
	"targetname" "shadowcontrol"
	"disableallshadows" "1"
	"distance" "0"
	"color" "128 128 128"
}

; Message to fall back at minigame part
modify:
{
	match:
	{
		"origin" "-12395.6 5920 -2024"
		"targetname" "lever_5_btn"
	}
	insert:
	{
		"OnPressed" "cmd,Command,say *** FALL BACK - GO GO GO ***,0,1"
	}
}

; Fix gravity item
modify:
{
	match:
	{
		"targetname" "pyramid_gravity_trigger"
		"origin" "-2476 3976 -632.92"
	}
	delete:
	{
		"OnTrigger" "player_speedmod,ModifySpeed,1.1,7,-1"
		"OnTrigger" "player_speedmod,ModifySpeed,0.2,0.01,-1"
	}
	insert:
	{
		"OnStartTouch" "player_speedmod,ModifySpeed,1.1,7,-1"
		"OnStartTouch" "player_speedmod,ModifySpeed,0.2,0.01,-1"
	}
	replace:
	{
		"wait" "0.1"
	}
}

; adds more hp to pshybox 1
modify:
{
	match:
	{
		"targetname" "Noctali_Boss_Physbox"
		"origin" "-8059.19 8507.95 -1602.94"
	}
	replace:
	{
		"health" "9999999999"
	}
}

; adds more hp to pshybox 2
modify:
{
	match:
	{
		"targetname" "Noctali_Boss_Break"
		"origin" "-8064 8519.94 -1600"
	}
	replace:
	{
		"health" "9999999999"
	}
}
; trying to fix the crash on stage 2

modify:
{
	match:
	{
		"targetname" "lever_1_btn"
		"classname" "func_button"	
	}
	insert:
	{
			"OnPressed" "lever_1,Kill,,3,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lever_2_btn"
		"classname" "func_button"	
	}
	insert:
	{
		"OnPressed" "lever_2,Kill,,3,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lever_3_btn"
		"classname" "func_button"	
	}
	insert:
	{
		"OnPressed" "lever_3,Kill,,3,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lever_4_btn"
		"classname" "func_button"	
	}
	insert:
	{
		"OnPressed" "lever_4,Kill,,3,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lever_5_btn"
		"classname" "func_button"	
	}
	insert:
	{
		"OnPressed" "lever_5,Kill,,3,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lever_6_btn"
		"classname" "func_button"	
	}
	insert:
	{
		"OnPressed" "lever_6,Kill,,3,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lever_7_btn"
		"classname" "func_button"	
	}
	insert:
	{
		"OnPressed" "lever_7,Kill,,3,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lever_8_btn"
		"classname" "func_button"	
	}
	insert:
	{
		"OnPressed" "lever_8,Kill,,3,1"
	}
}
modify:
{
	match:
	{
		"targetname" "first_door_hard"
		"classname" "trigger_once"	
	}
	insert:
	{
		"OnStartTouch" "constuction,kill,,40,-1"
		"OnStartTouch" "spider02_template,ForceSpawn,,27.5,1"
		"OnStartTouch" "spider01_template,ForceSpawn,,27.5,1"
	}
	delete:
	{
		"OnStartTouch" "spider02_template,ForceSpawn,,27.5,-1"
		"OnStartTouch" "spider01_template,ForceSpawn,,27.5,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "lvl_hard"
		"classname" "trigger_once"	
	}
	insert:
	{
		"OnStartTouch" "spider1_template,ForceSpawn,,0.6,1"
		"OnStartTouch" "spider2_template,ForceSpawn,,0.6,1"
		"OnStartTouch" "spider2_train*,StartForward,,0.62,1"
		"OnStartTouch" "spider1_train*,StartForward,,0.62,1"
	}
	delete:
	{
		"OnStartTouch" "spider1_template,ForceSpawn,,0.6,-1"
		"OnStartTouch" "spider2_template,ForceSpawn,,0.6,-1"
	}
}
modify:
{
   	match:
	{
		"targetname" "boss_hp_iterations"
		"classname" "math_counter"
		"hammerid" "7011"	
	}
	insert:
	{
		"OnHitMin" "boss_hp,Kill,,0,-1"
		"OnHitMin" "Boss_Nade,Kill,,0,-1"
		"OnHitMin" "Arachnoid_boss,Kill,,8,-1"
		"OnHitMin" "attack1_teleport_back,Enable,,0,-1"
		"OnHitMin" "attack1_teleport_back,kill,,0.05,-1"
		"OnHitMin" "boss_hp_hard,kill,,0,-1"
		"OnHitMin" "Noctali_Boss*,kill,,0,-1"
		"OnHitMin" "Boss_NadeExp,kill,,0,-1"
		"OnHitMin" "zm_attack,kill,,9,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "lvl_2"
		"classname" "logic_relay"
		"hammerid" "8207"	
	}
	insert:
	{
		"OnTrigger" "zombie_gravity_maker,ForceSpawn,,0,1"
		"OnTrigger" "zombie_speed_maker,ForceSpawn,,0,1"
		"OnTrigger" "zombie_push_maker,ForceSpawn,,0,1"
		"OnTrigger" "wall_template,ForceSpawn,,0,1"
		"OnTrigger" "constuction_template,ForceSpawn,,0,1"
	}
	delete:
	{
		"OnTrigger" "zombie_gravity_maker,ForceSpawn,,0,-1"
		"OnTrigger" "zombie_speed_maker,ForceSpawn,,0,-1"
		"OnTrigger" "zombie_push_maker,ForceSpawn,,0,-1"
		"OnTrigger" "wall_template,ForceSpawn,,0,-1"
		"OnTrigger" "constuction_template,ForceSpawn,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "lvl_2"
		"classname" "logic_relay"
		"hammerid" "8207"	
	}
	insert:
	{
		"OnTrigger" "zombie_gravity_maker,ForceSpawn,,0,1"
		"OnTrigger" "zombie_speed_maker,ForceSpawn,,0,1"
		"OnTrigger" "zombie_push_maker,ForceSpawn,,0,1"
		"OnTrigger" "wall_template,ForceSpawn,,0,1"
		"OnTrigger" "constuction_template,ForceSpawn,,0,1"
	}
	delete:
	{
		"OnTrigger" "zombie_gravity_maker,ForceSpawn,,0,-1"
		"OnTrigger" "zombie_speed_maker,ForceSpawn,,0,-1"
		"OnTrigger" "zombie_push_maker,ForceSpawn,,0,-1"
		"OnTrigger" "wall_template,ForceSpawn,,0,-1"
		"OnTrigger" "constuction_template,ForceSpawn,,0,-1"
	}
}
filter:
{
	"origin" "-3282 4550 -750"
	"classname" "trigger_once"
	"hammerid" "8190"
}
add:
{
	"targetname" "level_hard_start"
	"model" "*125"
	"StartDisabled" "0"
	"spawnflags" "8"
	"origin" "-3282 4550 -750"
	"angles" "0 0 0"
	"classname" "trigger_once"
	"OnStartTouch" "lvl_2,Trigger,,0,1"
	"OnStartTouch" "cmd,Command,say *** level: HARD***,3,-1"
}

;fixing door that can be stuck by players
modify:
{
	match:
	{
		"targetname" "door_*"
		"classname" "func_door"
	}
	replace:
	{
		"forceclosed" "1"
		"ignoredebris" "1"
	}
}

;fixing the hp to Boss
filter:
{
	"origin" "-8064 8512 -1560"
	"classname" "trigger_multiple"
	"hammerid" "8726"
}
filter:
{
	"origin" "-8064 8512 -1560"
	"classname" "trigger_multiple"
	"hammerid" "7537"
}
add:
{
	"model" "*77"
	"targetname" "boss_hp"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-8064 8512 -1560"
	"filtername" "filter_human"
	"angles" "0 0 0"
	"classname" "trigger_once"
	"OnStartTouch" "boss_hp_counter,Add,80,0,-1"
	"OnStartTouch" "boss_hp_backup,Add,80,0,-1"
	"OnStartTouch" "boss_hp_backup,AddOutput,OutValue boss_hp_counter:Add::0.00:-1,1,1"
}
add:
{
	"model" "*77"
	"targetname" "boss_hp_hard"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-8064 8512 -1560"
	"filtername" "filter_human"
	"angles" "0 0 0"
	"classname" "trigger_once"
	"OnStartTouch" "boss_hp_counter,Add,110,0,-1"
	"OnStartTouch" "boss_hp_backup,Add,110,0,-1"
	"OnStartTouch" "boss_hp_backup,AddOutput,OutValue boss_hp_counter:Add::0.00:-1,1,1"
}
modify:
{
	match:
	{
		"targetname" "boss_start_easy"
		"classname" "logic_relay"
		"hammerid" "7612"
	}
	insert:
	{
		"OnTrigger" "boss_hp,Enable,,3.5,-1"
	}
	delete:
	{
		"OnTrigger" "boss_hp,Enable,,0,-1"
		"OnTrigger" "boss_hp,Disable,,4,-1"
	}	
}
modify:
{
	match:
	{
		"targetname" "boss_start_hard"
		"classname" "logic_relay"
		"hammerid" "8725"
	}
	insert:
	{
		"OnTrigger" "boss_hp_hard,Enable,,3.5,-1"
	}
	delete:
	{
		"OnTrigger" "boss_hp_hard,Enable,,0,-1"
		"OnTrigger" "boss_hp_hard,Disable,,4,-1"
	}
}