;----------------------
; Stripper by .Rushaway
;----------------------------------------
; Fix random teleports destination logic
;----------------------------------------
filter:
{
    "targetname" "trainStationEntranceTP"
    "classname" "info_teleport_destination"
}

add:
{
    "origin" "2656 -4704 952"
    "targetname" "point_teleport_stripperfix"
    "classname" "logic_case"
    "OnCase01" "fix_tp_1,Teleport,,0,-1"
    "OnCase02" "fix_tp_2,Teleport,,0,-1"
    "OnCase03" "fix_tp_3,Teleport,,0,-1"
    "OnCase04" "fix_tp_4,Teleport,,0,-1"
}

add:
{
	"origin" "-790.07 3441 285"
	"targetname" "fix_tp_1"
	"target" "!activator"
	"spawnflags" "0"
	"angles" "0 0 0"
	"classname" "point_teleport"
}

add:
{
	"origin" "-474 3441 285"
	"targetname" "fix_tp_2"
	"target" "!activator"
	"spawnflags" "0"
	"angles" "0 0 0"
	"classname" "point_teleport"
}

add:
{
    "origin" "-155 3439 285"
	"targetname" "fix_tp_3"
	"target" "!activator"
	"spawnflags" "0"
	"angles" "0 0 0"
	"classname" "point_teleport"
}

add:
{
    "origin" "143 3441 285"
	"targetname" "fix_tp_4"
	"target" "!activator"
	"spawnflags" "0"
	"angles" "0 0 0"
	"classname" "point_teleport"
}

;---------------------
; Rework AFK TP system
;---------------------
; 1st part: spawn to breakable boxes before boat
; 2snd part: breakable boxes before boat to truck
; 3rd part: truck to train station (using trigger_multiple for the random teleport dest)
; Then let original map handle the rest of the teleporting

; Remove old teleport trigger
filter:
{
    "origin" "2416.5 15644.5 736.97"
    "classname" "trigger_teleport"
    "hammerid" "375428"
}

filter:
{
    "origin" "2416.5 14394.5 732"
    "classname" "trigger_teleport"
    "hammerid" "375483"
}

; Part 1:
modify:
{
    match:
    {
        "origin" "4523 10415.5 812.5"
        "classname" "trigger_once"
        "hammerid" "610407"
    }
    insert:
    {
        "OnStartTouch" "spawnTeleport,Enable,,7,1"
    }
}

add:
{
    "origin" "4152 13976 765"
    "targetname" "1stTeleportDest"
    "angles" "0 270 0"
    "classname" "info_teleport_destination"
    "hammerid" "999901"
}

add:
{
    "model" "*187"
    "targetname" "spawnTeleport"
    "target" "1stTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "2416.5 15644.5 736.97"
    "classname" "trigger_teleport"
    "hammerid" "999902"
}

add:
{
    "model" "*188"
    "targetname" "spawnTeleport"
    "target" "1stTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "5483.99 15028 688"
    "classname" "trigger_teleport"
    "hammerid" "999903"
}

add:
{
    "model" "*189"
    "targetname" "spawnTeleport"
    "target" "1stTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "7259 14207.5 688"
    "classname" "trigger_teleport"
    "hammerid" "999904"
}

add:
{
    "model" "*190"
    "targetname" "spawnTeleport"
    "target" "1stTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "6935 12390.5 688"
    "classname" "trigger_teleport"
    "hammerid" "999905"
}

add:
{
    "model" "*191"
    "targetname" "spawnTeleport"
    "target" "1stTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "6153.5 11086.5 688"
    "classname" "trigger_teleport"
    "hammerid" "999906"
}

add:
{
    "model" "*192"
    "targetname" "spawnTeleport"
    "target" "1stTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "5859 12732 688"
    "classname" "trigger_teleport"
    "hammerid" "999907"
}

add:
{
    "model" "*193"
    "targetname" "spawnTeleport"
    "target" "1stTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "5354.5 13889 688"
    "classname" "trigger_teleport"
    "hammerid" "999908"
}

; Part 2:
modify:
{
    match:
    {
        "origin" "-2552 8384 712"
        "targetname" "Road3"
        "classname" "path_track"
        "hammerid" "27219"
    }
    insert:
    {
        "OnPass" "afkBoatTeleport,Enable,,0,-1"
        "OnPass" "servercommand,Command,say AFK teleport advanced!,0,-1"
    }
}

add:
{
    "origin" "368 8784 749"
    "targetname" "2ndTeleportDest"
    "angles" "0 270 0"
    "classname" "info_teleport_destination"
    "hammerid" "999909"
}

add:
{
    "model" "*194"
    "targetname" "afkBoatTeleport"
    "target" "2ndTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "4560 13849.5 688"
    "classname" "trigger_teleport"
    "hammerid" "999910"
}

add:
{
    "model" "*195"
    "targetname" "afkBoatTeleport"
    "target" "2ndTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "4523 11294.5 688"
    "classname" "trigger_teleport"
    "hammerid" "999911"
}

add:
{
    "model" "*196"
    "targetname" "afkBoatTeleport"
    "target" "2ndTeleportDest"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "2176 9376 688"
    "classname" "trigger_teleport"
    "hammerid" "999912"
}

; Part 3:
modify:
{
    match:
    {
        "origin" "-326 1284 313"
        "classname" "func_button"
        "hammerid" "24379"
    }
    delete:
    {
        "OnPressed" "servercommand,Command,say The teleporters at the spawn area are now working!,15,0"
    }
    insert:
    {
        "OnPressed" "servercommand,Command,say AFK teleport advanced!,15,0"
        "OnPressed" "afkTruckTeleport,Enable,,10,-1"
    }
}

; Re-use original map teleport destion to train station
; "trainStationEntranceTP"

add:
{
    "model" "*197"
    "targetname" "afkTruckTeleport"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "448 8506.5 688"
    "classname" "trigger_teleport"
    "hammerid" "999913"
    "OnStartTouch" "point_teleport_stripperfix,PickRandom,,0,-1"
}

add:
{
    "model" "*198"
    "targetname" "afkTruckTeleport"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "-1344 8319 876"
    "classname" "trigger_teleport"
    "hammerid" "999914"
    "OnStartTouch" "point_teleport_stripperfix,PickRandom,,0,-1"
}

add:
{
    "model" "*199"
    "targetname" "afkTruckTeleport"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "-2688 7254 876"
    "classname" "trigger_teleport"
    "hammerid" "999915"
    "OnStartTouch" "point_teleport_stripperfix,PickRandom,,0,-1"
}

add:
{
    "model" "*200"
    "targetname" "afkTruckTeleport"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "-1006.5 6487.5 876"
    "classname" "trigger_teleport"
    "hammerid" "999916"
    "OnStartTouch" "point_teleport_stripperfix,PickRandom,,0,-1"
}

add:
{
    "model" "*201"
    "targetname" "afkTruckTeleport"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "-255 5780 876"
    "classname" "trigger_teleport"
    "hammerid" "999917"
    "OnStartTouch" "point_teleport_stripperfix,PickRandom,,0,-1"
}

add:
{
    "model" "*202"
    "targetname" "afkTruckTeleport"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "-322.5 4992 608.63"
    "classname" "trigger_multiple"
    "hammerid" "999918"
    "OnStartTouch" "point_teleport_stripperfix,PickRandom,,0,-1"
}

;-----------------------------
; Warn about zombies shortcut
;-----------------------------
modify:
{
    match:
    {
        "origin" "-112 6624 712"
        "targetname" "Road12"
        "classname" "path_track"
        "hammerid" "27267"
    }
    insert:
    {
        "OnPass" "servercommand,Command,say Zombies shortcut is now open!,0,-1"
    }
}
