;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 29.01.2024

;---------------------------------------
;Fix Ifrit broken function
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "ifrit_math"
		"classname" "math_counter"
	}
	insert:
	{
		"OnHitMin" "Bergan2_body_phys,SetDamageFilter,ct,0,-1"
	}
}
;---------------------------------------
;Nerf ladder part on stage 2
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "2path_cloud_20"
		"classname" "path_track"
	}
	delete:
	{
		"OnPass" "cloud_model,FireUser1,,17,1"
		"OnPass" "cloud_train,StartForward,,17,1"
		"OnPass" "cmd,Command,say **[CLOUD] Hold here for 15 seconds!**,0,1"
		"OnPass" "cloud_model,FireUser2,,0,1"
		"OnPass" "cloud_train,Stop,,0,1"
		"OnPass" "Stage2_door_003,Open,,15,1"
		"OnPass" "cmd,Command,say **[CLOUD] Wait here! We don't know what waiting downstairs**,15,1"
	}
	insert:
	{
		"OnPass" "cloud_model,FireUser1,,6,1"
		"OnPass" "cloud_train,StartForward,,6,1"
		"OnPass" "cmd,Command,say **[CLOUD] Hold here for 5 seconds!**,0,1"
		"OnPass" "cloud_model,FireUser2,,0,1"
		"OnPass" "cloud_train,Stop,,0,1"
		"OnPass" "Stage2_door_003,Open,,5,1"
		"OnPass" "cmd,Command,say **[CLOUD] Wait here! We don't know what waiting downstairs**,5,1"
	}
}
;---------------------------------------
;Boost subtract hp after ct die on lasers
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "laser_up_trigger"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,15,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_midle_trigger"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,15,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_down_trigger"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,15,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt1"
		"hammerid" "474092"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt1"
		"hammerid" "474101"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt1"
		"hammerid" "474116"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt1"
		"hammerid" "474128"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt"
		"hammerid" "474095"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt"
		"hammerid" "474110"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt"
		"hammerid" "474125"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt"
		"hammerid" "474939"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt"
		"hammerid" "474951"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt"
		"hammerid" "474957"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "laser_up_h_hurt"
		"hammerid" "474963"
	}
	delete:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,18,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Sephiroth_HP,Subtract,50,0,-1"
	}
}
;---------------------------------------
;Disable bhop during sephiroth fight
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "2path_cloud_50"
		"hammerid" "412140"
	}
	insert:
	{
		"OnPass" "cmd,Command,sv_enablebunnyhopping 0,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "2path_cloud_59"
		"hammerid" "390544"
	}
	insert:
	{
		"OnPass" "cmd,Command,sv_enablebunnyhopping 1,0,1"
	}
}

;fix music volume not being adjustable
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - end credits.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - end credits.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/blue stahli - superhero showdown new.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/blue stahli - superhero showdown new.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/lost_forever new.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/lost_forever new.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/voicians - wolves 49.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/voicians - wolves 49.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/zardonic - antihero (voicians remix).mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/zardonic - antihero (voicians remix).mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - prelude.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - prelude.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - the forested temple old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - the forested temple old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - who am i old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - who am i old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - those chosen by the planet old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - those chosen by the planet old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - on the verge of assault old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - on the verge of assault old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - j-e-n-o-v-a old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - j-e-n-o-v-a old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - closed off village.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - closed off village.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - the skyscraper of iron and steel new.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - the skyscraper of iron and steel new.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii_battle_themev2.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii_battle_themev2.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii_boss_theme_1.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii_boss_theme_1.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - those who fight old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - those who fight old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/epic score - enraged old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/epic score - enraged old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/epic score - drop the hammer old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/epic score - drop the hammer old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/epic score - rage from within old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/epic score - rage from within old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/epic score - prison riot old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/epic score - prison riot old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - let the battles begin! new.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - let the battles begin! new.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - still more fighting new.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - still more fighting new.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/audiomachine - death mask_old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/audiomachine - death mask_old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ghotic storm - rage old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ghotic storm - rage old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/the qemists - anger old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/the qemists - anger old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/cliff lin - total annihilation old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/cliff lin - total annihilation old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/theqemists - no more new.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/theqemists - no more new.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/pendulum - the island old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/pendulum - the island old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - the world's enemy (sephiroth theme) old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - the world's enemy (sephiroth theme) old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/fairy tail - tai ma gekisen old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/fairy tail - tai ma gekisen old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/pendulum - painkiller old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/pendulum - painkiller old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/pendulum - showdown old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/pendulum - showdown old.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - the planet has become my guardian.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - the planet has become my guardian.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - chaotic battlefield.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - chaotic battlefield.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - victory fanfare_v2.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - victory fanfare_v2.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "malgo/music/temple_ancient_remake/music/ffvii - still more fighting remake old.mp3"
	}
	replace:
	{
		"message" "#malgo/music/temple_ancient_remake/music/ffvii - still more fighting remake old.mp3"
	}
}