modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_three_49"
		"origin" "-140.72 -6968 12608.7"
		"model" "*52"
		"hammerid" "2477115"
	}
	replace:
	{
		"damage" "80"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_three_17"
		"origin" "87.16 -6968 12604.1"
		"model" "*54"
		"hammerid" "2477039"
	}
	replace:
	{
		"damage" "80"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_three_57"
		"origin" "441 -6607 12432"
		"model" "*57"
		"hammerid" "2485655"
	}
	replace:
	{
		"damage" "30"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_two_29"
		"origin" "159.1 -6450 12641.2"
		"model" "*71"
		"hammerid" "2022164"
	}
	replace:
	{
		"damage" "28"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_two_11"
		"origin" "36 -6932 12394"
		"model" "*73"
		"hammerid" "1994254"
	}
	replace:
	{
		"damage" "45"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_two_16"
		"origin" "-104 -6914.73 12619.5"
		"model" "*75"
		"hammerid" "1994335"
	}
	replace:
	{
		"damage" "60"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "BossBallHurt2"
		"origin" "-32.5 -6912.1 12489"
		"model" "*77"
		"hammerid" "1947586"
	}
	replace:
	{
		"damage" "24"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_one_18"
		"origin" "-152 -6980 11976"
		"model" "*86"
		"hammerid" "1736582"
	}
	replace:
	{
		"damage" "40"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_3_normal_boss_5"
		"origin" "294.6 -13648 252"
		"model" "*112"
		"hammerid" "1561848"
	}
	replace:
	{
		"damage" "35"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_3_normal_boss_8"
		"origin" "294.53 -13488 252"
		"model" "*113"
		"hammerid" "1563847"
	}
	replace:
	{
		"damage" "35"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_3_normal_boss_32"
		"origin" "-112 -13568 230"
		"model" "*115"
		"hammerid" "1568920"
	}
	replace:
	{
		"damage" "60"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_1_ex_boss_41"
		"origin" "-9218 -7192 -594"
		"model" "*118"
		"hammerid" "1535204"
	}
	replace:
	{
		"damage" "80"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_2_ex_boss_13"
		"origin" "4988 -6808 388"
		"model" "*123"
		"hammerid" "1338698"
	}
	replace:
	{
		"damage" "90"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_2_ex_boss_4"
		"origin" "6016 -6696 308"
		"model" "*128"
		"hammerid" "1338978"
	}
	replace:
	{
		"damage" "25"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_2_ex_boss_11"
		"origin" "5164 -6808 368"
		"model" "*131"
		"hammerid" "1339064"
	}
	replace:
	{
		"damage" "90"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "pencil_target"
		"origin" "-9733 -7204 354.5"
		"model" "*163"
		"hammerid" "494996"
	}
	replace:
	{
		"damage" "40"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage2_bossarm2hurt"
		"origin" "5068 -6726 7"
		"model" "*169"
		"hammerid" "900566"
	}
	replace:
	{
		"damage" "40"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_2_ex_boss_2"
		"origin" "5056 -6752 352"
		"model" "*184"
		"hammerid" "3403915"
	}
	replace:
	{
		"damage" "60"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_pad_4"
		"origin" "-1872 -6912 12374"
		"model" "*262"
		"hammerid" "2994760"
	}
	replace:
	{
		"damage" "20"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_pad_4"
		"origin" "1808 -6912 12374"
		"model" "*263"
		"hammerid" "2994836"
	}
	replace:
	{
		"damage" "60"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_one_54"
		"origin" "-32 -6912 12560"
		"model" "*309"
		"hammerid" "2682305"
	}
	replace:
	{
		"damage" "60"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_three_12"
		"origin" "33 -7013.55 12468.2"
		"model" "*320"
		"hammerid" "2374940"
	}
	replace:
	{
		"damage" "35"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_three_23"
		"origin" "-58 -7385.18 12426.8"
		"model" "*321"
		"hammerid" "2375235"
	}
	replace:
	{
		"damage" "35"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_three_24"
		"origin" "-6 -7385.18 12426.8"
		"model" "*322"
		"hammerid" "2375238"
	}
	replace:
	{
		"damage" "35"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_three_39"
		"origin" "-240 -6736 12432"
		"model" "*325"
		"hammerid" "2382418"
	}
	replace:
	{
		"damage" "40"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_three_44"
		"origin" "-32 -7687.85 12378.2"
		"model" "*326"
		"hammerid" "2383322"
	}
	replace:
	{
		"damage" "40"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_one_11"
		"origin" "88 -7000 12842"
		"model" "*362"
		"hammerid" "1733664"
	}
	replace:
	{
		"damage" "120"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "final_boss_phase_one_22"
		"origin" "-32 -7687.85 12434.6"
		"model" "*367"
		"hammerid" "1737938"
	}
	replace:
	{
		"damage" "120"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_1_ex_boss_7"
		"origin" "-9728 -7232 -641"
		"model" "*382"
		"hammerid" "1510958"
	}
	replace:
	{
		"damage" "40"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_1_ex_boss_27"
		"origin" "-9942 -7172 -478"
		"model" "*386"
		"hammerid" "1518053"
	}
	replace:
	{
		"damage" "60"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage_1_ex_boss_44"
		"origin" "-9942 -7296 -478"
		"model" "*389"
		"hammerid" "1518354"
	}
	replace:
	{
		"damage" "60"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "pencil_hurt3"
		"origin" "-9728 -7232 -604"
		"model" "*608"
		"hammerid" "494730"
	}
	replace:
	{
		"damage" "60"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage2_bossarm1hurt"
		"origin" "5105.24 -6777 370.85"
		"model" "*642"
		"hammerid" "882149"
	}
	replace:
	{
		"damage" "100"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "stage2_eyehurt"
		"origin" "5305 -6748 319"
		"model" "*643"
		"hammerid" "902259"
	}
	replace:
	{
		"damage" "40"
	}
}


;-----------------------------------------------------------------------------
; Fixes a place for where the wall item can jump to next part of map
;-----------------------------------------------------------------------------
add:
{
	"model" "*569"
	"targetname" "fix_wall_jump"
	"target" "stage1_dest4"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-4096 -456 8"
	"classname" "trigger_teleport"
}
add:
{
	"model" "*569"
	"targetname" "fix_wall_jump"
	"target" "stage1_dest4"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-4096 40 8"
	"classname" "trigger_teleport"
}
add:
{
	"model" "*569"
	"targetname" "fix_wall_jump"
	"target" "stage1_dest4"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-4096 264 8"
	"classname" "trigger_teleport"
}
modify: 
{
	match:
	{
		"classname" "func_button"
		"targetname" "stage1_break4"
		"origin" "-3948 672 -44"
		"model" "*557"
	}
	insert:
	{
		"OnPressed" "fix_wall_jump,Kill,,25,1"
	}
}

;fix electro item showing incorrect fuel for entwatch
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "item_electric9"
	}
	replace:
	{
		"max" "10"
	}
}

;add one more use to heal on stage 5
modify:
{
	match:
	{
		"targetname" "stage_3_relay_ext"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "item_healmaker,AddOutput,OnEntitySpawned cmd:command:sm_ewsetmode 325974 4 20 2 1:0:-1,0,-1"
		"OnTrigger" "heal_filter,AddOutput,OnPass cmd:command:sm_setcooldown 325974 5:0:-1,0,-1"
	}
}

;delete heal message since heal
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "item_heal1"
	}
	delete:
	{
		"OnPlayerPickup" "cmd,Command,say *** It has 1 use ***,1,1"
	}
}
