;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 04.10.2024 (thanks you koen for help)

;---------------------------------------
;Enable ggeasy & ggeasy extreme relay
;---------------------------------------

modify:
{
	match:
	{
		"targetname" "ggeasy_start_relay"
		"classname" "logic_relay"
	}
	replace:
	{
		"StartDisabled" "0"
	}
}
modify:
{
	match:
	{
		"targetname" "ggeasy_ex_start_relay"
		"classname" "logic_relay"
	}
	replace:
	{
		"StartDisabled" "0"
	}
}
;---------------------------------------
;Nerf GGEASY & GGEASY EXTREME LASER TIMER
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "ggeasy_start_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Sephiroth_Final_RMZS_Timer,LowerRandomBound,1.10,0.08,-1"
		"OnTrigger" "Sephiroth_Final_RMZS_Timer,UpperRandomBound,1.50,0.08,-1"
	}
	insert:
	{
		"OnTrigger" "Sephiroth_Final_RMZS_Timer,LowerRandomBound,2.20,0.08,-1"
		"OnTrigger" "Sephiroth_Final_RMZS_Timer,UpperRandomBound,2.35,0.08,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "ggeasy_ex_start_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Sephiroth_Final_RMZS_Timer,UpperRandomBound,1.35,0.08,-1"
		"OnTrigger" "Sephiroth_Final_RMZS_Timer,LowerRandomBound,1.03,0.08,-1"
	}
	insert:
	{
		"OnTrigger" "Sephiroth_Final_RMZS_Timer,UpperRandomBound,2.30,0.08,-1"
		"OnTrigger" "Sephiroth_Final_RMZS_Timer,LowerRandomBound,2.10,0.08,-1"
	}
}

;---------------------------------------
;Change origin of ggeasy extreme finish line
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "ggeasy_finish_line"
		"classname" "func_movelinear"
	}
	replace:
	{
	"movedistance" "350"
	}
}

;---------------------------------------
;Change Bahamut Boss HP on each stage
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Zombieden_Start_Relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounterBackUp:Add:9:0.00:0,5,-1"
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounter:Add:9:0.00:0,5,-1"
	}
	insert:
	{
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounterBackUp:Add:8:0.00:0,5,-1"
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounter:Add:8:0.00:0,5,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "hellz_Start_Relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounter:Add:12:0.00:0,5,-1"
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounterBackUp:Add:12:0.00:0,5,-1"
	}
	insert:
	{
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounter:Add:10:0.00:0,5,-1"
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounterBackUp:Add:10:0.00:0,5,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "rmzs_Start_Relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounterBackUp:Add:15:0.00:0,5,-1"
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounter:Add:15:0.00:0,5,-1"
	}
	insert:
	{
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounterBackUp:Add:12:0.00:0,5,-1"
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounter:Add:12:0.00:0,5,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "zeddys_Start_Relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounterBackUp:Add:12:0.00:0,5,-1"
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounter:Add:12:0.00:0,5,-1"
	}
	insert:
	{
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounterBackUp:Add:9:0.00:0,5,-1"
		"OnSpawn" "Boss_HPCounter_Trigger,AddOutput,OnStartTouch HPCounter:Add:9:0.00:0,5,-1"
	}
}

;---------------------------------------
;Fix Bio Materia Fade
;---------------------------------------
filter:
{
	"targetname" "Fade_Bio"
	"classname" "env_fade"
	"origin" "5384 3187 -5001"
}

;---------------------------------------
;Delay AFK Teleports
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Reactor_button_003"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "reactor_door_004,Close,,0,-1"
		"OnPressed" "Light_sprite_cyan*,Kill,,0,-1"
		"OnPressed" "Light_sprite_orange*,Kill,,0,-1"
		"OnPressed" "Teleport_AFK_004,Enable,,0,-1"
	}
	insert:
	{
		"OnPressed" "reactor_door_004,Close,,5,-1"
		"OnPressed" "Light_sprite_cyan*,Kill,,5,-1"
		"OnPressed" "Light_sprite_orange*,Kill,,5,-1"
		"OnPressed" "Teleport_AFK_004,Enable,,7,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Final_Fulgor_Bahamut_Breakable"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "Teleport_AFK_009,Enable,,6,-1"
		"OnBreak" "Light_sprite_orange*,Kill,,6,-1"
		"OnBreak" "Light_sprite_cyan*,Kill,,6,-1"
		"OnBreak" "Light_cyan*,TurnOff,,6,-1"
		"OnBreak" "Light_orange*,TurnOff,,6,-1"
		"OnBreak" "Light_orange*,Kill,,6.05,-1"
		"OnBreak" "Light_cyan*,Kill,,6.05,-1"
	}
	insert:
	{
		"OnBreak" "Teleport_AFK_009,Enable,,7,-1"
		"OnBreak" "Light_sprite_orange*,Kill,,7,-1"
		"OnBreak" "Light_sprite_cyan*,Kill,,7,-1"
		"OnBreak" "Light_cyan*,TurnOff,,7,-1"
		"OnBreak" "Light_orange*,TurnOff,,7,-1"
		"OnBreak" "Light_orange*,Kill,,7.05,-1"
		"OnBreak" "Light_cyan*,Kill,,7.05,-1"
	}
}

;---------------------------------------
;Delete Barrier Materia Magick
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Matiera Picker"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnUser2" "Map_Spawner,AddOutput,EntityTemplate item_barrier_temp,0.52,-1"
		"OnUser2" "Creater_Case_Location_Random,PickRandom,,0.52,-1"
		"OnUser2" "Map_Spawner,ForceSpawn,,0.55,-1"
		"OnUser3" "Map_Spawner,AddOutput,EntityTemplate item_barrier_temp,0.52,-1"
		"OnUser3" "Creater_Case_Location_Random,PickRandom,,0.52,-1"
		"OnUser3" "Map_Spawner,ForceSpawn,,0.55,-1"
	}
}

;---------------------------------------
;Fix Killing Zeddys Reactor Doors
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "zeddys_spawn_002"
		"classname" "info_teleport_destination"
	}
	replace:
	{
		"origin" "5319 6169 -4391"
	}
}

;---------------------------------------
;Delay HELLZ AFK Teleports
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Hellz_once"
		"classname" "trigger_once"
		"origin" "4228 2913.01 -2327.5"
	}
	delete:
	{
		"OnTrigger" "Teleport_AFK_006,Enable,,9,-1"
	}
	insert:
	{
		"OnTrigger" "Teleport_AFK_006,Enable,,12,-1"
	}
}

;---------------------------------------
;Delay ZOMBIEDEN AFK Teleports
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Zombieden_once"
		"classname" "trigger_once"
		"origin" "5033 2528 -3582.5"
	}
	delete:
	{
		"OnTrigger" "Teleport_AFK_006,Enable,,0,-1"
		"OnTrigger" "Teleport_AFK_007,Enable,,27,-1"
	}
	insert:
	{
		"OnTrigger" "Teleport_AFK_006,Enable,,3,-1"
		"OnTrigger" "Teleport_AFK_007,Enable,,29,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Zombieden_once"
		"classname" "trigger_once"
		"origin" "355 10238 44.5"
	}
	delete:
	{
		"OnTrigger" "Teleport_AFK_010,Enable,,0,-1"
		"OnTrigger" "Bridge_Door_Wall,Close,,0,-1"
	}
	insert:
	{
		"OnTrigger" "Teleport_AFK_010,Enable,,5,-1"
		"OnTrigger" "Bridge_Door_Wall,Close,,3,-1"
	}
}

;---------------------------------------
;ADD STRIPPER VERSION TEXT
;---------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "2140954"
	}
	delete:
	{
		"OnNewGame" "cmd,Command,say **Map Status: No Stripper!**,0,-1"
	}
	insert:
	{
		"OnNewGame" "cmd,Command,say **Map Status: Stripper #0.12 Enable!**,0,-1"
	}
}

;
; BELOW CHANGES BY KOEN (2024/10/1)
;

;dynamic entwatch config
modify:
{
	match:
	{
		"origin" "10140 12543 -10128"
		"targetname" "item_bio_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2188197 Bio.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2188197 Bio.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2188197 Bio.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "10140 11519 -10128"
		"targetname" "item_barrier_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2188283 Barrier.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2188283 Barrier.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2188283 Barrier.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "9116 12543 -10128"
		"targetname" "item_wind_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2188601 Wind.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2188601 Wind.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2188601 Wind.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "9116 13567 -10128"
		"targetname" "item_heal_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2188903 Heal.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2188903 Heal.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2188903 Heal.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "9116 14591 -10128"
		"targetname" "item_ice_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2189128 Ice.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2189128 Ice.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2189128 Ice.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "11164 12543 -10128"
		"targetname" "item_water_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2189401 Aqua.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2189401 Aqua.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2189401 Aqua.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "11164 13567 -10128"
		"targetname" "item_fire_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2189558 Fire.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2189558 Fire.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2189558 Fire.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "11164 13567 -10128"
		"targetname" "item_fire_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_setmaxuses 2189713 1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 2189713 Electro.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_setmaxuses 2189713 2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2189713 Electro.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_setmaxuses 2189713 3,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2189713 Electro.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "10140 14591 -10128"
		"targetname" "item_earth_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2189801 Earth.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2189801 Earth.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2189801 Earth.Lv3,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "10140 13567 -10128"
		"targetname" "item_gravity_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase02" "cmd,Command,sm_ewsetshortname 2189887 Gravity.Lv1,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 2189887 Gravity.Lv2,0,-1"
		"OnCase04" "cmd,Command,sm_ewsetshortname 2189887 Gravity.Lv3,0,-1"
	}
}
