;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 09.03.2024
;STRIPPER CFG BY MAŁGO https://steamcommunity.com/profiles/76561197992553990/
;---------------------------------------------------------------

;---------------------------------------
;Fix broken heal fireuser
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Weapon_Heal"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!self,FireUser1,,0.5,-1"
	}
}
;---------------------------------------
;Fix scene crash
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "lvl1_cinematic_once"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "trigger_intro_2,CountPlayersInZone,,0,-1"
	}
	insert:
	{
		"OnStartTouch" "trigger_intro_2,CountPlayersInZone,,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lvl2_cinematic_once"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "trigger_intro_2,CountPlayersInZone,,0,-1"
	}
	insert:
	{
		"OnStartTouch" "trigger_intro_2,CountPlayersInZone,,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lvl3_cinematic_once"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "trigger_intro_2,CountPlayersInZone,,0,-1"
	}
	insert:
	{
		"OnStartTouch" "trigger_intro_2,CountPlayersInZone,,0,1"
	}
}
;---------------------------------------
;Fix ultima lvl 3
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "item_limit5_trigger"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"parentname" "item_limit5_move"
	}
}
;---------------------------------------
;Balance Bergan HP on phase 2 & 3
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Bergan_boss2_HP_Multi"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Bergan_boss2_attack_HP1,Add,161,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Bergan_boss2_attack_HP1,Add,120,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Bergan_boss2_phase1_dead_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "Bergan_boss2_HP_Multi,AddOutput,OnStartTouch Bergan_boss2_attack_HP1:Add:19:0:-1,0,-1"
	}
}
;---------------------------------------
;Boost magick damage in bergan phase 2 fight
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Bergan_boss2_phase1_start_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Item_Sand_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:255:0:-1,0.01,-1"
		"OnTrigger" "Item_Thunder_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:255:0:-1,0.01,-1"
		"OnTrigger" "Item_Fire_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:255:0:-1,0.01,-1"
		"OnTrigger" "Item_oil_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:255:0:-1,0.01,-1"
		"OnTrigger" "Item_dark_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:255:0:-1,0.01,-1"
		"OnTrigger" "Item_aqua_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:255:0:-1,0.01,-1"
	}
	insert:
	{
		"OnTrigger" "Item_Sand_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:755:0:-1,0.01,-1"
		"OnTrigger" "Item_Thunder_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:755:0:-1,0.01,-1"
		"OnTrigger" "Item_Fire_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:755:0:-1,0.01,-1"
		"OnTrigger" "Item_oil_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:755:0:-1,0.01,-1"
		"OnTrigger" "Item_dark_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:755:0:-1,0.01,-1"
		"OnTrigger" "Item_aqua_Filter,AddOutput,OnPass Bergan_boss2_attack_HP1:Subtract:755:0:-1,0.01,-1"
	}
}
;---------------------------------------
;Late scene stage 3 trigger
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Bergan_boss1_enter_once"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "!self,Kill,,5.05,-1"
		"OnTrigger" "lvl3_cinematic_once,Enable,,5,-1"
		"OnTrigger" "omisace_temple_teleport_001,Enable,,4.9,-1"
	}
	insert:
	{
		"OnTrigger" "!self,Kill,,7.05,-1"
		"OnTrigger" "lvl3_cinematic_once,Enable,,7,-1"
		"OnTrigger" "omisace_temple_teleport_001,Enable,,6.9,-1"
	}
}
;---------------------------------------
;Balance stage 3 lasers HP
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Ending_boss1_laser_add"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Ending_boss1_laser_counter,Add,60,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Ending_boss1_laser_counter,Add,53,0,-1"
	}
}
;---------------------------------------
;Fix stage 2 ending explosion origin
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Adrammelech_boss_floor"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnUser1" "Explosion_Temp_Huge,AddOutput,origin -5484 6789.01 -14,16,-1"
		"OnUser1" "Explosion_Temp_Huge,ForceSpawn,,16,-1"
	}
	insert:
	{
		"OnUser1" "Explosion_Temp_Huge,AddOutput,origin -5465.05 6800.37 -14,-1"
		"OnUser1" "Explosion_Temp_Huge,ForceSpawn,,16.05,-1"
	}
}
;---------------------------------------
;Balance stage 3 ending zombie spawn
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Ending_boss1_laser_start_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "lvl3_teleport_003,Enable,,25,-1"
	}
}
;---------------------------------------
;Delete explosion damage in normal explosions
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Explosion_Relay1"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnSpawn" "Explosion_Explosion1,Explode,,0,-1"
	}
}
;---------------------------------------
;Fix spawn zm magick in prop
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "ZM_CaseSpawn"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "Map_Spawner,AddOutput,origin -5478.55 -5391.41 -515.6,0,1"
	}
	insert:
	{
		"OnCase01" "Map_Spawner,AddOutput,origin -5474.48 -5412 -476,0,1"
	}
}
;---------------------------------------
;Boost bergan phase 2 damage
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "bergan_boss2_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "84"
	}
}
;---------------------------------------
;Fix stage 3 ending ship
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Ending_last_hold_once"
		"classname" "trigger_once"
		"hammerid" "8848375"
	}
	delete:
	{
		"OnTrigger" "Template_Ending_ship,ForceSpawn,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Ending_last_hold_template"
		"classname" "point_template"
	}
	insert:
	{
		"OnEntitySpawned" "Template_Ending_ship,ForceSpawn,,50,-1"
	}
}
;---------------------------------------
;Faster open shortcut after kill miniboss
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Mojie_miniboss_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMin" "Omisace_main_temple_shortcut_doors,Break,,3,-1"
	}
	insert:
	{
		"OnHitMin" "Omisace_main_temple_shortcut_doors,Break,,1,-1"
	}
}
;---------------------------------------
;Fix aqua lvl 2 particles
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "item_aqua2_part"
		"classname" "info_particle_system"
	}
	insert:
	{
		"OnUser1" "!self,Kill,,6,-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "102957"
	}
	delete:
	{
		"OnNewGame" "cmd,Command,say **Map Status: No Stripper!**,0,-1"
	}
	insert:
	{
		"OnNewGame" "cmd,Command,say **Map Status: Stripper #2.2 Enable!**,0,-1"
	}
}