;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;FIX POINTS - END OF LEVELS
;---------------------------

modify:
{
	match:
	{
		"targetname" "/lvl[1-5]_Win_Bonus/" ; This match the trigger 1 to 5
		"classname" "trigger_multiple"
	}
	replace:
	{
		"classname" "trigger_once"
	}
}

;Fix teleport glitch stage 4 boss
add:
{
	"model" "*113"
	"classname" "trigger_teleport"
	"origin" "6784 397 4070.5"
	"spawnflags" "1"
	"StartDisabled" "1"
	"target" "lvl4_Cage"
	"targetname" "antiglitch_lvl4"
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Chuchulainn_Start_Relay"
	}
	insert:
	{
		"OnTrigger" "antiglitch_lvl4,Enable,,13,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Chuchulainn_Killed_Relay"
	}
	insert:
	{
		"OnTrigger" "antiglitch_lvl4,Disable,,0,-1"
	}
}

;------------------------
;DYNAMIC ENTWATCH CONFIG
;------------------------
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Darkaga_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1841846 Dark.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1841846 Dark.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1841846 Dark.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Wind_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1841928 Wind.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1841928 Wind.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1841928 Wind.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Heal_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1841349 Heal.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1841349 Heal.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1841349 Heal.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Blizzard_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1841762 Ice.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1841762 Ice.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1841762 Ice.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_fire_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1841431 Fire.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1841431 Fire.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1841431 Fire.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Electro_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1841678 Electro.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1841678 Electro.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1841678 Electro.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Z_Heal_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1869948 ZM Heal.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1869948 ZM Heal.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1869948 ZM Heal.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Z_Fire_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1870326 ZM Fire.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1870326 ZM Fire.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1870326 ZM Fire.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Z_Darkaga_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1871410 ZM Dark.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1871410 ZM Dark.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1871410 ZM Dark.Lv3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Z_Warp_Level_Case"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 1871651 ZM Warp.Lv1,0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 1871651 ZM Warp.Lv2,0,-1"
		"OnCase03" "cmd,Command,sm_ewsetshortname 1871651 ZM Warp.Lv3,0,-1"
	}
}

;add dynamic item name to berserk
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Item_Berserk_Case"
		"hammerid" "3764118"
	}
	insert:
	{
		"OnCase01" "cmd,Command,sm_ewsetshortname 3764112 Berserk (Ammo),0,-1"
		"OnCase02" "cmd,Command,sm_ewsetshortname 3764112 Berserk (Speed),0,-1"
	}
}