;------------------------
; Adjust boss push speed
;------------------------
modify:
{
	match:
	{
		"targetname" "/boss_push_(left|right)/"
	}
	replace:
	{
		"speed" "600"
	}
}

;---------------
; Remove warmup
;---------------
filter:
{
	"targetname" "warmup"
}

;----------------------------------
; Add fix for tp avoid in big room
;----------------------------------
add:
{
	"model" "*157"
	"targetname" "exploitfixtp"
	"classname" "trigger_teleport"
	"target" "voodo1_teleportdest"
	"origin" "-11472 -288 -3424"
	"startdisabled" "1"
	"spawnflags" "1"
}

add:
{
	"model" "*157"
	"targetname" "exploitfixtp"
	"classname" "trigger_teleport"
	"target" "voodo1_teleportdest"
	"origin" "-11480 -288 -3296"
	"startdisabled" "1"
	"spawnflags" "1"
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "lever_button23"
	}
	insert:
	{
		"OnPressed" "exploitfixtp,Enable,,60,1"
		"OnPressed" "exploitfixtp,Disable,,69.9,1"
	}
}