;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 25.07.2025
;STRIPPER CFG BY MAŁGO https://steamcommunity.com/profiles/76561197992553990/
;---------------------------------------------------------------
;---------------------------------------
;Fix broken shizu stage 4 ending
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Shemhazai_ending_case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "Maker_attackAddOutputorigin 10862 2967 4674.990.00-1"
		"OnCase02" "Maker_attackAddOutputorigin 10862 2967 4674.990.00-1"
		"OnCase03" "Maker_attackAddOutputorigin 10862 2967 4674.990.00-1"
	}
	insert:
	{
		"OnCase01" "Shemhazai_ending_attack_templateAddOutputorigin 13471 2422 106920.01-1"
		"OnCase01" "Shemhazai_ending_attack_templateForceSpawn2.55-1"
		"OnCase02" "Shemhazai_ending_attack_templateAddOutputorigin 13471 2574 106920.01-1"
		"OnCase02" "Shemhazai_ending_attack_templateForceSpawn2.55-1"
		"OnCase03" "Shemhazai_ending_attack_templateAddOutputorigin 13471 2302 106920.01-1"
		"OnCase03" "Shemhazai_ending_attack_templateForceSpawn2.55-1"
	}
}

;---------------------------------------
;Fix broken king bomg ending msg
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "King_bomb_ending_template"
		"classname" "point_template"
	}
	delete:
	{
		"OnEntitySpawned" "cmdCommandsay **[Balthier] Esper Zodiark is coming! Shoot him before he kill us!**0.00-1"
	}
	insert:
	{
		"OnEntitySpawned" "cmdCommandsay **[Balthier] King Bomb is coming! Shoot him before he kill us!**0.00-1"
	}
}

;---------------------------------------
;Kill Stage 4 Ending Airship HP Bonus
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Airship_escape_ct_bonus"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activatorAddOutputhealth 9999999990.00-1"
	}
}

;---------------------------------------
;Stripper version
;---------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "102957"
	}
	delete:
	{
		"OnNewGame" "cmdCommandsay **Map Status: No Stripper!**0-1"
	}
	insert:
	{
		"OnNewGame" "cmdCommandsay **Map Status: Stripper #0.01 Enable!**0-1"
	}
}
