; removing corrupted mp3 from ze_fallen_star_v1hoto_fix2 ;
;------------------------

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "FSB_ENDING_MUSIC_CASE"
	}
	delete:
	{
		"OnCase02" "FSB_ENDING_2,PlaySound,,0,-1"
		"OnCase02" "FSB_ENDING_2_1,Fadein,131.5,0,-1"
		"OnCase03" "FSB_ENDING_2,PlaySound,,0,-1"
		"OnCase03" "FSB_ENDING_2_1,Fadein,131.5,0,-1"
	}
}