;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
; 		Stripper by Małgo 17.06.2021

;---------------------------------------
;Fix bahamut push particles
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage-1_BossAttackPushParticle"
		"classname" "info_particle_system"
	}
	replace:
	{
		"effect_name" "custom_particle_389"
	}
}
;---------------------------------------
;Fix bahamut ultimate electro particle
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage-1_BossAttackElectro2Particle"
		"classname" "info_particle_system"
	}
	replace:
	{
		"effect_name" "custom_particle_394"
	}
}
;---------------------------------------
;Nerf bahamut middle electro
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage-1_BossAttackLittleElectroHurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "30"
	}
}
;---------------------------------------
;Fix bahamut escape hp bar
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage-1_BossFailRelay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "Stage-1_BossHPSprite,Kill,,180,-1"
	}
}
;---------------------------------------
;Fix shield
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Item_Shield_Counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "Item_Shield_Spawner,Kill,,0,-1"
		"OnHitMax" "!self,Kill,,0.05,-1"
	}
	insert:
	{
		"OnHitMax" "Item_Shield_Spawner,Kill,,1,-1"
		"OnHitMax" "!self,Kill,,1.05,-1"
	}
}
;---------------------------------------
;Delete Bergan phase 1 fire attack
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage3_BossCase"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase02" "cmd,Command,say **Bergan has summoned Fire Nova Ability!**,0,-1"
		"OnCase02" "Stage3_BossAttackPersonalFireTrigger,Enable,,0.35,-1"
		"OnCase02" "Stage3_BossAttackPersonalFireTrigger,Enable,,0.7,-1"
		"OnCase02" "Stage3_BossAttackPersonalFireTrigger,Enable,,1.05,-1"
	}

}
;---------------------------------------
;Delete special zombie items from map
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage3"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Stage4_Special_Z_Items_Case_001,ForceSpawn,,0,-1"
		"OnTrigger" "Stage4_Special_Z_Items_Case_002,ForceSpawn,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage4"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Stage4_Special_Z_Items_Case*,ForceSpawn,,3,-1"
	}
}
;---------------------------------------
;Delete stage 4 laser floor killer
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage4_laser_Trigger"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "Stage4_Floor_Case,PickRandom,,1,1"
	}
}
;---------------------------------------
;A little less hp exodus lasers
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage-1_laser_HP_Add"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Stage-1_Laser_HP_Counter,Add,70,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Stage-1_Laser_HP_Counter,Add,60,0,-1"
	}
}
;---------------------------------------
;A little less hp bergan lasers
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage4_laser_HP_Add"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Stage4_Laser_HP_Counter,Add,67,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Stage4_Laser_HP_Counter,Add,58,0,-1"
	}
}
;---------------------------------------
;Fix angles bahamut after die
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Event_Bahamut_Model"
		"classname" "prop_dynamic"
	}
	delete:
	{
		"OnUser2" "Event_Bahamut_model,AddOutput,angles 90 0 0,1.6,-1"
	}
	insert:
	{
		"OnUser2" "Event_Bahamut_model,AddOutput,angles 71 180 0,1.6,-1"
	}
}
;---------------------------------------
;Faster trigger second defend spot
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Spawn_Right_Doors_Onc2"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "Spawn_Right_Wall1,Kill,,25,1"
		"OnTrigger" "Spawn_Right_Wall1Particle,Kill,,25,1"
		"OnTrigger" "Event_Cactus_Breakable,FireUser1,,25,1"
	}
	insert:
	{
		"OnTrigger" "Spawn_Right_Wall1,Kill,,15,1"
		"OnTrigger" "Spawn_Right_Wall1Particle,Kill,,15,1"
		"OnTrigger" "Event_Cactus_Breakable,FireUser1,,15,1"
	}
}
modify:
{
	match:
	{
		"targetname" "Spawn_Left_Doors_Onc2"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "Spawn_Left_Wall1,Kill,,25,1"
		"OnTrigger" "Spawn_Left_Wall1Particle,Kill,,25,1"
		"OnTrigger" "Event_Cactus_Breakable,FireUser1,,25,1"
	}
	insert:
	{
		"OnTrigger" "Spawn_Left_Wall1,Kill,,15,1"
		"OnTrigger" "Spawn_Left_Wall1Particle,Kill,,15,1"
		"OnTrigger" "Event_Cactus_Breakable,FireUser1,,15,1"
	}
}
;---------------------------------------
;Fix shit chaos blade push
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Weapon_Chaos_Blade_Big_Hurt1"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,BaseVelocity 0 0 300,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,BaseVelocity 0 0 350,0,-1"
		"OnUser1" "!self,Enable,,0,-1"
		"OnUser1" "!self,Disable,,0.04,-1"
		"OnUser1" "!self,FireUser1,,0.08,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Item_Chaos_Blade_Filter"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "Weapon_Chaos_Blade_Big_Hurt1,FireUser1,,0.10,1"
	}
}
;---------------------------------------
;Little more bomb boss hp and faster attacks
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage0_Boss_HPmulti"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Stage0_BossGetHP,Add,28,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Stage0_BossGetHP,Add,40,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Solid_Paper_Attack_Timer"
		"classname" "logic_timer"
	}
	replace:
	{
		"RefireTime" "12"
	}
}
;---------------------------------------
;Little more exodus boss hp and faster attacks
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage1_Boss_HPmulti"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Stage1_BossGetHP,Add,45,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Stage1_BossGetHP,Add,65,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage1_BossTimer"
		"classname" "logic_timer"
	}
	replace:
	{
		"RefireTime" "7"
	}
}
;---------------------------------------
;Little faster attacks bahamut and boost attacks
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage-1_BossTimer"
		"classname" "logic_timer"
	}
	replace:
	{
		"RefireTime" "11"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage-1_BossAttackElectroHurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "35"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage-1_BossAttackElectro2Hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "35"
	}
}
;---------------------------------------
;Bergan phase 1 more hp 
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage3_Boss_HPmulti"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Stage3_BossGetHP,Add,80,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Stage3_BossGetHP,Add,65,0,-1"
	}
}
;---------------------------------------
;Bergan phase 2 more hp and bigger dmg
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage4_Boss_HPmulti"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Stage4_BossGetHP,Add,50,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Stage4_BossGetHP,Add,75,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Bergan2_Hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "55"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage4_BossAttackVampireTrigger"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "45"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage4_BossAttackMoveFireTrigger"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "25"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage4_BossAttackMoveThunderTrigger"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "28"
	}
}
;---------------------------------------
;Set up crouch exodus laser
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage-1_BossLaser_Spawn_003"
		"classname" "env_entity_maker"
	}
	replace:
	{
		"origin" "-8002 -14868 -2873"
	}
}
;---------------------------------------
;Fix heal lvl 4
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Item_Heal_Trigger_4"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"OnEndTouch" "!activator,SetDamageFilter,,0,-1"
	}
}
;---------------------------------------
;Map Status 
;---------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "7356973"
	}
	delete:
	{
		"OnNewGame" "cmd,Command,say **Map Status: No Stripper!**,0,-1"
	}
	insert:
	{
		"OnNewGame" "cmd,Command,say **Map Status: Stripper #4 enable!**,0,-1"
	}
}