;-----------------------------------------------------------
; Fix player gravity being set too low, leading to sv crash
;-----------------------------------------------------------
modify:
{
	match:
	{
		"hammerid" "4007439"
		"classname" "logic_auto"
	}
	delete:
	{
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_110396259 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_1_46778978 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_53776597 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_29769953 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_1_78079542 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_1_43083623 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_84308853 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_54446629 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_58001308 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_55437521 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_180242646 0.1,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_105253205 0.1,1.5,1"
	}
	insert:
	{
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_110396259 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_1_46778978 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_53776597 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_29769953 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_1_78079542 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_1_43083623 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_84308853 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_54446629 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_58001308 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_55437521 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_180242646 0.3,1.5,1"
		"OnNewGame" "cmd,Command,sm_gravity #STEAM_0_0_105253205 0.3,1.5,1"
	}
}

;---------------------------------------------------------------------
; Add damage to windmill propeller to block safe spot during zm round
;---------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_rotating"
		"origin" "2186.96 -1721.24 419.45"
	}
	replace:
	{
		"dmg" "10"
	}
}

;-----------------------------------------
; Remove secret adminroom teleport button
;-----------------------------------------
filter:
{
	"targetname" "Admin_Access_Button"
	"classname" "func_button"
	"hammerid" "5068986"
}
modify:
{
	match:
	{
		"targetname" "cmd"
		"origin" "8008 -520 264"
		"classname" "point_servercommand"
	}
	delete:
	{
		"OnUser1" "!self,Command,sv_enablebunnyhopping 0,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "Shinra_Gate_2C"
		"origin" "-12452 12189 2804"
		"classname" "func_movelinear"
	}
	insert:
	{
		"OnFullyOpen" "cmd,Command,sv_enablebunnyhopping 0,0,1"
	}
}
modify:
{
	match:
	{
		"hammerid" "4007439"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnNewGame" "cmd,Command,sv_enablebunnyhopping 1,0,-1"
	}
}

;---------------------------------------------------
; Add more random + faster blue lasers to rage mode
;---------------------------------------------------
modify:
{
	match:
	{
		"origin" "-10704 11416 1961"
		"targetname" "Genesis_Counter"
		"startvalue" "5"
		"classname" "math_counter"
		"hammerid" "1046021"
	}
	delete:
	{
		"OnHitMin" "Bahamut_Laser_Case,PickRandom,,10,-1"
	}
	insert:
	{
		"OnHitMin" "random_laser_case,PickRandom,,10,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-12546 6768 2717"
		"targetname" "Bahamut_Laser_Case"
		"classname" "logic_case"
		"hammerid" "3431950"
	}
	delete:
	{
		"OnCase02" "!self,Kill,,5.05,-1"
		"OnCase01" "!self,Kill,,5.05,-1"
		"OnCase02" "2Bahamut_Laser_Hurt,Kill,,5,-1"
		"OnCase02" "2Bahamut_Laser_Move,Kill,,5,-1"
		"OnCase02" "2Bahamut_Laser_Rot,Kill,,5,-1"
		"OnCase01" "1Bahamut_Laser_Hurt,Kill,,5,-1"
		"OnCase01" "1Bahamut_Laser_Move,Kill,,5,-1"
		"OnCase01" "1Bahamut_Laser_Rot,Kill,,5,-1"
		"OnCase02" "2Bahamut_Laser_Move,Open,,0.02,-1"
		"OnCase01" "1Bahamut_Laser_Move,Open,,0.02,-1"
	}
}
add:
{
	"origin" "-12549 6750 2710"
	"targetname" "random_laser_case"
	"classname" "logic_case"
	"OnCase01" "Bahamut_Laser_Case,PickRandom,,0,-1"
	"OnCase01" "Bahamut_Laser_Case,PickRandom,,0.9,-1"
	"OnCase01" "Bahamut_Laser_Case,PickRandom,,1.8,-1"
	"OnCase01" "Bahamut_Laser_Case,PickRandom,,2.7,-1"
	"OnCase01" "Bahamut_Laser_Case,PickRandom,,3.6,-1"
	"OnCase02" "Bahamut_Laser_Case,PickRandom,,0,-1"
	"OnCase02" "Bahamut_Laser_Case,PickRandom,,0.9,-1"
	"OnCase02" "Bahamut_Laser_Case,PickRandom,,1.8,-1"
	"OnCase02" "Bahamut_Laser_Case,PickRandom,,2.7,-1"
	"OnCase03" "Bahamut_Laser_Case,PickRandom,,0,-1"
	"OnCase03" "Bahamut_Laser_Case,PickRandom,,0.9,-1"
	"OnCase03" "Bahamut_Laser_Case,PickRandom,,1.8,-1"
	"OnCase04" "Bahamut_Laser_Case,PickRandom,,0,-1"
	"OnCase04" "Bahamut_Laser_Case,PickRandom,,0.9,-1"
	"OnCase04" "Bahamut_Laser_Case,PickRandom,,1.8,-1"
	"OnCase04" "Bahamut_Laser_Case,PickRandom,,2.7,-1"
	"OnCase04" "Bahamut_Laser_Case,PickRandom,,3.6,-1"
	"OnCase04" "Bahamut_Laser_Case,PickRandom,,4.5,-1"
}
add:
{
	"targetname" "1Bahamut_Laser_Relay"
	"classname" "logic_relay"
	"origin" "-12511 6934 2452"
	"spawnflags" "0"
	"OnSpawn" "1Bahamut_Laser_Move,Open,,0.02,1"
}
add:
{
	"targetname" "2Bahamut_Laser_Relay"
	"classname" "logic_relay"
	"origin" "-12543 6930 2451"
	"spawnflags" "0"
	"OnSpawn" "2Bahamut_Laser_Move,Open,,0.02,1"
}
modify:
{
	match:
	{
		"targetname" "1Bahamut_Laser_Temp"
		"classname" "point_template"
		"origin" "-12552 6968 2789"
	}
	insert:
	{
		"Template04" "1Bahamut_Laser_Relay"
	}
}
modify:
{
	match:
	{
		"targetname" "2Bahamut_Laser_Temp"
		"classname" "point_template"
		"origin" "-12552 6968 2776"
	}
	insert:
	{
		"Template04" "2Bahamut_Laser_Relay"
	}
}
modify:
{
	match:
	{
		"targetname" "1Bahamut_Laser_Move"
		"classname" "func_movelinear"
		"origin" "-12544.1 7192 2765.81"
	}
	insert:
	{
		"OnFullyOpen" "!self,KillHierarchy,,0,-1"
	}
	replace:
	{
		"speed" "2500"
	}
}
modify:
{
	match:
	{
		"targetname" "2Bahamut_Laser_Move"
		"classname" "func_movelinear"
		"origin" "-12543.5 7192 2758.08"
	}
	insert:
	{
		"OnFullyOpen" "!self,KillHierarchy,,0,-1"
	}
	replace:
	{
		"speed" "2500"
	}
}
modify:
{
	match:
	{
		"targetname" "1Bahamut_Laser_Temp"
		"classname" "point_template"
		"origin" "-12552 6968 2789"
	}
	replace:
	{
		"spawnflags" "0"
	}
}
modify:
{
	match:
	{
		"targetname" "2Bahamut_Laser_Temp"
		"classname" "point_template"
		"origin" "-12552 6968 2776"
	}
	replace:
	{
		"spawnflags" "0"
	}
}

;----------------------------------------------------------------------------
; Makes a trigger_teleport so people cannot glitch through wall displacement
;----------------------------------------------------------------------------
add:
{
	"model" "*80"
	"targetname" "displacement_fix_1"
	"target" "Admin_Room_Back_TD"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "2491.8 -756 192.24"
	"classname" "trigger_teleport"
}

;-----------------------------------------------
; Fixes unreachable spot on zm mode / all modes
;-----------------------------------------------
modify:
{
	match:
	{
		"classname" "func_rotating"
		"origin" "2186.96 -1721.24 419.45"
	}
	replace:
	{
		"spawnflags" "69"
	}
}

;--------------------------------------------------------------------------
; Adds a logic_timer which kills and disabled yektima for blind prevention
;--------------------------------------------------------------------------
;add:
;{
;	"origin" "8936 7784 180"
;	"UseRandomTime" "0"
;	"targetname" "blindness_prevention_timer"
;	"StartDisabled" "1"
;	"spawnflags" "0"
;	"RefireTime" "1"
;	"classname" "logic_timer"
;	"OnTimer" "Item_Ultima_Effect,Stop,,0,-1"
;	"OnTimer" "Map_Fade,Kill,,0,-1"
;}
;modify:
;{
;	match:
;	{
;		"classname" "trigger_push"
;		"origin" "-12544 7670 2804"
;		"targetname" "Genesis_HP_Push"
;	}
;	insert:
;	{
;		"OnStartTouch" "blindness_prevention_timer,Enable,,0,1"
;		"OnStartTouch" "cmd,Command,say *** Blindness prevention activated ***,0,1"
;	}
;}
;add:
;{
;	"model" "*76"
;	"targetname" "blindness_prevention_hard_and_extreme"
;	"StartDisabled" "0"
;	"spawnflags" "1"
;	"origin" "9128 7196 335.5"
;	"classname" "trigger_once"
;	"OnStartTouch" "blindness_prevention_timer,Enable,,0,1"
;	"OnStartTouch" "cmd,Command,say *** Blindness prevention activated ***,0,1"
;}

;---------------------------------------------------
;Fix zms being boosted out of teleports and into C4
;---------------------------------------------------
modify:
{
	match:
	{
		"targetname" "Map_TP_1"
		"classname" "trigger_teleport"
		"origin" "3024 -2564 1200"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,absvelocity 0 0 0,0,-1"
	}
}

;--------------------------------
; Fix incorrect targetname usage
;--------------------------------
modify:
{
	match:
	{
		"targetname" "Map_Start_Reset"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player_none,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Filter_Any"
		"classname" "filter_activator_name"
	}
	replace:
	{
		"filtername" "player_none"
	}
}

;----------------
; Fix TP exploit
;----------------
add:
{
	"model" "*202"
	"targetname" "Map_TP_3"
	"target" "Map_TD_3"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-1961.02 -173.13 212"
	"classname" "trigger_teleport"
	"hammerid" "3914452"
}