;------------------------
;Fix nuke trigger damage
;------------------------
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "end"
	}
	replace:
	{
		"damage" "99999"
		"damagecap" "20"
	}
}

;------------------------------------------------
;Replace physics level system with perm entities
;------------------------------------------------
add:
{
	"classname" "info_target"
	"targetname" "Stage_CounterInit"
	"spawnflags" "0"
	"OnUser1" "Stage_CounterTemplate,ForceSpawn,,0,1"
	"OnUser1" "Stage_Counter,AddOutput,classname info_target,0.03,1"
	"OnUser1" "!self,Kill,,0.06,1"
}
add:
{
	"classname" "point_template"
	"targetname" "Stage_CounterTemplate"
	"Template01" "Stage_Counter"
	"spawnflags" "2"
}
add:
{
	"classname" "math_counter"
	"targetname" "Stage_Counter"
	"startvalue" "1"
	"StartDisabled" "0"
	"min" "1"
	"max" "4"
	"OnGetValue" "Stage_Case,InValue,,0,-1"
}
add:
{
	"classname" "logic_case"
	"targetname" "Stage_Case"
	"Case01" "1"
	"Case02" "2"
	"Case03" "3"
	"case04" "4"
	"OnCase01" "easy_relay,Trigger,,0.02,-1"
	"OnCase02" "normal_relay,Trigger,,0.02,-1"
	"OnCase03" "hard_relay,Trigger,,0.02,-1"
	"OnCase04" "extreme_relay,Trigger,,0.02,-1"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "Stage_CounterInit,FireUser1,,0,1"
		"OnMapSpawn" "Stage_Counter,GetValue,,0.02,1"
	}
}

;---------------------------------
;Convert stage triggers to relays
;---------------------------------
add:
{
	"classname" "logic_relay"
	"targetname" "easy_relay"
	"spawnflags" "0"
	"OnTrigger" "easy,Enable,,0,-1"
	"OnTrigger" "level_1_easy,Enable,,0,-1"
	"OnTrigger" "level_2_easy,Enable,,0,-1"
	"OnTrigger" "level_3_easy,Enable,,0,-1"
	"OnTrigger" "level_4_easy,Enable,,0,-1"
	"OnTrigger" "level_5_easy,Enable,,0,-1"
	"OnTrigger" "easy_go,Enable,,0,-1"
	"OnTrigger" "easy_trigger,Enable,,0,-1"
	"OnTrigger" "level_1_easy_1,Enable,,0,-1"
	"OnTrigger" "command,Command,zr_infect_mzombie_ratio 7,0,-1"
	"OnTrigger" "command,Command,zr_infect_spawntime_min 15.0,0,-1"
	"OnTrigger" "command,Command,zr_infect_spawntime_max 15.0,0,-1"
}
add:
{
	"classname" "logic_relay"
	"targetname" "normal_relay"
	"spawnflags" "0"
	"OnTrigger" "normal,Enable,,0,-1"
	"OnTrigger" "level_1_normal,Enable,,0,-1"
	"OnTrigger" "level_2_normal,Enable,,0,-1"
	"OnTrigger" "level_3_normal,Enable,,0,-1"
	"OnTrigger" "level_6_normal,Enable,,0,-1"
	"OnTrigger" "level_7_normal,Enable,,0,-1"
	"OnTrigger" "normal_trigger,Enable,,0,-1"
	"OnTrigger" "level_3_normal_2,Enable,,0,-1"
	"OnTrigger" "normal_go,Enable,,0,-1"
	"OnTrigger" "level_1_easy_1,Enable,,0,-1"
	"OnUser4" "command,Command,zr_infect_spawntime_max 14.0,0,-1"
	"OnUser4" "command,Command,zr_infect_spawntime_min 14.0,0,-1"
	"OnUser4" "command,Command,zr_infect_mzombie_ratio 6,0,-1"
}
add:
{
	"classname" "logic_relay"
	"targetname" "hard_relay"
	"spawnflags" "0"
	"OnTrigger" "hard,Enable,,0,-1"
	"OnTrigger" "level_1_go_1a,Disable,,0,-1"
	"OnTrigger" "level_1_go_1b,Enable,,0,-1"
	"OnTrigger" "level_3_hard_1,Enable,,0,-1"
	"OnTrigger" "level_1_hard,Enable,,0,-1"
	"OnTrigger" "level_2_hard,Enable,,0,-1"
	"OnTrigger" "level_3_hard,Enable,,0,-1"
	"OnTrigger" "level_1_go_1a,DisableCollision,,0,-1"
	"OnTrigger" "level_4_hard,Enable,,0,-1"
	"OnTrigger" "level_5_hard,Enable,,0,-1"
	"OnTrigger" "level_4_hard_1,Disable,,0,-1"
	"OnTrigger" "normal_trigger,Enable,,0,-1"
	"OnTrigger" "level_3_normal_2,Enable,,0,-1"
	"OnTrigger" "hard_go,Enable,,0,-1"
	"OnTrigger" "teleport_hard,Enable,,0,-1"
	"OnTrigger" "level_1_hard_1,Enable,,0,-1"
	"OnTrigger" "level_1_go_1b,EnableCollision,,0,-1"
	"OnTrigger" "command,Command,zr_infect_spawntime_max 13.0,0,-1"
	"OnTrigger" "command,Command,zr_infect_spawntime_min 13.0,0,-1"
	"OnTrigger" "command,Command,zr_infect_mzombie_ratio 6,0,-1"
}
add:
{
	"classname" "logic_relay"
	"targetname" "extreme_relay"
	"spawnflags" "0"
	"OnTrigger" "extreme,Enable,,0,-1"
	"OnTrigger" "level_1_go_1a,Enable,,0,-1"
	"OnTrigger" "level_1_go_1a,EnableCollision,,0,-1"
	"OnTrigger" "level_1_go_1b,Disable,,0,-1"
	"OnTrigger" "level_4_hard_1,Disable,,0,-1"
	"OnTrigger" "level_4_extreme_1,EnableCollision,,0,-1"
	"OnTrigger" "level_4_extreme_1,Enable,,0,-1"
	"OnTrigger" "level_4_extreme_2,Enable,,0,-1"
	"OnTrigger" "level_4_extreme_3,Enable,,0,-1"
	"OnTrigger" "level_3_hard_1,Enable,,0,-1"
	"OnTrigger" "level_1_extreme,Enable,,0,-1"
	"OnTrigger" "level_2_extreme,Enable,,0,-1"
	"OnTrigger" "level_3_extreme,Enable,,0,-1"
	"OnTrigger" "level_4_extreme,Enable,,0,-1"
	"OnTrigger" "level_5_extreme,Enable,,0,-1"
	"OnTrigger" "extreme_go,Enable,,0,-1"
	"OnTrigger" "easy_trigger,Enable,,0,-1"
	"OnTrigger" "level_1_easy_1,Enable,,0,-1"
	"OnTrigger" "level_1_go_1b,DisableCollision,,0,-1"
	"OnTrigger" "command,Command,zr_infect_spawntime_max 11.0,0,-1"
	"OnTrigger" "command,Command,zr_infect_spawntime_min 11.0,0,-1"
	"OnTrigger" "command,Command,zr_infect_mzombie_ratio 5,0,-1"
	"OnTrigger" "command,Command,zr_class_modify zombies health 50000,0,-1"
}

;------------------------------------
;Change stage triggers to new system
;------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "easy_end"
	}
	delete:
	{
		"OnTrigger" "difficulty_easy,Enable,,0,-1"
		"OnTrigger" "difficulty_normal,Disable,,0,-1"
		"OnTrigger" "difficulty_hard,Enable,,0,-1"
		"OnTrigger" "difficulty_extreme,Enable,,0,-1"
	}
	insert:
	{
		"OnTrigger" "Stage_Counter,SetValue,2,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "normal_end"
	}
	delete:
	{
		"OnTrigger" "difficulty_easy,Enable,,0,-1"
		"OnTrigger" "difficulty_normal,Enable,,0,-1"
		"OnTrigger" "difficulty_hard,Disable,,0,-1"
		"OnTrigger" "difficulty_extreme,Enable,,0,-1"
	}
	insert:
	{
		"OnTrigger" "Stage_Counter,SetValue,3,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "hard_end"
	}
	delete:
	{
		"OnTrigger" "difficulty_easy,Enable,,0,-1"
		"OnTrigger" "difficulty_normal,Enable,,0,-1"
		"OnTrigger" "difficulty_hard,Enable,,0,-1"
		"OnTrigger" "difficulty_extreme,Disable,,0,-1"
	}
	insert:
	{
		"OnTrigger" "Stage_Counter,SetValue,4,0,-1"
	}
}

;-------------------------
;Cleanup old level system
;-------------------------
filter:
{
	"classname" "func_physbox"
}
filter:
{
	"classname" "func_brush"
	"targetname" "/difficulty_(e(asy|xtreme)|normal|hard)/"
}
filter:
{
	"classname" "trigger_once"
	"hammerid" "122465"
}
filter:
{
	"classname" "trigger_once"
	"hammerid" "122477"
}
filter:
{
	"classname" "trigger_once"
	"hammerid" "122480"
}
filter:
{
	"classname" "trigger_once"
	"hammerid" "122483"
}

;-----------------------------------------------
;***********************************************
;********** STRIPPER BY KLIXUS *****************
;***********************************************
;-----------------------------------------------

;Decrease HP given on extreme by point_servercommand
modify:
{
	match:
	{
		"origin" "3844 4928 416"
		"classname" "trigger_once"
		"hammerid" "122465"
	}
	delete:
	{
		"OnTrigger" "command,Command,zr_class_modify zombies health 50000,0,-1"
	}
	insert:
	{
		"OnTrigger" "command,Command,zr_class_modify zombies health 7500,0,-1"
	}
}