;----------------------------------------------
; Convert trigger_brush to logic_eventlistener
;----------------------------------------------
filter:
{
	"targetname" "game_playerdie"
	"classname" "trigger_brush"
}
add:
{
	"targetname" "game_playerdie"
	"IsEnabled" "1"
	"EventName" "player_death"
	"classname" "logic_eventlistener"
	"OnEventFired" "Score_1,ApplyScore,,0,-1"
	"OnEventFired" "Cmd,Command,echo [GoT - playerdie triggered],0,-1"
}
