; Adjust round time
modify:
{
	match:
	{
    	"origin" "-272 96 -352"
		"classname" "logic_auto"
	}
    delete:
    {
    	"OnMapSpawn" "sc,AddOutput,mp_roundtime 15,0,-1"
    }
	insert:
	{
		"OnMapSpawn" "sc,Command,mp_roundtime 11,0,-1"
	}
}