;remove all particles because map does not have a particle manifest file...
filter:
{
	"classname" "info_particle_system"
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Explosion_Relay"
	}
	delete:
	{
		"OnSpawn" "Explosion_Effect,Start,,0.01,-1"
		"OnSpawn" "Explosion_Effect,Kill,,3,-1"
	}
}

modify:
{
	match:
	{
		"classname" "point_template"
		"targetname" "Explosion_Temp"
	}
	delete:
	{
		"Template02" "Explosion_Effect"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Explosion_Relay1"
	}
	delete:
	{
		"OnSpawn" "Explosion_Effect1,Start,,0.01,-1"
		"OnSpawn" "Explosion_Effect1,Kill,,3,-1"
	}
}

modify:
{
	match:
	{
		"classname" "point_template"
		"targetname" "Explosion_Temp1"
	}
	delete:
	{
		"Template02" "Explosion_Effect1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Golem_AhglanHP"
	}
	delete:
	{
		"OnBreak" "End_fire6,Start,,15,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "SoulMode_last"
	}
	delete:
	{
		"OnStartTouch" "End_fire4,Start,,10,1"
		"OnStartTouch" "End_fire5,Start,,11,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "lv4_reaper_laser_trigger"
	}
	delete:
	{
		"OnStartTouch" "End_fire,Start,,50,1"
		"OnStartTouch" "End_fire3,Start,,0,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "Last_hold1"
	}
	delete:
	{
		"OnStartTouch" "End_fire2,Start,,0,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "Last_hold"
	}
	delete:
	{
		"OnStartTouch" "End_fire1,Start,,0,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "Teleport_Particle_trigger"
	}
	delete:
	{
		"OnStartTouch" "Teleport_Particle,Start,,3,1"
	}
}

;make certain breakables not make noise when shot at
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Intemple_Metalgate"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "AFKTeleportGate"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Temple_BreakGate"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "MetalGate"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Tikasubway1"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "tikasubway2"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Tikasubway3"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "SoulMode_lastbreak"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Ancient_Elculousclip"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "submetalgate"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Breakroad1"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "breakroad"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "zmroom"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "underway"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "underway_bomb"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Lastmode_clip"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

;fix music volume being not adjustable
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl1music_dust_to_dust.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl1music_dust_to_dust.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl2music_avaterost.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl2music_avaterost.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl4music_destroyer_of worlds.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl4music_destroyer_of worlds.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl3music_day_one.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl3music_day_one.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl3music1_ice of_phoenix.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl3music1_ice of_phoenix.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl3music2_redrum.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl3music2_redrum.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl4music_karakuri_doll.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl4music_karakuri_doll.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lv2music1_sand_dream.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lv2music1_sand_dream.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl4bossmusic_bipolar nightmarel.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl4bossmusic_bipolar nightmarel.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl3music1_2_eon.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl3music1_2_eon.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "ze_genso_of_last/lvl4music2_ancient_devil.mp3"
	}
	replace:
	{
		"message" "#ze_genso_of_last/lvl4music2_ancient_devil.mp3"
	}
}