;------------------------------------------------
;------Stripper sent by encapsulation_dot1q------
;------------------------------------------------

;; Prevent multiple minigames being played at the same time

modify:
{
	match:
	{
		"targetname" "gamepick_pushout_counter"
		"classname" "trigger_multiple"
		"hammerid" "201951"
	}
	insert:
	{
		"OnEndTouchAll" "!self,Disable,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "gamepick_enable"
		"classname" "logic_relay"
		"hammerid" "64399"
	}
	insert:
	{
		"OnTrigger" "gamepick_pushout_counter,Enable,,0,-1"
	}
}

;; conveyor - prevent players from interacting with platforms

modify:
{
	match:
	{
		"target" "dance_trackpath_left_01"
		"classname" "func_tracktrain"
	}
	replace:
	{
		"spawnflags" "515"
	}
}

;; frogger - fix afk teleport evading spot

add:
{
	"model" "*199"
	"UseLandmarkAngles" "1"
	"targetname" "frogger_tele_zombie_start"
	"target" "frogger_middleexit_zombie_tele_destination"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"origin" "-4080 2336 -3395.5"
	"classname" "trigger_teleport"
}

;; prevent zombies getting out of cage after human win
 
add:
{
	"targetname" "cage_clip"
	"vrad_brush_cast_shadows" "0"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "0"
	"solidbsp" "0"
	"rendermode" "10"
	"renderfx" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"origin" "128 -416 192.5"
	"invert_exclusion" "0"
	"InputFilter" "0"
	"disableshadows" "1"
	"disablereceiveshadows" "1"
	"classname" "func_brush"
	"OnUser1" "!self,AddOutput,solid 2,0,1"
	"OnUser1" "!self,AddOutput,mins -256 -96 -63.5,0.1,1"
	"OnUser1" "!self,AddOutput,maxs 256 96 63.5,0.1,1"
}
 
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "4633"
	}
	insert:
	{
		"OnMapSpawn" "cage_clip,FireUser1,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "finish_trigger_push"
		"classname" "trigger_push"
	}
	replace:
	{
		"speed" "1000"
	}
}
 
;; increase zm cage push speed to prevent delays
 
modify:
{
	match:
	{
		"targetname" "gamepick_pushout_losers"
		"classname" "trigger_push"
		"hammerid" "201664"
	}
	replace:
	{
		"speed" "500"
	}
}

;; modify nuke to prevent bots from delaying

modify:
{
	match:
	{
		"targetname" "finish_trigger_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"spawnflags" "1"
		"damagemodel" "0"
		"damage" "100000"
	}
}

;; obstacle - lock from rotation

;modify:
;{
;	match:
;	{
;		"targetname" "gamepick_door_obstacle"
;		"classname" "func_door"
;	}
;	replace:
;	{
;		"spawnflags" "2048"
;	}
;}

;; minigames can be played only once

modify:
{
	match:
	{
		"targetname" "/waterfall_relay_.*/"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_slingshot,Lock,,65,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "/trap_relay_.*/"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_trap,Lock,,95,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "skyfall_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_drop,Lock,,65,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "mitd_relay_normal"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_mitd,Lock,,65,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "mitd_finish_easy_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_mitd,Lock,,2,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "lowgrav_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_lowgravity,Lock,,75,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "frogger_finish_button"
		"classname" "func_button"
	}
	insert:
	{
		"OnPressed" "gamepick_door_frogger,Lock,,32,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "/deathrun_relay_.*/"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_deathrun,Lock,,92,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "dance_relay_normal"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_conveyor,Lock,,65,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "dance_finish_easy_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_conveyor,Lock,,2,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "castle_catapalt1_path_5"
		"classname" "path_track"
	}
	insert:
	{
		"OnPass" "gamepick_door_castle,Lock,,62,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "/race_relay_.*/"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gamepick_door_obstacle,Lock,,95,-1"
	}
}

;; drop - reset player gravity

modify:
{
	match:
	{
		"origin" "-6688 464 -1664"
		"classname" "trigger_gravity"
		"hammerid" "158884"
	}
	replace:
	{
		"origin" "-6688 464 -1720"
	}
}
modify:
{
	match:
	{
		"origin" "-6688 464 -3712"
		"classname" "trigger_teleport"
		"hammerid" "7837"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,gravity 1,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "-6688 464 -3648"
		"classname" "trigger_teleport"
		"hammerid" "8122"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,gravity 1,0,-1"
	}
}

;; castle defense - no user control for catapult

modify:
{
	match:
	{
		"targetname" "castle_catapalt1_tracktrain"
		"classname" "func_tracktrain"
	}
	replace:
	{
		"spawnflags" "514"
	}
}

modify:
{
	match:
	{
		"targetname" "castle_catapalt1_path_5"
		"classname" "path_track"
	}
	delete:
	{
		"OnPass" "castle_catapalt1_wheels_*,Stop,,0,-1"
		"OnPass" "castle_catapalt1_arm,Unlock,,0,-1"
		"OnPass" "castle_maindoor_left,Open,,29,-1"
		"OnPass" "cmd,Command,say -=[ Castle gates are opening ]=-,29,-1"
		"OnPass" "cmd,Command,say -=[ Finishing in 30 seconds ]=-,30,-1"
		"OnPass" "gamesplayed_add,Trigger,,60,-1"
		"OnPass" "gamepick_enable,Trigger,,60,-1"
		"OnPass" "main_teleport_pickgame,Trigger,,60,-1"
		"OnPass" "cmd,Command,say -=[ Finishing in 5 ]=-,55,-1"
		"OnPass" "cmd,Command,say -=[ 4 ]=-,56,-1"
		"OnPass" "cmd,Command,say -=[ 3 ]=-,57,-1"
		"OnPass" "cmd,Command,say -=[ 2 ]=-,58,-1"
		"OnPass" "cmd,Command,say -=[ 1 ]=-,59,-1"
		"OnPass" "cmd,Command,say -=[ Castle gates open in 30 seconds ]=-,0,-1"
		"OnPass" "cmd,Command,say -=[ Castle gates open in 15 seconds ]=-,15,-1"
		"OnPass" "cmd,Command,say -=[ Fallback ]=-,14,-1"
		"OnPass" "castle_maindoor_right,Open,,29,-1"
	}
	insert:
	{
		"OnPass" "castle_catapalt1_wheels_*,Stop,,0,1"
		"OnPass" "castle_catapalt1_arm,Unlock,,0,1"
		"OnPass" "castle_maindoor_left,Open,,29,1"
		"OnPass" "cmd,Command,say -=[ Castle gates are opening ]=-,29,1"
		"OnPass" "cmd,Command,say -=[ Finishing in 30 seconds ]=-,30,1"
		"OnPass" "gamesplayed_add,Trigger,,60,1"
		"OnPass" "gamepick_enable,Trigger,,60,1"
		"OnPass" "main_teleport_pickgame,Trigger,,60,1"
		"OnPass" "cmd,Command,say -=[ Finishing in 5 ]=-,55,1"
		"OnPass" "cmd,Command,say -=[ 4 ]=-,56,1"
		"OnPass" "cmd,Command,say -=[ 3 ]=-,57,1"
		"OnPass" "cmd,Command,say -=[ 2 ]=-,58,1"
		"OnPass" "cmd,Command,say -=[ 1 ]=-,59,1"
		"OnPass" "cmd,Command,say -=[ Castle gates open in 30 seconds ]=-,0,1"
		"OnPass" "cmd,Command,say -=[ Castle gates open in 15 seconds ]=-,15,1"
		"OnPass" "cmd,Command,say -=[ Fallback ]=-,14,1"
		"OnPass" "castle_maindoor_right,Open,,29,1"
	}
}

;; trap - fix side ladder

filter:
{
	"targetname" "trap_ladder_3"
	"classname" "func_brush"
}

add:
{
	"model" "*282"
	"vrad_brush_cast_shadows" "0"
	"targetname" "trap_ladder_3"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "0"
	"solidbsp" "0"
	"shadowdepthnocache" "0"
	"rendermode" "0"
	"renderfx" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"origin" "1680 2993.5 -4016"
	"invert_exclusion" "0"
	"InputFilter" "0"
	"angles" "0 180 0"
	"fadescale" "1"
	"fademindist" "-1"
	"fademaxdist" "0"
	"drawinfastreflection" "0"
	"disableshadows" "1"
	"disableshadowdepth" "0"
	"disablereceiveshadows" "1"
	"disableflashlight" "0"
	"classname" "func_brush"
}
add:
{
	"model" "*282"
	"vrad_brush_cast_shadows" "0"
	"targetname" "trap_ladder_3"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "0"
	"solidbsp" "0"
	"shadowdepthnocache" "0"
	"rendermode" "0"
	"renderfx" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"origin" "1680 2993.5 -3872"
	"invert_exclusion" "0"
	"InputFilter" "0"
	"angles" "0 180 0"
	"fadescale" "1"
	"fademindist" "-1"
	"fademaxdist" "0"
	"drawinfastreflection" "0"
	"disableshadows" "1"
	"disableshadowdepth" "0"
	"disablereceiveshadows" "1"
	"disableflashlight" "0"
	"classname" "func_brush"
}

;; trap - fix trap boxes

modify:
{
	match:
	{
		"targetname" "trap_obstacle"
		"classname" "func_door"
	}
	replace:
	{
		"ignoredebris" "0"
	}
}

;; (test) skip obstacle on start and let players choose 3 minigames

modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "4633"
	}
	delete:
	{
		"OnMapSpawn" "cmd,Command,say -=[ Welcome to Zombie Games ]=-,2,-1"
		"OnMapSpawn" "main_teleport_relay,Trigger,,15,-1"
		"OnMapSpawn" "main_teleport_second_trigger_t,AddOutput,target obstacle_tele_destination_t,0,-1"
		"OnMapSpawn" "main_teleport_second_trigger_ct,AddOutput,target obstacle_tele_destination_ct,0,-1"
		"OnMapSpawn" "cmd,Command,say -=[ Round starting in 10 seconds ]=-,5,-1"
		"OnMapSpawn" "obstacle_tele_end_*,Enable,,75,-1"
		"OnMapSpawn" "cmd,Command,say -=[ Starting game: Obstacle Race ]=-,12,-1"
		"OnMapSpawn" "cmd,Command,say -=[ You have 1 minute to reach the end ]=-,13,-1"
		"OnMapSpawn" "cmd,Command,say -=[ You have 40 seconds ]=-,35,-1"
		"OnMapSpawn" "cmd,Command,say -=[ You have 20 more seconds ]=-,55,-1"
		"OnMapSpawn" "cmd,Command,say -=[ Hurry,10,65"
		"OnMapSpawn" "cmd,Command,say -=[ 5 ]=-,70,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 4 ]=-,71,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 3 ]=-,72,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 2 ]=-,73,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 1 ]=-,74,-1"
		"OnMapSpawn" "main_teleport_second_trigger_ct,AddOutput,target gamepick_tele_distination_ct,74,-1"
		"OnMapSpawn" "main_teleport_second_trigger_t,AddOutput,target gamepick_tele_distination_t,74,-1"
		"OnMapSpawn" "obstacle_reset,Trigger,,0,-1"
		"OnMapSpawn" "obstacle_tele_stragglers,Enable,,60,-1"
		"OnMapSpawn" "gamepick_autoselect_start,Trigger,,75,-1"
		"OnMapSpawn" "obstacle_endglass2_block,Disable,,0,-1"
		"OnMapSpawn" "obstacle_endglass1_block,Disable,,0,-1"
		"OnMapSpawn" "obstacle_tele_stragglers_2,Enable,,60,-1"
		"OnMapSpawn" "gamepick_pushout_relay,Trigger,,75,-1"
		"OnMapSpawn" "gamesplayed_add,Trigger,,75,-1"
	}
	insert:
	{
		"OnMapSpawn" "main_teleport_second_trigger_ct,AddOutput,target gamepick_tele_distination_ct,0,-1"
		"OnMapSpawn" "main_teleport_second_trigger_t,AddOutput,target gamepick_tele_distination_t,0,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 5 ]=-,10,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 4 ]=-,11,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 3 ]=-,12,-1"
		"OnMapSpawn" "main_teleport_relay,Trigger,,12,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 2 ]=-,13,-1"
		"OnMapSpawn" "cmd,Command,say -=[ 1 ]=-,14,-1"
		"OnMapSpawn" "cmd,Command,say -=[ Select your first game ]=-,15,-1"
		"OnMapSpawn" "gamepick_pushout_relay,Trigger,,15,-1"
		"OnMapSpawn" "gamepick_autoselect_start,Trigger,,15,-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "208349"
	}
	delete:
	{
		"OnMapSpawn" "server_command,Command,zr_infect_spawntime_max 23,0,-1"
		"OnMapSpawn" "server_command,Command,zr_infect_spawntime_min 23,0,-1"
	}
	insert:
	{
		"OnMapSpawn" "server_command,Command,zr_infect_spawntime_max 13,0,-1"
		"OnMapSpawn" "server_command,Command,zr_infect_spawntime_min 10,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "gamesplayed_case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "cmd,Command,say -=[ Select your first game ]=-,0,-1"
	}
}

;; conveyor - make platforms 5% higher

modify:
{
	match:
	{
		"origin" "-384 -624 -640"
		"targetname" "dance_trackpath_left_01"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "-384 -624 -631"
	}
}
modify:
{
	match:
	{
		"origin" "-1664 -624 -640"
		"targetname" "dance_trackpath_left_02"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "-1664 -624 -631"
	}
}
modify:
{
	match:
	{
		"origin" "-2960 -624 -640"
		"targetname" "dance_trackpath_left_03"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "-2960 -624 -631"
	}
}
modify:
{
	match:
	{
		"origin" "-2960 -176 -640"
		"targetname" "dance_trackpath_right_01"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "-2960 -176 -631"
	}
}
modify:
{
	match:
	{
		"origin" "-1664 -176 -640"
		"targetname" "dance_trackpath_right_02"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "-1664 -176 -631"
	}
}
modify:
{
	match:
	{
		"origin" "-384 -176 -640"
		"targetname" "dance_trackpath_right_03"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "-384 -176 -631"
	}
}

;; conveyor - give humans time to get on the platforms

add:
{
	"model" "*313"
	"StartDisabled" "0"
	"targetname" "conveyor_push"
	"speed" "2000"
	"spawnflags" "1"
	"pushdir" "90 0 0"
	"origin" "-1664 -384 -752"
	"alternateticksfix" "0"
	"classname" "trigger_push"
	"OnStartTouch" "!self,Disable,,5,1"
}