;----------------------
; Stripper by .Rushaway
; Note: The previous stripper is handled by our global_filters.cfg (was to disable shadow on func_door)
;-----------------------------------------
; Fix: (Stage 4 | RTV | RTV 2) TP Exploit
;-----------------------------------------
modify:
{
    match:
    {
        "targetname" "teleport_st4_boss_zm_spawn"
        "classname" "trigger_teleport"
    }
    replace:
    {
        "origin" "3332 3204 600"
    }
}

;--------------------------------------------------------------------------
; Fix: (Stage 4 | RTV | RTV 2) TP Exploit #2 (Area not covered by trigger)
;--------------------------------------------------------------------------
add:
{
    "model" "*74"
    "UseLandmarkAngles" "1"
    "targetname" "teleport_st4_last_otita"
    "target" "destination_st4_boss_zm"
    "spawnflags" "4097"
    "origin" "-10760 2453 -15212"
    "CheckDestIfClearForPlayer" "0"
    "classname" "trigger_teleport"
}