;prevent dynamic shadow crash
modify:
{
	match:
	{
		"targetname" "move_rtv2_boss_ikura_2"
		"classname" "func_door"
	}
	replace:
	{
		"disablereceiveshadows" "1"
		"disableshadows" "1"
	}
}
modify:
{
	match:
	{
		"targetname" "move_st3_boss_ikura_2"
		"classname" "func_door"
	}
	replace:
	{
		"disablereceiveshadows" "1"
		"disableshadows" "1"
	}
}

;kill rtv boss counter on stage 4 and vice versa
modify:
{
	match:
	{
		"targetname" "newlv_relay_4"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "counter_rtv_boss_vida,Kill,,0,-1"
	}
}

;these seems to be switched for some reason?
modify:
{
	match:
	{
		"targetname" "newlv_relay_rtv"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "counter_st4_boss_vida,Kill,,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "newlv_relay_rtv2"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "counter_st4_boss_vida,Kill,,0,-1"
		"OnTrigger" "counter_rtv_boss_vida,Kill,,0,-1"
	}
}

;----------------------
; Stripper by .Rushaway
; Note: The previous stripper is handled by our global_filters.cfg (was to disable shadow on func_door)
;-----------------------------------------
; Fix: (Stage 4 | RTV | RTV 2) TP Exploit
;-----------------------------------------
modify:
{
	match:
	{
		"targetname" "teleport_st4_boss_zm_spawn"
		"classname" "trigger_teleport"
	}
	replace:
	{
		"origin" "3332 3204 600"
	}
}

;--------------------------------------------------------------------------
; Fix: (Stage 4 | RTV | RTV 2) TP Exploit #2 (Area not covered by trigger)
;--------------------------------------------------------------------------
add:
{
	"model" "*74"
	"UseLandmarkAngles" "1"
	"targetname" "teleport_st4_last_otita"
	"target" "destination_st4_boss_zm"
	"spawnflags" "4097"
	"origin" "-10760 2453 -15212"
	"CheckDestIfClearForPlayer" "0"
	"classname" "trigger_teleport"
}