;====================
;Add tp on level3 end
;====================
add:
{
    "classname" "info_target"
    "targetname" "Stripper_Tp_Target"
    "spawnflags" "0"
    "angles" "0 180 0"
    "origin" "-1152 1536 8176"
}
modify:
{
    match:
    {
        "classname" "trigger_teleport"
        "targetname" "tp_afk14"
    }
    replace:
    {
        "target" "Stripper_Tp_Target"
    }
}
modify:
{
    match:
    {
        "classname" "logic_relay"
        "targetname" "lvl3_end_relay"
    }
    insert:
    {
        "OnTrigger" "cmd,Command,say ****Zombies tp in 10 seconds****,47,-1"
        "OnTrigger" "tp_afk14,Enable,,57,-1"
    }
}

;---------------------------------------------------
; adds a new nuke so instead of doing a zone count
;---------------------------------------------------
add:
{
    "model" "*191"
    "targetname" "zm_hurt_end_1"
    "classname" "trigger_hurt"
    "StartDisabled" "1"
    "origin" "1824 1664 8064"
    "damagecap" "9999"
    "damage" "9999999"
    "spawnflags" "1"
}
add:
{
    "model" "*191"
    "targetname" "zm_hurt_end_2"
    "classname" "trigger_hurt"
    "StartDisabled" "1"
    "origin" "-416 1664 8064"
    "damagecap" "9999"
    "damage" "9999999"
    "spawnflags" "1"
}
add:
{
    "model" "*191"
    "targetname" "zm_hurt_end_3"
    "classname" "trigger_hurt"
    "StartDisabled" "1"
    "origin" "-2656 1664 8064"
    "damagecap" "9999"
    "damage" "9999999"
    "spawnflags" "1"
}
;-------------------------------------------------------------------------------------
; on func_movelinear end the hurt is enabled as a safety incase map way is broken
;-------------------------------------------------------------------------------------
modify:
{
    match:
    {
        "targetname" "lvl3_end_platform"
        "classname" "func_movelinear"
    }
    insert:
    {
        "OnFullyOpen" "zm_hurt_end_1,Enable,,0,1"
        "OnFullyOpen" "zm_hurt_end_2,Enable,,0,1"
        "OnFullyOpen" "zm_hurt_end_3,Enable,,0,1"
    }
}
