;----------------------------------------
; Fix Wheels Wizard Stage 10
;----------------------------------------
modify:
{
	match:
	{
		"classname" "momentary_rot_button"
		"targetname" "stage3_ex_wizard_rbut1"
	}
	replace:
	{
		"distance" "68"
		"speed" "3"
	}
}
modify:
{
	match:
	{
		"classname" "momentary_rot_button"
		"targetname" "stage3_ex_wizard_rbut2"
	}
	replace:
	{
		"distance" "68"
		"speed" "3"
	}
}

;---------------------
; Prevent client crash
;---------------------
; Weather crash
filter:
{
	"targetname" "weathersys_*"
}
filter:
{
	"targetname" "map_adroom_opt_weather"
	"classname" "logic_relay"
}
filter:
{
	"targetname" "map_adroom_comp_weather"
	"classname" "logic_compare"
}

; Stage 1: After boss fight, last hold point
; Disable all items particles to try prevent client crash
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stage1_boss_ending"
	}
	insert:
	{
		"OnStartTouch" "console,Command,say >>> DISABLING ITEMS PARTICLES TO PREVENT GAME CRASH <<<,0,1"
		"OnStartTouch" "info_particle_system,Kill,,0,1"
	}
}

;-------------------------
; Fix: reset players size
;-------------------------
add:
{
	"targetname" "game_playerdie"
	"StartDisabled" "0"
	"spawnflags" "0"
	"InputFilter" "14"
	"classname" "trigger_brush"
	"OnUse" "!activator,ClearContext,,0.02,-1"
	"OnUse" "!activator,AddOutput,modelscale 1.0,0.02,-1"
}