;; _

;; prevent vending machines from being stuck in tram

add:
{
	"model" "*167"
	"StartDisabled" "0"
	"spawnflags" "8"
	"origin" "-334 434 352"
	"classname" "trigger_remove"
}
add:
{
	"model" "*167"
	"StartDisabled" "0"
	"spawnflags" "8"
	"origin" "204 10.5 352"
	"angles" "0 90 0"
	"classname" "trigger_remove"
}
add:
{
	"model" "*167"
	"StartDisabled" "0"
	"spawnflags" "8"
	"origin" "-269.5 13 352"
	"angles" "0 90 0"
	"classname" "trigger_remove"
}

;; slightly correct tram's path_track origin

modify:
{
	match:
	{
		"targetname" "liftpaths9"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "290 1328 525"
		"target" "liftpaths9_1"
	}
}

add:
{
	"origin" "325 3144 720"
	"targetname" "liftpaths9_1"
	"target" "liftpaths10"
	"speed" "250"
	"spawnflags" "0"
	"radius" "0"
	"orientationtype" "1"
	"angles" "0 0 0"
	"classname" "path_track"
}

modify:
{
	match:
	{
		"targetname" "liftpaths10"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "300 4480 905"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths11"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "300 6514 1640"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths12"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "305 9440 2150"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths13"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "305 9494 2150"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths14"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "208 9575 2150"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths15"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "105 9552 2150"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths16"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "15 6520 1655"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths17"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "14 4480 920"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths18"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "16 3120 728"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths19"
		"classname" "path_track"
	}
	replace:
	{
		"origin" "-260 1328 535"
	}
}

;; unlock nuke button on first tram arrival

modify:
{
	match:
	{
		"origin" "264 10237 2233"
		"classname" "func_button"
		"hammerid" "46665"
	}
	insert:
	{
		"targetname" "nuke_button"
	}
	replace:
	{
		"spawnflags" "3073"
	}
}
modify:
{
	match:
	{
		"targetname" "liftpaths12"
		"classname" "path_track"
	}
	insert:
	{
		"OnPass" "nuke_button,Unlock,,0,1"
	}
}

