;Enables the teleport in the silo room so that zombies don't spawn far behind

modify:
{
	match:
	{
		"origin" "-8819.01 273 -2854.01"
		"classname" "func_button"
		"hammerid" "277514"
	}
	insert:
	{
		"OnPressed" "tele_4,Enable,,0,-1"
		"OnPressed" "tele_destination_4,AddOutput,origin -8784 4336 -1764,0,1"
		"OnPressed" "tele_destination_4,AddOutput,angles 0 270 0,0,1"
	}
}

;Moves the silo teleport to the elevator room

modify:
{
	match:
	{
		"targetname" "relay_5"
		"classname" "logic_relay"
		"hammerid" "278017"
	}
	insert:
	{
		"OnTrigger" "tele_destination_4,AddOutput,origin -7496 -2984 -3000,20,1"
		"OnTrigger" "tele_destination_4,AddOutput,angles 0 270 0,0,1"
	}
}

;Makes the AFK tp at the end happen sooner

modify:
{
	match:
	{
		"targetname" "relay_end_2222"
		"classname" "logic_relay"
		"hammerid" "712552"
	}
	delete:
	{
		"OnTrigger" "TeleThing_04,Enable,,50,-1"
	}
	insert:
	{
		"OnTrigger" "TeleThing_04,Enable,,30,-1"
	}
}
