;Warn that failnades are enabled
add:
{
	"targetname" "failnade"
	"classname" "logic_auto"
	"origin" "-57.2 392.6 0.0"
	"hammerid" "337325"
	"OnMapSpawn" "com,Command,say BE CAREFUL FAILNADES ARE ENABLED !!!,3,1"
}
add:
{
	"targetname" "zmbetween"
	"classname" "logic_auto"
	"origin" "-57.2 395.6 0.0"
	"hammerid" "337326"
	"OnMapSpawn" "com,Command,say ZOMBIES WILL SPAWN BETWEEN HUMANS !!!,5,1"
}
;Disable Skybox Teleport
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "OrangePath6"
	}
	insert:
	{
		"OnPass" "SkyboxTeleport,Disable,,0,-1"
	}
}
;Re-Enable Skybox Teleport to a new dest to prevent camp
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "OrangePath6"
	}
	insert:
	{
		"OnPass" "SkyboxTeleport,AddOutput,target SkyBoxTarget2,0,1"
	}
}
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "OrangePath7"
	}
	insert:
	{
		"OnPass" "SkyboxTeleport,Enable,,0,-1"
	}
}