;Fix stage 4 nuke
modify:
{
	match:
	{
		"classname"		"trigger_multiple"
		"targetname"	"stage_4_escape_elevator_trigger_win"
	}
	insert:
	{
		"parentname"	"stage_4_escape_elevator"
	}
}

;Doesnt make game text appear forever
modify:
{
	match:
	{
		"targetname" "ui_beta_notice"
		"classname" "game_text"
	}
	replace:
	{
		"holdtime" "5"
	}
}

;Fix ending logic
modify:
{
	match:
	{
		"classname"		"trigger_multiple"
		"targetname"	"stage_1_zombie_detector"
	}
	replace:
	{
		"wait" "0.1"
	}
}

modify:
{
	match:
	{
		"classname"		"trigger_multiple"
		"targetname"	"stage_2_zombie_detector"
	}
	replace:
	{
		"wait" "0.1"
	}
}

modify:
{
	match:
	{
		"classname"		"trigger_multiple"
		"targetname"	"stage_3_zombie_detector"
	}
	replace:
	{
		"wait" "0.1"
	}
}

modify:
{
	match:
	{
		"classname"		"trigger_multiple"
		"targetname"	"stage_5_zombie_detector"
	}
	replace:
	{
		"wait" "0.1"
	}
}

; Convert trigger_brush to logic_eventlistener
filter:
{
	"targetname" "game_playerdie"
	"classname" "trigger_brush"
}
add:
{
	"targetname" "game_playerdie"
	"IsEnabled" "1"
	"EventName" "player_death"
	"classname" "logic_eventlistener"
	"OnEventFired" "!activator,ClearParent,,0.02,-1"
	"OnEventFired" "!activator,AddOutput,targetname player_none,0,-1"
}

filter:
{
	"targetname" "game_playerspawn"
	"classname" "trigger_brush"
}
add:
{
	"targetname" "game_playerspawn"
	"IsEnabled" "1"
	"EventName" "player_spawn"
	"classname" "logic_eventlistener"
	"OnEventFired" "!Activator,AddOutput,targetname player_none,0,-1"
	"OnEventFired" "!Activator,SetFogController,fog_null,0,-1"
}

;--------------------------------
; Fix incorrect targetname usage
;--------------------------------
modify:
{
	match:
	{
		"targetname" "stage_4_depth_titan_target_selector"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnTrigger" "!activator,AddOutput,targetname player,5.99,-1"
	}
	insert:
	{
		"OnTrigger" "!activator,AddOutput,targetname player_none,5.99,-1"
	}
}