; Stripper by Pasas1345 <- this guy a dumbass
; Iteration #7

;  <- the ESC Character

; Stripper Indicator
add:
{
	"classname" "logic_auto"
	"origin" "0 0 0"
	"OnMapSpawn" "_map_scriptRunScriptCodeMapPrint(`Current Stripper Status: Iteration #7`)2.0-1"
}

; ---------------------------
; GENERAL FIXES
; ---------------------------

; Map Script - Fix the Map Functions File / Map Script Fixes
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/map_script.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/map_script.nut"
	}
}

; Fail Screen - Don't hide the HUD anymore / VScript Fixes
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/fail_screen.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/fail_screen.nut"
	}
}

; ---------------------------
; BLUE GATE
; ---------------------------

; Blue Gate - Fixes late joiners bugging out the entire stage
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/blue_gate/time_leap.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/blue_gate/time_leap.nut"
	}
}

; Blue Gate - Fix the door blocking
modify:
{
	match:
	{
		"targetname" "bluegate_ground_door3"
	}
	replace:
	{
		"dmg" "10000"
	}
}

; Blue Gate - Fix late teleport not teleporting humans
modify:
{
	match:
	{
		"targetname" "bluegate_ground_teleport1_zms"
	}
	delete:
	{
		"filtername" "filter_t"
	}
}

; Blue Gate - Nerf most of the hold times
modify:
{
	match:
	{
		"origin" "12032 9208 -2112"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will close in 30 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will close in 20 seconds.`)10-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will close in 10 seconds.`)20-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will close in 5 seconds.`)25-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door is closing.`)30-1"
		"OnTrigger" "bluegate_ground_door3Close30-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The TV screen is shining...`)35-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The butterflies. They fly towards you.`)38-1"
		"OnTrigger" "bluegate_ground_tv_shineToggle35-1"
		"OnTrigger" "bluegate_ground_tv_butterfliesStart38-1"
		"OnTrigger" "bluegate_ground_tv_fadeFade38-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The butterflies. They have infused with you.`)43-1"
		"OnTrigger" "script_bluegate_timeleapRunScriptCodeEnableTimeLeap(true)48-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`You wake up in a new area.`)46-1"
		"OnTrigger" "bluegate_ground_teleport1Enable47-1"
		"OnTrigger" "bluegate_ground_teleport1_zmsEnable47-1"
		"OnTrigger" "_musicRunScriptCodeFadeOutTrack(10)35-1"
		"OnTrigger" "_musicRunScriptCodeSetCurrentTrack(`BlueGate2`, true)48-1"
	}
	insert:
	{
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will close in 15 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will close in 10 seconds.`)5-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will close in 5 seconds.`)10-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door is closing.`)15-1"
		"OnTrigger" "bluegate_ground_door3Close15-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The TV screen is shining...`)20-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The butterflies. They fly towards you.`)23-1"
		"OnTrigger" "bluegate_ground_tv_shineToggle20-1"
		"OnTrigger" "bluegate_ground_tv_butterfliesStart23-1"
		"OnTrigger" "bluegate_ground_tv_fadeFade23-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The butterflies. They have infused with you.`)28-1"
		"OnTrigger" "script_bluegate_timeleapRunScriptCodeEnableTimeLeap(true)32-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`You wake up in a new area.`)30-1"
		"OnTrigger" "bluegate_ground_teleport1Enable32-1"
		"OnTrigger" "bluegate_ground_teleport1_zmsEnable32.05-1"
		"OnTrigger" "_musicRunScriptCodeFadeOutTrack(10)20-1"
		"OnTrigger" "_musicRunScriptCodeSetCurrentTrack(`BlueGate2`, true)32-1"
	}
}
modify:
{
	match:
	{
		"targetname" "bluegate_ground_tv_fade"
		"classname" "env_fade"
	}
	replace:
	{
		"duration" "4"
	}
}
modify:
{
	match:
	{
		"origin" "9600 11888 -2368"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 30 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 15 seconds.`)15-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 5 seconds.`)25-1"
		"OnTrigger" "bluegate_ground_door1Open30-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door is open!`)30-1"
	}
	insert:
	{
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 20 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 10 seconds.`)10-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 5 seconds.`)15-1"
		"OnTrigger" "bluegate_ground_door1Open20-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door is open!`)20.00-1"
	}
}
modify:
{
	match:
	{
		"origin" "10864 10560 -2368"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 25 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 10 seconds.`)15-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 5 seconds.`)20-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door is open!`)25-1"
		"OnTrigger" "bluegate_ground_door2Open25-1"
	}
	insert:
	{
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 15 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 10 seconds.`)5-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 5 seconds.`)10-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door is open!`)15-1"
		"OnTrigger" "bluegate_ground_door2Open15-1"
	}
}
modify:
{
	match:
	{
		"origin" "5024 10320 -7136"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "bluegate_sky_block_6Kill40-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The path is traversable in 40 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The path is traversable in 20 seconds.`)20-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The path is traversable in 5 seconds.`)35-1"
	}
	insert:
	{
		"OnTrigger" "bluegate_sky_block_6Kill25-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The path is traversable in 25 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The path is traversable in 10 seconds.`)15-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The path is traversable in 5 seconds.`)20-1"
	}
}
modify:
{
	match:
	{
		"origin" "4768 9888 -7072"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "bluegate_temple_doorOpen20-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 20 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 10 seconds.`)10-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 5 seconds.`)15-1"
	}
	insert:
	{
		"OnTrigger" "bluegate_temple_doorOpen15-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 15 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 10 seconds.`)5-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The door will open in 5 seconds.`)10-1"
	}
}

; Blue Gate - Remove one of the holds.
filter:
{
	"origin" "4640 11144 -7136"
	"classname" "trigger_once"
}
filter:
{
	"targetname" "bluegate_sky_block_5"
}

; Blue Gate - Fix one of the random gear bridge brushes not being part of the wall Toggle
; Yes i am doing a push
add:
{
	"model" "*153"
	"classname" "trigger_push"
	"targetname" "bluegate_gearfix_push"
	"origin" "4768 9328 1920"
	"pushdir" "0 270 0"
	"speed" "600"
	"spawnflags" "1"
	"StartDisabled" "1"
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "4768 8896 -7008"
	}
	insert:
	{
		"OnTrigger" "bluegate_gearfix_pushEnable87-1"
	}
}

; ---------------------------
; WHITE GATE
; ---------------------------

; White Gate - Change Pylon C's delay to 15 seconds.
modify:
{
	match:
	{
		"targetname" "whitegate_school_cagebarrier_pylonC"
	}
	delete:
	{
		"OnBreak" "whitegate_school_teleportout_cageKill10-1"
		"OnBreak" "whitegate_school_teleportout_cage_wallKill10-1"
	}
	insert:
	{
		"OnBreak" "whitegate_school_teleportout_cageKill15-1"
		"OnBreak" "whitegate_school_teleportout_cage_wallKill15-1"
	}
}

; White Gate - Change hold timers
modify:
{
	match:
	{
		"origin" "11656 -512 -1504"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way will open in 40 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way will open in 20 seconds.`)20-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way will open in 10 seconds.`)30-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way will open in 5 seconds.`)35-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way is open.`)40-1"
		"OnTrigger" "whitegate_school_wall1_breakKill40-1"
		"OnTrigger" "whitegate_school_wall1Kill40-1"
	}
	insert:
	{
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way will open in 30 seconds.`)0-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way will open in 15 seconds.`)15-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way will open in 5 seconds.`)25-1"
		"OnTrigger" "_map_scriptRunScriptCodeMapPrint(`The way is open.`)30-1"
		"OnTrigger" "whitegate_school_wall1_breakKill30-1"
		"OnTrigger" "whitegate_school_wall1Kill30-1"
	}
}

; White Gate - Fix up white boss hp
modify:
{
	match:
	{
		"targetname" "whitegate_school_boss_breakable"
	}
	replace:
	{
		"health" "999999999"
	}
}
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/white_gate/white_boss.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/white_gate/white_boss.nut"
	}
}

; White Gate - Fix internal errors with Fire Crystal, along with fixing field damage
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/white_gate/item_firecrystal.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/white_gate/item_firecrystal.nut"
	}
}

; White Gate - Do the same for Ice.
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/white_gate/item_icecrystal.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/white_gate/item_icecrystal.nut"
	}
}

; ---------------------------
; VIOLET GATE
; ---------------------------

; Violet Gate - Boss VScript Fixes
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/violet_gate/violet_boss.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/violet_gate/violet_boss.nut"
	}
}

; Violet Gate - Fix Mountain Skips
add:
{
	"classname" "trigger_push"
	"targetname" "violetgate_mountainskip1"
	"model" "*148"
	"origin" "6208 -9216 2960"
	"pushdir" "90 0 0"
	"speed" "600"
	"spawnflags" "1"
}
add:
{
	"model" "*142"
	"classname" "trigger_push"
	"targetname" "violetgate_mountainskip1"
	"origin" "5840 -8736 2788"
	"pushdir" "90 0 0"
	"speed" "600"
	"spawnflags" "1"
}
add:
{
	"model" "*154"
	"classname" "trigger_push"
	"targetname" "violetgate_mountainskip2"
	"origin" "3504 -8176 3504"
	"pushdir" "90 0 0"
	"speed" "600"
	"spawnflags" "1"
}
add:
{
	"model" "*152"
	"classname" "trigger_push"
	"targetname" "violetgate_mountainskip3"
	"origin" "3072 -5424 3392"
	"pushdir" "0 0 0"
	"speed" "350"
	"spawnflags" "1"
}
add:
{
	"model" "*152"
	"classname" "trigger_push"
	"targetname" "violetgate_mountainskip3"
	"origin" "3072 -6320 3392"
	"pushdir" "0 180 0"
	"speed" "350"
	"spawnflags" "1"
}
add:
{
	"model" "*116"
	"classname" "trigger_push"
	"targetname" "violetgate_mountainskip4"
	"origin" "3800 -5688 3252.14"
	"pushdir" "0 90 0"
	"speed" "350"
	"spawnflags" "1"
}
modify:
{
	match:
	{
		"origin" "5760 -7664 3107.53"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "violetgate_mountainskip1Kill20.00-1"
	}
}

; Violet Gate - Move one trigger a bit farther away to avoid early triggers. Also add a trigger
modify:
{
	match:
	{
		"origin" "3632 -5936 3464"
		"classname" "trigger_once"
	}
	replace:
	{
		"origin" "3632 -6096 3464"
	}
	insert:
	{
		"OnTrigger" "violetgate_mountainskip4Kill0.00-1"
		"OnTrigger" "violetgate_mountainskip2Kill35.00-1"
		"OnTrigger" "violetgate_mountainskip3Kill35.00-1"
	}
}

; Violet Gate - Fix late teleport not having the late teleport vscript GOOFY
modify:
{
	match:
	{
		"targetname" "violetgate_lateteleport_boss"
	}
	insert:
	{
		"vscripts" "ze_kaleidoscope/triggers/late_teleport.nut"
	}
}

; Violet Gate - Make everyone who goes inside have 150 HP.
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "4316 -6892 4526"
	}
	insert:
	{
		"OnStartTouch" "!activatorRunScriptCodeself.SetMaxHealth(150)0.00-1"
		"OnStartTouch" "!activatorRunScriptCodeself.SetHealth(150)0.01-1"
	}
}

; Violet Gate - Disable ZM Items
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/violet_gate/end_sequence.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/violet_gate/end_sequence.nut"
	}
}

; Violet Gate - Buff Black Rose Item
modify:
{
	match:
	{
		"vscripts" "ze_kaleidoscope/violet_gate/black_rose_item.nut"
	}
	replace:
	{
		"vscripts" "ze_kaleidoscope/stripper/violet_gate/black_rose_item.nut"
	}
}

; Violet Gate - Just in case the script doesn't patch it, increase hp
modify:
{
	match:
	{
		"targetname" "violetgate_boss_breakable"
	}
	replace:
	{
		"health" "999999999"
	}
}