; Replace vscripts
modify:
{
    match:
    {
        "classname" "logic_script"
        "targetname" "winners_list"
    }
    replace:
    {
        "vscripts" "ze_limitless/winners.nut"
    }
}
modify:
{
    match:
    {
        "classname" "logic_script"
        "targetname" "shop_script"
    }
    replace:
    {
        "vscripts" "ze_limitless/limitless_v3.nut"
    }
}