;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
modify:
{
	match:
	{
		"classname" "worldspawn"
		"hammerid" "1"
	}
	replace:
	{
		"mapversion" "1588"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Level_Case"
		"origin" "180.64 -1359 -261"
		"hammerid" "22626"
	}
	delete:
	{
		"OnCase02" "adminkillall,Use,,0,-1"
		"OnCase03" "adminkillall,Use,,0,-1"
		"OnCase01" "All the Commands,Command,say <<Stage 1>>,1,1"
		"OnCase01" "All the Commands,Command,say HEY ITS A PERSON WHO DOESNT LIKE TO PLAY IN OTHER SERVERS! FUCK HIM,0,8"
		"OnCase01" "adminkillall,Use,,0,-1"
	}
	insert:
	{
		"OnCase01" "All the Commands,Command,say <<Stage 1>>,0,1"
	}
}
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "adminkillall"
		"origin" "-374.5 -2075.5 -235"
		"model" "*60"
		"hammerid" "27517"
	}
	delete:
	{
		"targetname" "adminkillall"
	}
}
modify:
{
	match:
	{
		"classname" "logic_timer"
		"targetname" "lasertimer"
		"origin" "-88 168 1720"
		"hammerid" "101164"
	}
	replace:
	{
		"StartDisabled" "1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_timer"
		"targetname" "laserextimer"
		"origin" "-88 168 1736"
		"hammerid" "121809"
	}
	replace:
	{
		"StartDisabled" "1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "lvl1extelewater"
		"origin" "-1744 -560 432"
		"model" "*192"
		"hammerid" "218518"
	}
	replace:
	{
		"StartDisabled" "1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "shotgun_relay"
		"origin" "-744 -1152 377"
		"hammerid" "275162"
	}
	replace:
	{
		"StartDisabled" "0"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "cryogasgrenade_relay"
		"origin" "-1096 -1384 376"
		"hammerid" "275222"
	}
	replace:
	{
		"StartDisabled" "0"
	}
}
modify:
{
	match:
	{
		"targetname" "Kerrrigan_Counter"
		"classname" "math_counter"
	}
	insert:
	{
		"OnHitMin" "margaretzombiesurpriseteleback,Kill,,0,-1"
	}
}

