; Add targetname to bosshp trigger + fix incorrect health
modify:
{
	match:
	{
		"origin" "-14071.5 9651 12516"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"targetname" "boss_hp_add"
	}
}
modify:
{
	match:
	{
		"origin" "-11863.5 9651 12516"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "LV1_END_BOSS,AddHealth,400,0,-1"
	}
	insert:
	{
		"targetname" "boss_hp_add"
		"OnStartTouch" "LV1_END_BOSS,AddHealth,300,0,-1"
	}
}

; Resets color filters - boss kill
modify:
{
	match:
	{
		"classname" "func_breakable"
		"origin" "-12969.5 14074.5 12436"
	}
	insert:
	{
		"OnBreak" "color4,disable,,34,1"
		"OnBreak" "color3,disable,,34,1"
		"OnBreak" "color3,kill,,35,1"
		"OnBreak" "color4,kill,,35,1"
	}
}

; Resets color filters - logic auto
modify:
{
	match:
	{
		"classname" "logic_auto"
		"origin" "-1332 -4971 4206"
	}
	insert:
	{
		"OnMapSpawn" "color4,disable,,0,1"
		"OnMapSpawn" "color3,disable,,0,1"
	}
}

;
; BELOW CHANGES BY KOEN (STEAM_1:1:114921174)
;

;increase round time
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "servercommand,Command,mp_roundtime 15,0,1"
	}
}

;give items more ammo
modify:
{
	match:
	{
		"classname" "weapon_usp"
	}
	insert:
	{
		"ammo" "5000"
	}
}

;fix secret random teleports
filter:
{
	"classname" "info_teleport_destination"
	"targetname" "secret_tp"
}
add:
{
	"classname" "logic_case"
	"origin" "-12944 8384 12383.5"
	"targetname" "secret_case"
	"OnCase01" "secret_tp1,Teleport,,0,-1"
	"OnCase02" "secret_tp2,Teleport,,0,-1"
	"OnCase03" "secret_tp3,Teleport,,0,-1"
	"OnCase04" "secret_tp4,Teleport,,0,-1"
}
add:
{
	"classname" "point_teleport"
	"origin" "-13308 8979 12640"
	"targetname" "secret_tp1"
	"target" "!activator"
	"angles" "0 315 0"
}
add:
{
	"classname" "point_teleport"
	"origin" "-12632 8968 12640"
	"targetname" "secret_tp2"
	"target" "!activator"
	"angles" "0 225 0"
}
add:
{
	"classname" "point_teleport"
	"origin" "-12622 8128 12640"
	"targetname" "secret_tp3"
	"target" "!activator"
	"angles" "0 135 0"
}
add:
{
	"classname" "point_teleport"
	"origin" "-13319 8122 12640"
	"targetname" "secret_tp4"
	"target" "!activator"
	"angles" "0 45 0"
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "secret"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	delete:
	{
		"target" "secret_tp"
	}
	insert:
	{
		"OnStartTouch" "secret_case,PickRandomShuffle,,0,-1"
	}
}

;fix random teleport at end
filter:
{
	"classname" "info_teleport_destination"
	"targetname" "lv1_zombo_tp_end"
}
add:
{
	"classname" "logic_case"
	"origin" "936 -4701 -1428"
	"targetname" "lv1_zombo_tp_case"
	"OnCase01" "lv1_zombo_tp_end1,Teleport,,0,-1"
	"OnCase02" "lv1_zombo_tp_end2,Teleport,,0,-1"
	"OnCase03" "lv1_zombo_tp_end3,Teleport,,0,-1"
	"OnCase04" "lv1_zombo_tp_end4,Teleport,,0,-1"
}
add:
{
	"classname" "point_teleport"
	"origin" "907 -4701 -1428"
	"targetname" "lv1_zombo_tp_end1"
	"target" "!activator"
	"angles" "0 90 0"
}
add:
{
	"classname" "point_teleport"
	"origin" "2686 -2894 -1428"
	"targetname" "lv1_zombo_tp_end2"
	"target" "!activator"
	"angles" "0 180 0"
}
add:
{
	"classname" "point_teleport"
	"origin" "914 -1107 -1428"
	"targetname" "lv1_zombo_tp_end3"
	"target" "!activator"
	"angles" "0 270 0"
}
add:
{
	"classname" "point_teleport"
	"origin" "-881 -2880 -1428"
	"targetname" "lv1_zombo_tp_end4"
	"target" "!activator"
	"angles" "0 0 0"
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "lv1_spawntp"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	delete:
	{
		"target" "lv1_zombo_tp_end"
	}
	insert:
	{
		"OnStartTouch" "lv1_zombo_tp_case,PickRandomShuffle,,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "lv1_zombo_tp_end_all"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	delete:
	{
		"target" "lv1_zombo_tp_end"
	}
	insert:
	{
		"OnStartTouch" "lv1_zombo_tp_case,PickRandomShuffle,,0,-1"
	}
}

;remove unused adminroom buttons
filter:
{
	"classname" "func_button"
	"targetname" "/admin_button_(3|4)/"
}

;remove vscript outputs
modify:
{
	match:
	{
		"/.*/" "/.*,RunScriptCode,.*/"
	}
	delete:
	{
		"/.*/" "/.*,RunScriptCode,.*/"
	}
}

;remove broken/missing entities
filter:
{
	"classname" "logic_script"
}
filter:
{
	"classname" "point_worldtext"
}
filter:
{
	"classname" "postprocess_controller"
}

;remove unused entity maker
filter:
{
	"classname" "env_entity_maker"
	"targetname" "shield_itemmaker"
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "571791"
	}
	delete:
	{
		"OnStartTouch" "shield_itemmaker,ForceSpawn,,0,1"
	}
}

;fix music volume not being adjustable
modify:
{
	match:
	{
		"message" "luciddreams/level - practice - music.mp3"
	}
	replace:
	{
		"message" "#luciddreams/level - practice - music.mp3"
	}
}
modify:
{
	match:
	{
		"message" "luciddreams/solo_remix_epic_heyfumi.mp3"
	}
	replace:
	{
		"message" "#luciddreams/solo_remix_epic_heyfumi.mp3"
	}
}
modify:
{
	match:
	{
		"message" "luciddreams/rapidfire_loop.mp3"
	}
	replace:
	{
		"message" "#luciddreams/rapidfire_loop.mp3"
	}
}
modify:
{
	match:
	{
		"message" "luciddreams/artcore insensibilitv.mp3"
	}
	replace:
	{
		"message" "#luciddreams/artcore insensibilitv.mp3"
	}
}
modify:
{
	match:
	{
		"message" "luciddreams/ahisa - logical stimulus.mp3"
	}
	replace:
	{
		"message" "#luciddreams/ahisa - logical stimulus.mp3"
	}
}
