;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;FIX NUKE GLITCH 
;----------------

; Just breaking rocks is easier i guess

modify:
{
	match:
	{
		"targetname" "roundrock1_trigger"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "roundrock1,Break,,45,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "roundrock2_trigger"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "roundrock2,Break,,30,-1"
	}
}

;-----------------------------------------------------
; NiDE: Warn that crowd spawn + fail nade are enabled
;-----------------------------------------------------
modify:
{
	match:
	{
		"origin" "-9 -2639.45 -10.0398"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "credits,Command,say >> ZOMBIES WILL SPAWN BETWEEN HUMANS! <<,3,-1"
		"OnMapSpawn" "credits,Command,say >> BE CAREFUL FAILNADES ARE ENABLED! <<,4,-1"
	}
}

;--------------------------------
; Prevent reaching illegal spots
;--------------------------------
add:
{
	"model" "*59"
	"targetname" "EndSmallRoof"
	"StartDisabled" "0"
	"speed" "250"
	"spawnflags" "1"
	"pushdir" "0 0 0"
	"origin" "2200 2544 1785"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

add:
{
	"model" "*59"
	"targetname" "EndBigRoofSideIII"
	"StartDisabled" "0"
	"speed" "250"
	"spawnflags" "1"
	"pushdir" "0 55 0"
	"origin" "2712 2872 1786"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

add:
{
	"model" "*59"
	"targetname" "EndBigRoofSideIX"
	"StartDisabled" "0"
	"speed" "250"
	"spawnflags" "1"
	"pushdir" "0 225 0"
	"origin" "2408 2872 1786"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}