; =======================================;
; ze_legend_of_astrum_v1 -- By Pasas1345
; Stripper by Pasas1345
; Iteration #2
; =======================================;

; ------------------
; General
; ------------------

; Increase the speed of the zombies, apparently 260 is way too slow
modify:
{
	match:
	{
		"targetname" "init_level2_relay"
		"classname"	"logic_relay"
	}
	delete:
	{
		"OnTrigger" "console,Command,zr_class_modify zombies speed 260,0.00,-1"
	}
	insert:
	{
		"OnTrigger" "console,Command,zr_class_modify zombies speed 310,0.00,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "init_level3_relay"
		"classname"	"logic_relay"
	}
	delete:
	{
		"OnTrigger" "console,Command,zr_class_modify zombies speed 260,0.00,-1"
	}
	insert:
	{
		"OnTrigger" "console,Command,zr_class_modify zombies speed 310,0.00,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "init_level4_relay"
		"classname"	"logic_relay"
	}
	delete:
	{
		"OnTrigger" "console,Command,zr_class_modify zombies speed 280,0.00,-1"
	}
	insert:
	{
		"OnTrigger" "console,Command,zr_class_modify zombies speed 350,0.00,-1"
	}
}

; Mana Senri
; Nerf Mana Senri's Dark Bullets Damage in Re:Dive Mode
modify:
{
    match:
    {
        "targetname" "stage_3-Boss_DarkBullet_Relay"
        "classname" "logic_relay"
    }
    delete:
    {
        "OnUser4" "stage_3-Boss_DarkBullet_Trigger,AddOutput,damage 150,0,-1"
    }
    insert:
    {
        "OnUser4" "stage_3-Boss_DarkBullet_Trigger,AddOutput,damage 100,0,-1"
    }
}
; Nerf the speed of the goo balls
modify:
{
    match:
    {
        "targetname" "stage_3-Boss_Skill_GooBall_Move"
        "classname" "func_movelinear"
    }
    replace:
    {
        "speed" "1024"
    }
}

modify:
{
    match:
    {
        "targetname" "stage_3-Boss_Skill_GooBall2_Move"
        "classname" "func_movelinear"
    }
    replace:
    {
        "speed" "1024"
    }
}

; ---------------------------------------------------
;   Item Plugin Related!
;   Only include if you have the plugin!
;   Else this part of the stripper will break the items.
;   Uncomment everything here if you have!
; ---------------------------------------------------

; Adds the toggles for the plugin to work with!
; FireUser1 = Enable, FireUser2 = Disable
; add:
; {
;     "targetname" "_tp_plugin_fightingboss"
;     "classname" "logic_relay"
;     "origin" "4264 -1416 824"
; }
; 
; add:
; {
;     "targetname" "_tp_plugin_redivemode"
;     "classname" "logic_relay"
;     "origin" "4264 -1416 824"
; }
; 
; add:
; {
;     "targetname" "_tp_plugin_itemslocked"
;     "classname" "logic_relay"  
;     "origin" "4264 -1416 824"
; }
; 
; ; Adds the TP text of the items
; add:
; {
;     "classname" "game_text"
; 	"channel" "2"
; 	"color" "0 255 240"
; 	"color2" "0 252 255"
; 	"effect" "0"
; 	"fadein" "0.1"
; 	"fadeout" "0.25"
; 	"fxtime" "0.25"
; 	"holdtime" "1"
; 	"message" "TP: 0/100"
; 	"spawnflags" "0"
; 	"targetname" "kokkoro_tptext"
; 	"x" "-1"
; 	"y" "0.8"
; 	"origin" "5456 -1704 488"
; }
; 
; add:
; {
;     "classname" "game_text"
; 	"channel" "2"
; 	"color" "0 255 240"
; 	"color2" "0 252 255"
; 	"effect" "0"
; 	"fadein" "0.1"
; 	"fadeout" "0.25"
; 	"fxtime" "0.25"
; 	"holdtime" "1"
; 	"message" "TP: 0/100"
; 	"spawnflags" "0"
; 	"targetname" "pecorine_tptext"
; 	"x" "-1"
; 	"y" "0.8"
; 	"origin" "5456 -1704 488"
; }
; 
; add:
; {
;     "classname" "game_text"
; 	"channel" "2"
; 	"color" "0 255 240"
; 	"color2" "0 252 255"
; 	"effect" "0"
; 	"fadein" "0.1"
; 	"fadeout" "0.25"
; 	"fxtime" "0.25"
; 	"holdtime" "1"
; 	"message" "TP: 0/100"
; 	"spawnflags" "0"
; 	"targetname" "kyaru_tptext"
; 	"x" "-1"
; 	"y" "0.8"
; 	"origin" "5456 -1704 488"
; }
; 
; ; Modify the use relays of the items to not lock the buttons on their own.
; modify:
; {
;     match:
;     {
;         "targetname" "kokkoro_userelay"
;         "classname" "logic_relay"
;     }
;     delete:
;     {
;         "OnTrigger" "kokkoro_button,Lock,,0,-1"
;         "OnTrigger" "kokkoro_button,Unlock,,30,-1"
;     }
; }
; 
; modify:
; {
;     match:
;     {
;         "targetname" "pecorine_userelay"
;         "classname" "logic_relay"
;     }
;     delete:
;     {
;         "OnTrigger" "pecorine_button,Lock,,0,-1"
;         "OnTrigger" "pecorine_button,Unlock,,25,-1"
;     }
; }
; 
; modify:
; {
;     match:
;     {
;         "targetname" "kyaru_userelay"
;         "classname" "logic_relay"
;     }
;     delete:
;     {
;         "OnTrigger" "kyaru_button,Lock,,0,-1"
;         "OnTrigger" "kyaru_button,Unlock,,30,-1"
;     }
; }
; 
; ; Map related variables: Bosses will toggle a fight mode, where the items assumes that 5 zombies are nearby!
; ; Stage 1 - Items are locked before the first boss begins.
; modify:
; {
;     match:
;     {
;         "targetname" "init_level2_relay"
;         "classname" "logic_relay"
;     }
;     insert:
;     {
;         "OnTrigger" "_tp_plugin_itemslocked,FireUser1,,0.00,-1"
;     }
; }
; 
; ; Stage 1 - Golem; Unlock the items as well.
; modify:
; {
;     match:
;     {
;         "targetname" "stage_1-Boss_RelayInit"
;         "classname" "logic_relay"
;     }
;     insert:
;     {
;         "OnTrigger" "_tp_plugin_fightingboss,FireUser1,,0.00,-1"
;         "OnTrigger" "_tp_plugin_itemslocked,FireUser2,,0.00,-1"
;     }
; }
; 
; ; Change the item unlock console messages.
; modify:
; {
;     match:
;     {
;         "hammerid" "108749"
;         "origin" "12864 -11232 -1984"
;     }
;     delete:
;     {
;         "OnTrigger" "console,Command,say ** Just focus on it and channel your strength through it. It should listen. **,12,-1"
;         "OnTrigger" "console,Command,say ** And you will be able to cast it's abilities. **,13,-1"
;     }
;     insert:
;     {
;         "OnTrigger" "console,Command,say ** While fighting the weapon will charge up. From Kokkoro's words TP will be generated. **,12,-1"
;         "OnTrigger" "console,Command,say ** When it is fully charged is when you will be able to cast it's abilities. **,14,-1"
;     }
; }
; 
; modify:
; {
;     match:
;     {
;         "targetname" "stage_1-Boss_RelayDeath"
;         "classname" "logic_relay"
;     }
;     insert:
;     {
;         "OnTrigger" "_tp_plugin_fightingboss,FireUser2,,0.00,-1"
;     }
; }
; 
; ; Stage 1 - Shadows
; modify:
; {
;     match:
;     {
;         "targetname" "stage_2-Boss_InitRelay"
;         "classname" "logic_relay"
;     }
;     insert:
;     {
;         "OnTrigger" "_tp_plugin_fightingboss,FireUser1,,0.00,-1"
;     }
; }

modify:
{
    match:
    {
        "targetname" "stage_2-Boss_DeathRelay"
        "classname" "logic_relay"
    }
    insert:
    {
        "OnTrigger" "_tp_plugin_fightingboss,FireUser2,,0.00,-1"
    }
}

; Stage 2 - Mana Senri
modify:
{
    match:
    {
        "targetname" "stage_3-Boss_InitRelay"
        "classname" "logic_relay"
    }
    insert:
    {
        "OnTrigger" "_tp_plugin_fightingboss,FireUser1,,0.00,-1"
    }
}

; Set ReDive Mode
modify:
{
    match:
    {
        "targetname" "init_level4_relay"
        "classname" "logic_relay"
    }
    insert:
    {
        "OnTrigger" "_tp_plugin_redivemode,FireUser1,,1.00,-1"
    }
}

