; Stripper is loaded
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "1185105"
	}
	insert:
	{
		"OnMapSpawn" "cmd,Command,say { Stripper 1.3 Loaded },1,-1"
	}
}

; Stage 2 delay a bit more the zombie teleport after survive 70 secs area. Also making it more clear that zombies will get tp at 0
modify:
{
	match:
	{
		"targetname" "s2_once_survive"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "s2_tp_after_defense_areaEnable1101"
		"OnStartTouch" "s2_green_tree_p3Kill1101"
		"OnStartTouch" "cmdCommandsay { ZOMBIES WONT BE ABLE TO REACH YOU }611"
	}
	insert:
	{
		"OnStartTouch" "s2_tp_after_defense_areaEnable1201"
		"OnStartTouch" "s2_green_tree_p3Kill1201"
		"OnStartTouch" "cmdCommandsay { ZOMBIES WILL GET TELEPORTED FOR A WHILE }611"
	}
}

; 20/06/2026
; Increase crab npc damage
modify:
{
	match:
	{
		"targetname" "headcrab_Hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "80"
	}
}
modify:
{
	match:
	{
		"targetname" "bis_headcrab_Hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "80"
	}
}

; Fix teleport on stage 2 before boss where zombies are able to reach boss platform instead of being tp on the sides
modify:
{
	match:
	{
		"targetname" "s2_tp_noboss_for_zm"
		"classname" "trigger_teleport"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "s2_boss_case_dest_humansPickRandomShuffle0-1"
	}
	insert:
	{
		"OnStartTouch" "s2_boss_case_dest_zombiesPickRandomShuffle0-1"
	}
}

; Fix stage 2 boss where player touch a trigger_hurt and the nuke is enabled / stage completed
modify:
{
	match:
	{
		"targetname" "x_boss_s2_hurt_model"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Branch_Perm_IsWon_Stage2SetValue101"
		"OnStartTouch" "add_scoreApplyScore1-1"
		"OnStartTouch" "cmdCommandsay { STAGE COMPLETED }11"
		"OnStartTouch" "s2_nuke_humans_winEnable0.51"
	}
}

; Modify wrong lip of final elevator on stage 1 ending so it reach the top and not get stuck before the final trigger
modify:
{
	match:
	{
		"targetname" "s1_ending_main_movelinear"
		"classname" "func_door"
	}
	replace:
	{
		"lip" "5504"
	}
}

; The mines will now also reduce speed of zombies if they trigger it
modify:
{
	match:
	{
		"targetname" "mine_hurt"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"OnStartTouch" "speedModifySpeed1.05-1"
		"OnStartTouch" "speedModifySpeed0.50-1"
	}
}

; Reduce humans items shield and gravity cooldown from 65 to 60
modify:
{
	match:
	{
		"targetname" "human_item_gravity_filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "human_item_gravity_effStart65-1"
		"OnPass" "human_item_gravity_buttonUnlock65-1"
	}
	insert:
	{
		"OnPass" "human_item_gravity_effStart60-1"
		"OnPass" "human_item_gravity_buttonUnlock60-1"
	}
}
modify:
{
	match:
	{
		"targetname" "human_shield_filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "human_shield_effStart65-1"
		"OnPass" "human_shield_buttonUnlock65-1"
	}
	insert:
	{
		"OnPass" "human_shield_effStart60-1"
		"OnPass" "human_shield_buttonUnlock60-1"
	}
}

; Forgot to enable the trigger that detect zombies after boss die on stage 2 middle platform
modify:
{
	match:
	{
		"targetname" "s2_boss_end_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "s2_once_zm_detectedEnable11"
	}
}

; 24/06/2026
; Fix one of the particle that is missing on stage 2 bossfight so doing a workaround with stripper
modify:
{
	match:
	{
		"targetname" "o_p_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnSpawn" "o_p_fire_pStart2.51"
		"OnSpawn" "o_p_beamKill2.71"
		"OnSpawn" "o_p_hurtKill61"
	}
	insert:
	{
		"OnSpawn" "o_p_beamKill41"
		"OnSpawn" "o_p_hurtKill41"
	}
}

; Fix green particle that spawn to much on the ground on stage 2 bossfight and not at the feets of the players during stage 2 bossfight
modify:
{
	match:
	{
		"targetname" "z_y_particle"
		"classname" "info_particle_system"
	}
	replace:
	{
		"origin" "14440 9832 -12464"
	}
}

; Boost sound of one of the boss attack
modify:
{
	match:
	{
		"targetname" "k_l_sound"
		"classname" "ambient_generic"
	}
	replace:
	{
		"radius" "5000"
	}
}

; 29/06/2026
; Forgot to enable one trigger_teleport so players can avoid nuke on stage 1
modify:
{
	match:
	{
		"targetname" "s1_once_t4"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "s1_tp03Enable251"
	}
}

; Heal item is now healing faster, 90 hp full use
modify:
{
	match:
	{
		"targetname" "human_heal_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "-12"
	}
}

; Teleport on stage 2 before surf will take more time allowing humans to overdefend
modify:
{
	match:
	{
		"targetname" "s2_counter_trig1"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "s2_door01Close451"
		"OnHitMax" "s2_tp01Enable491"
	}
	insert:
	{
		"OnHitMax" "s2_door01Close501"
		"OnHitMax" "s2_tp01Enable551"
	}
}

; Stage 2 boss side platform where zombies can try to reach the boss arena will spawn later during the boss fight allowing humans to focus on the boss for the first 40 seconds
; Disable bunnyhop to prevent telehop on boss platform
modify:
{
	match:
	{
		"targetname" "s2_boss_start_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "s2_toggle_platform_end_aToggle0.41"
		"OnTrigger" "cmdCommandsv_enablebunnyhopping 00.41"
		"OnTrigger" "cmdCommandsay { ZOMBIES CAN NOW REACH THE BOSS PLATFORM }391"
		"OnTrigger" "s2_toggle_platform_end_aToggle401"
	}
}

; Enable bhop when boss die
modify:
{
	match:
	{
		"targetname" "s2_boss_end_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "cmdCommandsv_enablebunnyhopping 101"
	}
}

; Add message on boss nuke attack to tell players what to do
modify:
{
	match:
	{
		"targetname" "x_boss_s2_att_2"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "cmdCommandsay { GO TO THE EDGE OF THE PLATFORM TO AVOID THE POISON }0-1"
	}
}

; Reduce red beam attack damage on boss
modify:
{
	match:
	{
		"targetname" "o_p_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "60"
	}
}

; 06/07/2026
; Reduce push and gravity attack on stage 2
modify:
{
	match:
	{
		"targetname" "x_boss_s2_push_t"
		"classname" "trigger_push"
	}
	replace:
	{
		"speed" "262"
	}
}
modify:
{
	match:
	{
		"targetname" "x_boss_s2_gravity_t"
		"classname" "trigger_push"
	}
	replace:
	{
		"speed" "262"
	}
}

; Reduce damage on most boss attacks
modify:
{
	match:
	{
		"targetname" "x_boss_s2_nuke_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "40"
	}
}
modify:
{
	match:
	{
		"targetname" "z_y_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "15"
	}
}
modify:
{
	match:
	{
		"targetname" "x_boss_s2_beam_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "30"
	}
}

; Reduce damage of the hurt around the boss so people dont die instantly from gravity attack
modify:
{
	match:
	{
		"targetname" "x_boss_s2_hurt_model"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "40"
		"damagecap" "40"
	}
}