;
; Stripper cfg by koen (STEAM_0:1:114921174)
;

;==================================================
; Lower air acceleration
;==================================================
modify:
{
    match:
    {
        "classname" "logic_auto"
    }
    delete:
    {
        "OnMapSpawn" "servercommand,Command,sv_airaccelerate 150,0,1"
    }
    insert:
    {
        "OnMapSpawn" "servercommand,Command,sv_airaccelerate 20,0,1"
    }
}
modify:
{
    match:
    {
        "targetname" "minigames_balls"
    }
    insert:
    {
        "OnStartTouch" "servercommand,Command,sv_airaccelerate 20,0,1"
    }
}

;==================================================
; Increase round time, restrict weapons
;==================================================
modify:
{
    match:
    {
        "classname" "logic_auto"
    }
    insert:
    {
        "OnMapSpawn" "servercommand,Command,mp_roundtime 20,0,1"
        "OnMapSpawn" "servercommand,Command,zr_restrict Shotgun,0,1"
        "OnMapSpawn" "servercommand,Command,zr_restrict deagle,0,1"
    }
}

;==================================================
; Give ammo to items
;==================================================
modify:
{
    match:
    {
        "classname" "weapon_usp"
    }
    insert:
    {
        "ammo" "5000"
    }
}

;==================================================
; Fix random teleport @ secret
;==================================================
filter:
{
    "classname" "info_teleport_destination"
    "targetname" "secret_tp"
}
add:
{
    "classname" "logic_case"
    "origin" "-12944 8384 12383.5"
    "targetname" "secret_case"
    "OnCase01" "secret_tp1,Teleport,,0,-1"
    "OnCase02" "secret_tp2,Teleport,,0,-1"
    "OnCase03" "secret_tp3,Teleport,,0,-1"
    "OnCase04" "secret_tp4,Teleport,,0,-1"
}
add:
{
    "classname" "point_teleport"
    "origin" "-13308 8979 12640"
    "targetname" "secret_tp1"
    "target" "!activator"
    "angles" "0 315 0"
}
add:
{
    "classname" "point_teleport"
    "origin" "-12632 8968 12640"
    "targetname" "secret_tp2"
    "target" "!activator"
    "angles" "0 225 0"
}
add:
{
    "classname" "point_teleport"
    "origin" "-12622 8128 12640"
    "targetname" "secret_tp3"
    "target" "!activator"
    "angles" "0 135 0"
}
add:
{
    "classname" "point_teleport"
    "origin" "-13319 8122 12640"
    "targetname" "secret_tp4"
    "target" "!activator"
    "angles" "0 45 0"
}
modify:
{
    match:
    {
        "classname" "trigger_teleport"
        "targetname" "secret"
    }
    replace:
    {
        "classname" "trigger_multiple"
    }
    delete:
    {
        "target" "secret_tp"
    }
    insert:
    {
        "OnStartTouch" "secret_case,PickRandomShuffle,,0,-1"
    }
}

;==================================================
; Fix random teleport @ ending
;==================================================
filter:
{
    "classname" "info_teleport_destination"
    "targetname" "lv1_zombo_tp_end"
}
add:
{
    "classname" "logic_case"
    "origin" "936 -4701 -1428"
    "targetname" "lv1_zombo_tp_case"
    "OnCase01" "lv1_zombo_tp_end1,Teleport,,0,-1"
    "OnCase02" "lv1_zombo_tp_end2,Teleport,,0,-1"
    "OnCase03" "lv1_zombo_tp_end3,Teleport,,0,-1"
    "OnCase04" "lv1_zombo_tp_end4,Teleport,,0,-1"
}
add:
{
    "classname" "point_teleport"
    "origin" "907 -4701 -1428"
    "targetname" "lv1_zombo_tp_end1"
    "target" "!activator"
    "angles" "0 90 0"
}
add:
{
    "classname" "point_teleport"
    "origin" "2686 -2894 -1428"
    "targetname" "lv1_zombo_tp_end2"
    "target" "!activator"
    "angles" "0 180 0"
}
add:
{
    "classname" "point_teleport"
    "origin" "914 -1107 -1428"
    "targetname" "lv1_zombo_tp_end3"
    "target" "!activator"
    "angles" "0 270 0"
}
add:
{
    "classname" "point_teleport"
    "origin" "-881 -2880 -1428"
    "targetname" "lv1_zombo_tp_end4"
    "target" "!activator"
    "angles" "0 0 0"
}
modify:
{
    match:
    {
        "classname" "trigger_teleport"
        "targetname" "lv1_spawntp"
    }
    replace:
    {
        "classname" "trigger_multiple"
    }
    delete:
    {
        "target" "lv1_zombo_tp_end"
    }
    insert:
    {
        "OnStartTouch" "lv1_zombo_tp_case,PickRandomShuffle,,0,-1"
    }
}
modify:
{
    match:
    {
        "classname" "trigger_teleport"
        "targetname" "lv1_zombo_tp_end_all"
    }
    replace:
    {
        "classname" "trigger_multiple"
    }
    delete:
    {
        "target" "lv1_zombo_tp_end"
    }
    insert:
    {
        "OnStartTouch" "lv1_zombo_tp_case,PickRandomShuffle,,0,-1"
    }
}

;==================================================
; Disable practice mode until map is beaten
;==================================================
add:
{
    "classname" "logic_branch"
    "targetname" "practice_check"
    "InitialValue" "0"
    "OnTrue" "admin_button_*,Unlock,,0,-1"
}
modify:
{
    match:
    {
        "targetname" "admin_button_2"
    }
    replace:
    {
        "spawnflags" "3073"
    }
    insert:
    {
        "OnUseLocked" "consolecommand,Command,say | Practice mode is disabled until map is beaten |,0,-1"
    }
}
modify:
{
    match:
    {
        "targetname" "admin_button_3"
    }
    replace:
    {
        "spawnflags" "3073"
    }
    insert:
    {
        "OnUseLocked" "consolecommand,Command,say | Practice mode is disabled until map is beaten |,0,-1"
    }
}
modify:
{
    match:
    {
        "targetname" "level_counter_temp"
    }
    insert:
    {
        "Template02" "practice_check"
    }
}
modify:
{
    match:
    {
        "targetname" "level_info_counter"
    }
    insert:
    {
        "OnUser1" "practice_check,AddOutput,classname info_target,0.03,1"
    }
}
modify:
{
    match:
    {
        "targetname" "Level_Case"
    }
    insert:
    {
        "OnCase01" "LV1_END_BOSS,AddOutput,OnBreak practice_check:SetValue:1:53:1,0,-1"
        "OnCase02" "LV1_END_BOSS,AddOutput,OnBreak practice_check:SetValue:0:53:1,0,-1"
        "OnCase02" "LV1_END_BOSS,AddOutput,OnBreak Level_Counter:SetValue:1:53:1,0,-1"
        "OnCase03" "LV1_END_BOSS,AddOutput,OnBreak practice_check:SetValue:0:53:1,0,-1"
        "OnCase03" "LV1_END_BOSS,AddOutput,OnBreak Level_Counter:SetValue:1:53:1,0,-1"
    }
}
modify:
{
    match:
    {
        "classname" "logic_auto"
    }
    insert:
    {
        "OnMapSpawn" "practice_check,Test,,0,1"
    }
}

;==================================================
; Remove unused entity maker
;==================================================
filter:
{
    "targetname" "shield_itemmaker"
}
modify:
{
    match:
    {
        "targetname" "st1_t_d5"
    }
    delete:
    {
        "OnStartTouch" "shield_itemmaker,ForceSpawn,,0,1"
    }
}

;==================================================
; Fix not adjustable music volume
;==================================================
modify:
{
    match:
    {
        "message" "luciddreams/level - practice - music.mp3"
    }
    replace:
    {
        "message" "#luciddreams/level - practice - music.mp3"
    }
}
modify:
{
    match:
    {
        "message" "luciddreams/solo_remix_epic_heyfumi.mp3"
    }
    replace:
    {
        "message" "#luciddreams/solo_remix_epic_heyfumi.mp3"
    }
}
modify:
{
    match:
    {
        "message" "luciddreams/rapidfire_loop.mp3"
    }
    replace:
    {
        "message" "#luciddreams/rapidfire_loop.mp3"
    }
}
modify:
{
    match:
    {
        "message" "luciddreams/artcore insensibilitv.mp3"
    }
    replace:
    {
        "message" "#luciddreams/artcore insensibilitv.mp3"
    }
}
modify:
{
    match:
    {
        "message" "luciddreams/ahisa - logical stimulus.mp3"
    }
    replace:
    {
        "message" "#luciddreams/ahisa - logical stimulus.mp3"
    }
}
modify:
{
    match:
    {
        "message" "luciddreams/aria math mqxs sickkunt remix.mp3"
    }
    replace:
    {
        "message" "#luciddreams/aria math mqxs sickkunt remix.mp3"
    }
}

;-------------------------------------------
; STRIPPER CFG BY KRAAI
;-------------------------------------------
;-------------------------------------------
; FIX BLACK MODE HP  "WANDERER THE GOAT :D"
;-------------------------------------------
modify:
{
    match:
    {
        "classname" "logic_auto"
    }
    delete:
    {
        "OnMapSpawn" "BLACK_BOSS,KillHierarchy,,0,-1"
    }
}

;-------------------------------------------
; FIX BLACK BOSS HP ADD
;-------------------------------------------
modify:
{
    match:
    {
        "hammerid" "151099"
        "classname" "trigger_multiple"
    }
    delete:
    {
        "OnStartTouch" "LV1_END_BOSS,AddHealth,300,0,-1"
    }
    insert:
    {
        "targetname" "boss_hp_add"
        "OnStartTouch" "LV1_END_BOSS,AddHealth,450,0,-1"
        "OnStartTouch" "BLACK_BOSS,AddHealth,550,0,-1"
    }
}
modify:
{
    match:
    {
        "hammerid" "151074"
        "classname" "trigger_multiple"
    }
    delete:
    {
        "OnStartTouch" "LV1_END_BOSS,AddHealth,400,0,-1"
    }
    insert:
    {
        "targetname" "boss_hp_add"
        "OnStartTouch" "LV1_END_BOSS,AddHealth,450,0,-1"
        "OnStartTouch" "BLACK_BOSS,AddHealth,550,0,-1"
    }
}