;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;DON'T LAGCOMP THIS SHIT (1073741824 is the anti-lagcomp flag)
;-------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "MovingStairs_Tp"
		"classname" "trigger_teleport"
		"spawnflags" "1"
	}
	replace:
	{
		"spawnflags" "1073741825"
	}
}

;---------------------------------------
;EXTRA SPAWN TRIGGER FOR THE SIDE ROOMS
;---------------------------------------
add:
{
	"model" "*210"
	"targetname" "Map_InitTr"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-560 96 74"
	"classname" "trigger_once"
	"OnStartTouch" "Map_Init,Trigger,,0,1"
}

;---------------------------------
;FIXING TELEHOP BOOST IN BIG ROOM
;---------------------------------

; Triggers on the left side, where they bhop boost
add:
{
	"model" "*320"
	"wait" "1"
	"targetname" "ANTI_BHOP_BOOST_BIG_AREA"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "10432 -10048 1472"
	"filtername" "Filter_Zombies"
	"classname" "trigger_multiple"
	"OnStartTouch" "SPEEDMOD_ANTI_INFECT,ModifySpeed,0.99,0,-1"
}

; Speedmod Flag 64 = no attack
add:
{
	"targetname" "SPEEDMOD_ANTI_INFECT"
	"spawnflags" "64"
	"origin" "10432 -10048 1472"
	"classname" "player_speedmod"
}

; Trigger on the stairs so it fix the attack of legit zombie
add:
{
	"model" "*135"
	"wait" "1"
	"targetname" "ANTI_BHOP_BOOST_BIG_AREA_RESET"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "10096 -10880 2080"
	"filtername" "Filter_Zombies"
	"classname" "trigger_multiple"
	"OnStartTouch" "SPEEDMOD_ANTI_INFECT,ModifySpeed,1,0,-1"
}

; Trigger at the Khazad dest for zm
add:
{
	"model" "*135"
	"wait" "1"
	"targetname" "ANTI_BHOP_BOOST_BIG_AREA_RESET"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "13792 -11088 112"
	"filtername" "Filter_Zombies"
	"classname" "trigger_multiple"
	"OnStartTouch" "SPEEDMOD_ANTI_INFECT,ModifySpeed,1,0,-1"
}

; Trigger at spawn for round restart
add:
{
	"model" "*295"
	"wait" "1"
	"targetname" "ANTI_BHOP_BOOST_SPAWN_RESET"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "560 80 384"
	"classname" "trigger_multiple"
	"OnStartTouch" "SPEEDMOD_ANTI_INFECT,ModifySpeed,1,0,-1"
}

;--------------------------------
;FIX NOT ADJUSTABLE MUSIC VOLUME
;--------------------------------
modify:
{
	match:
	{
		"message" "moriafix/victoria.mp3"
	}
	replace:
	{
		"message" "#moriafix/victoria.mp3"
	}
}
modify:
{
	match:
	{
		"message" "moriafix/puentefinal.mp3"
	}
	replace:
	{
		"message" "#moriafix/puentefinal.mp3"
	}
}
modify:
{
	match:
	{
		"message" "moriafix/derrota.mp3"
	}
	replace:
	{
		"message" "#moriafix/derrota.mp3"
	}
}
modify:
{
	match:
	{
		"message" "moriafix/carreracolumnas.mp3"
	}
	replace:
	{
		"message" "#moriafix/carreracolumnas.mp3"
	}
}
modify:
{
	match:
	{
		"message" "moriafix/consecucionescas.mp3"
	}
	replace:
	{
		"message" "#moriafix/consecucionescas.mp3"
	}
}
modify:
{
	match:
	{
		"message" "moriafix/escalerasfull.mp3"
	}
	replace:
	{
		"message" "#moriafix/escalerasfull.mp3"
	}
}