; ================================================;
; ze_little_witch_nobeta_alpha2b -- By Pasas1345
; Stripper by Pasas1345
; Iteration #1
; ================================================;

; Script Replacement - Map Script
; - Fixes crashes on Act 1 start. I swear to god. HOW
modify:
{
	match:
	{
		"targetname" "_map_script"
		"classname" "logic_script"
	}
	replace:
	{
		"vscripts" "ze_little_witch_nobeta/map_script.nut"
	}
}