;Stripper by Killik
;Remove AFK killer

filter:
{
    "classname" "trigger_hurt"
    "targetname" "afk_killer"
}

add:
{
    "classname" "logic_auto"
    "origin" "12244 -8160 479.53"
    "spawnflags" "1"
    "vscripts" "ze_motanuminc/failnades.nut"
    "OnMapSpawn" "!self,CallScriptFunction,DisableFailNade,0,-1"
}

modify:
{
    match:
    {
        "origin" "-9110.9 200.5 118.72"
        "hammerid" "66042"
        "classname" "func_button"
    }
    insert:
    {
        "OnPressed" "!self,CallScriptFunction,EnableFailNades,0,-1"
        "OnPressed" "!self,CallScriptFunction,DisableFailNade,45,-1"
    }
}

modify:
{
    match:
    {
        "origin" "2224 4 488"
        "hammerid" "37312"
        "classname" "func_button"
    }
    insert:
    {
        "OnPressed" "!self,CallScriptFunction,EnableFailNades,0,-1"
        "OnPressed" "!self,CallScriptFunction,DisableFailNade,68,-1"
    }
}
