add:
{
	"classname" "trigger_teleport"
	"targetname" "stage2_tp0"
	"origin" "124 2208 264"
	"spawnflags" "1"
	"StartDisabled" "1"
	"target" "stage2_tpdest0"
	"OnUser1" "!self,AddOutput,solid 2,0,1"
	"OnUser1" "!self,AddOutput,mins -340 -304 -512,0.1,1"
	"OnUser1" "!self,AddOutput,maxs 340 304 512,0.1,1"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "stage2_tp0,FireUser1,,1,1"
	}
}

;fix not adjustable music volume
modify:
{
	match:
	{
		"message" "mapmusic/stage1.mp3"
	}
	replace:
	{
		"message" "#mapmusic/stage1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "mapmusic/stage2.mp3"
	}
	replace:
	{
		"message" "#mapmusic/stage2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "mapmusic/stage3a.mp3"
	}
	replace:
	{
		"message" "#mapmusic/stage3a.mp3"
	}
}
modify:
{
	match:
	{
		"message" "mapmusic/stage3b.mp3"
	}
	replace:
	{
		"message" "#mapmusic/stage3b.mp3"
	}
}
modify:
{
	match:
	{
		"message" "mapmusic/stage4.mp3"
	}
	replace:
	{
		"message" "#mapmusic/stage4.mp3"
	}
}
modify:
{
	match:
	{
		"message" "mapmusic/zmstage.mp3"
	}
	replace:
	{
		"message" "#mapmusic/zmstage.mp3"
	}
}