;----------------;
; ze_misaka_css3 ;
;  By Pasas1345  ;
;----------------;
;Teleports in lvl3
add:
{
    "targetname" "stripper_lvl3Boss_tele_dest1"
    "classname" "point_teleport"
    "origin" "1280 12368 -3376"
    "angles" "0 270 0"
    "target" "!activator"
}

add:
{
    "targetname" "stripper_lvl3Boss_tele_dest2"
    "classname" "point_teleport"
    "origin" "1280 10160 -3376"
    "angles" "0 90 0"
    "target" "!activator"
}

add:
{
    "targetname" "stripper_lvl3Boss_tele_case"
    "classname" "logic_case"
    "origin" "1720 12482 -3384"
    "OnCase01" "stripper_lvl3Boss_tele_dest1,Teleport,,0.00,-1"
    "OnCase02" "stripper_lvl3Boss_tele_dest2,Teleport,,0.00,-1"
}

modify:
{
    match:
    {
        "targetname" "lv3_zmobie_fall_tele"
        "classname" "trigger_teleport"
    }
    insert:
    {
        "OnStartTouch" "stripper_lvl3Boss_tele_case,PickRandom,,0.00,-1"
    }
    replace:
    {
        "classname" "trigger_multiple"
    }
}

modify:
{
    match:
    {
        "targetname" "lv3_afk_tele7"
        "classname" "trigger_teleport"
    }
    insert:
    {
        "OnStartTouch" "stripper_lvl3Boss_tele_case,PickRandom,,0.00,-1"
    }
    replace:
    {
        "classname" "trigger_multiple"
    }
}

modify:
{
    match:
    {
        "targetname" "rtv_tele_zombie"
        "classname" "trigger_teleport"
    }
    insert:
    {
        "OnStartTouch" "stripper_lvl3Boss_tele_case,PickRandom,,0.00,-1"
    }
    replace:
    {
        "classname" "trigger_multiple"
    }
}

;----------------------------------
; Removes a bad trigger_push hp 
;----------------------------------
filter:
{
    "targetname" "lv3_guard_hp_add"
    "classname" "trigger_push"
}

;--------------------------------------------------------------
; Adds a better push and removes the hp given from it
;--------------------------------------------------------------
add:
{
    "model" "*160"
    "targetname" "lv3_guard_hp_add"
    "StartDisabled" "0"
    "speed" "260"
    "spawnflags" "1"
    "pushdir" "0 180 0"
    "origin" "12416 8608 -2328.5"
    "filtername" "human"
    "FallingSpeedThreshold" "-150"
    "alternateticksfix" "0"
    "classname" "trigger_push"
    "OnStartTouch" "lv3_guard_template,ForceSpawn,,0,1"
    "OnStartTouch" "command,Command,say << Shooting the guard >>,0,1"
    "OnStartTouch" "lv3_guard_timer,Enable,,0,1"
}

;--------------------------------------------------------------
; Adds a the HP to the boss on a trigger_multiple
;--------------------------------------------------------------
add:
{
    "model" "*193"
    "targetname" "lv3_guard_hp_add"
    "wait" "0.1"
    "StartDisabled" "0"
    "filtername" "human"
    "spawnflags" "1"
    "origin" "12446 8608 -2481"
    "classname" "trigger_multiple"
    "OnStartTouch" "lv3_guard_hp,Add,50,0,-1"
}

;------------------------------------------------------------
; FIX TRIGGER POSITION - CAN BE TOUCHED BY HUGGING THE FENCE
;------------------------------------------------------------
modify:
{
    match:
    {
        "targetname" "afk_teleport_7"
        "classname" "trigger_teleport"
    }
    replace:
    {
        "origin" "14080 -3580 8"
    }
}

;-----------------------
; FIX PLATEFORM EXPLOIT
;-----------------------
modify:
{
    match:
    {
        "targetname" "lv1_trigger2"
        "classname" "trigger_once"
    }
    insert:
    {
        "OnStartTouch" "afk_teleport_7,Enable,,0,1"
        "OnStartTouch" "afk_teleport_7,AddOutput,target dest5,0.1,1"
    }
}

modify:
{
    match:
    {
        "targetname" "20"
        "classname" "func_breakable"
    }
    insert:
    {
        "OnBreak" "afk_teleport_7,Disable,,0,1"
        "OnBreak" "afk_teleport_7,AddOutput,target dest7,0.1,1"
    }
}

;--------------------------------
; Fix incorrect targetname usage
;--------------------------------
modify:
{
	match:
	{
		"targetname" "trigger_rename"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player_none,0,-1"
	}
}