;fix blockable platform
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "s36door6_2"
	}
	replace:
	{
		"blockdamage" "999999"
	}
}
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "s36door8_2"
	}
	replace:
	{
		"blockdamage" "999999"
	}
}

;-----------------------------------------------------------
; EVENT STRIPPER - ENABLES A RANDOM LOADOUT ON ROUNDSTART
;-----------------------------------------------------------
add:
{
    "origin" "9216 -12352 6280"
    "targetname" "event_console"
    "classname" "point_servercommand"
}
add:
{
    "origin" "9882.86 -13006.5 6280"
    "spawnflags" "1"
    "classname" "logic_auto"
    "OnMapSpawn" "event_logic_case,PickRandomShuffle,,7,-1"
    "OnMapSpawn" "event_console,Command,zr_restrict Shotgun,0,-1"
    "OnMapSpawn" "event_console,Command,zr_restrict SMG,0,-1"
    "OnMapSpawn" "event_console,Command,zr_restrict Rifle,0,-1"
    "OnMapSpawn" "event_console,Command,zr_restrict Sniper,0,-1"
    "OnMapSpawn" "event_console,Command,zr_restrict m249,0,-1"
    "OnMapSpawn" "event_console,Command,say *** RANDOM WEAPONS LOUDOUT ENABLED ***,12,-1"
}
add:
{
    "origin" "7744 -8560 2313"
    "targetname" "event_logic_case"
    "classname" "logic_case"
    "OnCase01" "event_console,Command,zr_unrestrict tmp,0,-1"
    "OnCase01" "event_console,Command,say < TMP MODE >,1,-1"
    "OnCase01" "event_console,Command,say < TMP MODE >,2,-1"
    "OnCase01" "event_console,Command,say < TMP MODE >,3,-1"
    "OnCase01" "event_console,Command,sm_give @ct tmp,1,-1"

    "OnCase02" "event_console,Command,zr_unrestrict p90,0,-1"
    "OnCase02" "event_console,Command,say < P90 MODE >,1,-1"
    "OnCase02" "event_console,Command,say < P90 MODE >,2,-1"
    "OnCase02" "event_console,Command,say < P90 MODE >,3,-1"
    "OnCase02" "event_console,Command,sm_give @ct p90,1,-1"

    "OnCase03" "event_console,Command,zr_unrestrict mac10,0,-1"
    "OnCase03" "event_console,Command,say < MAC10 MODE >,1,-1"
    "OnCase03" "event_console,Command,say < MAC10 MODE >,2,-1"
    "OnCase03" "event_console,Command,say < MAC10 MODE >,3,-1"
    "OnCase03" "event_console,Command,sm_give @ct mac10,1,-1"

    "OnCase04" "event_console,Command,zr_unrestrict mp5navy,0,-1"
    "OnCase04" "event_console,Command,say < MP5Navy MODE >,1,-1"
    "OnCase04" "event_console,Command,say < MP5Navy MODE >,2,-1"
    "OnCase04" "event_console,Command,say < MP5Navy MODE >,3,-1"
    "OnCase04" "event_console,Command,sm_give @ct mp5navy,1,-1"

    "OnCase05" "event_console,Command,zr_unrestrict p90,0,-1"
    "OnCase05" "event_console,Command,say < P90 MODE >,1,-1"
    "OnCase05" "event_console,Command,say < P90 MODE >,2,-1"
    "OnCase05" "event_console,Command,say < P90 MODE >,3,-1"
    "OnCase05" "event_console,Command,sm_give @ct p90,1,-1"

    "OnCase06" "event_console,Command,zr_unrestrict tmp,0,-1"
    "OnCase06" "event_console,Command,say < TMP MODE >,1,-1"
    "OnCase06" "event_console,Command,say < TMP MODE >,2,-1"
    "OnCase06" "event_console,Command,say < TMP MODE >,3,-1"
    "OnCase06" "event_console,Command,sm_give @ct tmp,1,-1"

    "OnCase07" "event_console,Command,zr_unrestrict ump45,0,-1"
    "OnCase07" "event_console,Command,say < UMP45 MODE >,1,-1"
    "OnCase07" "event_console,Command,say < UMP45 MODE >,2,-1"
    "OnCase07" "event_console,Command,say < UMP45 MODE >,3,-1"
    "OnCase07" "event_console,Command,sm_give @ct ump45,1,-1"

    "OnCase08" "event_console,Command,zr_unrestrict ak47,0,-1"
    "OnCase08" "event_console,Command,say < AK47 MODE >,1,-1"
    "OnCase08" "event_console,Command,say < AK47 MODE >,2,-1"
    "OnCase08" "event_console,Command,say < AK47 MODE >,3,-1"
    "OnCase08" "event_console,Command,sm_give @ct ak47,1,-1"

    "OnCase09" "event_console,Command,zr_unrestrict aug,0,-1"
    "OnCase09" "event_console,Command,say < AUG MODE >,1,-1"
    "OnCase09" "event_console,Command,say < AUG MODE >,2,-1"
    "OnCase09" "event_console,Command,say < AUG MODE >,3,-1"
    "OnCase09" "event_console,Command,sm_give @ct aug,1,-1"

    "OnCase10" "event_console,Command,zr_unrestrict famas,0,-1"
    "OnCase10" "event_console,Command,say < FAMAS MODE >,1,-1"
    "OnCase10" "event_console,Command,say < FAMAS MODE >,2,-1"
    "OnCase10" "event_console,Command,say < FAMAS MODE >,3,-1"
    "OnCase10" "event_console,Command,sm_give @ct famas,1,-1"

    "OnCase11" "event_console,Command,zr_unrestrict galil,0,-1"
    "OnCase11" "event_console,Command,say < GALIL MODE >,1,-1"
    "OnCase11" "event_console,Command,say < GALIL MODE >,2,-1"
    "OnCase11" "event_console,Command,say < GALIL MODE >,3,-1"
    "OnCase11" "event_console,Command,sm_give @ct galil,1,-1"

    "OnCase12" "event_console,Command,zr_unrestrict m4a1,0,-1"
    "OnCase12" "event_console,Command,say < M4A1 MODE >,1,-1"
    "OnCase12" "event_console,Command,say < M4A1 MODE >,2,-1"
    "OnCase12" "event_console,Command,say < M4A1 MODE >,3,-1"
    "OnCase12" "event_console,Command,sm_give @ct m4a1,1,-1"

    "OnCase13" "event_console,Command,zr_unrestrict sg552,0,-1"
    "OnCase13" "event_console,Command,say < SG552 MODE >,1,-1"
    "OnCase13" "event_console,Command,say < SG552 MODE >,2,-1"
    "OnCase13" "event_console,Command,say < SG552 MODE >,3,-1"
    "OnCase13" "event_console,Command,sm_give @ct sg552,1,-1"

    "OnCase14" "event_console,Command,zr_unrestrict g3sg1,0,-1"
    "OnCase14" "event_console,Command,say < G3SG1 MODE >,1,-1"
    "OnCase14" "event_console,Command,say < G3SG1 MODE >,2,-1"
    "OnCase14" "event_console,Command,say < G3SG1 MODE >,3,-1"
    "OnCase14" "event_console,Command,sm_give @ct g3sg1,1,-1"

    "OnCase15" "event_console,Command,zr_unrestrict sg550,0,-1"
    "OnCase15" "event_console,Command,say < SG550 MODE >,1,-1"
    "OnCase15" "event_console,Command,say < SG550 MODE >,2,-1"
    "OnCase15" "event_console,Command,say < SG550 MODE >,3,-1"
    "OnCase15" "event_console,Command,sm_give @ct sg550,1,-1"

    "OnCase16" "event_console,Command,zr_unrestrict m249,0,-1"
    "OnCase16" "event_console,Command,say < M249 MODE >,1,-1"
    "OnCase16" "event_console,Command,say < M249 MODE >,2,-1"
    "OnCase16" "event_console,Command,say < M249 MODE >,3,-1"
    "OnCase16" "event_console,Command,sm_give @ct m249,1,-1"
}
