;fix blockable platform
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "s36door6_2"
	}
	replace:
	{
		"blockdamage" "999999"
	}
}
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "s36door8_2"
	}
	replace:
	{
		"blockdamage" "999999"
	}
}