;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;DELETE TRIGGER THAT SPAWN ROCKETS
;----------------------------------

filter:
{
	"targetname" "lvl3_launcher_trigger1"
	"classname" "trigger_multiple"
}

filter:
{
	"targetname" "lvl3_launcher_trigger2"
	"classname" "trigger_multiple"
}

filter:
{
	"targetname" "lvl3_launcher_trigger4"
	"classname" "trigger_multiple"
}

filter:
{
	"targetname" "lvl3_launcher_trigger5"
	"classname" "trigger_multiple"
}

