;Nerf Towers HP

modify:
{
	match:
	{
		"classname"			"trigger_multiple"
		"targetname"		"counter_trigger"
	}
	delete:
	{
		"OnStartTouch"		"b1,AddHealth,400,0,-1"
		"OnStartTouch"		"b2,AddHealth,400,0,-1"
		"OnStartTouch"		"b3,AddHealth,400,0,-1"
		"OnStartTouch"		"b4,AddHealth,400,0,-1"
	}
	insert:
	{
		"OnStartTouch"		"b1,AddHealth,300,0,-1"
		"OnStartTouch"		"b2,AddHealth,300,0,-1"
		"OnStartTouch"		"b3,AddHealth,300,0,-1"
		"OnStartTouch"		"b4,AddHealth,300,0,-1"
	}
}
