;-------------------------------------------------------
; Fix nuke hurt not covering the sky
;-------------------------------------------------------
modify:
{
    match:
    {
        "classname"     "trigger_once"
        "origin"        "1 -11061.5 -2521"
    }
    delete:
    {
        "OnStartTouch"  "doom,Enable,,1,-1"
    }
    insert:
    {
        "OnStartTouch"  "doom_hurt*,Enable,,1,-1"
    }
}

modify:
{
    match:
    {
        "classname"     "trigger_hurt"
        "targetname"    "doom"
        "origin"        "47.5 -5338 -903"
    }
    replace:
    {
        "targetname"    "doom_hurt1"
    }
}

modify:
{
    match:
    {
        "classname"     "trigger_hurt"
        "targetname"    "doom"
        "origin"        "49.5 2121 945.5"
    }
    replace:
    {
        "targetname"    "doom_hurt2"
        "origin"        "49.5 2121 1013"
    }
    delete:
    {
        "model"         "*730"
    }
}

modify:
{
    match:
    {
        "classname"     "logic_auto"
    }
    insert:
    {
        "OnMapSpawn"    "doom_hurt2,AddOutput,solid 2,0,-1"
        "OnMapSpawn"    "doom_hurt2,AddOutput,maxs 1951.5 1941 971,0.02,-1"
        "OnMapSpawn"    "doom_hurt2,AddOutput,mins -1951.5 -1941 -971,0.02,-1"
    }
}