;
; Stripper cfg by Koen (STEAM_1:1:114921174)
;

; Lower heal particles
modify:
{
    match:
    {
        "targetname" "heal_eff"
    }
    replace:
    {
        "origin" "2632 -778 -432"
    }
}
modify:
{
    match:
    {
        "targetname" "heal_particle"
    }
    replace:
    {
        "origin" "2626.5 -776 -440"
    }
}

; Buff boss health
modify:
{
    match:
    {
        "targetname" "nut_boss_hp_scale"
    }
    delete:
    {
        "OnStartTouch" "nut_boss_hp,Add,55,1,-1"
    }
    insert:
    {
        "OnStartTouch" "nut_boss_hp,Add,100,1,-1"
    }
}

; Remove modelscale trigger
filter:
{
    "origin" "-800 5896 2684"
    "hammerid" "822498"
    "classname" "trigger_multiple"
}

; Fix heal item spawner origin
modify:
{
    match:
    {
        "targetname" "heal_maker_3"
    }
    replace:
    {
        "origin" "6032 6864 -2368"
    }
}

; Fix broken outputs
modify:
{
    match:
    {
        "targetname" "nut_laser_1_hurt"
    }
    delete:
    {
        "OnHurt" "nut_final_sphere_counter,Subtract,45,0,-1"
    }
    insert:
    {
        "OnHurtPlayer" "nut_final_sphere_counter,Subtract,45,0,-1"
    }
}
modify:
{
    match:
    {
        "targetname" "nut_final_laser1_hurt"
    }
    delete:
    {
        "OnHurt" "nut_final_sphere_counter,Subtract,45,0,-1"
    }
    insert:
    {
        "OnHurtPlayer" "nut_final_sphere_counter,Subtract,45,0,-1"
    }
}

; Fix FPS lag
modify:
{
    match:
    {
        "targetname" "nut_dodge_relay2"
    }
    insert:
    {
        "OnTrigger" "nut_dodge_largebeam_p1,Kill,,2.20,-1"
        "OnTrigger" "nut_dodge_largebeam_hurt,Kill,,2.20,-1"
    }
}

; Fix TP avoidance spot leading to delaying
modify:
{
    match:
    {
        "targetname" "nut_door9"
    }
    insert:
    {
        "OnFullyClosed" "nut_ztp6,Enable,,15,1"
    }
}

; Fix first boss health segment not scaling
modify:
{
    match:
    {
        "targetname" "nut_boss_tp_human"
    }
    insert:
    {
        "OnStartTouch" "nut_boss_hp,Add,100,1,-1"
    }
}

; Add random teleports to boss fight
filter:
{
    "hammerid" "207530"
}
filter:
{
    "targetname" "nut_boss_dest_human"
}
add:
{
    "origin" "3232 2424 -2640"
    "targetname" "nut_boss_dest_human1"
    "angles" "0 45 0"
    "classname" "point_teleport"
    "target" "!activator"
}
add:
{
    "origin" "4120 2424 -2640"
    "targetname" "nut_boss_dest_human2"
    "angles" "0 135 0"
    "classname" "point_teleport"
    "target" "!activator"
}
add:
{
    "origin" "4120 3328 -2640"
    "targetname" "nut_boss_dest_human3"
    "angles" "0 225 0"
    "classname" "point_teleport"
    "target" "!activator"
}
add:
{
    "origin" "3232 3304 -2640"
    "targetname" "nut_boss_dest_human4"
    "angles" "0 315 0"
    "classname" "point_teleport"
    "target" "!activator"
}
add:
{
    "origin" "3248 2424 -2640"
    "targetname" "nut_boss_dest_human_case"
    "classname" "logic_case"
    "OnCase01" "nut_boss_dest_human1,Teleport,,0,-1"
    "OnCase02" "nut_boss_dest_human2,Teleport,,0,-1"
    "OnCase03" "nut_boss_dest_human3,Teleport,,0,-1"
    "OnCase04" "nut_boss_dest_human4,Teleport,,0,-1"
}
modify:
{
    match:
    {
        "targetname" "nut_boss_tp_human"
    }
    replace:
    {
        "classname" "trigger_multiple"
    }
    delete:
    {
        "target" "nut_boss_dest_human"
    }
    insert:
    {
        "OnStartTouch" "nut_boss_dest_human_case,PickRandomShuffle,,0,-1"
        "OnStartTouch" "nut_boss_relay1,Trigger,,0,1"
        "OnStartTouch" "nut_boss_falldmg_start,Kill,,5,1"
        "OnStartTouch" "nut_tonemap_relay,Trigger,,0,1"
        "OnStartTouch" "nut_ztp6,Enable,,2,1"
    }
}

; Add random teleport when falling during boss fight
filter:
{
    "targetname" "nut_boss_falldest"
}
add:
{
    "origin" "3232 2424 -2744"
    "targetname" "nut_boss_falldest1"
    "angles" "0 45 0"
    "classname" "point_teleport"
    "target" "!activator"
}
add:
{
    "origin" "4120 2424 -2744"
    "targetname" "nut_boss_falldest2"
    "angles" "0 135 0"
    "classname" "point_teleport"
    "target" "!activator"
}
add:
{
    "origin" "4120 3328 -2744"
    "targetname" "nut_boss_falldest3"
    "angles" "0 225 0"
    "classname" "point_teleport"
    "target" "!activator"
}
add:
{
    "origin" "3232 3304 -2744"
    "targetname" "nut_boss_falldest4"
    "angles" "0 315 0"
    "classname" "point_teleport"
    "target" "!activator"
}
add:
{
    "origin" "3248 2424 -2744"
    "targetname" "nut_boss_falldest_case"
    "classname" "logic_case"
    "OnCase01" "nut_boss_dest_human1,Teleport,,0,-1"
    "OnCase02" "nut_boss_dest_human2,Teleport,,0,-1"
    "OnCase03" "nut_boss_dest_human3,Teleport,,0,-1"
    "OnCase04" "nut_boss_dest_human4,Teleport,,0,-1"
}
modify:
{
    match:
    {
        "targetname" "nut_boss_falltp"
    }
    replace:
    {
        "classname" "trigger_multiple"
    }
    delete:
    {
        "target" "nut_boss_falldest"
    }
    insert:
    {
        "OnStartTouch" "nut_boss_falldest_case,PickRandomShuffle,,0,-1"
    }
}