; Stripper for ze_night_cinema_a4_2 version 12/28/2023

;-------------------------------------------------
; The teleport is meant to be disabled at this second, otherwise
; zombies would have a way to TP in front of humans on the way back
;-------------------------------------------------
modify:
{
    match:
    {
        "classname" "func_button"
        "targetname" "SP_spsh_storage_btn"
    }
    delete:
    {
        "OnPressed" "SP_spsh_storage_eleedge,Enable,,23.5,1"
    }
    insert:
    {
        "OnPressed" "SP_spsh_storage_eleedge,Disable,,23.5,1"
    }
}