;; _

;; temporary music workaround

modify:
{
	match:
	{
		"targetname" "song1"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_nibui/theplan.mp3"
	}
}
modify:
{
	match:
	{
		"targetname" "song2"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_nibui/happyend.mp3"
	}
}
modify:
{
	match:
	{
		"targetname" "song3"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "#ze_nibui/gataway.mp3"
	}
}