;==================================================
; Add stripper message
;==================================================
modify:
{
    match:
    {
        "classname" "logic_auto"
    }
    insert:
    {
        "OnMapSpawn" "cmd,Command,say | Map Modified |,10,1"
    }
}

;==================================================
; Fix broken output
;==================================================
modify:
{
    match:
    {
        "targetname" "Laser_Hurt2"
    }
    delete:
    {
        "OnHurt" "end_laser_counter,Subtract,40,0,-1"
    }
    insert:
    {
        "OnHurtPlayer" "end_laser_counter,Subtract,40,0,-1"
    }
}

;==================================================
; Move outputs to math_counter
;==================================================
modify:
{
    match:
    {
        "targetname" "end_laser_breakable"
    }
    delete:
    {
        "OnBreak" "end_laser_timer,Kill,,0,-1"
        "OnBreak" "end_sphere_particle,Stop,,0,-1"
        "OnBreak" "ending_break,Break,,7,-1"
        "OnBreak" "breakable_before_dodgeend,Break,,19.5,1"
        "OnBreak" "final_laser_case,PickRandom,,18,1"
        "OnBreak" "LAST_end_sphere_particle,Stop,,18,1"
        "OnBreak" "final_laser_case,PickRandom,,17.2,1"
        "OnBreak" "final_laser_case,PickRandom,,16.4,1"
        "OnBreak" "final_laser_case,PickRandom,,15.7,1"
        "OnBreak" "final_laser_case,PickRandom,,15,1"
        "OnBreak" "final_laser_case,PickRandom,,14,1"
        "OnBreak" "final_laser_case,PickRandom,,13,1"
        "OnBreak" "final_laser_case,PickRandom,,12,1"
        "OnBreak" "LAST_end_sphere_particle,Start,,10,1"
        "OnBreak" "third_music,Volume,0,0,-1"
        "OnBreak" "ending_dodge_music,PlaySound,,0,-1"
        "OnBreak" "once_end_win,Enable,,66,1"
        "OnBreak" "stage6_ending_dodge_ring_timer,Disable,,62,1"
        "OnBreak" "minimal_dodge_particule_bottom,Stop,,62,1"
        "OnBreak" "very_end_timer_laser,Disable,,62,1"
        "OnBreak" "stage6_ending_dodge_ring_timer,Enable,,32,1"
        "OnBreak" "very_end_timer_laser,Enable,,30.2,1"
        "OnBreak" "minimal_dodge_particule_bottom,Start,,28,1"
        "OnBreak" "last_zm_tp,Enable,,25,1"
        "OnBreak" "very_end_dodge_random_door,Open,,25,1"
        "OnBreak" "very_end_dodge_random_rotate_timer,Enable,,25,-1"
        "OnBreak" "boss_die_sound,PlaySound,,0,-1"
        "OnBreak" "very_end_rotate_cube,Start,,24.8,1"
    }
}
modify:
{
    match:
    {
        "targetname" "end_laser_counter"
    }
    insert:
    {
        "OnHitMin" "end_laser_timer,Kill,,0,1"
        "OnHitMin" "end_sphere_particle,Stop,,0,1"
        "OnHitMin" "ending_break,Break,,7,1"
        "OnHitMin" "breakable_before_dodgeend,Break,,19.5,1"
        "OnHitMin" "final_laser_case,PickRandom,,18,1"
        "OnHitMin" "LAST_end_sphere_particle,Stop,,18,1"
        "OnHitMin" "final_laser_case,PickRandom,,17.2,1"
        "OnHitMin" "final_laser_case,PickRandom,,16.4,1"
        "OnHitMin" "final_laser_case,PickRandom,,15.7,1"
        "OnHitMin" "final_laser_case,PickRandom,,15,1"
        "OnHitMin" "final_laser_case,PickRandom,,14,1"
        "OnHitMin" "final_laser_case,PickRandom,,13,1"
        "OnHitMin" "final_laser_case,PickRandom,,12,1"
        "OnHitMin" "LAST_end_sphere_particle,Start,,10,1"
        "OnHitMin" "third_music,Volume,0,0,1"
        "OnHitMin" "ending_dodge_music,PlaySound,,0,1"
        "OnHitMin" "once_end_win,Enable,,66,1"
        "OnHitMin" "stage6_ending_dodge_ring_timer,Disable,,62,1"
        "OnHitMin" "minimal_dodge_particule_bottom,Stop,,62,1"
        "OnHitMin" "very_end_timer_laser,Disable,,62,1"
        "OnHitMin" "stage6_ending_dodge_ring_timer,Enable,,32,1"
        "OnHitMin" "very_end_timer_laser,Enable,,30.2,1"
        "OnHitMin" "minimal_dodge_particule_bottom,Start,,28,1"
        "OnHitMin" "last_zm_tp,Enable,,25,1"
        "OnHitMin" "very_end_dodge_random_door,Open,,25,1"
        "OnHitMin" "very_end_dodge_random_rotate_timer,Enable,,25,1"
        "OnHitMin" "boss_die_sound,PlaySound,,0,1"
        "OnHitMin" "very_end_rotate_cube,Start,,24.8,1"
        "OnHitMin" "safe_fuck,Open,,24.6,1"
    }
}

;==================================================
; Fix repeated output refire
;==================================================
modify:
{
    match:
    {
        "targetname" "pushtoboss"
    }
    delete:
    {
        "OnStartTouch" "ending_laser_bossspawn_template,ForceSpawn,,0.5,-1"
        "OnStartTouch" "end_laser_timer,Enable,,1.5,-1"
        "OnStartTouch" "zm_shield_lasers,Enable,,2,-1"
        "OnStartTouch" "zm_shield_lasers,Disable,,11.5,-1"
        "OnStartTouch" "SHIELD_zm,Start,,0,-1"
        "OnStartTouch" "end_laser_breakable,SetDamageFilter,,3,-1"
        "OnStartTouch" "SHIELD_zm,Stop,,11.2,-1"
    }
    insert:
    {
        "OnStartTouch" "ending_laser_bossspawn_template,ForceSpawn,,0.5,1"
        "OnStartTouch" "end_laser_timer,Enable,,1.5,1"
        "OnStartTouch" "zm_shield_lasers,Enable,,2,1"
        "OnStartTouch" "zm_shield_lasers,Disable,,11.5,1"
        "OnStartTouch" "SHIELD_zm,Start,,0,1"
        "OnStartTouch" "end_laser_breakable,SetDamageFilter,,3,1"
        "OnStartTouch" "SHIELD_zm,Stop,,11.2,1"
    }
}

;==================================================
; Lower boss area human teleport
;==================================================
modify:
{
    match:
    {
        "targetname" "boss_fall_trigger_humans"
    }
    replace:
    {
        "origin" "3584 -3072 -2128"
    }
}

;==================================================
; Increase final boss hp
;==================================================
modify:
{
    match:
    {
        "targetname" "add_hp_toboss"
    }
    delete:
    {
        "OnStartTouch" "end_laser_counter,Add,60,0,-1"
    }
    insert:
    {
        "OnStartTouch" "end_laser_counter,Add,70,0,-1"
    }
}

;==================================================
; Make end lasers faster
;==================================================
modify:
{
    match:
    {
        "targetname" "very_end_laser_doormove"
    }
    replace:
    {
        "speed" "1690"
    }
}

;==================================================
; Rework shockwave item to slow zombies instead
;==================================================
add:
{
    "origin" "-1040 -3840 18"
    "targetname" "speedmod"
    "classname" "player_speedmod"
}
modify:
{
    match:
    {
        "targetname" "shockwave_item_hurt"
    }
    replace:
    {
        "damage" "400"
        "damagecap" "25"
    }
    insert:
    {
        "OnStartTouch" "speedmod,ModifySpeed,0.1,0,-1"
        "OnStartTouch" "speedmod,ModifySpeed,1,6,-1"
    }
}

;==================================================
; Patch ending safe spot
;==================================================
modify:
{
    match:
    {
        "targetname" "very_end_dodge_random_door"
    }
    replace:
    {
        "origin" "-10012 9144 22"
    }
}

;==================================================
; Increase boss attack speed
;==================================================
modify:
{
    match:
    {
        "targetname" "boss_new_attack_timer"
    }
    replace:
    {
        "LowerRandomBound" "1"
        "UpperRandomBound" "1.6"
    }
}

;==================================================
; Increase shortcut speed, make it spawn earlier
;==================================================
modify:
{
    match:
    {
        "targetname" "wxc_movelinear"
    }
    replace:
    {
        "speed" "750"
    }
}
modify:
{
    match:
    {
        "targetname" "part1_button_new"
    }
    delete:
    {
        "OnPressed" "wxc_shortcut_template,ForceSpawn,,30,1"
    }
    insert:
    {
        "OnPressed" "wxc_shortcut_template,ForceSpawn,,27,1"
    }
}

;==================================================
; Add boss fight antidelay
;==================================================
add:
{
    "origin" "-10032 9140 70"
    "targetname" "boss_anti_delay_relay"
    "spawnflags" "0"
    "classname" "logic_relay"
    "OnTrigger" "cmd,Command,say | Boss kills us all in 10 seconds |,170,1"
    "OnTrigger" "boss_choose_attacks_case,Kill,,180,1"
    "OnTrigger" "boss_grid_hurt,AddOutput,damage 100000,180,1"
    "OnTrigger" "boss_grid_hurt,Enable,,180.1,1"
    "OnTrigger" "boss_grid_rotate,Stop,,180,1"
    "OnTrigger" "boss_grid_rotate,AddOutput,maxspeed 750,180.1,1"
    "OnTrigger" "boss_grid_rotate,Start,,180.2,1"
    "OnTrigger" "!self,Kill,,180.4,1"
}
modify:
{
    match:
    {
        "targetname" "boss_segment"
    }
    insert:
    {
        "OnHitMin" "boss_anti_delay_relay,CancelPending,,0,1"
        "OnHitMin" "boss_anti_delay_relay,Kill,,0.2,1"
    }
}
modify:
{
    match:
    {
        "targetname" "boss_start"
    }
    insert:
    {
        "OnTrigger" "boss_anti_delay_relay,Trigger,,10,1"
    }
}