;--------------------------------------------------------------------
;STRIPPER CFG BY GS_Bany (STEAM_0:0:96563815)
;--------------------------------------------------------------------
;Fixes Mark item spawning
;--------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s1_p4_special_trigger"
	}
	delete:
	{
		"OnStartTouch" "c_mark_counter,Add,1,10.96,1"
	}
	insert:
	{
		"OnStartTouch" "c_mark_case,InValue,1,10.96,1"
	}
}

modify:
{
	match:
	{
		"targetname" "s1_p7_special_trigger"
	}
	delete:
	{
		"OnStartTouch" "c_mark_counter,Add,1,10.96,1"
	}
	insert:
	{
		"OnStartTouch" "c_mark_case,InValue,2,10.96,1"
	}
}

modify:
{
	match:
	{
		"targetname" "s1_p10_boss_relay_init"
	}
	delete:
	{
		"OnTrigger" "c_mark_counter,Add,1,22.96,-1"
	}
	insert:
	{
		"OnTrigger" "c_mark_case,InValue,3,22.96,-1"
	}
}

;--------------------------------------------------------------------
;Fixes Dreadlord boss sometimes not doing anything on Stage 1
;--------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "boss_dl_iterator_stage1"
	}
	delete:
	{
		"OnTrigger" "boss_dl_attack_branch,SetValue,1,20.02,-1"
		"OnTrigger" "s1_p10_boss_arena_particle_border_b,Start,,22.5,-1"
		"OnTrigger" "s1_p10_boss_arena_particle_border_t,Start,,22.5,-1"
		"OnTrigger" "s1_p10_boss_arena_hurt_border,Enable,,22.8,-1"
	}
	insert:
	{
		"OnTrigger" "s1_p10_boss_arena_particle_border_b,Start,,21.74,-1"
		"OnTrigger" "s1_p10_boss_arena_particle_border_t,Start,,21.74,-1"
		"OnTrigger" "boss_dl_attack_branch,SetValue,1,22.04,-1"
		"OnTrigger" "s1_p10_boss_arena_hurt_border,Enable,,22.04,-1"
	}
}

;--------------------------------------------------------------------
;Increase zombie spawn time, decrease first hold time
;Disable bhop at the beginning, then re-enable
;--------------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "4104 -8456 12808"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnSpawn" "server,Command,zr_infect_spawntime_max 10.0,0,-1"
		"OnSpawn" "server,Command,zr_infect_spawntime_min 10.0,0,-1"
	}
	insert:
	{
		"OnSpawn" "server,Command,zr_infect_spawntime_max 15.0,0,-1"
		"OnSpawn" "server,Command,zr_infect_spawntime_min 15.0,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "s1_p1_wall_counter"
	}
	delete:
	{
		"OnHitMax" "server,Command,say Boulders break in 20 seconds,0,-1"
		"OnHitMax" "s1p1_wall_breakable,Break,,20,-1"
		"OnHitMax" "s1p1_wall_model,Kill,,20,-1"
		"OnHitMax" "c_text_zombietp,FireUser1,,45,-1"
		"OnHitMax" "c_spawn_trigger,Enable,,50,-1"
	}
	insert:
	{
		"OnHitMax" "server,Command,say Boulders break in 15 seconds,0,-1"
		"OnHitMax" "s1p1_wall_breakable,Break,,15,-1"
		"OnHitMax" "s1p1_wall_model,Kill,,15,-1"
		"OnHitMax" "c_text_zombietp,FireUser1,,40,-1"
		"OnHitMax" "c_spawn_trigger,Enable,,45,-1"
		"OnHitMax" "server,Command,sv_enablebunnyhopping 1,45,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "c_stagesystem_stage_warmup"
	}
	delete:
	{
		"OnTrigger" "server,Command,sv_enablebunnyhopping 1,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "c_stagesystem_stage_1"
	}
	insert:
	{
		"OnTrigger" "server,Command,sv_enablebunnyhopping 0,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "c_stagesystem_stage_2"
	}
	insert:
	{
		"OnTrigger" "server,Command,sv_enablebunnyhopping 1,0,1"
	}
}
;--------------------------------------------------------------------
;Decrease Dragon boss HP on stage 1
;--------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s1_p7_dragon_health_addglobal"
	}
	delete:
	{
		"OnStartTouch" "s1_p7_dragon_health_counter,Add,80,0,-1"
	}
	insert:
	{
		"OnStartTouch" "s1_p7_dragon_health_counter,Add,60,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "s1_p7_dragon_health_add"
	}
	delete:
	{
		"OnStartTouch" "s1_p7_dragon_health_counter,Add,150,0,-1"
	}
	insert:
	{
		"OnStartTouch" "s1_p7_dragon_health_counter,Add,125,0,-1"
	}
}
;--------------------------------------------------------------------
;Decrease Death bosses (flying NPC) HP on stage 2
;--------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s2_p2_death_physb_global"
	}
	delete:
	{
		"OnStartTouch" "s2_p2_death_physb_counter1,Add,110,0,-1"
		"OnStartTouch" "s2_p2_death_physb_counter2,Add,110,0,-1"
	}
	insert:
	{
		"OnStartTouch" "s2_p2_death_physb_counter1,Add,80,0,-1"
		"OnStartTouch" "s2_p2_death_physb_counter2,Add,80,0,-1"
	}
}
;--------------------------------------------------------------------
;Decrease HP of NPC that spawns during FIREBALL WAVE attack on stage 2
;--------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "boss_dl_fireball_wave_add_health"
	}
	delete:
	{
		"OnStartTouch" "boss_e_npc_counter_ra*,Add,20,0,-1"
	}
	insert:
	{
		"OnStartTouch" "boss_e_npc_counter_ra*,Add,10,0,-1"
	}
}
;--------------------------------------------------------------------
;Prevents from using zombie fireball item at the end of stage 2
;--------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s2_oculus_th_relay_init"
	}
	insert:
	{
		"OnTrigger" "itemzm_fireball_button,Kill,,0,-1"
	}
}