; FIX BY AC SEAWEED. 3/12/2026
modify:
{
  match: 
  { 
    "classname" "prop_dynamic_override"
    "targetname" "battery_panel_prop"
  }
  replace:
  {
    "solid" "6"
  }
}
modify:
{
  match: 
  { 
    "classname" "game_text"
    "targetname" "songname"
  }
    replace:
  {
    "y" "0.06"
  }
}