;-----------------------------------------------------------------------------------------------------------------------------------------
; Equips players with a new loadout when picking up peppino & Fixes the alpha not staying invisible throughout the full map
;-----------------------------------------------------------------------------------------------------------------------------------------
add:
{
    "origin" "-6544 -14240 3336"
    "weapon_p90" "1"
    "weapon_hegrenade" "1"
    "weapon_elite" "1"
    "item_assaultsuit" "1"
    "targetname" "map_loadout_peppino"
    "spawnflags" "1"
    "classname" "game_player_equip"
}
modify:
{
	match:
	{
        "origin" "-4384 -11648 2516"
        "targetname" "item_peppino_weapon"
        "classname" "weapon_knife"
	}
	insert:
	{
        "OnPlayerPickup" "map_loadout_peppino,USE,,0,1"
        "OnPlayerPickup" "!self,FireUser1,,1,1"
		"OnUser1" "!activator,alpha,0,0,-1"
		"OnUser1" "!self,FireUser1,,2,-1"
	}
}

;---------------------------------------------------------------------------------------------------------------------------------------
; Equips players with a new loadout when picking up the pizza item to trigger the targets & fixes a location issue for the pizzaboy
;---------------------------------------------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "map_loadout"
		"classname" "game_player_equip"
		"origin" "-6544 -14240 3336"
	}
	delete:
	{
		"weapon_tmp" "1"
	}
	insert:
	{
		"item_assaultsuit" "1"
		"weapon_p90" "1"
	}
}
modify:
{
	match:
	{
        "targetname" "s1_target_trigger_1"
        "origin" "8032 -1248 1424"
        "classname" "trigger_once"
	}
	delete:
	{
        "OnStartTouch" "enemy_spawner_template,AddOutput,origin 8192 -928 1312,0,1"
	}
	insert:
	{
        "OnStartTouch" "enemy_spawner_template,AddOutput,origin 8192 -544 1312,0,1"
        "OnStartTouch" "map_loadout,USE,,1,1"
	}
}
modify:
{
	match:
	{
        "targetname" "s1_target_trigger_2"
        "origin" "8192 -544 1776"
        "classname" "trigger_once"
	}
	insert:
	{
        "OnStartTouch" "map_loadout,USE,,0,1"
	}
}

;---------------------------------------------------------------
; Fixes a grandma pizza spawning twice in a specific location
;---------------------------------------------------------------
; I cant find it but 1 pizza was broken or maybe system was broken by a player and idk how to replicate it

;-------------------------------------------------------------------------------
; The mushroom items push is pushing towards humans when angled the wrong way
;-------------------------------------------------------------------------------
filter:
{
    "targetname" "Item_mushroom_wall_break"
    "classname" "trigger_push"
}
add:
{
    "model" "*113"
    "targetname" "Item_mushroom_wall_break_1"
    "StartDisabled" "0"
    "speed" "1000"
    "spawnflags" "1"
    "pushdir" "0 90 0"
    "origin" "-5564 -13052 2552"
    "filtername" "MapFilterT"
    "alternateticksfix" "0"
    "classname" "trigger_push"
}
add:
{
    "model" "*113"
    "targetname" "Item_mushroom_wall_break_2"
    "StartDisabled" "0"
    "speed" "1000"
    "spawnflags" "1"
    "pushdir" "0 270 0"
    "origin" "-5564 -12988 2552"
    "filtername" "MapFilterT"
    "alternateticksfix" "0"
    "classname" "trigger_push"
}
modify:
{
	match:
	{
        "targetname" "Item_mushroom_topping_wall_template"
        "classname" "point_template"
	}
	delete:
	{
        "Template01" "Item_mushroom_wall_break"
	}
	insert:
	{
        "Template06" "Item_mushroom_wall_break_2"
        "Template01" "Item_mushroom_wall_break_1"
	}
}
modify:
{
	match:
	{
        "origin" "-5565.97 -13100 2450"
        "targetname" "Item_mushroom_wall_relay"
        "classname" "logic_relay"
	}
	Delete:
	{
        "OnSpawn" "Item_mushroom_wall_break,Kill,,6.3,-1"
	}
	insert:
	{
        "OnSpawn" "Item_mushroom_wall_break_1,Kill,,6.3,-1"
        "OnSpawn" "Item_mushroom_wall_break_2,Kill,,6.3,-1"
	}
}

;-------------------------------------------------------------------------------
; Removing some overlay stuff that looks really bad with how I set it up
;-------------------------------------------------------------------------------
modify:
{
	match:
	{
        "targetname" "s2_teleport_to_john_gutter_level"
        "origin" "-9488 -10184 1576"
        "classname" "trigger_teleport"
	}
	Delete:
	{
        "OnStartTouch" "s2_intro_screen_overlay,StartOverlays,,0,1"
        "OnStartTouch" "s2_intro_screen_overlay,StopOverlays,,4,1"
	}
}

;-------------------------------------------
; Fixes replayability for the level values
;-------------------------------------------
modify:
{
	match:
	{
        "targetname" "s2_main_teleporter_11"
        "origin" "938 -13184 -9044"
        "classname" "trigger_teleport"
	}
	Delete:
	{
        "OnStartTouch" "math_counter_level,SetValueNoFire,3,12,1"
	}
	insert:
	{
        "OnStartTouch" "math_counter_level,SetValueNoFire,1,12,1"
	}
}

;---------------------------------------------------------------------------------------
; Prevents a metal box being shot before they have access to that part of the map yet
;---------------------------------------------------------------------------------------
modify:
{
	match:
	{
        "targetname" "s2_metal_blocks_4"
        "origin" "-1920 -10080 -9152"
        "classname" "func_breakable"
	}
	insert:
	{
        "damagefilter" "light_dynamic_damagefilter"
	}
}
modify:
{
	match:
	{
        "origin" "-1936 -13872 -8736"
        "targetname" "s2_collectable_trigger_relay_2"
        "classname" "logic_relay"
	}
	insert:
	{
        "OnTrigger" "s2_metal_blocks_4,SetDamageFilter,,30,1"
	}
}

;---------------------------------------------------------
; Big collectables does not play a sound when picked up
;---------------------------------------------------------
modify:
{
	match:
	{
        "targetname" "collect_soundeffect"
        "classname" "ambient_generic"
	}
	replace:
	{
        "origin" "-4112 -13376 2480"
        "spawnflags" "48"
        "radius" "2500"
	}
}
modify:
{
	match:
	{
        "targetname" "big_collectables_template"
        "classname" "point_template"
	}
	insert:
	{
        "Template10" "collect_soundeffect"
	}
}
modify:
{
	match:
	{
        "origin" "-4160 -13376 2528"
        "targetname" "collectable_mushroom_relay"
        "classname" "logic_relay"
	}
	insert:
	{
        "OnTrigger" "collect_soundeffect*,PlaySound,,0,-1"
        "OnTrigger" "collect_soundeffect*,Kill,,3,-1"
	}
}
modify:
{
	match:
	{
        "origin" "-4160 -13376 2512"
        "targetname" "collectable_cheese_relay"
        "classname" "logic_relay"
	}
	insert:
	{
        "OnTrigger" "collect_soundeffect*,PlaySound,,0,-1"
        "OnTrigger" "collect_soundeffect*,Kill,,3,-1"
	}
}
modify:
{
	match:
	{
        "origin" "-4160 -13376 2496"
        "targetname" "collectable_tomato_relay"
        "classname" "logic_relay"
	}
	insert:
	{
        "OnTrigger" "collect_soundeffect*,PlaySound,,0,-1"
        "OnTrigger" "collect_soundeffect*,Kill,,3,-1"
	}
}
modify:
{
	match:
	{
        "origin" "-4160 -13376 2480"
        "targetname" "collectable_sausage_relay"
        "classname" "logic_relay"
	}
	insert:
	{
        "OnTrigger" "collect_soundeffect*,PlaySound,,0,-1"
        "OnTrigger" "collect_soundeffect*,Kill,,3,-1"
	}
}
modify:
{
	match:
	{
        "origin" "-4160 -13376 2464"
        "targetname" "collectable_pineapple_relay"
        "classname" "logic_relay"
	}
	insert:
	{
        "OnTrigger" "collect_soundeffect*,PlaySound,,0,-1"
        "OnTrigger" "collect_soundeffect*,Kill,,3,-1"
	}
}

;------------------------------------------------------------------------------
; Changes location for where humans tp to when pillar john have been defeated
;------------------------------------------------------------------------------
modify:
{
	match:
	{
        "targetname" "s1_destination_john_wall_ct"
        "origin" "8192 7344 1056"
        "classname" "trigger_teleport"
	}
	replace:
	{
        "origin" "8192 7248 1092"
	}
}

;---------------------------------------------------------------
; Removes a func_breakable that I forgot to remove on compile
;---------------------------------------------------------------
filter:
{
	"origin" "10816 -3880 1352"
	"classname" "func_breakable"
}

;------------------------------------------------------------------------------------------------
; Adjusting several teleports on stage 2 that are way to fast for how the map is played
;------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s2_metal_blocks_1"
		"origin" "1408 -8800 -9184"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "s2_main_teleporter_1,Enable,,16,1"
		"OnBreak" "console,Command,say < Zombies advance in 15 seconds >,1,1"
	}
	insert:
	{
		"OnBreak" "s2_main_teleporter_1,Enable,,31,1"
		"OnBreak" "console,Command,say < Zombies advance in 15 seconds >,16,1"
	}
}
modify:
{
	match:
	{
		"origin" "1392 -4448 -8806.81"
		"targetname" "s2_collectable_trigger_relay_1"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "s2_main_teleporter_2,Enable,,41,1"
		"OnTrigger" "console,Command,say < Zombies advance in 15 seconds >,26,1"
	}
	insert:
	{
		"OnTrigger" "s2_main_teleporter_2,Enable,,51,1"
		"OnTrigger" "console,Command,say < Zombies advance in 15 seconds >,36,1"
	}
}
modify:
{
	match:
	{
		"targetname" "s2_metal_blocks_3"
		"origin" "1408 3680 -9184"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "s2_main_teleporter_3,Enable,,11,1"
		"OnBreak" "console,Command,say < Zombies advance in 10 seconds >,1,1"
		"OnBreak" "s2_trigger_push_broken_fixed,Disable,,6,1"
	}
	insert:
	{
		"OnBreak" "s2_main_teleporter_3,Enable,,11,1"
		"OnBreak" "console,Command,say < Zombies advance in 10 seconds >,1,1"
		"OnBreak" "s2_trigger_push_broken_fixed,Disable,,25,1"
	}
}
modify:
{
	match:
	{
		"targetname" "s2_metal_blocks_4"
		"origin" "-1920 -10080 -9152"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "s2_main_teleporter_5,Enable,,21,1"
		"OnBreak" "console,Command,say < Zombies advance in 20 seconds >,1,1"
	}
	insert:
	{
		"OnBreak" "s2_main_teleporter_5,Enable,,31,1"
		"OnBreak" "console,Command,say < Zombies advance in 30 seconds >,1,1"
	}
}
modify:
{
	match:
	{
		"targetname" "s2_breakable_blocks_7"
		"origin" "-1920 2016 -8800"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "s2_main_teleporter_6,Enable,,0,-1"
	}
	insert:
	{
		"OnBreak" "s2_main_teleporter_6,Enable,,11,-1"
		"OnBreak" "console,Command,say < Zombies advance in 10 seconds >,1,1"
	}
}
modify:
{
	match:
	{
		"targetname" "s2_pizzabox_teleporter_2"
		"origin" "-1920 5472 -7500"
		"classname" "trigger_teleport"
	}
	delete:
	{
		"OnStartTouch" "s2_main_teleporter_7,Enable,,15,1"
		"OnStartTouch" "console,Command,say < Zombies advance in 15 seconds >,0,1"
	}
	insert:
	{
		"OnStartTouch" "s2_main_teleporter_7,Enable,,20,1"
		"OnStartTouch" "console,Command,say < Zombies advance in 20 seconds >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "s2_secret_path_break_1"
		"origin" "-5056 -5472 -9360"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "s2_main_teleporter_8,Enable,,15,1"
	}
	insert:
	{
		"OnBreak" "s2_main_teleporter_8,Enable,,30,1"
		"OnStartTouch" "console,Command,say < Zombies advance in 30 seconds >,0,1"
	}
}

;--------------------------------------------------------------------------
; Reduces health of the last breakable before the pillar boss on stage 2
;--------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s2_breakable_blocks_17"
		"origin" "-5056 9696 -8928"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "8000"
	}
}