;-----------------------------------------------------
; fix dragon func_door not killing after boss on s4
;-----------------------------------------------------
modify:
{
    match:
    {
        "targetname" "stage4_boss_death2_relay"
        "classname" "logic_relay"
    }
    insert:
    {
		"OnTrigger" "stage4_boss_door,Kill,,0,1"
    }
}

;-----------------------------------------------------
; fix ending killing players with item targetname
;-----------------------------------------------------
modify:
{
    match:
    {
        "targetname" "stage4_boss_death2_relay"
        "classname" "logic_relay"
    }
    delete:
    {
        "OnTrigger" "human_heal_*,Kill,,0,1"
        "OnTrigger" "human_ice*,Kill,,0,1"
        "OnTrigger" "human_ice_stone*,Kill,,0,1"
        "OnTrigger" "human_fire*,Kill,,0,1"
    }
    insert:
    {
		"OnTrigger" "human_heal_button,Lock,,0,1"
		"OnTrigger" "human_ice_button,Lock,,0,1"
		"OnTrigger" "human_fire_button,Lock,,0,1"
		"OnTrigger" "human_stone_ice_button,Lock,,0,1"
    }
}

;-------------------------------------------------------------------------------------
; Adds a trigger_hurt at the ending platform to prevent players stepping on it
;-------------------------------------------------------------------------------------
add:
{
	"model" "*159"
	"targetname" "s4_platform_fix_hurt"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-5952 -5504 -8984"
	"nodmgforce" "0"
	"filtername" "filter_human"
	"damagetype" "1024"
	"damagemodel" "0"
	"damagecap" "999999"
	"damage" "60"
	"classname" "trigger_hurt"
}
add:
{
	"model" "*159"
	"targetname" "s4_platform_fix_hurt"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-5952 -4352 -8984"
	"nodmgforce" "0"
	"filtername" "filter_human"
	"damagetype" "1024"
	"damagemodel" "0"
	"damagecap" "999999"
	"damage" "60"
	"classname" "trigger_hurt"
}

;-------------------------------------------
; Fixes gravity on stage 3 begninning area
;-------------------------------------------
modify:
{
	match:
	{
		"origin" "-10688 12608 4896"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,gravity 0.09,0,-1"
		"OnEndTouch" "!activator,AddOutput,gravity 1,0.05,-1"
		"OnEndTouch" "!activator,AddOutput,gravity 1,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,gravity 0.09,0,-1"
		"OnUser1" "!self,Disable,,0.1,-1"
		"OnUser1" "!self,Enable,,0.2,-1"
		"OnUser1" "!self,FireUser1,,0.3,-1"
		"targetname" "gravity_enabler"
	}
}
modify:
{
	match:
	{
		"origin" "-6536 -2408 1144"
		"targetname" "level3_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gravity_enabler,FireUser1,,15,1"
		"OnTrigger" "gravity_disabler,FireUser1,,15,1"
	}
}
modify:
{
	match:
	{
		"origin" "13040 13808 7240"
		"targetname" "s2_boss_death_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "gravity_enabler,FireUser1,,15,1"
		"OnTrigger" "gravity_disabler,FireUser1,,15,1"
	}
}
add:
{
	"model" "*122"
	"wait" "0.1"
	"targetname" "gravity_disabler"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-10944 7520 7600"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activator,AddOutput,gravity 1,0,-1"
	"OnUser1" "!self,Disable,,0.1,-1"
	"OnUser1" "!self,Enable,,0.2,-1"
	"OnUser1" "!self,FireUser1,,0.3,-1"
}
modify:
{
	match:
	{
		"targetname" "s3_button01"
		"origin" "-9944 8992.01 7136"
		"classname" "func_button"
	}
	insert:
	{
		"OnPressed" "player,addoutput,gravity 1,41,1"
	}
}