;-----------------------------------------------------
; fix dragon func_door not killing after boss on s4
;-----------------------------------------------------
modify:
{
    match:
    {
        "targetname" "stage4_boss_death2_relay"
        "classname" "logic_relay"
    }
    insert:
    {
		"OnTrigger" "stage4_boss_door,Kill,,0,1"
    }
}

;-----------------------------------------------------
; fix ending killing players with item targetname
;-----------------------------------------------------
modify:
{
    match:
    {
        "targetname" "stage4_boss_death2_relay"
        "classname" "logic_relay"
    }
    delete:
    {
        "OnTrigger" "human_heal_*,Kill,,0,1"
        "OnTrigger" "human_ice*,Kill,,0,1"
        "OnTrigger" "human_ice_stone*,Kill,,0,1"
        "OnTrigger" "human_fire*,Kill,,0,1"
    }
    insert:
    {
		"OnTrigger" "human_heal_button,Lock,,0,1"
		"OnTrigger" "human_ice_button,Lock,,0,1"
		"OnTrigger" "human_fire_button,Lock,,0,1"
		"OnTrigger" "human_stone_ice_button,Lock,,0,1"
    }
}

;-------------------------------------------------------------------------------------
; Adds a trigger_hurt at the ending platform to prevent players stepping on it
;-------------------------------------------------------------------------------------
add:
{
	"model" "*159"
	"targetname" "s4_platform_fix_hurt"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-5952 -5504 -8984"
	"nodmgforce" "0"
	"filtername" "filter_human"
	"damagetype" "1024"
	"damagemodel" "0"
	"damagecap" "999999"
	"damage" "60"
	"classname" "trigger_hurt"
}
add:
{
	"model" "*159"
	"targetname" "s4_platform_fix_hurt"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-5952 -4352 -8984"
	"nodmgforce" "0"
	"filtername" "filter_human"
	"damagetype" "1024"
	"damagemodel" "0"
	"damagecap" "999999"
	"damage" "60"
	"classname" "trigger_hurt"
}