;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;FIX SHORTCUT
;-------------

add:
{
	"origin" "-264 -1664 -40"
	"targetname" "Filter_NoGlitcher"
	"filtername" "NoGlitcher"
	"Negated" "1"
	"classname" "filter_activator_name"
}

add:
{
	"model" "*90"
	"wait" "1"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "-264 -1664 -40"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activator,AddOutput,targetname NoGlitcher,0,-1"
}
add:
{
	"targetname" "MyBridgeFix"
	"filtername" "Filter_NoGlitcher"
	"wait" "1"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "80 -1304 800"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activator,AddOutput,origin 71 -1295 -63,0,-1"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "39248"
	}
	insert:
	{
		"OnMapSpawn" "player,AddOutput,targetname default,0.5,1"
		"OnMapSpawn" "MyBridgeFix,AddOutput,solid 2,0.5,1"
		"OnMapSpawn" "MyBridgeFix,AddOutput,mins -80 -216 -736,1.1,1"
		"OnMapSpawn" "MyBridgeFix,AddOutput,maxs 80 216 736,1.1,1"
	}
}