;stripper message
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmd,Command,say *** STRIPPER FIX ENABLED ***,3,-1"
		"OnMapSpawn" "cmd,Command,say *** last edited : 21/08/2021 ***,3.5,-1"
	}
}

;fix random teleport after elevator
filter:
{
	"origin" "3728 11257 2776"
	"targetname" "afk_d_4_a"
	"angles" "0 0 0"
	"classname" "info_teleport_destination"
	"hammerid" "114024"
}

filter:
{
	"origin" "5200 9785 2776"
	"targetname" "afk_d_4_b"
	"angles" "0 90 0"
	"classname" "info_teleport_destination"
	"hammerid" "114055"
}

add:
{
	"origin" "3728 11257 2776"
	"targetname" "afk_d_4_a"
	"angles" "0 0 0"
	"classname" "point_teleport"
	"target" "!activator"
}

add:
{
	"origin" "5200 9785 2776"
	"targetname" "afk_d_4_b"
	"angles" "0 90 0"
	"classname" "point_teleport"
	"target" "!activator"
}

add:
{
	"origin" "5200 9785 2776"
	"targetname" "afk4_tele_random"
	"classname" "logic_case"
	"OnCase01" "afk_d_4_a,Teleport,,0,-1"
	"OnCase02" "afk_d_4_b,Teleport,,0,-1"
}

modify:
{
	match:
	{
		"targetname" "afk_4"
		"classname" "trigger_teleport"
	}
	delete:
	{
		"target" "afk_d_4_*"
	}
	insert:
	{
		"OnStartTouch" "afk4_tele_random,PickRandomShuffle,,0,-1"
	}
}

;fix random teleports before stairs
filter:
{
	"origin" "5952 12969 2872"
	"targetname" "afk_d_5_a"
	"angles" "0 0 0"
	"classname" "info_teleport_destination"
	"hammerid" "114351"
}

filter:
{
	"origin" "6896 12009 2872"
	"targetname" "afk_d_5_b"
	"angles" "0 90 0"
	"classname" "info_teleport_destination"
	"hammerid" "114367"
}

add:
{
	"origin" "5952 12969 2872"
	"targetname" "afk_d_5_a"
	"angles" "0 0 0"
	"classname" "point_teleport"
	"target" "!activator"
}

add:
{
	"origin" "6896 12009 2872"
	"targetname" "afk_d_5_b"
	"angles" "0 90 0"
	"classname" "point_teleport"
	"target" "!activator"
}

add:
{
	"origin" "5200 9785 2776"
	"targetname" "afk5_tele_random"
	"classname" "logic_case"
	"OnCase01" "afk_d_5_a,Teleport,,0,-1"
	"OnCase02" "afk_d_5_b,Teleport,,0,-1"
}

modify:
{
	match:
	{
		"targetname" "afk_5"
		"classname" "trigger_teleport"
	}
	delete:
	{
		"target" "afk_d_5_*"
	}
	insert:
	{
		"OnStartTouch" "afk5_tele_random,PickRandomShuffle,,0,-1"
	}
}

;fix random teleports after boss fight
filter:
{
	"origin" "0 -4760 1416"
	"targetname" "ende_des_1"
	"angles" "-90 90 0"
	"classname" "info_teleport_destination"
	"hammerid" "273474"
}

filter:
{
	"origin" "0 4824 1416"
	"targetname" "ende_des_2"
	"angles" "-90 270 0"
	"classname" "info_teleport_destination"
	"hammerid" "273504"
}

add:
{
	"origin" "0 -4760 1416"
	"targetname" "ende_des_1"
	"angles" "-90 90 0"
	"classname" "point_teleport"
	"target" "!activator"
}

add:
{
	"origin" "0 4824 1416"
	"targetname" "ende_des_2"
	"angles" "-90 270 0"
	"classname" "point_teleport"
	"target" "!activator"
}

add:
{
	"origin" "5200 9785 2776"
	"targetname" "ende_tele_random"
	"classname" "logic_case"
	"OnCase01" "ende_des_1,Teleport,,0,-1"
	"OnCase02" "ende_des_2,Teleport,,0,-1"
}

modify:
{
	match:
	{
		"hammerid" "232301"
	}
	delete:
	{
		"target" "ende_des_*"
	}
	insert:
	{
		"OnStartTouch" "ende_tele_random,PickRandomShuffle,,0,-1"
	}
}

;buff boss damage
modify:
{
	match:
	{
		"targetname" "12_hurt"
	}
	replace:
	{
		"damage" "80"
	}
}

modify:
{
	match:
	{
		"targetname" "3_h"
	}
	replace:
	{
		"damage" "60"
	}
}

modify:
{
	match:
	{
		"targetname" "5_hurt"
	}
	replace:
	{
		"damage" "60"
	}
}

modify:
{
	match:
	{
		"targetname" "6_h"
	}
	replace:
	{
		"damage" "60"
	}
}

modify:
{
	match:
	{
		"targetname" "4_hurt"
	}
	replace:
	{
		"damage" "80"
	}
}

modify:
{
	match:
	{
		"targetname" "4_hurt_2"
	}
	replace:
	{
		"damage" "80"
	}
}

modify:
{
	match:
	{
		"targetname" "8_h"
	}
	replace:
	{
		"damage" "40"
	}
}

modify:
{
	match:
	{
		"targetname" "10_hurt"
	}
	replace:
	{
		"damage" "40"
	}
}

modify:
{
	match:
	{
		"targetname" "2_hurt_1"
	}
	replace:
	{
		"damage" "60"
	}
}

modify:
{
	match:
	{
		"targetname" "2_hurt_2"
	}
	replace:
	{
		"damage" "60"
	}
}

modify:
{
	match:
	{
		"targetname" "9_hurt"
	}
	replace:
	{
		"damage" "60"
	}
}

modify:
{
	match:
	{
		"targetname" "11_hurt"
	}
	replace:
	{
		"damage" "20"
	}
}

modify:
{
	match:
	{
		"targetname" "1_h"
	}
	replace:
	{
		"damage" "60"
	}
}

;increase ending difficulty
modify:
{
	match:
	{
		"targetname" "ende_ball_hurt1"
	}
	replace:
	{
		"damage" "200"
	}
}

modify:
{
	match:
	{
		"targetname" "ende_laser_hurt1"
	}
	replace:
	{
		"damage" "200"
	}
}

modify:
{
	match:
	{
		"targetname" "ende_ring_hurt"
	}
	replace:
	{
		"damage" "200"
	}
}

modify:
{
	match:
	{
		"targetname" "ball_h"
	}
	insert:
	{
		"filtername" "ct"
	}
}

;fix music volume not being adjustable
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "lerm/ende_bgm.mp3"
	}
	replace:
	{
		"message" "#lerm/ende_bgm.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "lerm/p_bgm.mp3"
	}
	replace:
	{
		"message" "#lerm/p_bgm.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "lerm/y_bgm.mp3"
	}
	replace:
	{
		"message" "#lerm/y_bgm.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "lerm/b_bgm.mp3"
	}
	replace:
	{
		"message" "#lerm/b_bgm.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "lerm/g_bgm.mp3"
	}
	replace:
	{
		"message" "#lerm/g_bgm.mp3"
	}
}

;reset player targetnames when picking up items
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "escapism_elite"
	}
	delete:
	{
		"OnPlayerPickup" "player_escapism,AddOutput,targetname,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "player_escapism,AddOutput,targetname default,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "fact_elite"
	}
	delete:
	{
		"OnPlayerPickup" "player_fact,AddOutput,targetname,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "player_fact,AddOutput,targetname default,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "rejection_elite"
	}
	delete:
	{
		"OnPlayerPickup" "player_rejection,AddOutput,targetname,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "player_rejection,AddOutput,targetname default,0,-1"
	}
}
