;-----------------------------------------------
;***********************************************
;********** STRIPPER BY KLIXUS *****************
;***********************************************
;-----------------------------------------------


;-------------------------------------
;			S T A G E  1
;-------------------------------------
;Decreases BossHP added by humans
modify:
{
	match:
	{
		"origin" "-32 -516 -200"
		"targetname" "trigger_boss_hp_counter"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "counter_boss_hp,Add,600,0,-1"
	}
	insert:
	{
		"OnStartTouch" "counter_boss_hp,Add,550,0,-1"
	}
}

;-------------------------------------
;			S T A G E  2
;-------------------------------------
;Decreases BossHP added by humans
modify:
{
	match:
	{
		"origin" "-52 -4460 162"
		"targetname" "trigger_l2boss_hp_counter"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "counter_l2_boss_hp,Add,400,0,-1"
	}
	insert:
	{
		"OnStartTouch" "counter_l2_boss_hp,Add,370,0,-1"
	}
}

; Fix zombies getting stuck during boss on level 1
modify:
{
        match:
        {
                "classname" "path_track"
                "targetname" "path_goboss_2"
        }
        insert:
        {
                "OnPass" "l2_kabe_2,AddOutput,target destination_zm_boss_tp_p,10,-1"
        }
}

; Fix zombies spawning among humans
modify:
{
        match:
        {
                "classname" "logic_auto"
                "origin" "-504 -1416 3336"
                "hammerid" "149410"
        }
        delete:
        {
                "OnMapSpawn" "start_zm_tp,Enable,,18,1"
                "OnMapSpawn" "start_tp,Disable,,17.98,1"
        }
        insert:
        {
                "OnMapSpawn" "start_zm_tp,Enable,,17.02,1"
                "OnMapSpawn" "start_tp,Disable,,17,1"
        }
}

;-------------------------------------
;			BossHP (Dolly)
;-------------------------------------
; Just in case if BossHP.cfg doesn't work this will help
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "counter_boss_hp"
	}
	replace:
	{
		"max" "999999"
	}
}
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "counter_l2_boss_hp"
	}
	replace:
	{
		"max" "999999"
	}
}