; Shorten laser time limit
modify:
{
	match:
	{
		"targetname" "Infinite_Laserboss_Relay"
	}
	insert:
	{
		"OnTrigger" "cmdCommandsay ** You have 45s to kill the boss! **0-1"
		"OnTrigger" "fuck_laserfagsEnable45-1"
	}
}
modify:
{
	match:
	{
		"targetname" "infinite_boss_counter"
	}
	insert:
	{
		"OnHitMin" "Infinite_Laserboss_RelayCancelPending0-1"
	}
}
add:
{
	"model" "*126"
	"targetname" "fuck_laserfags"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "2352 12128 -160"
	"filtername" "filter_humans"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "2"
	"damage" "100000"
	"classname" "trigger_hurt"
}

; Fix player gravity not being reset
modify:
{
	match:
	{
		"targetname" "s1_tp_3"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputgravity 10-1"
	}
}

; Remove broken addoutput
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	delete:
	{
		"OnLoadGame" "cmdAddOutput0-1"
	}
}

; Fix player targetname not being reset
modify:
{
	match:
	{
		"hammerid" "188037"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputtargetname 0-1"
	}
}

; stripper for ze_rumination_a_2 ;
;------------------------
; Changes speed of lasers from 2510 to 2280.
;------------------------
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "Infinite_Laser_Move"
	}
	replace:
	{
		"speed" "2280"
	}
}
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "Infinite2_Laser_Move"
	}
	replace:
	{
		"speed" "2280"
	}
}
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "Infinite3_Laser_Move"
	}
	replace:
	{
		"speed" "2280"
	}
}