;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;FIX NUKE GLITCH
;-----------------

; 1

add:
{
	"model" "*7"
	"origin" "-5172 -1064 -2347"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*7"
	"origin" "-5172 -1144 -2347"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*7"
	"origin" "-5172 -1112 -2400"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*7"
	"origin" "-3932 -1064 -2347"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*7"
	"origin" "-3932 -1112 -2400"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*7"
	"origin" "-3932 -1144 -2347"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*7"
	"origin" "-3932 -1164 -2624"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*7"
	"origin" "-3932 -1160 -2548"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*7"
	"origin" "-3932 -1192 -2495"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}



; 2

add:
{
	"model" "*30"
	"origin" "-5784 -1292 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5760 -1292 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5736 -1292 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5712 -1292 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5688 -1292 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5784 -1572 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5760 -1572 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5736 -1572 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5712 -1572 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5688 -1572 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5784 -1852 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5760 -1852 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5736 -1852 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5712 -1852 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5688 -1852 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5784 -2036 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5760 -2036 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5736 -2036 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5712 -2036 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

add:
{
	"model" "*30"
	"origin" "-5688 -2036 -2480"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagemodel" "0"
	"damagetype" "64"
	"damagecap" "5000"
	"damage" "10000000"
	"StartDisabled" "1"
	"targetname" "nuke_hurt"
	"classname" "trigger_hurt"
}

;-------------------
;PREVENT DELAY @ END
;-------------------
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "nuke_counter"
	}
	delete:
	{
		"OnHitMax" "door,Open,,26,-1"
		"OnHitMax" "nuke_hurt,Disable,,25,-1"
	}
	insert:
	{
		"OnHitMax" "nuke_sound,PlaySound,,55,-1"
		"OnHitMax" "nuke_fade,Fade,,55,-1"
		"OnHitMax" "command,Command,say EVACUATION FAILED. ZOMBIES INSIDE.,55,-1"
		"OnHitMax" "command,Command,sm_slay @ct,56,-1"
		;no choice to use sm_slay the models of existing triggers are bad++
	}
}

;-------------------
;ADD SECRET WEAPONS
;-------------------
add:
{
	"origin" "-4826 1869 -1975"
	"targetname" "Secret2"
	"spawnflags" "1"
	"ammo" "9999"
	"angles" "0 0 0"
	"classname" "weapon_deagle"
}

add:
{
	"origin" "-5768 1152 -3625"
	"targetname" "Secret"
	"spawnflags" "1"
	"ammo" "9999"
	"angles" "0 0 0"
	"classname" "weapon_deagle"
}

add:
{
	"origin" "-5772 1158 -3625"
	"targetname" "SecretTrail"
	"startwidth" "8.0"
	"spritename" "sprites/bluelaser1.vmt"
	"rendermode" "5"
	"rendercolor" "0 89 0"
	"renderamt" "255"
	"parentname" "Secret"
	"lifetime" "5"
	"endwidth" "1.0"
	"classname" "env_spritetrail"
}

add:
{
	"origin" "-5772 1147 -3625"
	"targetname" "SecretTrail2"
	"startwidth" "8.0"
	"spritename" "sprites/bluelaser1.vmt"
	"rendermode" "5"
	"rendercolor" "99 30 155"
	"renderamt" "255"
	"parentname" "Secret"
	"lifetime" "5"
	"endwidth" "1.0"
	"classname" "env_spritetrail"
}

add:
{
	"origin" "-4833 1859.11 -1972"
	"targetname" "SecretTrail3"
	"startwidth" "8.0"
	"spritename" "sprites/bluelaser1.vmt"
	"rendermode" "5"
	"rendercolor" "0 89 0"
	"renderamt" "255"
	"parentname" "Secret2"
	"lifetime" "5"
	"endwidth" "1.0"
	"classname" "env_spritetrail"
}

add:
{
	"origin" "-4833 1872 -1972"
	"targetname" "SecretTrail4"
	"startwidth" "8.0"
	"spritename" "sprites/bluelaser1.vmt"
	"rendermode" "5"
	"rendercolor" "136 22 173"
	"renderamt" "255"
	"parentname" "Secret2"
	"lifetime" "5"
	"endwidth" "1.0"
	"classname" "env_spritetrail"
}