;------------------------------------
; Fix player gravity not being reset
;------------------------------------
modify:
{
    match:
    {
        "targetname" "t_spawn"
        "classname" "trigger_multiple"
    }
    insert:
    {
        "OnStartTouch" "!activator,AddOutput,gravity 1,0,-1"
    }
}
modify:
{
    match:
    {
        "targetname" "t_spawn_2"
        "classname" "trigger_multiple"
    }
    insert:
    {
        "OnStartTouch" "!activator,AddOutput,gravity 1,0,-1"
    }
}

modify:
{
    match:
    {
        "targetname" "ct_spawn"
        "classname" "trigger_multiple"
    }
    insert:
    {
        "OnStartTouch" "!activator,AddOutput,gravity 1,0,-1"
    }
}

modify:
{
    match:
    {
        "targetname" "ct_spawn_2"
        "classname" "trigger_multiple"
    }
    insert:
    {
        "OnStartTouch" "!activator,AddOutput,gravity 1,0,-1"
    }
}