; Filter the trigger in the 2nd last surf
; + Lock the zm speed item before zombie get teleported
; (prevent zm reach rear wall before it get closed)
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "5komenotriga-"
	}
	insert:
	{
		"filtername" "Human"
		"OnStartTouch" "so-nanoka-,Lock,,0,1"
	}
}

; UnLock the zm speed item right the wall close. And close the rear wall faster
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"origin" "-5477 -12752.5 -5628.57"
	}
	delete:
	{
		"OnStartTouch" "boss_breakable,SetDamageFilter,Human,3,1"
		"OnStartTouch" "server,Command,say << Rear wall closes in 5 seconds! >>,3,1"
		"OnStartTouch" "wall,Toggle,,8,1"
	}
	insert:
	{
		"targetname" "boss_trigger"
		"OnStartTouch" "server,Command,say << Rear wall closes in 3 seconds! >>,3,1"
		"OnStartTouch" "boss_breakable,SetDamageFilter,Human,4,1"
		"OnStartTouch" "wall,Toggle,,6,1"
		"OnStartTouch" "so-nanoka-,Unlock,,6,1"
	}
}

; Kill boss hp counter when it dies for BossHP
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "boss_hp"
	}
	insert:
	{
		"OnHitMin" "!self,Kill,,0,1"
	}
}

; Move the crouch lasers down 8 units
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "boss_laser_up"
	}
	replace:
	{
		"origin" "-5474.55 -9375 -5772"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "boss_laser_up_hurt"
	}
	replace:
	{
		"origin" "-5478 -9528 -5772"
	}
}
add:
{
"origin" "-3254 1743.24 3517"
"targetname" "secret"
"spawnflags" "1"
"angles" "0 0 0"
"classname" "weapon_hegrenade"
}
add:
{
"origin" "-3237.79 2162.7 3513.49"
"targetname" "secret2"
"spawnflags" "1"
"angles" "0 0 0"
"classname" "weapon_hegrenade"
}
add:
{
"origin" "-3167 2163 3513.49"
"targetname" "secret3"
"spawnflags" "1"
"angles" "0 179 0"
"classname" "weapon_hegrenade"
}
add:
{
"origin" "-3167.28 1752.14 3513.49"
"targetname" "secret4"
"spawnflags" "1"
"angles" "0 180 0"
"classname" "weapon_hegrenade"
}
add:
{
"origin" "-3264 1741 3496"
"targetname" "trail1"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "0 255 0"
"renderamt" "255"
"parentname" "secret"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3264 1741 3519"
"targetname" "trail2"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "255 255 0"
"renderamt" "255"
"parentname" "secret"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3264 1741 3541"
"targetname" "trail3"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "255 0 255"
"renderamt" "255"
"parentname" "secret"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3248 2162 3496"
"targetname" "trail4"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "255 0 255"
"renderamt" "255"
"parentname" "secret2"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3248 2162 3518"
"targetname" "trail5"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "128 0 255"
"renderamt" "255"
"parentname" "secret2"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3248 2162 3541"
"targetname" "trail6"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "0 0 255"
"renderamt" "255"
"parentname" "secret2"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3157 2163 3490"
"targetname" "trail7"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "255 128 0"
"renderamt" "255"
"parentname" "secret3"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3157 2163 3513"
"targetname" "trail8"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "255 0 0"
"renderamt" "255"
"parentname" "secret3"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3157 2163 3533"
"targetname" "trail9"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "0 0 255"
"renderamt" "255"
"parentname" "secret3"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3157 1751 3496"
"targetname" "trail12"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "255 0 0"
"renderamt" "255"
"parentname" "secret4"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3157 1751 3522"
"targetname" "trail11"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "0 0 255"
"renderamt" "255"
"parentname" "secret4"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}
add:
{
"origin" "-3157 1751 3542"
"targetname" "trail10"
"startwidth" "8.0"
"spritename" "sprites/bluelaser1.vmt"
"rendermode" "5"
"rendercolor" "255 255 255"
"renderamt" "255"
"parentname" "secret4"
"lifetime" "3"
"endwidth" "1.0"
"classname" "env_spritetrail"
}