;----------------------------
; Fixes spawn teleport
;----------------------------
filter:
{
	"targetname" "Point_6"
	"classname" "trigger_teleport"
}
;----------------------------
; Fixes spawn teleport
;----------------------------
filter:
{
	"targetname" "Point_5"
	"classname" "trigger_teleport"
}
;----------------------------
; Remove LFD2 entity
;----------------------------
filter:
{
	"classname" "func_detail_blocker"
}
filter:
{
	"classname" "fog_volume"
}
filter:
{
	"classname" "env_player_blocker"
}
;-----------------------------------------------
; Fixes the teleporter origin to make it larger
;-----------------------------------------------
add:
{
    "model" "*73"
    "targetname" "Point_5"
    "classname" "trigger_teleport"
    "filtername" "filter_human"
    "origin" "625.5 5807 225"
    "target" "tp_3"
    "spawnflags" "1"
    "StartDisabled" "1"
}
add:
{
    "model" "*73"
    "targetname" "Point_6"
    "classname" "trigger_teleport"
    "filtername" "filter_zombie"
    "origin" "625.5 5807 225"
    "target" "tp_4"
    "spawnflags" "1"
    "StartDisabled" "1"
}
;-----------------------------------------------
; Fixes exploit to go outside of the map
;-----------------------------------------------
add:
{
    "model" "*21"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "-727.01 975.5 251.22"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}