;----------------------------
; Fixes spawn teleport
;----------------------------
filter:
{
	"targetname" "Point_6"
	"classname" "trigger_teleport"
}
;----------------------------
; Fixes spawn teleport
;----------------------------
filter:
{
	"targetname" "Point_5"
	"classname" "trigger_teleport"
}
;-----------------------------------------------
; Fixes the teleporter origin to make it larger
;-----------------------------------------------
add:
{
    "model" "*73"
    "targetname" "Point_5"
    "classname" "trigger_teleport"
    "filtername" "filter_human"
    "origin" "625.5 5807 225"
    "target" "tp_3"
    "spawnflags" "1"
    "StartDisabled" "1"
}
add:
{
    "model" "*73"
    "targetname" "Point_6"
    "classname" "trigger_teleport"
    "filtername" "filter_zombie"
    "origin" "625.5 5807 225"
    "target" "tp_4"
    "spawnflags" "1"
    "StartDisabled" "1"
}