;----------------------------
; Fixes spawn teleport
;----------------------------
filter:
{
	"targetname" "Point_6"
	"classname" "trigger_teleport"
}
;----------------------------
; Fixes spawn teleport
;----------------------------
filter:
{
	"targetname" "Point_5"
	"classname" "trigger_teleport"
}
;----------------------------
; Remove LFD2 entity
;----------------------------
filter:
{
	"classname" "func_detail_blocker"
}
filter:
{
	"classname" "fog_volume"
}
filter:
{
	"classname" "env_player_blocker"
}
;-----------------------------------------------
; Fixes the teleporter origin to make it larger
;-----------------------------------------------
add:
{
    "model" "*73"
    "targetname" "Point_5"
    "classname" "trigger_teleport"
    "filtername" "filter_human"
    "origin" "625.5 5807 225"
    "target" "tp_3"
    "spawnflags" "1"
    "StartDisabled" "1"
}
add:
{
    "model" "*73"
    "targetname" "Point_6"
    "classname" "trigger_teleport"
    "filtername" "filter_zombie"
    "origin" "625.5 5807 225"
    "target" "tp_4"
    "spawnflags" "1"
    "StartDisabled" "1"
}
;-----------------------------------------------
; Fixes exploit to go outside of the map
;-----------------------------------------------
add:
{
    "model" "*21"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "-727.01 975.5 251.22"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "1504.5 2632.91 563"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "1504.5 4037 571"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2610.5 4037 502"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "3748.5 4037 502"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4685.5 3066 532"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "1504.5 3432 571"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "7120.35 -4649.14 874.06"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "7120.35 -4649.14 1189.06"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2083.5 2051.91 386"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2083.5 2051.91 634"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2268.5 2051.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2083.5 1102.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2083.5 134.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2916.5 134.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2916.5 -547.09 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4075.5 -547.09 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4194.5 -547.09 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "5489.5 -547.09 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "5198.5 392.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "5198.5 1324.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4424.5 2282.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4667.5 2282.91 547"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}



add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "1504.5 2632.91 1065"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "1504.5 3432 1067"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "2610.5 4037 1040"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "3748.5 4037 1040"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4685.5 3066 1026"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4913.5 1324.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
add:
{
    "model" "*73"
    "targetname" "Stripper_FixMapOutside"
    "target" "tp_4"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4965.5 392.91 1013"
    "angles" "0 0 0"
    "classname" "trigger_teleport"
}
;--------------------------------------------------------------------
; Fixes badly placed game_zone_player and changed their outputs
;--------------------------------------------------------------------
add:
{
    "model" "*73"
    "targetname" "zone_ct_1"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "1777.5 4079 95"
    "classname" "trigger_once"
    "filtername" "filter_human"
    "OnStartTouch" "tg_ct_1,Trigger,,0,-1"
    "OnStartTouch" "cam_lg_1,Trigger,,0,-1"
    "OnStartTouch" "cam_1_ct,Disable,,15,-1"
}
modify:
{
	match:
	{
        "targetname" "ct_1"
        "classname" "trigger_once"
	}
	delete:
	{
        "OnStartTouch" "zone_ct_1,CountPlayersInZone,,0,-1"
	}
	insert:
	{
        "OnStartTouch" "zone_ct_1,Enable,,0,-1"
	}
}
modify:
{
	match:
	{
        "targetname" "cam_lg_1"
        "classname" "logic_relay"
	}
	replace:
	{
        "spawnflags" "2"
	}
}
add:
{
    "model" "*73"
    "targetname" "zone_ct_2"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "2568.1 -5350.29 -49"
    "classname" "trigger_once"
    "filtername" "filter_human"
    "OnStartTouch" "tg_ct_2,Trigger,,0,-1"
    "OnStartTouch" "cam_lg_2,Trigger,,0,-1"
    "OnStartTouch" "cam_2_ct,Disable,,12,-1"
    "OnStartTouch" "cam_ct_end_2,Disable,,25,-1"
}
modify:
{
	match:
	{
        "targetname" "ct_2"
        "classname" "trigger_once"
	}
	delete:
	{
        "OnStartTouch" "zone_ct_2,CountPlayersInZone,,0,-1"
	}
	insert:
	{
        "OnStartTouch" "zone_ct_2,Enable,,0,-1"
	}
}
modify:
{
	match:
	{
        "targetname" "cam_lg_2"
        "classname" "logic_relay"
	}
	replace:
	{
        "spawnflags" "2"
	}
}
;--------------------------------------------------------
; Removes 1 logic_auto and adds the old content to new
;--------------------------------------------------------
filter:
{
    "origin" "3608 3096 532"
    "classname" "logic_auto"
}
modify:
{
	match:
	{
        "classname" "logic_auto"
        "origin" "3471.9 2812 -46"
	}
	insert:
	{
        "OnMapSpawn" "tonemap_global,SetAutoExposureMax,6,0,-1"
        "OnMapSpawn" "tonemap_global,SetBloomScale,0,0,-1"
        "OnMapSpawn" "tonemap_global,SetAutoExposureMin,.5,0,-1"
        "OnMapSpawn" "fog_master,SetFarZ,4000,0,-1"
	}
}
;--------------------------------------------------------
; Fixes players getting stuck and unneeded content
;--------------------------------------------------------
modify:
{
	match:
	{
        "targetname" "cam_lg_2"
        "classname" "logic_relay"
	}
	delete:
	{
        "OnTrigger" "cam_ct_end_2,Enable,,12.01,-1"
        "OnTrigger" "cam_ct_end_2,Disable,,25,-1"
	}
}
;--------------------------------------------------------
; Fixes players getting stuck and unneeded content
;--------------------------------------------------------
add:
{
    "model" "*1"
    "targetname" "boat_fix_teleport"
    "target" "tp_2"
    "StartDisabled" "1"
    "filtername" "filter_zombie"
    "spawnflags" "1"
    "origin" "2568.1 -5350.29 -49"
    "classname" "trigger_teleport"
}
modify:
{
	match:
	{
        "targetname" "tg_end"
        "classname" "trigger_once"
	}
	delete:
	{
        "OnStartTouch" "nuke,Enable,,4.99,-1"
	}
	insert:
	{
        "OnStartTouch" "boat_fix_teleport,Enable,,5,-1"
        "OnStartTouch" "nuke,Enable,,12,-1"
	}
}
;--------------------------------------------------------
; Removes all prop_ragdolls
;--------------------------------------------------------
filter:
{
    "classname" "prop_ragdoll"
}