;------------------------------------------------------------------------
;fixing the teleport after the boat part on stage 2 (destination missing)
;------------------------------------------------------------------------
filter:
{
"model" "*130"
"targetname" "level2_boat_tele_all"
"StartDisabled" "1"
"spawnflags" "1"
"origin" "-3709.5 6750 4286.5"
"classname" "trigger_teleport"
"hammerid" "810141"
}
add:
{
"model" "*130"
"targetname" "level2_boat_tele_all"
"StartDisabled" "1"
"spawnflags" "1"
"origin" "-3709.5 6750 4286.5"
"classname" "trigger_teleport"
"target" "level2_boat_tele_all_dest"
}
