;------------------------------------------
; EXTEND SPAWN TP TO PREVENT VENT SAFESPOT
;------------------------------------------
add:
{
    "targetname" "spawn_hurt"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "2656 -420 88"
    "classname" "trigger_teleport"
    "OnUser1" "!self,AddOutput,solid 2,0,1"
    "OnUser1" "!self,AddOutput,mins -208 -292 -72,0.1,1"
    "OnUser1" "!self,AddOutput,maxs 208 292 72,0.1,1"
}

modify:
{
    match:
    {
        "classname" "logic_auto"
        "hammerid" "92596"
    }
    insert:
    {
        "OnMapSpawn" "spawn_hurt,FireUser1,,0,-1"
    }
}

;--------------------------------------
; REMOVE TRIGGER HURT FILTER FROM NUKE
;--------------------------------------
filter:
{
    "hammerid" "1131394"
    "targetname" "ending_hurt"
    "origin" "6016.5 -536.5 216"
    "filtername" "Zombie_filter"
    "classname" "trigger_hurt"
}

;----------------------------------------
; ENABLE ANTI EXPLOIT NUKE (end trigger)
; Mapper forgot to Enable it in the map
;---------------------------------------
modify:
{
    match:
    {
        "hammerid" "711100"
        "origin" "5911 -381 105"
        "classname" "trigger_once"
    }
    insert:
    {
        "OnStartTouch" "afterele_hurt,Enable,,44,-1"
    }
}