;-----------------
; stripper counter
;-----------------
modify:
{
    match:
    {
        "classname" "logic_relay"
        "hammerid" "126944"
        "origin" "2632 -856 88"
    }
    insert:
    {
        "OnSpawn" "messages,Command,say ***STRIPPER 2 LOADED***,4,1"
    }
}

;------------------------------------------------
; Fix laser sound playing before laser is created
;------------------------------------------------
modify:
{
    match:
    {
        "origin" "-4151 -305 -186"
        "targetname" "ex2_laser_timer1"
        "classname" "logic_timer"
        "hammerid" "196979"
    }
    delete:
    {
        "OnTimer" "sound_laserPlaySound0-1"
    }
    insert:
    {
        "OnTimer" "sound_laser,PlaySound,,0.4,-1"
    }
}

;---------------------------------------------
; Slightly increase nade damage on moving boss
;---------------------------------------------
modify:
{
    match:
    {
        "targetname" "ex2boss_nade"
        "origin" "8152 3800 -180"
        "classname" "trigger_multiple"
        "hammerid" "332127"
    }
    delete:
    {
        "OnStartTouch" "bosshomerboss_math_counterSubtract800-1"
    }
    insert:
    {
        "OnStartTouch" "bosshomerboss_math_counter,Subtract,100,0,-1"
    }
}

;------------------------------
; Fix animations on moving boss
;------------------------------
modify:
{
    match:
    {
        "origin" "8168 3656 -248"
        "targetname" "homerboss_Boss_attack_case"
        "classname" "logic_case"
        "hammerid" "182788"
    }
    delete:
    {
        "OnCase02" "homerboss_Boss_ModelSetDefaultAnimationrun6-1"
    }
    insert:
    {
        "OnCase02" "homerboss_Boss_Model,SetDefaultAnimation,walk,6,-1"
    }
}

;--------------------------------------
; Fix improperly filtered lasers on rtv
;--------------------------------------
modify:
{
    match:
    {
        "targetname" "spinlaser3_hurt"
        "origin" "8433.47 10684 -309.05"
        "classname" "trigger_hurt"
        "hammerid" "188083"
    }
    replace:
    {
        "filtername" "Humans"
    }
}

modify:
{
    match:
    {
        "targetname" "spinlaser2_hurt"
        "origin" "8891.5 10426.4 -194.42"
        "classname" "trigger_hurt"
        "hammerid" "188056"
    }
    replace:
    {
        "filtername" "Humans"
    }
}

;-----------------------------------
; Add ned_immunize to  item template
;-----------------------------------
modify:
{
    match:
    {
        "targetname" "s_ned"
        "classname" "point_template"
        "hammerid" "225883"
        "origin" "2896 -913.31 37.942"
    }
    insert:
    {
        "Template09" "ned_immunize"
    }
}

;----------------------------------------------------
; System to prevent map bug if slayed during cutscene
;----------------------------------------------------
;new filter_multi to test players
Add:
{
    "origin" "7210 3820 350"
    "targetname" "cam_fix_filter"
    "Negated" "0"
    "filtertype" "1"
    "Filter02" "filter_t"
    "Filter01" "filter_ct"
    "classname" "filter_multi"
    "OnPass" "cinematic_cam,Disable,,0.04,-1"
}

;new game_zone_player to count players
Add:
{
    "model" "*181"
    "targetname" "cam_fix_zone"
    "classname" "game_zone_player"
    "origin" "2630 -1220 115"
    "OnPlayerOutZone" "cam_fix_filter,TestActivator,,0,-1"
}

;outputs to count players on round start
modify:
{
    match:
    {
        "classname" "logic_relay"
        "hammerid" "126944"
        "origin" "2632 -856 88"
    }
    insert:
    {
        "OnSpawn" "cam_fix_zone,CountPlayersInZone,,0.04,-1"
    }
}

;-----------------------------------------
; Sound adjustment after moving boss death
;-----------------------------------------
modify:
{
    match:
    {
        "targetname" "homerboss_Boss_Break"
        "origin" "8161.68 3807.31 -199.04"
        "classname" "func_physbox_multiplayer"
        "hammerid" "182744"
    }
    insert:
    {
        "OnBreak" "homer_boss_song,Volume,4,0,1"
        "OnBreak" "homer_boss_song,Volume,10,7.5,1"
    }
}

;------------------------------------------------
; Fix delay spot on the last shortcut before ex2
;------------------------------------------------
Add:
{
    "model" "*88"
    "classname" "trigger_teleport"
    "origin" "468 -971 -418"
    "spawnflags" "0"
    "StartDisabled" "1"
    "target" "shortcut2"
    "targetname" "shortcut_tp2_r"
}