;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 24.07.2023
;STRIPPER CFG BY MAŁGO https://steamcommunity.com/profiles/76561197992553990/
;---------------------------------------------------------------

;---------------------------------------
;Fix lvl 3 last room nuke hurt and teleport
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "stage3_teleport"
		"hammerid" "1443355"
		"classname" "trigger_teleport"
	}
	delete:
	{
		"OnEndTouch" "stage3_br_teleport_afk_009,Enable,,40,1"
	}
}
add:
{
	"model" "*207"
	"targetname" "nuke_hurt"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-8469.5 7450.5 5544.5"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "9999999"
	"classname" "trigger_hurt"
}
;---------------------------------------
;Fix lvl 1 broken gravity
;---------------------------------------
add:
{
	"model" "*71"
	"targetname" "spawn_fix_gravity"
	"StartDisabled" "0"
	"spawnflags" "4097"
	"origin" "-13142 7446 -4321"
	"gravity" "1"
	"disableshadows" "1"
	"classname" "trigger_gravity"
}
modify:
{
	match:
	{
		"targetname" "Spawn_black_room_teleport"
		"classname" "trigger_teleport"
	}
	insert:
	{
		"OnEndTouch" "!activator,AddOutput,gravity 1,0,-1"
	}
}
;---------------------------------------
;Add knife on start round
;---------------------------------------
add:
{
	"origin" "8008 -736 264"
	"weapon_knife" "1"
	"weapon_usp" "1"
	"spawnflags" "0"
	"classname" "game_player_equip"
}