;---------------------------------------
; Less HP Gabranth boss
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "GabranthBossHurtStart"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnHurtPlayer" "GabranthGetHP,Add,33,0,-1"
	}
	insert:
	{
		"OnHurtPlayer" "GabranthGetHP,Add,29,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "GabranthBossHP_multi"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "GabranthGetHP,Add,33,0,-1"
	}
	insert:
	{
		"OnStartTouch" "GabranthGetHP,Add,29,0,-1"
	}
}
modify:
{
	match:
	{
	"targetname" "LVL3Gabranth_HP_Add"
	"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Gabranth_laserHP,Add,70,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Gabranth_laserHP,Add,60,0,-1"
	}
}

;---------------------------------------
; Fix trigger stage 3
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "city_market_onc1"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "cmd,Command,say Hold for 20 seconds,0,1"
		"OnTrigger" "city_market_doors,Open,,20,1"
		"OnTrigger" "City_TeleportAFK1,Enable,,20,1"
		"OnTrigger" "Temple_Torch_Particle,Start,,0,1"
	}
	insert:
	{
		"OnTrigger" "cmd,Command,say Hold for 15 seconds,0,1"
		"OnTrigger" "city_market_doors,Open,,15,1"
		"OnTrigger" "City_TeleportAFK1,Enable,,20,1"
		"OnTrigger" "Temple_Torch_Particle,Start,,0,1"
	}
}

;---------------------------------------
; Fix broken doors stage 3
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "city_market_doors"
		"classname" "func_door_rotating"
		"hammerid" "2441803"
	}
	replace:
	{
		"distance" "80"
	}
}
modify:
{
	match:
	{
		"targetname" "city_market_doors"
		"classname" "func_door_rotating"
		"hammerid" "2441806"
	}
	replace:
	{
		"distance" "-80"
	}
}

;---------------------------------------
; Fix miss song stage 3 and stage 2
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Hard_Ship_Music_Changer5"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "Music_savage_music7.mp3,PlaySound,,123,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "SavaeCase3/6Music"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "Music_savage_music7.mp3,PlaySound,,0,-1"
	}
}

;
; Below changes by Koen (STEAM_1:1:114921174)
;

; Fix not adjustable music volume
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/ultima mode music/blue stahli - armageddon.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/ultima mode music/blue stahli - armageddon.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/ultima mode music/stan sb - let this go.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/ultima mode music/stan sb - let this go.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/hard mode music/hard_music2.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/hard mode music/hard_music2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/hard mode music/hard_music3.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/hard mode music/hard_music3.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/hard mode music/hard_music4.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/hard mode music/hard_music4.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/hard mode music/hard_music5.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/hard mode music/hard_music5.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/hard mode music/hard_music6.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/hard mode music/hard_music6.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/extreme mode music/extreme_music2.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/extreme mode music/extreme_music2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/extreme mode music/extreme_music3.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/extreme mode music/extreme_music3.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/extreme mode music/extreme_music4.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/extreme mode music/extreme_music4.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/extreme mode music/extreme_music5.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/extreme mode music/extreme_music5.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/extreme mode music/extreme_music7.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/extreme mode music/extreme_music7.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/savage mode music/pendulum - comprachicos.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/savage mode music/pendulum - comprachicos.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/savage mode music/pendulum the catalyst.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/savage mode music/pendulum the catalyst.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/savage mode music/the qemists - run you.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/savage mode music/the qemists - run you.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/savage mode music/savage_music5.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/savage mode music/savage_music5.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/ultima mode music/ultima_music2.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/ultima mode music/ultima_music2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/ultima mode music/ultima_music4.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/ultima mode music/ultima_music4.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/zm mode/escape the fate - forget about me.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/zm mode/escape the fate - forget about me.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/zm mode/voicians - telepathetic.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/zm mode/voicians - telepathetic.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/savage mode music/savage_music3.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/savage mode music/savage_music3.mp3"
	}
}
modify:
{
	match:
	{
		"message" "malgo/music/stilshrine of miriam/extreme mode music/extreme_music8.mp3"
	}
	replace:
	{
		"message" "#malgo/music/stilshrine of miriam/extreme mode music/extreme_music8.mp3"
	}
}

; Fix multiple logic_auto
filter:
{
	"classname" "logic_auto"
}
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "player,AddOutput,max_health 100,3,1"
	"OnMapSpawn" "Cmd,Command,mp_startmoney 16000,0,1"
	"OnMapSpawn" "Cmd,Command,sv_gravity 800,0,1"
	"OnMapSpawn" "tone,SetAutoExposureMin,,90,0"
	"OnMapSpawn" "tone,SetAutoExposureMax,1,45,0"
	"OnMapSpawn" "tone,SetBloomExponent,,60,0"
	"OnMapSpawn" "tone,SetTonemapRate,.1,0.01,-1"
	"OnMapSpawn" "tone,SetTonemapPercentTarget,85,0.01,-1"
	"OnMapSpawn" "tone,SetTonemapPercentBrightPixels,2,0.01,-1"
	"OnMapSpawn" "port_message,Display,,0,1"
	"OnMapSpawn" "Cmd,Command,say **Map by Ma/l/go**,5,1"
	"OnMapSpawn" "Cmd,Command,say **Stilshrine of Miriam**,3,1"
	"OnMapSpawn" "Map_HudHint,Display,,8,1"
	"OnMapSpawn" "Latarn1_light,TurnOff,,0,-1"
	"OnMapSpawn" "wall3P,Start,,0,-1"
	"OnMapSpawn" "wall2P,Start,,0,-1"
	"OnMapSpawn" "Latarn4_light,TurnOff,,0,-1"
	"OnMapSpawn" "Latarn2_light,TurnOff,,0,-1"
	"OnMapSpawn" "AgoraTempleOut_Torch_Particle,Start,,0,-1"
	"OnMapSpawn" "Miriam_Gate_Statue_P,Start,,0,-1"
	"OnMapSpawn" "Map_Start_Reset,Kill,,20,-1"
	"OnMapSpawn" "Map_Start_Reset,FireUser1,,0,-1"
	"OnMapSpawn" "Rock1P,Start,,0,-1"
	"OnMapSpawn" "Map_Start_Reset,Enable,,0,-1"
	"OnMapSpawn" "Map_Random_Event_Case,PickRandom,,0,-1"
	"OnMapSpawn" "Level_Counter,GetValue,,0.02,1"
	"OnMapSpawn" "Level_InitCounter,FireUser1,,0.01,1"
	"OnMapSpawn" "cmd,Command,mp_roundtime 17,0,1"
	"OnMapSpawn" "cmd,Command,zr_infect_spawntime_max 10,0,1"
	"OnMapSpawn" "cmd,Command,zr_infect_spawntime_min 10,0,1"
	"OnMapSpawn" "cmd,Command,mp_freezetime 3,0,1"
	"OnMapSpawn" "tone,FireUser1,,0,-1"
}

; Fix picking up ammo item starting the wrong particle
modify:
{
	match:
	{
		"targetname" "Weapon_Ammo"
	}
	delete:
	{
		"OnPlayerPickup" "Weapon_Heal_Effect,Start,,0,1"
	}
	insert:
	{
		"OnPlayerPickup" "Weapon_Ammo_Effect,Start,,0,1"
	}
}

; Give items ammo
modify:
{
	match:
	{
		"classname" "weapon_elite"
	}
	insert:
	{
		"ammo" "5000"
	}
}