;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 23.01.2022
;---------------------------------------
;Nerf Backrooms npc
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "backrooms_faggotasshole_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "50"
		"damagecap" "50"
	}
}
modify:
{
	match:
	{
		"targetname" "backrooms_smiler_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "50"
		"damagecap" "50"
	}
}
;---------------------------------------
;Later tp in the town with no name
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "town_with_no_name_once"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "stage2_teleport_009zm,Enable,,10,-1"
	}
	insert:
	{
		"OnTrigger" "stage2_teleport_009zm,Enable,,16,-1"
	}
}