;fix broken output
modify:
{
	match:
	{
		"targetname" "mboss_hurt"
		"origin" "-5008 6513 7094.5"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnHurt" "speed,Modifyspeed,0.0,0,-1"
	}
	insert:
	{
		"OnHurtPlayer" "speed,Modifyspeed,0.0,0,-1"
	}
}