;-------------------------------------------------
; Keeps the map up to date with stripper version
;-------------------------------------------------
modify:
{
	match:
	{
		"origin" "12472 12848 -4232"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "console,Command,say < Stripper 1 loaded >,14,-1"
	}
}

;-------------------------------------------------
; Remove logic stuff from 2 math_counters
;-------------------------------------------------
modify:
{
	match:
	{
		"origin" "9488 10560 -10488"
		"targetname" "health_t_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OutValue" "ct_racecar_push_forward_item*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_item*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_backwards_1*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_backwards_3*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_backwards_2*,Disable,,0,-1"
		"OutValue" "t_racecar_push_backwards_2*,Disable,,0,-1"
		"OutValue" "t_racecar_push_backwards_3*,Disable,,0,-1"
		"OutValue" "t_racecar_push_backwards_1*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_6*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_5*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_4*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_3*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_2*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_1*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_1*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_2*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_3*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_4*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_5*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_6*,Disable,,0,-1"
	}
}
modify:
{
	match:
	{
		"origin" "9536 10560 -10488"
		"targetname" "health_ct_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OutValue" "t_racecar_push_forward_6*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_5*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_4*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_3*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_2*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_1*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_1*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_2*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_3*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_4*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_5*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_6*,Disable,,0,-1"
		"OutValue" "t_racecar_push_backwards_1*,Disable,,0,-1"
		"OutValue" "t_racecar_push_backwards_3*,Disable,,0,-1"
		"OutValue" "t_racecar_push_backwards_2*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_backwards_2*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_backwards_3*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_backwards_1*,Disable,,0,-1"
		"OutValue" "t_racecar_push_forward_item*,Disable,,0,-1"
		"OutValue" "ct_racecar_push_forward_item*,Disable,,0,-1"
	}
}

;-----------------------------------------------------------
; Move the ramp boost on HOBGOBLINs racetrack slightly up
;-----------------------------------------------------------
; Note - Accidently gave the push a bad targetname
modify:
{
	match:
	{
		"targetname" "ransmi_push_ramp"
		"origin" "-3162 -5816 8403.16"
		"classname" "trigger_push"
	}
	replace:
	{
		"origin" "-3058 -5696 8667.16"
	}
}

;-----------------------------------------------------------
; Move the ramp boost on Ransmis racetrack slightly up
;-----------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "ransmi_push_ramp"
		"origin" "1984 8322 -3318"
		"classname" "trigger_push"
	}
	replace:
	{
		"origin" "1984 8322 -3070"
	}
}

;---------------------------------------------
; Fix grammar issues when finishing a race
;---------------------------------------------
modify:
{
	match:
	{
		"origin" "14456 13384 -2192"
		"targetname" "ct_win_check"
		"classname" "filter_multi"
	}
	delete:
	{
		"OnPass" "console,Command,say < A MEMBER FROM THE HUMAN TEAM CROSSED THE FINNISH LINE >,0,1"
	}
	insert:
	{
		"OnPass" "console,Command,say < A MEMBER FROM THE HUMAN TEAM CROSSED THE FINISH LINE >,0,1"
	}
}
modify:
{
	match:
	{
		"origin" "14456 13400 -2192"
		"targetname" "t_win_check"
		"classname" "filter_multi"
	}
	delete:
	{
		"OnPass" "console,Command,say < A MEMBER FROM THE ZOMBIE TEAM CROSSED THE FINNISH LINE >,0,1"
	}
	insert:
	{
		"OnPass" "console,Command,say < A MEMBER FROM THE ZOMBIE TEAM CROSSED THE FINISH LINE >,0,1"
	}
}

;--------------------------------------------------
; Attempt to fix ramps at the final race area
;--------------------------------------------------
; Start area
add:
{
	"model" "*98"
	"targetname" "end_push_ramp"
	"StartDisabled" "0"
	"speed" "1200"
	"spawnflags" "1"
	"pushdir" "-90 0 0"
	"origin" "8588.1 -9537.79 -10614.9"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}
add:
{
	"model" "*98"
	"targetname" "end_push_ramp"
	"StartDisabled" "0"
	"speed" "1200"
	"spawnflags" "1"
	"pushdir" "-90 0 0"
	"origin" "10524.1 -9537.79 -10614.9"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

; End area
add:
{
	"model" "*98"
	"targetname" "end_push_ramp"
	"StartDisabled" "0"
	"speed" "1200"
	"spawnflags" "1"
	"pushdir" "-90 0 0"
	"origin" "9540.1 7086.21 -10630.9"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

;--------------------------------------------------
; Add feedback lap messages for the 24th laps
;--------------------------------------------------
modify:
{
	match:
	{
		"targetname" "lap_2_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE FIRST LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_3_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE SECOND LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_4_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE THIRD LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_5_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE FOURTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_6_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE FIFTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_7_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE SIXTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_8_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE SEVENTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_9_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE EIGHTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_10_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE NINTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_11_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE TENTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_12_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE ELEVENTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_13_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE TWELFTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_14_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE THIRTEENTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_15_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE FOURTEENTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_16_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE FIFTEENTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_17_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE SIXTEENTH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_18_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE SEVENTEETH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_19_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE EIGHTEETH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_20_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE NINETEETH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_21_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE TWENTIETH LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_22_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE TWENTY-FIRST LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_23_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE TWENTY-SECOND LAP >,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "lap_24_name_24"
		"classname" "filter_activator_name"
	}
	insert:
	{
		"OnPass" "console,Command,say < A PLAYER PASSED THE TWENTY-THIRD LAP >,0,1"
	}
}