;Fix song 1 and 2 playing in the same time on stage 1 and 2. @Dolly
modify:
{
    match:
    {
        "classname" "logic_case"
        "targetname" "MUSICCASE"
    }
    delete:
    {
        "OnCase01" "MUSIC1REL,Trigger,,0,-1"
        "OnCase02" "MUSIC2REL,Trigger,,0,-1"
        "OnCase03" "MUSIC3REL,Trigger,,0,-1"
    }
    insert:
    {
        "OnCase01" "MUSIC1REL,Trigger,,0,1"
        "OnCase02" "MUSIC2REL,Trigger,,0,1"
        "OnCase03" "MUSIC3REL,Trigger,,0,1"
    }
}
modify:
{
    match:
    {
        "classname" "trigger_once"
        "targetname" "music_2stages"
    }
    delete:
    {
        "OnStartTouch" "MUSICCASE,PickRandom,,1,-1"
    }
    insert:
    {
        "OnStartTouch" "MUSICCASE,PickRandom,,1,1"
    }
}