;-----------------------
; Remove offliner text
;-----------------------
filter:
{
	"classname" "logic_timer"
	"origin" "7778 8478 -171"
	"targetname" "offliner"
}

;-----------------------
; Removes a spawnpoints(blame hobgoblin)
;-----------------------
filter:
{
	"origin" "-4061 -327 -338"
	"classname" "info_player_terrorist"
}
filter:
{
	"origin" "-2624 -384 -335"
	"classname" "info_player_terrorist"
}

;------------------------------
; Edict crash fix
;------------------------------
filter:
{
	"classname" "game_player_equip"
	"origin" "2678.3 -915.818 8"
	"targetname" "game_fullbuyset_default"
}

;------------------------------------
; Edict crash fix & add knife (also hobgoblins fault)
;------------------------------------
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"origin" "2678.3 -891.818 8"
		"targetname" "game_fullbuyset"
	}
	insert:
	{
		"weapon_knife" "1"
	}
	delete:
	{
		"ammo_buckshot" "4"
		"ammo_9mm" "4"
		"ammo_762mm" "3"
		"ammo_57mm" "2"
		"ammo_556mm_box" "7"
		"ammo_556mm" "3"
		"ammo_50AE" "5"
		"ammo_45acp" "4"
		"ammo_357sig" "4"
		"ammo_338mag" "3"
	}
}

;--------------------------
; Fix door explosion damage
;--------------------------
modify:
{
	match:
	{
		"classname" "env_explosion"
		"origin" "-465.5 -378 -503"
		"targetname" "kwikemart_allahuakbar"
	}
	replace:
	{
		"iMagnitude" "9999"
	}
}

;-----------------------
; Fix broken output in racemode ending relay
;-----------------------
modify:
{
	match:
	{
		"classname" "logic_relay"
		"origin" "1310 998 502"
		"targetname" "race_mode_endrelay"
	}
	delete:
	{
		"OnTrigger" "newufo_makerAddOutput81-1"
	}
	insert:
	{
		"OnTrigger" "music_simpsontrap,Volume,8,1,-1"
	}
}

;-----------------------------
; End racemode laser timer earlier
;-----------------------------
modify:
{
	match:
	{
		"classname" "logic_timer"
		"origin" "1139.45 876.359 1633.67"
		"targetname" "racemode_laser_timer"
	}
	delete:
	{
		"OnTrigger" "racemode_laser_timerDisable51-1"
	}
	insert:
	{
		"OnTrigger" "racemode_laser_timer,Disable,,49.5,-1"
	}
}

;---------------------------
; Add filter to UFO tp in ex2
;---------------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "1264 -412 -216"
		"targetname" "ex2_newufotp_mainstage"
	}
	insert:
	{
		"filtername" "filter_ct"
	}
}

;-------------------------
; Extend UFO tp for humans in ex2
;-------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "1136 -616 -216"
		"targetname" "ex2_newufo_trigger"
	}
	delete:
	{
		"OnStartTouch" "ex2_newufotp_mainstageDisable351"
	}
	insert:
	{
		"OnStartTouch" "ex2_newufotp_mainstage,Disable,,40,1"
	}
}

;-------------------------
; Increase player max health with heal item
;-------------------------
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "2912 -908.66 102.62"
		"targetname" "ned_heal"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,max_health 200,0,-1"
	}
}

;------------------------
; Increase ex2 moving boss hp
;------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "8132 3944 -68"
		"targetname" "homerboss_hp_add"
	}
	delete:
	{
		"OnStartTouch" "bosshomerboss_math_counterAdd2000-1"
	}
	insert:
	{
		"OnStartTouch" "bosshomerboss_math_counter,Add,400,0,-1"
	}
}
;------------------------
; disable bhop during trash ff part
;------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "1136 -616 -216"
		"targetname" "ex2_newufo_trigger"
	}
	insert:
	{
		"OnStartTouch" "messages,Command,sv_enablebunnyhopping 0,30,1"
	}
}
;-----------------------
; re-enable bhop after ff part
;-----------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "1272 -404 -199.04"
		"targetname" "ex2_finale_trigger"
	}
	insert:
	{
		"OnStartTouch" "messages,Command,sv_enablebunnyhopping 1,0,1"
	}
}