;--------------------------------
;FIX NOT ADJUSTABLE MUSIC VOLUME
;--------------------------------
modify:
{
	match:
	{
		"message" "ze_santa_prison_escape/ze_santa_prison_escape_music.mp3"
	}
	replace:
	{
		"message" "#ze_santa_prison_escape/ze_santa_prison_escape_music.mp3"
	}
}