; ============================================;
; ze_snowflower_laboratory_v1 -- By Pasas1345
; Stripper by Pasas1345
; Iteration #1
; ============================================;

; ---------------
; Bug Fixes
; ---------------

; Fix Snowflower Drop Check System
modify:
{
	match:
	{
		"targetname" "snowflower_pist"
		"classname" "weapon_elite"
	}
	insert:
	{
		"OnPlayerPickup" "snowflower_dropcheck_filter,TestActivator,,0.05,-1"
		"OnPlayerPickup" "snowflower_dropcheck_move,Enable,,0.05,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "snowflower_dropcheck_filter"
		"classname" "filter_enemy"
	}
	replace:
	{
		"filtername" "player_snowflower"
	}
}
