;; Items - Adding vscript file to weapon_elite. Used mainly in marathon mode to prevent Archer picking up other items.

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "berkeitem1weapon1"
		"origin" "10496 -8448 -6040"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "berkeitem2weapon1"
		"origin" "10928 -7904 -6104"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "berkeitem3weapon1"
		"origin" "11648 -8504 -6079"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Fumo_Cirno_Gun"
		"origin" "-13410 -3770 -8386"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Fumo_Flandere_Gun"
		"origin" "-13410 -3806 -8386"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Fumo_Inu_Gun"
		"origin" "-13410 -3734 -8386"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Fumo_Reimu_Gun"
		"origin" "-13410 -3842 -8386"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Fumo_Remilia_Gun"
		"origin" "-13410 -3878 -8386"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Fumo_Yuuka_Gun"
		"origin" "-13410 -3698 -8386"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "item_ct_wavewall_pickup"
		"origin" "14400 -6784 -4512"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "item_familiar_pistol"
		"origin" "14038.6 -8297.4 -5800"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "item_grimoire_elite"
		"origin" "13376 -6584 -4752"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "item_shotgun_elite"
		"origin" "12768 -6272 -5304"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "itemboomerang_elite"
		"origin" "11315 -6264 -5251"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "itemgsb_elite"
		"origin" "-10757 -4608 5233"
	}
	insert:
	{
		"vscripts" "source_ware/vscript_item_weaponelite.nut"
	}
}
