;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;HP FIX FOR BOSS PLUGIN
;-----------------------

modify:
{
	match:
	{
		"targetname" "Satan_HealthCount"
		"classname" "math_counter"
	}
	insert:
	{
		"OnHitMax" "Satan_HealthCase,FireUser1,,0,1"
	}
}

;-------------------------------------------------------------
;DON'T LAGCOMP THIS SHIT (1073741824 is the anti-lagcomp flag)
;-------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "func_physbox"
		"targetname" "Lvl3_Butter_C"
	}
	replace:
	{
		"spawnflags" "1074266112"
	}
}


;------------------------
;LEVEL1: REMOVE ONE ITEM
;------------------------

modify:
{
	match:
	{
		"targetname" "TempLevel1"
		"classname" "point_template"
	}
	delete:
	{
		"OnUser1" "ItemTemp_Lvl1,PickRandomShuffle,,0.2,1"
		"OnUser1" "ItemOrigin_Lvl1,PickRandomShuffle,,0.23,1"
		"OnUser1" "ItemSpawner_Lvl1,ForceSpawn,,0.26,1"
	}
}

;--------------------------------------
;INCREASE ITEMS COOLDOWN to 60 SECONDS
;--------------------------------------

modify:
{
	match:
	{
		"targetname" "Item_Ammo_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Item_Ammo_Model,Start,,45,-1"
	}
	insert:
	{
		"OnPass" "Item_Ammo_Button,Lock,,0,-1"
		"OnPass" "Item_Ammo_Model,Start,,60,-1"
		"OnPass" "Item_Ammo_Button,Unlock,,60,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Heal_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Item_Heal_Rotating,Start,,45,-1"
		"OnPass" "Item_Heal_Button,Unlock,,45,-1"
		"OnPass" "Item_Heal_Rotating,Color,255 255 255,45,-1"
	}
	insert:
	{
		"OnPass" "Item_Heal_Rotating,Start,,60,-1"
		"OnPass" "Item_Heal_Button,Unlock,,60,-1"
		"OnPass" "Item_Heal_Rotating,Color,255 255 255,60,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Earth_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Item_Earth_Model_Particle,Start,,45,-1"
		"OnPass" "Item_Earth_Model,Enable,,45,-1"
		"OnPass" "Item_Earth_Button,Unlock,,45,-1"
	}
	insert:
	{
		"OnPass" "Item_Earth_Model_Particle,Start,,60,-1"
		"OnPass" "Item_Earth_Model,Enable,,60,-1"
		"OnPass" "Item_Earth_Button,Unlock,,60,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Gravity_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Item_Gravity_Model,Start,,45,-1"
		"OnPass" "Item_Gravity_Button,Unlock,,45,-1"
	}
	insert:
	{
		"OnPass" "Item_Gravity_Model,Start,,60,-1"
		"OnPass" "Item_Gravity_Button,Unlock,,60,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Wind_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Item_Wind_Model,TurnOn,,45,-1"
		"OnPass" "Item_Wind_Button,Unlock,,45,-1"
	}
	insert:
	{
		"OnPass" "Item_Wind_Model,TurnOn,,60,-1"
		"OnPass" "Item_Wind_Button,Unlock,,60,-1"
	}
}


;-----------------------------------
;PREVENT CT FROM NOT DODGING LASERS
;-----------------------------------

; Use a name that is in the template wildcard - Ext3_Tp*
add:
{
	"model" "*344"
	"targetname" "Ext3_TpButActuallyAntiCampHurt"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "1584.5 -10614.5 12811.5"
	"nodmgforce" "0"
	"filtername" "Map_Filter_CT"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "1000"
	"classname" "trigger_hurt"
}

modify:
{
	match:
	{
		"targetname" "LaserRelay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "Ext3_TpButActuallyAntiCampHurt,Enable,,4,1"
	}
}

;--------------------------------------------
;PREVENT DELAY FROM TP IN STAGE2 TV ENTRANCE
;--------------------------------------------

add:
{
	"model" "*73"
	"targetname" "LvlX_AFK_Tp"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-4046 -5112 785"
	"classname" "trigger_teleport"
	"OnStartTouch" "Map_Filter_Zombie,TestActivator,,0,-1"
}

;----------------------
;FIX WARMUP
;----------------------

modify:
{
	match:
	{
		"targetname" "Level_Case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,5,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,10,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,20,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,30,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,40,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND END <<,50,1"
		"OnCase01" "Server,Command,say >> 40 SECONDS LEFT <<,11,1"
		"OnCase01" "Server,Command,say >> 30 SECONDS LEFT <<,21,1"
		"OnCase01" "Server,Command,say >> 20 SECONDS LEFT <<,31,1"
		"OnCase01" "Server,Command,say >> 10 SECONDS LEFT <<,41,1"
		"OnCase01" "Server,Command,mp_restartgame 1,52,1"
		"OnCase01" "Level_Stocker,AddOutput,OnUser1 Level_Counter:SetValue:2:0.00:1,50.02,1"
		"OnCase01" "Level_Stocker,FireUser1,,50,1"
	}
	insert:
	{
		"OnCase01" "Level_Stocker,AddOutput,OnUser1 Level_Counter:SetValue:2:0.00:1,1.02,1"
		"OnCase01" "Level_Stocker,FireUser1,,1,1"
	}
}