;------------------------
; Stripper by .Rushaway
; Last rev: 29.08.2023
;------------------------

;---------------------------------
; Fix targetname doesnt get reset
;---------------------------------
; Potion - Ammo
;---------------
modify:
{
	match:
	{
		"targetname" "ammo_potion_elite"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_ammo_potion,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_ammo_potion,0.02,-1"
		"OnPlayerPickup" "player_ammo_potion,AddOutput,targetname Player_None,0,-1"
	}
}

;---------------
; Potion - Heal
;---------------
modify:
{
	match:
	{
		"targetname" "potion_heal_elite"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_potion_heal,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_potion_heal,0.02,-1"
		"OnPlayerPickup" "player_potion_heal,AddOutput,targetname Player_None,0,-1"
	}
}

;---------------
; Potion - Speed
;---------------
modify:
{
	match:
	{
		"targetname" "potion_speed_elite"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_potion_speed,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_potion_speed,0.02,-1"
		"OnPlayerPickup" "player_potion_speed,AddOutput,targetname Player_None,0,-1"
	}
}

;--------------------
; Item - Flamethrower
;--------------------
modify:
{
	match:
	{
		"targetname" "flame_pistol"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_human_flame,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_human_flame,0.02,-1"
		"OnPlayerPickup" "player_human_flame,AddOutput,targetname Player_None,0,-1"
	}
}

;----------------------
; Item - Explosive Bow
;----------------------
modify:
{
	match:
	{
		"targetname" "bow_exp_holder_1"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_human_expbow,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_human_expbow,0.02,-1"
		"OnPlayerPickup" "player_human_expbow,AddOutput,targetname Player_None,0,-1"
	}
}

;-------------
; Item -  Bow
;-------------
modify:
{
	match:
	{
		"targetname" "r_bow_holder_1"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_human_r_bow,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_human_r_bow,0.02,-1"
		"OnPlayerPickup" "player_human_r_bow,AddOutput,targetname Player_None,0,-1"
	}
}

;----------------
; Item -  Barrel
;----------------
modify:
{
	match:
	{
		"targetname" "barrel_elite"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_barrel,0,-1"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddOutput,targetname player_barrel,0.02,-1"
		"OnPlayerPickup" "player_barrel,AddOutput,targetname Player_None,0,-1"
	}
}