;-----------------------------------------------------------
; replace physics level system with perm entities (by Koen)
;-----------------------------------------------------------
add:
{
	"classname" "info_target"
	"targetname" "Stage_CounterInit"
	"spawnflags" "0"
	"OnUser1" "Stage_CounterTemplate,ForceSpawn,,0,1"
	"OnUser1" "Stage_Counter,AddOutput,classname info_target,0.03,1"
	"OnUser1" "!self,Kill,,0.06,1"
}

add:
{
	"classname" "point_template"
	"targetname" "Stage_CounterTemplate"
	"Template01" "Stage_Counter"
	"spawnflags" "2"
}

add:
{
	"classname" "math_counter"
	"targetname" "Stage_Counter"
	"startvalue" "1"
	"StartDisabled" "0"
	"min" "1"
	"max" "6"
	"OnGetValue" "Stage_Case,InValue,,0,-1"
}

add:
{
	"classname" "logic_case"
	"targetname" "Stage_Case"
	"Case01" "1"
	"Case02" "2"
	"Case03" "3"
	"Case04" "4"
	"Case05" "5"
	"Case06" "6"
	"OnCase01" "Trigger_start_easy,Enable,,0.02,-1"

	"OnCase02" "Trigger_start_normal,Enable,,0.02,-1"
	"OnCase02" "Trigger_start_easy,Kill,,0.02,-1"
	"OnCase02" "trigger_win_1_lvl,Kill,,0.02,-1"

	"OnCase03" "trigger_start_hard,Enable,,0.02,-1"
	"OnCase03" "Trigger_start_easy,Kill,,0.02,-1"
	"OnCase03" "Trigger_start_normal,Kill,,0.02,-1"

	"OnCase04" "trigger_start_extreme,Enable,,0.02,-1"
	"OnCase04" "Trigger_start_easy,Kill,,0.02,-1"
	"OnCase04" "Trigger_start_normal,Kill,,0.02,-1"
	"OnCase04" "trigger_start_hard,Kill,,0.02,-1"

	"OnCase05" "trigger_start_epic,Enable,,0.02,-1"
	"OnCase05" "Trigger_start_easy,Kill,,0.02,-1"
	"OnCase05" "Trigger_start_normal,Kill,,0.02,-1"
	"OnCase05" "trigger_start_hard,Kill,,0.02,-1"
	"OnCase05" "trigger_start_extreme,Kill,,0.02,-1"

	"OnCase06" "trigger_start_Rage_mod,Enable,,0.02,-1"
	"OnCase06" "Trigger_start_easy,Kill,,0.02,-1"
	"OnCase06" "Trigger_start_normal,Kill,,0.02,-1"
	"OnCase06" "trigger_start_hard,Kill,,0.02,-1"
	"OnCase06" "trigger_start_extreme,Kill,,0.02,-1"
	"OnCase06" "trigger_start_epic,Kill,,0.02,-1"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "Stage_CounterInit,FireUser1,,0,1"
		"OnMapSpawn" "Stage_Counter,GetValue,,0.02,1"
	}
}

;change stage triggers to new system
modify:
{
	match:
	{
		"classname" "func_button"
		"hammerid" "844"
	}
	delete:
	{
		"OnPressed" "easy_brush,Disable,,0,-1"
		"OnPressed" "normal_brush,Enable,,0,-1"
		"OnPressed" "hard_brush,Enable,,0,-1"
		"OnPressed" "extreme_brush,Enable,,0,-1"
		"OnPressed" "epic_brush,Enable,,0,-1"
		"OnPressed" "Rage_mod_brush,Enable,,0,-1"
	}
	insert:
	{
		"OnPressed" "Stage_Counter,SetValue,1,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"hammerid" "846"
	}
	delete:
	{
		"OnPressed" "normal_brush,Disable,,0,-1"
		"OnPressed" "easy_brush,Enable,,0,-1"
		"OnPressed" "hard_brush,Enable,,0,-1"
		"OnPressed" "extreme_brush,Enable,,0,-1"
		"OnPressed" "epic_brush,Enable,,0,-1"
		"OnPressed" "Rage_mod_brush,Enable,,0,-1"
	}
	insert:
	{
		"OnPressed" "Stage_Counter,SetValue,2,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"hammerid" "1307"
	}
	delete:
	{
		"OnPressed" "hard_brush,Disable,,0,-1"
		"OnPressed" "normal_brush,Enable,,0,-1"
		"OnPressed" "easy_brush,Enable,,0,-1"
		"OnPressed" "extreme_brush,Enable,,0,-1"
		"OnPressed" "epic_brush,Enable,,0,-1"
		"OnPressed" "Rage_mod_brush,Enable,,0,-1"
	}
	insert:
	{
		"OnPressed" "Stage_Counter,SetValue,3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"hammerid" "1743"
	}
	delete:
	{
		"OnPressed" "extreme_brush,Disable,,0,-1"
		"OnPressed" "easy_brush,Enable,,0,-1"
		"OnPressed" "normal_brush,Enable,,0,-1"
		"OnPressed" "hard_brush,Enable,,0,-1"
		"OnPressed" "epic_brush,Enable,,0,-1"
		"OnPressed" "Rage_mod_brush,Enable,,0,-1"
	}
	insert:
	{
		"OnPressed" "Stage_Counter,SetValue,4,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"hammerid" "1936"
	}
	delete:
	{
		"OnPressed" "epic_brush,Disable,,0,-1"
		"OnPressed" "easy_brush,Enable,,0,-1"
		"OnPressed" "normal_brush,Enable,,0,-1"
		"OnPressed" "hard_brush,Enable,,0,-1"
		"OnPressed" "extreme_brush,Enable,,0,-1"
		"OnPressed" "Rage_mod_brush,Enable,,0,-1"
	}
	insert:
	{
		"OnPressed" "Stage_Counter,SetValue,5,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"hammerid" "741783"
	}
	delete:
	{
		"OnPressed" "Rage_mod_brush,Disable,,0,-1"
		"OnPressed" "easy_brush,Enable,,0,-1"
		"OnPressed" "normal_brush,Enable,,0,-1"
		"OnPressed" "hard_brush,Enable,,0,-1"
		"OnPressed" "extreme_brush,Enable,,0,-1"
		"OnPressed" "epic_brush,Enable,,0,-1"
	}
	insert:
	{
		"OnPressed" "Stage_Counter,SetValue,6,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Heal_humas"
	}
	delete:
	{
		"OnStartTouch" "easy_brush,Enable,,0,-1"
		"OnStartTouch" "normal_brush,Disable,,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Stage_Counter,SetValue,2,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_win_2_lvl_1"
	}
	delete:
	{
		"OnTrigger" "normal_brush,Enable,,0,-1"
		"OnTrigger" "hard_brush,Disable,,0,-1"
	}
	insert:
	{
		"OnTrigger" "Stage_Counter,SetValue,3,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Heal_humas_2"
	}
	delete:
	{
		"OnTrigger" "extreme_brush,Disable,,0,-1"
		"OnTrigger" "hard_brush,Enable,,0,-1"
	}
	insert:
	{
		"OnTrigger" "Stage_Counter,SetValue,4,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Heal_humas_1"
	}
	delete:
	{
		"OnTrigger" "epic_brush,Disable,,0,-1"
		"OnTrigger" "extreme_brush,Enable,,0,-1"
	}
	insert:
	{
		"OnTrigger" "Stage_Counter,SetValue,5,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_End"
	}
	delete:
	{
		"OnStartTouch" "Rage_mod_brush,Disable,,5,-1"
		"OnTrigger" "epic_brush,Enable,,5,-1"
	}
	insert:
	{
		"OnTrigger" "Stage_Counter,SetValue,6,5,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_end_6"
	}
	delete:
	{
		"OnTrigger" "Rage_mod_brush,Enable,,2,-1"
		"OnStartTouch" "easy_brush,Disable,,2,-1"
	}
	insert:
	{
		"OnTrigger" "Stage_Counter,SetValue,1,2,-1"
	}
}

;cleanup old level system
filter:
{
	"classname" "func_physbox"
	"targetname" "Box"
}

filter:
{
	"classname" "func_brush"
	"targetname" "/(normal|easy|hard|extreme|epic|Rage_mod)_brush/"
}

filter:
{
	"classname" "trigger_once"
	"targetname" "/Trigger_(normal|epic|Rage_mod)/"
}

;Cant use regex for following, some trigger use this as prefix
filter:
{
	"classname" "trigger_once"
	"targetname" "Trigger_easy"
}

filter:
{
	"classname" "trigger_once"
	"targetname" "Trigger_hard"
}

filter:
{
	"classname" "trigger_once"
	"targetname" "Trigger_extreme"
}

;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;REMOVE ZOMBIE RATIO
;--------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "784"
	}
	delete:
	{
		"OnNewGame" "CONSOLE,Command,zr_ztele_zombie 0,0,-1"
		"OnNewGame" "CONSOLE,Command,zr_infect_mzombie_ratio 8,0,-1"
		"OnNewGame" "CONSOLE,Command,zr_class_modify zombies health 8500,0,-1"
		"OnNewGame" "CONSOLE,Command,zr_class_modify zombies health_regen_interval 0.2,0,-1"
	}
	insert:
	{
		"OnNewGame" "CONSOLE,Command,zr_ztele_max_zombie 3,0,-1"
	}
}

;----------------------------
;DISABLE MOTION BOSS PHYSBOX
;----------------------------
modify:
{
	match:
	{
		"targetname" "Reactor"
		"classname" "func_physbox"
	}
	replace:
	{
		"spawnflags" "584704"
	}
}

;-----------------------
;STAGE 6 - LESS HP BOSS
;-----------------------

modify:
{
	match:
	{
		"targetname" "Station_heal_boss"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "darth_sphere_1,Add,40,0,-1"
		"OnStartTouch" "darth_sphere_2,Add,40,0,-1"
	}
	insert:
	{
		"OnStartTouch" "darth_sphere_1,Add,25,0,-1"
		"OnStartTouch" "darth_sphere_2,Add,25,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "darth_sphere_1"
		"classname" "math_counter"
	}
	replace:
	{
		"startvalue" "12"
	}
}

modify:
{
	match:
	{
		"targetname" "darth_sphere_2"
		"classname" "math_counter"
	}
	replace:
	{
		"startvalue" "12"
	}
}

;----------------------------------------------------------------
;STAGE 6 - DISABLE TRIGGER_HURT WHEN DARTH MAUL DIES AT THE END
;----------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "Darth_maul_the_end_attack_3"
	}
	insert:
	{
		"OnPass" "Hurt_end_maul,Disable,,31,-1"
	}
}

;-----------------
;STAGE 6 - NUKE FIX
;-----------------
add:
{
	"model" "*394"
	"targetname" "Trigger_hurt_end"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "9368.5 1398 -1742.5"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "999999"
	"classname" "trigger_hurt"
}

;--------------------------------------------
;STAGE 5 - DISABLE MOTION DARTH MAUL PHYSBOX
; AND GIVE MORE HP TO PHYSBOX
;--------------------------------------------
modify:
{
	match:
	{
		"classname" "func_physbox_multiplayer"
		"targetname" "Dart_Maul_phybox"
	}
	replace:
	{
		"spawnflags" "60416"
		"health" "150000"
	}
}

;-----------------------------------------
;STAGE 4 - DISABLE NUKE THAT KILLS HUMANS
;-----------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_extreme_nuke"
	}
	delete:
	{
		"OnTrigger" "Kill_All,Enable,,8,-1"
	}
}

;-------------------------------
;STAGE 4 - TELEPORT ZM BOOSTED
;INTO SAFE ZONE ('HARD' SPAWN)
;-------------------------------
add:
{
	"model" "*207"
	"targetname" "Trigger_Teleport_Lvl_4_2"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "1018.5 -6409.5 -1475.53"
	"classname" "trigger_teleport"
}

add:
{
	"model" "*207"
	"targetname" "Trigger_Teleport_Lvl_4_2"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "1018.5 -4361.5 -1475.53"
	"classname" "trigger_teleport"
}

;-----------------------------------------
;STAGE 4 - FIX TP GLITCH BEFORE BOSS AREA
;-----------------------------------------
modify:
{
	match:
	{
		"targetname" "lvl4_Boss_Push_HP"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"OnStartTouch" "Trigger_Teleport_Lvl_1_1,Enable,,13,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Dart_Raven_Killed_Relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "Trigger_Teleport_Lvl_1_1,Disable,,0,-1"
	}
}

;------------------------------------
;STAGE 4 - FIX BLOCKING DOOR AT BOSS
;------------------------------------
modify:
{
	match:
	{
		"targetname" "Door_boss_dart_revan"
		"classname" "func_door_rotating"
	}
	insert:
	{
		"dmg" "999999"
	}
}

;------------------------
;FIX TYPO (by .Rushaway)
;------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_arca_2"
	}
	delete:
	{
		"OnStartTouch" "CONSOLE,Command,say **Destroy the barricade 15 second**,0,1"
		"OnStartTouch" "CONSOLE,Command,say **Destroy the barricade 5 second**,10,1"
	}
	insert:
	{
		"OnStartTouch" "CONSOLE,Command,say **Barricade will explode in 15 seconds**,0,1"
		"OnStartTouch" "CONSOLE,Command,say **Barricade will explode in 5 seconds**,10,1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "trigger_palace_1"
	}
	delete:
	{
		"OnStartTouch" "CONSOLE,Command,say **Destroy the barricade in 20 second**,0,1"
	}
	insert:
	{
		"OnStartTouch" "CONSOLE,Command,say **Barricade will explode in 20 seconds**,0,1"
	}
}
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "Button_palace_hard"
	}
	delete:
	{
		"OnPressed" "CONSOLE,Command,say AFK TELEPORT IN 5 SECOND,20,1"
	}
	insert:
	{
		"OnPressed" "CONSOLE,Command,say AFK TELEPORT IN 5 SECONDS,20,1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "trigger_win_1_lvl"
	}
	delete:
	{
		"OnStartTouch" "CONSOLE,Command,say **Fall back close door in 20 second**,0,-1"
	}
	insert:
	{
		"OnStartTouch" "CONSOLE,Command,say **Fall back! Door will close in 20 seconds**,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "Button_airport_2"
	}
	delete:
	{
		"OnPressed" "CONSOLE,Command,say **AFK TELEPORT IN 5 SECOND**,25,1"
	}
	insert:
	{
		"OnPressed" "CONSOLE,Command,say **AFK TELEPORT IN 5 SECONDS**,25,1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_door_3"
	}
	delete:
	{
		"OnTrigger" "CONSOLE,Command,say AFK TELEPORT IN 5 SECOND,45,-1"
	}
	insert:
	{
		"OnTrigger" "CONSOLE,Command,say AFK TELEPORT IN 5 SECONDS,45,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_win_lvl_3"
	}
	delete:
	{
		"OnStartTouch" "CONSOLE,Command,say *Fall back door close in 15 second*,0,-1"
	}
	insert:
	{
		"OnStartTouch" "CONSOLE,Command,say **Fall back! Door will close in 15 seconds**,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Dart_Raven_Start_Relay"
	}
	delete:
	{
		"OnTrigger" "CONSOLE,Command,say Boss fight in 5 second,20,1"
		"OnTrigger" "CONSOLE,Command,say Boss fight in 10 second,15,1"
		"OnTrigger" "CONSOLE,Command,say Boss fight in 25 second,0,1"
	}
	insert:
	{
		"OnTrigger" "CONSOLE,Command,say Boss fight in 5 seconds,20,1"
		"OnTrigger" "CONSOLE,Command,say Boss fight in 10 seconds,15,1"
		"OnTrigger" "CONSOLE,Command,say Boss fight in 25 seconds,0,1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Dart_Raven_Killed_Relay"
	}
	delete:
	{
		"OnTrigger" "CONSOLE,Command,say **The wall will explode in 30 second**,20,1"
	}
	insert:
	{
		"OnTrigger" "CONSOLE,Command,say **The wall will explode in 30 seconds**,20,1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_end_extreme"
	}
	delete:
	{
		"OnTrigger" "Text_2,AddOutput,message 30 SECOND,4,-1"
		"OnTrigger" "Text_2,AddOutput,message 25 SECOND,9,-1"
		"OnTrigger" "Text_2,AddOutput,message 20 SECOND ,14,-1"
		"OnTrigger" "Text_2,AddOutput,message 15 SECOND ,19,-1"
		"OnTrigger" "Text_2,AddOutput,message 10 SECOND ,24,-1"
		"OnTrigger" "CONSOLE,Command,say AFK TELEPORT IN 5 SECOND,5,1"
		"OnTrigger" "Text_2,AddOutput,message 5 SECOND ,34,-1"
	}
	insert:
	{
		"OnTrigger" "Text_2,AddOutput,message 30 SECONDS,4,-1"
		"OnTrigger" "Text_2,AddOutput,message 25 SECONDS,9,-1"
		"OnTrigger" "Text_2,AddOutput,message 20 SECONDS,14,-1"
		"OnTrigger" "Text_2,AddOutput,message 15 SECONDS,19,-1"
		"OnTrigger" "Text_2,AddOutput,message 10 SECONDS,24,-1"
		"OnTrigger" "CONSOLE,Command,say AFK TELEPORT IN 5 SECONDS,5,1"
		"OnTrigger" "Text_2,AddOutput,message 5 SECONDS,34,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Dart_Maui_start_trigger"
	}
	delete:
	{
		"OnTrigger" "CONSOLE,Command,say AFK TELEPORT 5 IN SECOND,5,1"
	}
	insert:
	{
		"OnTrigger" "CONSOLE,Command,say AFK TELEPORT 5 IN SECONDS,5,1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Logic_rage_mod_4"
	}
	delete:
	{
		"OnTrigger" "CONSOLE,Command,say The ship will departs after in 20 second,30,1"
		"OnTrigger" "CONSOLE,Command,say 5 SECOND,0,45"
	}
	insert:
	{
		"OnTrigger" "CONSOLE,Command,say The ship will departs after in 20 seconds,30,1"
		"OnTrigger" "CONSOLE,Command,say 5 SECONDS,0,45"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Station_trigger_1"
	}
	delete:
	{
		"OnTrigger" "CONSOLE,Command,say The magnetic field will destroyed in 25 second,0,1"
		"OnTrigger" "CONSOLE,Command,say The magnetic field will destroyed in 25 second,30,1"
		"OnTrigger" "CONSOLE,Command,say The magnetic field will destroyed in 20 second,60,1"
	}
	insert:
	{
		"OnTrigger" "CONSOLE,Command,say The magnetic field will be destroyed in 25 seconds,0,1"
		"OnTrigger" "CONSOLE,Command,say The magnetic field will be destroyed in 25 seconds,30,1"
		"OnTrigger" "CONSOLE,Command,say The magnetic field will be destroyed in 20 seconds,60,1"
	}
}
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "Button_reactor"
	}
	delete:
	{
		"OnPressed" "CONSOLE,Command,say RUN!!!! RUN!!!! RUN!!!!!!  The wal willl explode in 15 second,5,1"
		"OnPressed" "CONSOLE,Command,say The magnetic field will destroyed in 30 second,30,1"
		"OnPressed" "CONSOLE,Command,say The magnetic field will destroyed in 30 second,70,1"
		"OnPressed" "CONSOLE,Command,say  The teleport will earn in 25 second,105,1"
		"OnPressed" "CONSOLE,Command,say The teleport will earn in 5 second,125,1"
	}
	insert:
	{
		"OnPressed" "CONSOLE,Command,say RUN! - The wall willl explode in 15 seconds,5,1"
		"OnPressed" "CONSOLE,Command,say The magnetic field will be destroyed in 30 seconds,30,1"
		"OnPressed" "CONSOLE,Command,say The magnetic field will be destroyed in 30 seconds,70,1"
		"OnPressed" "CONSOLE,Command,say The teleport will earn in 25 seconds,105,1"
		"OnPressed" "CONSOLE,Command,say The teleport will earn in 5 seconds,125,1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Station_start_boss"
	}
	delete:
	{
		"OnTrigger" "CONSOLE,Command,say AFK TELEPORT IN 10 SECOND ,5,1"
	}
	insert:
	{
		"OnTrigger" "CONSOLE,Command,say AFK TELEPORT IN 10 SECONDS,5,1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Logic_end_station"
	}
	delete:
	{
		"OnTrigger" "CONSOLE,Command,say Teleport activates in 10 second,1,1"
		"OnTrigger" "CONSOLE,Command,say Good station explode! Shoot ZM!,0,1"
	}
	insert:
	{
		"OnTrigger" "CONSOLE,Command,say Teleport activates in 10 seconds,1,1"
		"OnTrigger" "CONSOLE,Command,say Good! Station exploded! Shoot ZM!,0,1"
	}
}
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "Darth_maul_the_end_attack_3"
	}
	delete:
	{
		"OnPass" "CONSOLE,Command,say Run!!! The ship will departs after in 20 second,35,-1"
	}
	insert:
	{
		"OnPass" "CONSOLE,Command,say Run!!! The ship will departs after in 20 seconds,35,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Ze_trigger_door_hard_1"
	}
	delete:
	{
		"OnTrigger" "Text_2,AddOutput,message 25 SECOND ,4,-1"
		"OnTrigger" "Text_2,AddOutput,message 20 SECOND ,9,-1"
		"OnTrigger" "Text_2,AddOutput,message 15 SECOND ,14,-1"
		"OnTrigger" "Text_2,AddOutput,message 10 SECOND,19,-1"
		"OnTrigger" "Text_2,AddOutput,message 5 SECOND,24,-1"
	}
	insert:
	{
		"OnTrigger" "Text_2,AddOutput,message 25 SECONDS ,4,-1"
		"OnTrigger" "Text_2,AddOutput,message 20 SECONDS ,9,-1"
		"OnTrigger" "Text_2,AddOutput,message 15 SECONDS ,14,-1"
		"OnTrigger" "Text_2,AddOutput,message 10 SECONDS,19,-1"
		"OnTrigger" "Text_2,AddOutput,message 5 SECONDS,24,-1"
	}
}