;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;FIX END NUKE DELAY
;-------------------

modify:
{
	match:
	{
		"origin" "0 1384 1416"
		"classname" "trigger_once"
		"hammerid" "6921"
	}
	insert:
	{
		"OnStartTouch" "DeathToAll,AddOutput,damage 100000,355,1"
	}
}

;-----------
;ADD AFK TP
;-----------

modify:
{
	match:
	{
		"origin" "0 1384 1416"
		"classname" "trigger_once"
		"hammerid" "6921"
	}
	delete:
	{
		"OnStartTouch" "consoleoutput,Command,say **Final Door will open unlock in 5 seconds**,185,1"
	}
	insert:
	{
		"OnStartTouch" "consoleoutput,Command,say **Final Door will open unlock in 10 seconds**,180,1"
		"OnStartTouch" "A_AFK_TELEPORT,Enable,,189,1"
		"OnStartTouch" "AFK_TELEPORT_LASTFLOOR,Enable,,290,1"
	}
}

; @ Spawn - Last Door defend
add:
{
	"model" "*109"
	"targetname" "A_AFK_TELEPORT"
	"target" "A_INFO_TELE_DEST"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "0 2432 1792"
	"classname" "trigger_teleport"
}
; @ Last Door defend - Cabin floor
add:
{
	"model" "*109"
	"targetname" "AFK_TELEPORT_LASTFLOOR"
	"target" "B_INFO_TELE_DEST"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "644 1996 2044"
	"classname" "trigger_teleport"
}
; @ Cabin floor - Stairs of Theatre 
add:
{
	"model" "*109"
	"targetname" "AFK_TELEPORT_LASTFLOOR"
	"target" "B_INFO_TELE_DEST"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "612 1764 2195"
	"classname" "trigger_teleport"
}
; @ Stairs of Theatre - Ladders of reach boat deck
add:
{
	"model" "*109"
	"targetname" "AFK_TELEPORT_LASTFLOOR"
	"target" "B_INFO_TELE_DEST"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "647 277 2335"
	"classname" "trigger_teleport"
}
; @ Ladders of reach boat deck - Boat deck
add:
{
	"model" "*109"
	"targetname" "AFK_TELEPORT_LASTFLOOR"
	"target" "B_INFO_TELE_DEST"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "64 -1128 2737"
	"classname" "trigger_teleport"
}

; Teleport @ Last Door defend
add:
{
	"origin" "-24 576 2249"
	"targetname" "A_INFO_TELE_DEST"
	"angles" "0 90 0"
	"classname" "info_teleport_destination"
}
; Teleport @ Boat deck
add:
{
	"origin" "64 1952 2917"
	"targetname" "B_INFO_TELE_DEST"
	"angles" "0 60 0"
	"classname" "info_teleport_destination"
}