; ---------------------------------------------------
; STRIPPER CFG BY VNDREW 20.06 (STEAM_0:1:80408960)
; ---------------------------------------------------

; ------------------------------------------------------------------------------------------------
; Add stripper message
; Increasing zm respawn delay
; Fixed bug where, certain zm after picking zm item once, couldn`t take it anymore in next rounds
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "11848 6568 -10216"
		"classname" "logic_auto"
		"hammerid" "5339"
	}
	insert:
	{
		"OnMapSpawn" "player,AddOutPut,targetname default,0,-1"
		"OnMapSpawn" "command,Command,say < STRIPPER # 0.3 LOADED>,10,-1"
		"OnMapSpawn" "command,Command,zr_respawn_delay 5,0,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Changing few info_teleport_destination origins to lower position to prevent telehop
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "info_tp_7_stage1"
		"classname" "info_teleport_destination"
	}
	replace:
	{
		"origin" "-7752 -5720 -2278"
	}
}
modify:
{
	match:
	{
		"targetname" "info_tp_9_stage1"
		"classname" "info_teleport_destination"
	}
	replace:
	{
		"origin" "1940 2541 6944"
	}
}
modify:
{
	match:
	{
		"targetname" "info_tp_11_stage1"
		"classname" "info_teleport_destination"
	}
	replace:
	{
		"origin" "-656 3833 8552"
	}
}
modify:
{
	match:
	{
		"targetname" "info_tp_13_stage1"
		"classname" "info_teleport_destination"
	}
	replace:
	{
		"origin" "2144 2220 7590"
	}
}
modify:
{
	match:
	{
		"targetname" "end_tp_destination_2"
		"classname" "info_teleport_destination"
	}
	replace:
	{
		"origin" "6520 12680 706"
	}
}

; ------------------------------------------------------------------------------------------------
; Fixed human beam item damage
; Prevent all zm team to die
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "human_beam_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "20000"
	}
}
modify:
{
	match:
	{
		"targetname" "human_beam_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnSpawn" "tp_zm_from_spawn,Disable,,14,-1"
		"OnSpawn" "tp_zm_from_spawn,Enable,,16,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Revert npc hp to original
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "/(green|orange)_npc_breakable/"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"health" "5000"
	}
}

; ------------------------------------------------------------------------------------------------
; Reduced defence time after first tp
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_trigger01"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "stage1_30_25_20_15_sec_countdown,FireUser2,,0,-1"
		"OnTrigger" "stage1_wall_1,FireUser1,,23,-1"
		"OnTrigger" "door_open_sound,PlaySound,,23.5,-1"
	}
	insert:
	{
		"OnTrigger" "stage1_30_25_20_15_sec_countdown,FireUser4,,0,-1"
		"OnTrigger" "stage1_wall_1,FireUser1,,13,-1"
		"OnTrigger" "door_open_sound,PlaySound,,13.5,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Slight nerf of aggressiv tp after planks
; Door opens faster
; Reduced defence time
; Slower tp
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_button_1"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "stage1_30_25_20_15_sec_countdown,FireUser1,,0,-1"
		"OnPressed" "tp_1_stage1,Enable,,5,-1"
		"OnPressed" "stage1_tp_sign_2,SetAnimation,idle,5,-1"
		"OnPressed" "tp_sound,PlaySound,,5,-1"
		"OnPressed" "stage1_tp_sign_3,SetAnimation,idle,28,-1"
		"OnPressed" "stage1_wall_2,FireUser2,,28,-1"
		"OnPressed" "door_open_sound,PlaySound,,28.5,-1"
		"OnPressed" "stage1_tp_sign_particle_2,Start,,35,-1"
		"OnPressed" "stage1_wall_2,FireUser1,,38,-1"
		"OnPressed" "tp_2_stage1,Enable,,40,-1"
		"OnPressed" "tp_sound,PlaySound,,40,-1"
	}
	insert:
	{
		"OnPressed" "stage1_30_25_20_15_sec_countdown,FireUser3,,0,-1"
		"OnPressed" "tp_1_stage1,Enable,,10,-1"
		"OnPressed" "stage1_tp_sign_2,SetAnimation,idle,10,-1"
		"OnPressed" "tp_sound,PlaySound,,10,-1"
		"OnPressed" "stage1_tp_sign_3,SetAnimation,idle,18,-1"
		"OnPressed" "stage1_wall_2,FireUser2,,18,-1"
		"OnPressed" "door_open_sound,PlaySound,,18.5,-1"
		"OnPressed" "stage1_tp_sign_particle_2,Start,,20,-1"
		"OnPressed" "stage1_wall_2,FireUser1,,33,-1"
		"OnPressed" "tp_2_stage1,Enable,,35,-1"
		"OnPressed" "tp_sound,PlaySound,,35,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Reduced defence time after second caves
; Slower tp
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_button_2"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "stage1_30_25_20_15_sec_countdown,FireUser1,,0,-1"
		"OnPressed" "stage1_wall_3,FireUser2,,28,-1"
		"OnPressed" "door_open_sound,PlaySound,,28.5,-1"
		"OnPressed" "stage1_tp_sign_particle_4,Start,,30,-1"
		"OnPressed" "stage1_npc_location_2,Trigger,,31,-1"
		"OnPressed" "stage1_wall_3,FireUser1,,40,-1"
		"OnPressed" "tp_4_stage1,Enable,,42,-1"
		"OnPressed" "tp_sound,PlaySound,,42,-1"
	}
	insert:
	{
		"OnPressed" "stage1_30_25_20_15_sec_countdown,FireUser3,,0,-1"
		"OnPressed" "stage1_wall_3,FireUser2,,18,-1"
		"OnPressed" "door_open_sound,PlaySound,,18.5,-1"
		"OnPressed" "stage1_tp_sign_particle_4,Start,,20,-1"
		"OnPressed" "stage1_npc_location_2,Trigger,,21,-1"
		"OnPressed" "stage1_wall_3,FireUser1,,33,-1"
		"OnPressed" "tp_4_stage1,Enable,,35,-1"
		"OnPressed" "tp_sound,PlaySound,,35,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Reduced defence time in water part
; Slower tp
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-10512 -7206.26 -1945.47"
		"hammerid" "224336"
	}
	delete:
	{
		"OnTrigger" "stage1_30_25_20_15_sec_countdown,FireUser1,,0,-1"
		"OnTrigger" "stage1_wall_4,FireUser2,,28,-1"
		"OnTrigger" "door_open_sound,PlaySound,,28.5,-1"
		"OnTrigger" "stage1_tp_sign_particle_5,Start,,30,-1"
		"OnTrigger" "stage1_wall_4,FireUser1,,38,-1"
		"OnTrigger" "tp_5_stage1,Enable,,40,-1"
		"OnTrigger" "tp_sound,PlaySound,,40,-1"
	}
	insert:
	{
		"OnTrigger" "stage1_30_25_20_15_sec_countdown,FireUser3,,0,-1"
		"OnTrigger" "stage1_wall_4,FireUser2,,18,-1"
		"OnTrigger" "door_open_sound,PlaySound,,18.5,-1"
		"OnTrigger" "stage1_tp_sign_particle_5,Start,,20,-1"
		"OnTrigger" "stage1_wall_4,FireUser1,,33,-1"
		"OnTrigger" "tp_5_stage1,Enable,,35,-1"
		"OnTrigger" "tp_sound,PlaySound,,35,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Reduced defence time
; Slower tp
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "-7872 -5728 -1982"
		"classname" "trigger_once"
		"hammerid" "247567"
	}
	delete:
	{
		"OnTrigger" "stage1_30_25_20_15_sec_countdown,FireUser1,,0,-1"
		"OnTrigger" "stage1_wall_5,FireUser2,,28,-1"
		"OnTrigger" "door_open_sound,PlaySound,,28.5,-1"
		"OnTrigger" "stage1_tp_sign_particle_6,Start,,30,-1"
		"OnTrigger" "stage1_wall_5,FireUser1,,38,-1"
		"OnTrigger" "stage1_npc_location_3,Trigger,,39,-1"
		"OnTrigger" "tp_sound,PlaySound,,40,-1"
		"OnTrigger" "tp_6_stage1,Enable,,40,-1"
		"OnTrigger" "stage1_npc_location_4,Trigger,,45,-1"
	}
	insert:
	{
		"OnTrigger" "stage1_30_25_20_15_sec_countdown,FireUser3,,0,-1"
		"OnTrigger" "stage1_wall_5,FireUser2,,18,-1"
		"OnTrigger" "door_open_sound,PlaySound,,18.5,-1"
		"OnTrigger" "stage1_tp_sign_particle_6,Start,,20,-1"
		"OnTrigger" "stage1_wall_5,FireUser1,,33,-1"
		"OnTrigger" "stage1_npc_location_3,Trigger,,29,-1"
		"OnTrigger" "tp_sound,PlaySound,,35,-1"
		"OnTrigger" "tp_6_stage1,Enable,,35,-1"
		"OnTrigger" "stage1_npc_location_4,Trigger,,35,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Reducing defence time after trigger
; Shortcut opens faster
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_button_3"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "stage1_30_25_20_15_sec_countdown,FireUser1,,0,-1"
		"OnPressed" "stage1_shortcut,FireUser2,,14,-1"
		"OnPressed" "door_open_sound,PlaySound,,14.5,-1"
		"OnPressed" "stage1_wall_6,FireUser2,,28,-1"
		"OnPressed" "door_open_sound,PlaySound,,28.5,-1"
	}
	insert:
	{
		"OnPressed" "stage1_30_25_20_15_sec_countdown,FireUser3,,0,-1"
		"OnPressed" "stage1_shortcut,FireUser2,,8,-1"
		"OnPressed" "door_open_sound,PlaySound,,8.5,-1"
		"OnPressed" "stage1_wall_6,FireUser2,,18,-1"
		"OnPressed" "door_open_sound,PlaySound,,18.5,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Delyaed tp from first to second big location
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_elevator_2"
		"classname" "func_door"
	}
	delete:
	{
		"OnFullyOpen" "tp_sound,PlaySound,,7,-1"
		"OnFullyOpen" "add_tp_7_stage1,Enable,,7,-1"
		"OnFullyOpen" "tp_7_stage1,Enable,,7,-1"
		"OnFullyOpen" "stage1_wall_7,FireUser1,,8,-1"
	}
	insert:
	{
		"OnFullyOpen" "tp_sound,PlaySound,,10,-1"
		"OnFullyOpen" "add_tp_7_stage1,Enable,,10,-1"
		"OnFullyOpen" "tp_7_stage1,Enable,,10,-1"
		"OnFullyOpen" "stage1_wall_7,FireUser1,,10,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Reduced defence time after first [2/2] trigger
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_button_5_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "stage1_30_25_20_15_sec_countdown,FireUser1,,3,-1"
		"OnHitMax" "stage1_fall_down_tp,Enable,,30,-1"
		"OnHitMax" "stage1_wall_8,FireUser2,,31,-1"
		"OnHitMax" "door_open_sound,PlaySound,,31.5,-1"
	}
	insert:
	{
		"OnHitMax" "stage1_30_25_20_15_sec_countdown,FireUser2,,3,-1"
		"OnHitMax" "stage1_fall_down_tp,Enable,,20,-1"
		"OnHitMax" "stage1_wall_8,FireUser2,,26,-1"
		"OnHitMax" "door_open_sound,PlaySound,,26.5,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Reduced defence time on second level before door opens
; ZM AFK TP faster
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_button_6"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "stage1_30_25_20_15_sec_countdown,FireUser1,,0,-1"
		"OnPressed" "stage1_wall_9,FireUser2,,28,-1"
		"OnPressed" "door_open_sound,PlaySound,,28.5,-1"
		"OnPressed" "stage1_npc_location_6,Trigger,,40,-1"
		"OnPressed" "stage1_npc_location_7,Trigger,,45,-1"
		"OnPressed" "stage1_shortcut_2_breakable,Break,,55,-1"
		"OnPressed" "stage1_tp_sign_particle_8,Start,,80,-1"
		"OnPressed" "stage1_wall_9,FireUser1,,88,-1"
		"OnPressed" "tp_8_stage1,Enable,,90,-1"
		"OnPressed" "stage1_wall_8,FireUser1,,90,-1"
		"OnPressed" "stage1_elevator_2,Close,,91,-1"
		"OnPressed" "tp_sound,PlaySound,,90,-1"
	}
	insert:
	{
		"OnPressed" "stage1_30_25_20_15_sec_countdown,FireUser2,,0,-1"
		"OnPressed" "stage1_wall_9,FireUser2,,23,-1"
		"OnPressed" "door_open_sound,PlaySound,,23.5,-1"
		"OnPressed" "stage1_npc_location_6,Trigger,,35,-1"
		"OnPressed" "stage1_npc_location_7,Trigger,,40,-1"
		"OnPressed" "stage1_shortcut_2_breakable,Break,,50,-1"
		"OnPressed" "stage1_tp_sign_particle_8,Start,,60,-1"
		"OnPressed" "stage1_wall_9,FireUser1,,68,-1"
		"OnPressed" "tp_8_stage1,Enable,,70,-1"
		"OnPressed" "stage1_wall_8,FireUser1,,70,-1"
		"OnPressed" "tp_sound,PlaySound,,70,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Reduce defence time on second level after [2/2] trigger
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_button_7_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "stage1_30_25_20_15_sec_countdown,FireUser1,,3,-1"
		"OnHitMax" "stage1_wall_10,FireUser2,,31,-1"
		"OnHitMax" "door_open_sound,PlaySound,,31.5,-1"
	}
	insert:
	{
		"OnHitMax" "stage1_30_25_20_15_sec_countdown,FireUser3,,3,-1"
		"OnHitMax" "stage1_wall_10,FireUser2,,21,-1"
		"OnHitMax" "door_open_sound,PlaySound,,21.5,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Fixed unsynchranised tp sound after elevator on the highest level on second big location
; Slower tp
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_elevator_3"
		"classname" "func_door"
	}
	delete:
	{
		"OnFullyOpen" "tp_sound,PlaySound,,10,-1"
		"OnFullyOpen" "tp_9_stage1,Enable,,15,-1"
	}
	insert:
	{
		"OnFullyOpen" "tp_sound,PlaySound,,25,-1"
		"OnFullyOpen" "tp_9_stage1,Enable,,25,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; Making big bridge move down instantly after 2/2 trigger on the highest level on second big location
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_button_9_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "stage1_bridge_tt,SetSpeed,50,18.5,1"
		"OnHitMax" "stage1_30_25_20_15_sec_countdown,FireUser4,,3,-1"
	}
	insert:
	{
		"OnHitMax" "stage1_bridge_tt,SetSpeed,50,0,1"
	}
}

; ------------------------------------------------------------------------------------------------
; Slower tp on last defence before boss
; Increased tp time enable for last tp before boss
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"origin" "2118 2240 7700"
		"classname" "trigger_once"
		"hammerid" "676975"
	}
	delete:
	{
		"OnTrigger" "stage1_wall_13,FireUser1,,23,-1"
		"OnTrigger" "door_open_sound,FireUser1,,23.5,-1"
		"OnTrigger" "tp_11_stage1,Enable,,25,1"
		"OnTrigger" "tp_sound,PlaySound,,25,-1"
		"OnTrigger" "Command,Command,sv_enablebunnyhopping 1,25,1"
	}
	insert:
	{
		"OnTrigger" "stage1_wall_13,FireUser1,,28,-1"
		"OnTrigger" "door_open_sound,FireUser1,,28.5,-1"
		"OnTrigger" "tp_11_stage1,Enable,,30,1"
		"OnTrigger" "tp_sound,PlaySound,,30,-1"
		"OnTrigger" "Command,Command,sv_enablebunnyhopping 1,30,1"
	}
}

; ------------------------------------------------------------------------------------------------
; Reduce defence time after [2/2] trigger before boss
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "stage1_button_11_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "door_open_sound,PlaySound,,28.5,-1"
		"OnHitMax" "stage1_wall_14,FireUser2,,28,-1"
		"OnHitMax" "stage1_30_25_20_15_sec_countdown,FireUser1,,3,-1"
		"OnHitMax" "stage1_wall_14,FireUser1,,38,-1"
		"OnHitMax" "door_open_sound,PlaySound,,38.5,-1"
		"OnHitMax" "stage1_elevator_4,Open,,40,-1"
		"OnHitMax" "stage1_black_short_fade,Fade,,40,-1"
		"OnHitMax" "fog,SetEndDist,4200,45,-1"
		"OnHitMax" "arena_platform_arrive_ct,Open,,45,-1"
		"OnHitMax" "human_tp_12_stage1,Enable,,45,-1"
	}
	insert:
	{
		"OnHitMax" "door_open_sound,PlaySound,,23.5,-1"
		"OnHitMax" "stage1_wall_14,FireUser2,,23,-1"
		"OnHitMax" "stage1_30_25_20_15_sec_countdown,FireUser3,,3,-1"
		"OnHitMax" "stage1_wall_14,FireUser1,,33,-1"
		"OnHitMax" "door_open_sound,PlaySound,,33.5,-1"
		"OnHitMax" "stage1_elevator_4,Open,,35,-1"
		"OnHitMax" "stage1_black_short_fade,Fade,,35,-1"
		"OnHitMax" "fog,SetEndDist,4200,40,-1"
		"OnHitMax" "arena_platform_arrive_ct,Open,,40,-1"
		"OnHitMax" "human_tp_12_stage1,Enable,,40,-1"
	}
}

; ------------------------------------------------------------------------------------------------
; ZM cage didnt get toggle, after human arrive to the boss
; ------------------------------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "add_hp_humans_start_boss"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "tp_12_stage1_zm,Enable,,3,-1"
		"OnStartTouch" "cage_boss_zm,Toggle,,1,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "startrelay_boss"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "tp_12_stage1_zm,Enable,,3,-1"
		"OnTrigger" "cage_boss_zm,Toggle,,1,-1"
	}
}