;------------------------------------------------------------
; Prevent zombies from delaying players on stage 1 surf ramp
;------------------------------------------------------------
add:
{
	"origin" "-323 1896 5798"
	"targetname" "stage1_dest_end_zm_noglitch"
	"angles" "0 90 0"
	"classname" "info_teleport_destination"
	"hammerid" "999901"
}

add:
{
	"model" "*49"
	"targetname" "s1_tp_endzm"
	"target" "stage1_dest_end_zm_noglitch"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-288 -6304 21628"
	"classname" "trigger_teleport"
	"hammerid" "999902"
	"OnStartTouch" "!activator,AddOutput,gravity 1.0,0,-1"
	"OnStartTouch" "!activator,AddOutput,absvelocity 0 0 0,0,-1"
}
