;-------------------------------------------------
; Stripper config for ze_time_las_ever_b2_1
; Version: 06/06/2026
;-------------------------------------------------

;-------------------------------------------------
; This logic_case needs to be triggered to properly set the layout for
; the final section of the map. This is done at the end of stage 1, but
; needs to be called at the beginning of stage 2 (when checkpoint is used)
;-------------------------------------------------
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "stage_case"
	}
	insert:
	{
		"OnCase03" "train_update_doors,Trigger,,0,1"
	}
}