;-------------------------------------------
;Stripper CFG by koen (STEAM_1:1:114921174)
;-------------------------------------------
;Prevent telehops
;-----------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
	}
	insert:
	{
		"OnEndTouch" "!activator,addoutput,absvelocity 0 0 0,0,-1"
	}
}