;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 07.01.2022
;---------------------------------------
;Added teleport 2 & 3 on easy mode
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "easy_stuff_start_relay"
		"hammerid" "125458"
	}
	insert:
	{
		"OnTrigger" "TPAFK2,Enable,,175,-1"
		"OnTrigger" "TPAFK3,Enable,,291,-1"
	}
}
;---------------------------------------
;Boost Crate HP
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "crate"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "8000"
	}
}
;---------------------------------------
;Fix laser direction
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Floor2 laser_up4"
		"classname" "func_movelinear"
	}
	replace:
	{
		"movedir" "0 0 0"
	}
}
;---------------------------------------
;Faster laser in second path
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "insane_stuff_once"
		"hammerid" "162839"
	}
	delete:
	{
		"OnTrigger" "Floor2 laser_up3 template,ForceSpawn,,4,-1"
	}
	insert:
	{
		"OnTrigger" "Floor2 laser_up3 template,ForceSpawn,,3,-1"
	}
}
;---------------------------------------
;Faster spin laser on insane
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "insane_stuff_once"
		"hammerid" "162662"
	}
	delete:
	{
		"OnStartTouch" "S3R4ROTATING LASER TEMPLATE,ForceSpawn,,6.3,1"
	}
	insert:
	{
		"OnStartTouch" "S3R4ROTATING LASER TEMPLATE,ForceSpawn,,3.3,1"
	}
}
;---------------------------------------
;Enable funny shake on insane
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "insane_stuff_start_relay"
		"hammerid" "125464"
	}
	insert:
	{
		"OnTrigger" "Map_Shake,FireUser1,,3,1"
	}
}