;---------------------------------
; room4 kill crys_models_rot 
;---------------------------------
modify:
{
    match:
    {
        "origin" "2120 9356 -4919"
        "classname" "math_counter"
        "hammerid" "1226500"
    }
    insert:
    {
        "OnHitMax" "room4/crys_modes_rot,Kill,0,1"
    }
}

;---------------------------
; Room 3: Delay ZM TP + 2 more seconds for safe 
;---------------------------
modify:
{
    match:
    {
        "origin" "-4672 2992 -1752"
        "classname" "trigger_multiple"
        "hammerid" "1178411"
    }
    delete:
    {
        "OnStartTouch" "room3/zm_tp1_trig,Toggle,,53.00"
    }
    insert:
    {
        "OnStartTouch" "room3/zm_tp1_trig,Toggle,,55.00"
    }
}

;----------------------------
; Fixes item command spam 
;----------------------------
modify:
{
    match:
    {
        "classname" "weapon_elite"
        "hammerid" "1939284"
    }
    delete:
    {
        "OnPlayerPickup" "sv_cmd,Command,say *** HEAL PICKED UP ( 200hp + 50 seconds cooldown ) *** ,0.2,0"
    }
    insert:
    {
        "OnPlayerPickup" "sv_cmd,Command,say *** HEAL PICKED UP ( 200hp + 50 seconds cooldown ) *** ,0,1"
    }
}

;----------------------------------------------
; Fixing hp adding to the final boss
;----------------------------------------------
add:
{
    "origin" "-6576 -14240 3336"
    "targetname" "MapFilterCT"
    "Negated" "Allow entities that match criteria"
    "filterteam" "3"
    "classname" "filter_activator_team"
}
modify:
{
    match:
    {
        "origin" "-4764 -8880 6968"
        "classname" "trigger_multiple"
    }
    delete:
    {
        "OnStartTouch" "boss/hitbox,AddHealth,6500,12,-1"
    }
    insert:
    {
        "OnStartTouch" "give_hp_boss,Enable,,11,-1"
    }
}
add:
{
    "model" "*310"
    "targetname" "give_hp_boss"
    "StartDisabled" "1"
    "spawnflags" "1"
    "origin" "-3863.25 -8896 6439.91"
    "filtername" "MapFilterCT"
    "classname" "trigger_once"
    "hammerid" "23596"
    "OnStartTouch" "boss/hitbox,AddHealth,6500,0,-1"
}