;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;  Stripper by Małgo & Rushaway 16.11.2024
;---------------------------------------
;Added teleport 2 & 3 on easy mode and disable boatdoors
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "easy_stuff_start_relay"
		"hammerid" "125458"
	}
	delete:
	{
		"OnTrigger" "boatdoors,Open,,306,1"
	}
	insert:
	{
		"OnTrigger" "TPAFK2,Enable,,175,-1"
		"OnTrigger" "TPAFK3,Enable,,291,-1"
	}
}

;---------------------------------------
;Boost Crate HP
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "crate"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "4500"
	}
}

;---------------------------------------
;Fix laser direction
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Floor2 laser_up4"
		"classname" "func_movelinear"
	}
	replace:
	{
		"movedir" "0 0 0"
	}
}

;---------------------------------------
;Faster laser in second path
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "insane_stuff_once"
		"hammerid" "162839"
	}
	delete:
	{
		"OnTrigger" "Floor2 laser_up3 template,ForceSpawn,,4,-1"
	}
	insert:
	{
		"OnTrigger" "Floor2 laser_up3 template,ForceSpawn,,3,-1"
	}
}

;---------------------------------------
;Faster spin laser on insane
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "insane_stuff_once"
		"hammerid" "162662"
	}
	delete:
	{
		"OnStartTouch" "S3R4ROTATING LASER TEMPLATE,ForceSpawn,,6.3,1"
	}
	insert:
	{
		"OnStartTouch" "S3R4ROTATING LASER TEMPLATE,ForceSpawn,,3.3,1"
	}
}

;---------------------------------------
;Later vent trigger
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Ele3"
		"classname" "func_door"
	}
	delete:
	{
		"OnFullyOpen" "important_vent_001,Break,,4.5,1"
	}
	insert:
	{
		"OnFullyOpen" "important_vent_001,Break,,8.5,1"
	}
}

;---------------------------------------
;Later ladder open
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "metal Mesh"
		"hammerid" "157292"
	}
	delete:
	{
		"OnBreak" "ladder,Break,,3,1"
	}
	insert:
	{
		"OnBreak" "ladder,Break,,13,1"
	}
}

;---------------------------------------
;disable tp spawn and disable second path
;---------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "152058"
	}
	delete:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "160884"
	}
	delete:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
		"OnTrigger" "Spawn_roof,FireUser1,,4.25,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "162402"
	}
	delete:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
		"OnTrigger" "Spawn_roof,FireUser1,,6.3,1"
	}
}

;---------------------------------------
;Slower lasers on secret path
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Floor1  laser_up2_1"
		"classname" "func_movelinear"
	}
	replace:
	{
		"speed" "1050"
	}
}

modify:
{
	match:
	{
		"targetname" "Floor1 laser_up2"
		"classname" "func_movelinear"
	}
	replace:
	{
		"speed" "1050"
	}
}

;---------------------------------------
;Later second tp
;---------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "157187"
	}
	delete:
	{
		"OnTrigger" "TPAFK2,Enable,,18,1"
	}
	insert:
	{
		"OnTrigger" "TPAFK2,Enable,,20,1"
	}
}

;---------------------------------------
; Clean useless commands
;---------------------------------------
modify:
{
	match:
	{
		"classname" "point_servercommand"
		"origin" "47.8506 1317.91 1480"
	}
	delete:
	{
		"OnUser1" "!self,Command,ammo_50AE_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_762mm_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_556mm_box_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_556mm_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_338mag_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_9mm_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_buckshot_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_45acp_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_357sig_max 6000,0,1"
		"OnUser1" "!self,Command,ammo_57mm_max 6000,0,1"
		"OnUser1" "!self,Command,mp_startmoney 16000,0,1"
		"OnUser1" "!self,Command,mp_roundtime 23,0,1"
		"OnUser1" "!self,Command,mp_freezetime 5,0,1"
		"OnUser1" "!self,Command,mp_flashlight 1,0,1"
		"OnUser1" "!self,Command,sv_gravity 800,0,1"
		"OnUser1" "!self,Command,sv_enablebunnyhopping 1,0,1"
		"OnUser1" "!self,Command,sv_airaccelerate 10,0,1"
		"OnUser1" "!self,Command,zr_class_modify zombies health_infect_gain 200,0,1"
		"OnUser1" "!self,Command,zr_class_modify zombies health 9500,0,1"
		"OnUser1" "!self,Command,zr_class_modify zombies health_regen_interval 0.2,0,1"
		"OnUser1" "!self,Command,zr_class_modify zombies health_regen_amount 10,0,1"
		"OnUser1" "!self,Command,zr_infect_mzombie_respawn 1,0,1"
		"OnUser1" "!self,Command,zr_infect_mzombie_ratio 6,0,1"
		"OnUser1" "!self,Command,zr_infect_weapons_drop 1,0,1"
		"OnUser1" "!self,Command,zr_ztele_zombie 1,0,1"
		"OnUser1" "!self,Command,zr_ztele_max_zombie 5,0,1"
		"OnUser1" "!self,Command,zr_ztele_max_human 1,0,1"
		"OnUser1" "!self,Command,zr_zspawn 1,0,1"
		"OnUser1" "!self,Command,zr_zspawn_team_zombie 1,0,1"
		"OnUser1" "!self,Command,zr_zspawn_block_rejoin 0,0,1"
		"OnUser1" "!self,Command,zr_zspawn_timelimit 0,0,1"
		"OnUser1" "!self,Command,zr_respawn 1,0,1"
		"OnUser1" "!self,Command,zr_respawn_team_zombie 1,0,1"
		"OnUser1" "!self,Command,zr_respawn_team_zombie_world 1,0,1"
		"OnUser1" "!self,Command,zr_respawn_delay 3,0,1"
	}
	insert:
	{
		"OnUser1" "!self,Command,mp_roundtime 9,0,1"
		"OnUser1" "!self,Command,mp_startmoney 16000,0,1"
		"OnUser1" "!self,Command,mp_freezetime 5,0,1"
		"OnUser1" "!self,Command,mp_flashlight 1,0,1"
		"OnUser1" "!self,Command,sv_gravity 800,0,1"
		"OnUser1" "!self,Command,sv_enablebunnyhopping 1,0,1"
		"OnUser1" "!self,Command,sv_airaccelerate 10,0,1"
		"OnUser1" "!self,Command,zr_class_modify zombies health_infect_gain 200,0,1"
		"OnUser1" "!self,Command,zr_class_modify zombies health 9500,0,1"
		"OnUser1" "!self,Command,zr_class_modify zombies health_regen_interval 0.2,0,1"
		"OnUser1" "!self,Command,zr_class_modify zombies health_regen_amount 10,0,1"
		"OnUser1" "!self,Command,zr_infect_mzombie_respawn 1,0,1"
		"OnUser1" "!self,Command,zr_infect_mzombie_ratio 6,0,1"
		"OnUser1" "!self,Command,zr_ztele_zombie 1,0,1"
		"OnUser1" "!self,Command,zr_ztele_max_zombie 5,0,1"
		"OnUser1" "!self,Command,zr_ztele_max_human 1,0,1"
		"OnUser1" "!self,Command,zr_respawn_delay 3,0,1"
	}
}

;---------------------------------------
; Boost metal bar hp and add more on tilex part & kill fucking chairs on extreme and insane mode
;---------------------------------------
modify:
{
	match:
	{
		"classname" "func_breakable"
		"hammerid" "152861"
	}
	replace:
	{
		"targetname" "Special_metal_Mesh"
		"health" "2000"
	}
}

add:
{
	"spawnflags" "2"
	"classname" "point_template"
	"targetname" "Special_metal_Mesh_Template"
	"origin" "192 2308.01 2336"
	"Template01" "Special_metal_Mesh"
}

add:
{
	"classname" "logic_relay"
	"targetname" "Special_metal_Mesh_Relay"
	"origin" "192 2308.01 2336"
	"spawnflags" "0"
	"StartDisabled" "0"
	"OnTrigger" "Special_metal_Mesh_Template,AddOutput,origin 192 2308.01 2336,0,1"
	"OnTrigger" "Special_metal_Mesh_Template,ForceSpawn,,1,-1"
	"OnTrigger" "Special_metal_Mesh_Template,AddOutput,origin 192 2872.02 2528,1.5,1"
	"OnTrigger" "Special_metal_Mesh_Template,ForceSpawn,,2,-1"
	"OnTrigger" "Special_metal_Mesh_Template,AddOutput,origin 340 4051.01 2528,2.5,1"
	"OnTrigger" "Special_metal_Mesh_Template,ForceSpawn,,3,-1"
}

modify:
{
	match:
	{
		"targetname" "extreme_stuff_start_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "Special_metal_Mesh_Relay,Trigger,,0,1"
		"OnTrigger" "models,Kill,,2,1"
	}
}

modify:
{
	match:
	{
		"targetname" "insane_stuff_start_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "Special_metal_Mesh_Relay,Trigger,,0,1"
		"OnTrigger" "models,Kill,,2,1"
	}
}

;---------------------------------------
; Less % to trigger new songs (only for you ruby)
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Hard_stuff_ambient_case"
		"classname" "logic_case"
	}
	delete:
	{
		;"OnCase02" "hard_stuff_ambient_003,PlaySound,,0,-1"
		;"OnCase03" "hard_stuff_ambient_004,PlaySound,,0,-1"
		"OnCase04" "hard_stuff_ambient_003,PlaySound,,0,-1"
		"OnCase05" "hard_stuff_ambient_004,PlaySound,,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "extreme_stuff_ambient_case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase03" "Extreme_stuff_ambient_003,PlaySound,,0,-1"
		"OnCase04" "Extreme_stuff_ambient_003,PlaySound,,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "insane_stuff_ambient_case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase02" "insane_stuff_ambient_003,PlaySound,,0,-1"
		"OnCase04" "insane_stuff_ambient_003,PlaySound,,0,-1"
	}
}

;---------------------------------------
; Less new lasers on insane mode
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Insane_stuff_once"
		"origin" "62 3967.51 2307.5"
	}
	delete:
	{
		"OnTrigger" "Floor2 laser_up4 template,ForceSpawn,,2,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Insane_stuff_once"
		"origin" "-194 2887 2496"
	}
	delete:
	{
		"OnTrigger" "Floor6 laser case2,PickRandom,,1.3,-1"
	}
}

;---------------------------------------
; Back to beta3 spawn
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "TPAFK4SPAWN"
		"classname" "info_teleport_destination"
	}
	replace:
	{
		"origin" "44 1172 1476"
	}
}

modify:
{
	match:
	{
		"targetname" "easy_stuff_start_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Spawn_floor,Break,,4,-1"
	}
	insert:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "hard_stuff_start_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Spawn_floor,Break,,5,-1"
	}
	insert:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "extreme_stuff_start_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Spawn_floor,Break,,5,-1"
	}
	insert:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "insane_stuff_start_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Spawn_floor,Break,,5,-1"
	}
	insert:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
	}
}

;---------------------------------------
; Fix broken second spin laser
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "rotating laser up move"
		"classname" "func_movelinear"
	}
	replace:
	{
		"movedistance" "2500"
	}
}

;---------------------------------------
; Change zombie spawn time
;---------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"origin" "73.7002 1334.67 1480"
	}
	delete:
	{
		"OnNewGame" "cmd,Command,mp_roundtime 15,0,1"
		"OnNewGame" "cmd,Command,zr_infect_spawntime_max 5,0,1"
		"OnNewGame" "cmd,Command,Zr_infect_spawntime_min 5,0,1"
		"OnNewGame" "cmd,Command,mp_freezetime 5,0,1"
	}
	insert:
	{
		"OnNewGame" "cmd,Command,Zr_infect_spawntime_min 8,0,1"
		"OnNewGame" "cmd,Command,zr_infect_spawntime_max 10,0,1"
	}
}

;---------------------------------------
; Move all first laser triggers
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "hard_stuff_once"
		"hammerid" "152058"
	}
	replace:
	{
		"origin" "0 2692 1536"
	}
}

modify:
{
	match:
	{
		"targetname" "extreme_stuff_once"
		"hammerid" "160884"
	}
	replace:
	{
		"origin" "0 2692 1536"
	}
}

modify:
{
	match:
	{
		"targetname" "Insane_stuff_once"
		"hammerid" "162402"
	}
	replace:
	{
		"origin" "0 2692 1536"
	}
}

;---------------------------------------
; Change origin of trigger for tilex part
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Insane_stuff_once"
		"hammerid" "162610"
	}
	replace:
	{
		"origin" "-339 2189 2496"
	}
}

;---------------------------------------
; fucking hide anime art for connoisseurs (baka virgin hobbi :D)
;---------------------------------------
add:
{
	"classname" "prop_dynamic"
	"origin" "1 1533.5 1297.44"
	"angles" "0 90 0"
	"model" "models/props_lab/blastdoor001c.mdl"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"solid" "6"
	"rendermode" "0"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "187 3626.76 1866.44"
	"angles" "0 90 0"
	"model" "models/props_lab/blastdoor001c.mdl"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"solid" "6"
	"rendermode" "0"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "231.01 772.5 2250.44"
	"angles" "0 90 0"
	"model" "models/props_lab/blastdoor001c.mdl"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"solid" "6"
	"rendermode" "0"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "-0.02 636.5 2442.44"
	"angles" "0 90 0"
	"model" "models/props_lab/blastdoor001c.mdl"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"solid" "6"
	"rendermode" "0"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "17.02 4107.5 2590.44"
	"angles" "0 90 0"
	"model" "models/props_lab/blastdoor001c.mdl"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"solid" "6"
	"rendermode" "0"
}

;---------------------------------------
; Open shortcut elevator on Exteeme & Insane mode
;---------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "0 3026 2112"
	}
	insert:
	{
		"OnTrigger" "Eledoortop3,Unlock,,15,1"
		"OnTrigger" "Eledoortop3,Open,,15.05,1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-0 3016 2112"
	}
	insert:
	{
		"OnTrigger" "Eledoortop3,Unlock,,19,1"
		"OnTrigger" "Eledoortop3,Open,,19.05,1"
	}
}

;---------------------------------------
; Delay teleport afk in after long hall
;---------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "133 944 2304"
	}
	delete:
	{
		"OnTrigger" "TPAFK2,Enable,,18,1"
	}
	insert:
	{
		"OnUser1" "TPAFK2,Enable,,20,1"
		"OnUser2" "TPAFK2,Enable,,23,1"
		"OnUser3" "TPAFK2,Enable,,25,1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "hard_stuff_start_relay"
	}
	insert:
	{
		"OnTrigger" "once2,AddOutput,OnTrigger once2:FireUser1::0:-1,0,1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "extreme_stuff_start_relay"
	}
	insert:
	{
		"OnTrigger" "once2,AddOutput,OnTrigger once2:FireUser2::0:-1,0,1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "insane_stuff_start_relay"
	}
	insert:
	{
		"OnTrigger" "once2,AddOutput,OnTrigger once2:FireUser3::0:-1,0,1"
	}
}

;---------------------------------------
; Disable double jump laser on insane mode (tilex part)
;---------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-340 3998 2496"
	}
	delete:
	{
		"OnStartTouch" "sephitimer,Enable,,0,1"
	}
}

;---------------------------------------
; Delay last afk teleport 18 -> 20 seconds
;---------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-2 1394 2916"
	}
	delete:
	{
		"OnStartTouch" "TPAFK3,Enable,,18,1"
		"OnStartTouch" "!self,Kill,,18.05,1"
		"OnStartTouch" "model,Kill,,18,1"
	}
	insert:
	{
		"OnStartTouch" "TPAFK3,Enable,,20,1"
		"OnStartTouch" "!self,Kill,,20.05,1"
		"OnStartTouch" "model,Kill,,20,1"
	}
}

;---------------------------------------
; Add new song at the start of Extreme mode 
;---------------------------------------
add:
{
	"classname" "ambient_generic"
	"targetname" "Extreme_stuff_ambient_001-1"
	"origin" "-72 1335 1576"
	"spawnflags" "49"
	"message" "#titanic/music/celldweller_unshakeable.mp3"
	"health" "10"
}
add:
{
	"classname" "logic_case"
	"targetname" "extreme_stuff_ambient_case2"
	"origin" "-72 1335 1576"
	"Case01" "1"
	"Case02" "2"
	"OnCase01" "Extreme_stuff_ambient_001,PlaySound,,0,-1"
	"OnCase02" "Extreme_stuff_ambient_001-1,PlaySound,,0,-1"
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "extreme_stuff_start_relay"
	}
	delete:
	{
		"OnTrigger" "extreme_stuff_ambient_001,PlaySound,,0,-1"
	}
	insert:
	{
		"OnTrigger" "extreme_stuff_ambient_case2,PickRandom,,0,-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "192 1367.01 2304"
	}
	insert:
	{
		"OnStartTouch" "Extreme_stuff_ambient_001-1,Volume,0,4.2,1"
	}
}