;Fix dumb shortcut at spawn on stage 4
modify:
{
	match:
	{
		"classname"		"trigger_push"
		"hammerid"		"94435"
	}
	replace:
	{
		"pushdir"		"0 90 0"
	}
}

;Fix dumb teleport bug at spawn on stage 4
modify:
{
	match:
	{
		"classname"		"trigger_teleport"
		"hammerid"		"94364"
	}
	replace:
	{
		"spawnflags"	"1"
	}
}

;Fix dumb infinite afk tp at spawn on stage 4
modify:
{
	match:
	{
		"classname"		"func_button"
		"hammerid"		"94524"
	}
	insert:
	{
		"OnPressed"		"s4_afk0,Disable,,50.5,-1"
	}
}
