;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;FIX TELEPORT ISSUE
;-------------------

filter:
{
	"targetname" "badges_multiple"
	"origin" "10049.5 -4640.5 10138"
	"classname" "trigger_multiple"
}
add:
{
	"origin" "10240 -2688 10240"
	"targetname" "I_FIXED_THE_ISSUE_JENZ_DW"
	"angles" "0 270 0"
	"classname" "info_teleport_destination"
}

add:
{
	"model" "*16"
	"targetname" "badges_multiple"
	"target" "I_FIXED_THE_ISSUE_JENZ_DW"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "10049.5 -4640.5 10138"
	"classname" "trigger_teleport"
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "badge_hold_1"
	}
	delete:
	{
		"OnBreak" "badges_multiple,AddOutput,origin 10090 -3936 10304,10,-1"
	}
	insert:
	{
		"OnBreak" "I_FIXED_THE_ISSUE_JENZ_DW,AddOutput,origin 10096 -4064 10256,10,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "badge_hold_2"
	}
	delete:
	{
		"OnBreak" "badges_multiple,AddOutput,origin 9853 -4944 10357,10,-1"
	}
	insert:
	{
		"OnBreak" "I_FIXED_THE_ISSUE_JENZ_DW,AddOutput,origin 9888 -4944 10304,10,-1"
	}
}
