;------------------------------------------------
; Fix cameras leading to unexpected map behavior
;------------------------------------------------
modify:
{
	match:
	{
		"classname" "point_viewcontrol"
	}
	replace:
	{
		"spawnflags" "28"
	}
}

;------------------------------
; Disable abyss on s3 elevator
;------------------------------
modify:
{
	match:
	{
		"targetname" "s2door_12_3"
	}
	insert:
	{
		"OnStartTouch" "abyss_branch,SetValue,0,20,1"
		"OnStartTouch" "command,Command,sm_ewlockbutton 5232265 1,20,1"
	}
}
modify:
{
	match:
	{
		"targetname" "s2door_12_1"
	}
	insert:
	{
		"OnFullyOpen" "abyss_branch,SetValue,1,5,1"
		"OnFullyOpen" "command,Command,sm_ewlockbutton 5232265 0,5,1"
	}
}

;--------------------------------------
; Kill tornados after dragon boss dies
;--------------------------------------
modify:
{
	match:
	{
		"targetname" "bossdeath2"
	}
	insert:
	{
		"OnCase03" "s3_boss_atk_tornado_temp,Kill,,0,1"
		"OnCase03" "s3boss_atk_tornado_hurt*,Kill,,0,1"
		"OnCase03" "s3boss_atk_tornado_hurt*,Kill,,1,1"
		"OnCase03" "s3boss_atk_tornado_hurt*,Kill,,2,1"
		"OnCase03" "s3boss_atk_tornado_hurt*,Kill,,3,1"
	}
}

;-------------------
; Buff serpent boss
;-------------------
modify:
{
	match:
	{
		"targetname" "s3_snake_add"
		"origin" "2456.1 12959.5 -1537"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "snake_math,Add,4,0,-1"
		"OnStartTouch" "Boss_Health_snake,Add,4,0,-1"
		"OnStartTouch" "Boss_HealthBackup_snake,Add,4,0,-1"
	}
	insert:
	{
		"OnStartTouch" "snake_math,Add,25,0,-1"
		"OnStartTouch" "Boss_Health_snake,Add,25,0,-1"
		"OnStartTouch" "Boss_HealthBackup_snake,Add,25,0,-1"
	}
}

;-----------------
; Nerf troll boss
;-----------------
modify:
{
	match:
	{
		"targetname" "s2boss_hurt1"
	}
	replace:
	{
		"damage" "175"
	}
}
modify:
{
	match:
	{
		"targetname" "s2boss_atk_hurt"
	}
	replace:
	{
		"damage" "100"
	}
}

;------------------
; Nerf diablo boss
;------------------
modify:
{
	match:
	{
		"targetname" "s5boss_atkcase"
	}
	delete:
	{
		"OnCase06" "s5_boss_atk_tornado_temp,AddOutput,origin 14258 -1422 7052,1,-1"
		"OnCase06" "s5_boss_atk_tornado_temp,ForceSpawn,,2.1,-1"
		"OnCase06" "s5_boss_atk_tornado_temp,AddOutput,origin 12979 -2725 7052,2,-1"
		"OnCase06" "s5_boss_atk_tornado_temp,ForceSpawn,,3.1,-1"
		"OnCase06" "s5_boss_atk_tornado_temp,AddOutput,origin 12956 -1418 7052,3,-1"
	}
}

;----------------------
; Add stripper message
;----------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "command,Command,say < STRIPPER 9 LOADED 29/4/2025 >,1,-1"
	}
}

;----------------------------------------------------------------
; Kill tornados earlier to prevent being pushed into beam attack
;----------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s5boss_atk_tornado_relay"
	}
	delete:
	{
		"OnSpawn" "s5boss_atk_tornado_phy,Kill,,26.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster1,Kill,,26.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster2,Kill,,26.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster_up,Kill,,26.5,-1"
		"OnSpawn" "s5boss_atk_tornado_up,Kill,,26.5,-1"
		"OnSpawn" "!self,Kill,,26.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster_case,Kill,,26.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster_timer,Kill,,26.5,-1"
		"OnSpawn" "s5boss_atk_tornado_eff,Kill,,26.5,-1"
		"OnSpawn" "s5boss_atk_tornado_hurt,Kill,,26.5,-1"
	}
	insert:
	{
		"OnSpawn" "s5boss_atk_tornado_phy,Kill,,20.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster1,Kill,,20.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster2,Kill,,20.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster_up,Kill,,20.5,-1"
		"OnSpawn" "s5boss_atk_tornado_up,Kill,,20.5,-1"
		"OnSpawn" "!self,Kill,,20.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster_case,Kill,,20.5,-1"
		"OnSpawn" "s5boss_atk_tornado_thruster_timer,Kill,,20.5,-1"
		"OnSpawn" "s5boss_atk_tornado_eff,Kill,,20.5,-1"
		"OnSpawn" "s5boss_atk_tornado_hurt,Kill,,20.5,-1"
	}
}

;---------------------------------
; Kill torandos after diablo boss
;---------------------------------
modify:
{
	match:
	{
		"targetname" "bossdeath2"
	}
	insert:
	{
		"OnCase05" "s5_boss_atk_tornado_temp,Kill,,0,1"
		"OnCase05" "s5boss_atk_tornado_hurt*,Kill,,0,1"
		"OnCase05" "s5boss_atk_tornado_hurt*,Kill,,1,1"
		"OnCase05" "s5boss_atk_tornado_hurt*,Kill,,2,1"
		"OnCase05" "s5boss_atk_tornado_hurt*,Kill,,3,1"
	}
}

;----------------------------
; Buff diablo tornado damage
;----------------------------
modify:
{
	match:
	{
		"targetname" "s5boss_atk_tornado_hurt"
	}
	replace:
	{
		"damage" "55"
	}
}

;----------------------------------------
; Disable zombie guillotine at end of s3
;----------------------------------------
modify:
{
	match:
	{
		"targetname" "s3door_9_2"
	}
	insert:
	{
		"OnStartTouch" "guillotine_branch,SetValue,0,45,1"
		"OnStartTouch" "command,Command,sm_ewlockbutton 5232189 1,45,1"
	}
}

;------------------------------------------------------------------------
; Change s2 sewer water destination to prevent zombies teleporting ahead
;------------------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s2tele_2_2"
	}
	replace:
	{
		"target" "s2_pipe_shortcut_dest"
	}
}

;-----------------------------------------------------------------
; Freeze s5 diablo boss when doing beam attack to fix beam desync
;-----------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "s5boss_atkcase"
	}
	delete:
	{
		"OnCase04" "s5boss_atk_beam_eff,Start,,0,-1"
		"OnCase04" "s5boss_model,SetAnimation,Spell_04,2,-1"
		"OnCase04" "s5boss_atk_beam_hurt,Enable,,4,-1"
		"OnCase04" "elecexp4_sound,PlaySound,,4,-1"
		"OnCase04" "s5boss_atk_beam_hurt,Disable,,5.5,-1"
		"OnCase04" "s5boss_atk_beam_eff,Stop,,6,-1"
		"OnCase04" "s5boss_model,SetAnimation,Run,6.8,-1"
		"OnCase04" "bossmove_phy,EnableMotion,,6.8,-1"
		"OnCase04" "!self,PickRandom,,10,-1"
	}
	insert:
	{
		"OnCase04" "s5boss_atk_beam_eff,Start,,3,-1"
		"OnCase04" "s5boss_model,SetAnimation,Spell_04,5,-1"
		"OnCase04" "s5boss_atk_beam_hurt,Enable,,7,-1"
		"OnCase04" "elecexp4_sound,PlaySound,,7,-1"
		"OnCase04" "s5boss_atk_beam_hurt,Disable,,8.5,-1"
		"OnCase04" "s5boss_atk_beam_eff,Stop,,9,-1"
		"OnCase04" "s5boss_model,SetAnimation,Run,9.8,-1"
		"OnCase04" "bossmove_phy,EnableMotion,,9.8,-1"
		"OnCase04" "!self,PickRandom,,13,-1"
	}
}

;------------------------------------------
; Nerf s3 Rakiora speed at running segment
;------------------------------------------
modify:
{
	match:
	{
		"targetname" "s3boss_rakiora_move"
	}
	replace:
	{
		"speed" "570"
	}
}

;---------------------------------------
; Prevent false repeat killer detection
;---------------------------------------
; Sacred item
add:
{
	"origin" "12544 3920 6576"
	"targetname" "sacred_pointhurt"
	"DamageType" "0"
	"DamageTarget" "!activator"
	"DamageRadius" "0"
	"DamageDelay" "0"
	"Damage" "999999"
	"classname" "point_hurt"
}
modify:
{
	match:
	{
		"targetname" "sacred_hurt"
	}
	replace:
	{
		"damagecap" "0"
		"damage" "0"
	}
	insert:
	{
		"OnStartTouch" "sacred_pointhurt,Hurt,,0,-1"
	}
}

; Ballista item
add:
{
	"origin" "12205 -15153 1270"
	"targetname" "ballista_arrow_pointhurt1"
	"DamageType" "0"
	"DamageTarget" "!activator"
	"DamageRadius" "0"
	"DamageDelay" "0"
	"Damage" "7500"
	"classname" "point_hurt"
}
modify:
{
	match:
	{
		"targetname" "ballista_arrow_hurt1"
	}
	replace:
	{
		"damagecap" "0"
		"damage" "0"
	}
	insert:
	{
		"OnStartTouch" "ballista_arrow_pointhurt1,Hurt,,0,-1"
	}
}

; Meteor item
add:
{
	"origin" "12205 -15253 1270"
	"targetname" "meteor_pointhurt_1"
	"DamageType" "0"
	"DamageTarget" "!activator"
	"DamageRadius" "0"
	"DamageDelay" "0"
	"Damage" "15000"
	"classname" "point_hurt"
}
modify:
{
	match:
	{
		"targetname" "ballista_arrow_hurt1"
	}
	replace:
	{
		"damagecap" "0"
		"damage" "0"
	}
	insert:
	{
		"OnStartTouch" "meteor_pointhurt_1,Hurt,,0,-1"
	}
}
add:
{
	"origin" "12205 -15353 1270"
	"targetname" "meteor_pointhurt_2"
	"DamageType" "0"
	"DamageTarget" "!activator"
	"DamageRadius" "0"
	"DamageDelay" "0"
	"Damage" "4555"
	"classname" "point_hurt"
}
modify:
{
	match:
	{
		"targetname" "meteor_hurt_2"
	}
	replace:
	{
		"damagecap" "0"
		"damage" "0"
	}
	insert:
	{
		"OnStartTouch" "meteor_pointhurt_2,Hurt,,0,-1"
	}
}

;-------------------
; Fix respawn delay
;-------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "command,Command,zr_respawn_delay 20,0,-1"
	}
	insert:
	{
		"OnMapSpawn" "command,Command,zr_respawn_delay 5,0,-1"
	}
}

;-------------------------------------
; Make bible give guillotine immunity
;-------------------------------------
add:
{
	"classname" "filter_multi"
	"Filter01" "immune_guill_zm"
	"filtertype" "0"
	"Negated" "0"
	"targetname" "guill_hurt_filter"
	"origin" "4096 -11392 -1792"
}
add:
{
	"classname" "filter_multi"
	"Filter01" "immotaly"
	"Filter02" "filter_human"
	"filtertype" "0"
	"Negated" "0"
	"targetname" "immune_guill_zm"
	"origin" "4032 -11392 -1792"
}
modify:
{
	match:
	{
		"hammerid" "5236100"
		"targetname" "guillotine_hurt1"
	}
	replace:
	{
		"filtername" "immune_guill_zm"
	}
}
modify:
{
	match:
	{
		"targetname" "bible_hurt"
	}
	delete:
	{
		"OnStartTouch" "!activator,SetDamageFilter,immotaly,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,SetDamageFilter,immune_guill_zm,0,-1"
	}
}

;-----------------------------
; Disable abyss until stage 4
;-----------------------------
modify:
{
	match:
	{
		"targetname" "spawn_zm_extra_items_stage_4"
	}
	replace:
	{
		"StartDisabled" "1"
	}
}
modify:
{
	match:
	{
		"targetname" "spawn_zm_extra_items_stage_3"
	}
	delete:
	{
		"OnTrigger" "item_maker,AddOutput,origin 1773.98 -11138 -1722,1.6,1"
		"OnTrigger" "item_maker,AddOutput,EntityTemplate abyss_temp,1.6,1"
	}
}
modify:
{
	match:
	{
		"targetname" "spawn_zm_extra_items_stage_2"
	}
	delete:
	{
		"OnTrigger" "item_maker,AddOutput,EntityTemplate abyss_temp,1.6,1"
		"OnTrigger" "item_maker,AddOutput,origin 1773.98 -11138 -1722,1.6,1"
	}
}
modify:
{
	match:
	{
		"targetname" "spawn_zm_extra_items_stage_1"
	}
	delete:
	{
		"OnTrigger" "item_maker,AddOutput,EntityTemplate abyss_temp,1.6,1"
		"OnTrigger" "item_maker,AddOutput,origin 1773.98 -11138 -1722,1.6,1"
	}
}
;-----------------------------------------------
; Nerf stage 3 dragon boss poison & fire attack
;-----------------------------------------------
modify:
{
	match:
	{
		"targetname" "s3boss_atk_poison_hurt"
	}
	replace:
	{
		"damage" "60"
		"damagecap" "60"
	}
}
modify:
{
	match:
	{
		"targetname" "s3boss_atk_fire_hurt"
	}
	replace:
	{
		"damage" "60"
		"damagecap" "60"
	}
}

;---------------------
; Buff crystal damage
;---------------------
modify:
{
	match:
	{
		"targetname" "crystal_hurt2"
	}
	replace:
	{
		"damage" "750"
	}
}

;---------------------------------------------------------------------
; Stripper in a good team that doesnt bitch about being shit - Djinnz
;---------------------------------------------------------------------

;fix not adjustable music volume
modify:
{
	match:
	{
		"targetname" "s5music_afterboss_true_ending"
	}
	replace:
	{
		"message" "#ze_tyranny2/s5_true_ending.mp3"
	}
}
modify:
{
	match:
	{
		"targetname" "s5music_afterboss_false_ending"
	}
	replace:
	{
		"message" "#ze_tyranny2/s5_false_ending.mp3"
	}
}

;remove rain
filter:
{
	"targetname" "/[i|s]_rain.*/"
}
filter:
{
	"targetname" "/rain_.*/"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "rain_case,PickRandom,,1,-1"
	}
}