;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
;		Stripper by Małgo 08.01.2022
;---------------------------------------
;Added teleport 2 & 3 on easy mode
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "easy_stuff_start_relay"
		"hammerid" "125458"
	}
	insert:
	{
		"OnTrigger" "TPAFK2,Enable,,175,-1"
		"OnTrigger" "TPAFK3,Enable,,291,-1"
	}
}

;---------------------------------------
;Boost Crate HP
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "crate"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "8000"
	}
}

;---------------------------------------
;Fix laser direction
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Floor2 laser_up4"
		"classname" "func_movelinear"
	}
	replace:
	{
		"movedir" "0 0 0"
	}
}

;---------------------------------------
;Faster laser in second path
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "insane_stuff_once"
		"hammerid" "162839"
	}
	delete:
	{
		"OnTrigger" "Floor2 laser_up3 template,ForceSpawn,,4,-1"
	}
	insert:
	{
		"OnTrigger" "Floor2 laser_up3 template,ForceSpawn,,3,-1"
	}
}

;---------------------------------------
;Faster spin laser on insane
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "insane_stuff_once"
		"hammerid" "162662"
	}
	delete:
	{
		"OnStartTouch" "S3R4ROTATING LASER TEMPLATE,ForceSpawn,,6.3,1"
	}
	insert:
	{
		"OnStartTouch" "S3R4ROTATING LASER TEMPLATE,ForceSpawn,,3.3,1"
	}
}

;---------------------------------------
;Enable funny shake on insane
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "insane_stuff_start_relay"
		"hammerid" "125464"
	}
	insert:
	{
		"OnTrigger" "Map_Shake,FireUser1,,3,1"
	}
}

;---------------------------------------
;Later vent trigger
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Ele3"
		"classname" "func_door"
	}
	delete:
	{
		"OnFullyOpen" "important_vent_001,Break,,4.5,1"
	}
	insert:
	{
		"OnFullyOpen" "important_vent_001,Break,,8.5,1"
	}
}

;---------------------------------------
;Later ladder open
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "metal Mesh"
		"hammerid" "157292"
	}
	delete:
	{
		"OnBreak" "ladder,Break,,3,1"
	}
	insert:
	{
		"OnBreak" "ladder,Break,,11,1"
	}
}

;---------------------------------------
;Later zombie spawn
;---------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "125420"
	}
	delete:
	{
		"OnNewGame" "cmd,Command,zr_infect_spawntime_max 5,0,1"
		"OnNewGame" "cmd,Command,Zr_infect_spawntime_min 5,0,1"
	}
	insert:
	{
		"OnNewGame" "cmd,Command,zr_infect_spawntime_max 13,0,1"
		"OnNewGame" "cmd,Command,Zr_infect_spawntime_min 10,0,1"
	}
}

;---------------------------------------
;Later tp spawn
;---------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "152058"
	}
	delete:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
	}
	insert:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,5,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "160884"
	}
	delete:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
	}
	insert:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,7,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "162402"
	}
	delete:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,0,1"
	}
	insert:
	{
		"OnTrigger" "Spawn_roof_teleport,Enable,,8,1"
	}
}

;---------------------------------------
;Slower lasers on secret path
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Floor1  laser_up2_1"
		"classname" "func_movelinear"
	}
	replace:
	{
		"speed" "1050"
	}
}

modify:
{
	match:
	{
		"targetname" "Floor1 laser_up2"
		"classname" "func_movelinear"
	}
	replace:
	{
		"speed" "1050"
	}
}

;---------------------------------------
;Later second tp 
;---------------------------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "157187"
	}
	delete:
	{
		"OnTrigger" "TPAFK2,Enable,,18,1"
	}
	insert:
	{
		"OnTrigger" "TPAFK2,Enable,,20,1"
	}
}