;------------------------------------------------------------
; Delaying the zm tp in the lasers room
;------------------------------------------------------------
modify:
{
    match:
    {
        "targetname" "relay_laser_room_main"
        "classname" "logic_relay"
    }
    delete:
    {
        "OnTrigger" "tp_room_5_after_boss_zm,Enable,,0,-1"
    }
    insert:
    {
        "OnTrigger" "tp_room_5_after_boss_zm,Enable,,5,-1"
    }
}
;------------------------------------------------------------
; changing the number of zm being tp in the lasers room
;------------------------------------------------------------
modify:
{
    match:
    {
        "targetname" "counter_possibility_room3"
        "classname" "math_counter"
    }
    replace:
    {
        "max" "3"
    }
}
;------------------------------------------------------------
; changing the number of zm being tp in the spikes room
;------------------------------------------------------------
modify:
{
    match:
    {
        "targetname" "counter_possibility_room_5"
        "classname" "math_counter"
    }
    replace:
    {
        "max" "3"
    }
}
;------------------------------------------------------------
; changing the time to defend in the bhop room
;------------------------------------------------------------
modify:
{
    match:
    {
        "origin" "3552 6008 4128"
        "classname" "trigger_once"
        "hammerid" "1943386"
    }
    delete:
    {
        "OnTrigger" "cmd,Command,say << 15s >>,0,-1"
        "OnTrigger" "break_room_8a,Break,,15,-1"
        "OnTrigger" "case_explode,PickRandom,,15,-1"
        "OnTrigger" "fade_transition,Fade,,14,-1"
    }
    insert:
    {
        "OnTrigger" "cmd,Command,say << 10s >>,0,-1"
        "OnTrigger" "break_room_8a,Break,,10,-1"
        "OnTrigger" "case_explode,PickRandom,,10,-1"
        "OnTrigger" "fade_transition,Fade,,9,-1"
    }
}
modify:
{
    match:
    {
        "origin" "2920 5320 4042"
        "classname" "trigger_once"
        "hammerid" "1943386"
    }
    delete:
    {
        "OnTrigger" "break_room_8b,Break,,15,-1"
        "OnTrigger" "cmd,Command,say << 15s >>,0,-1"
        "OnTrigger" "case_explode,PickRandom,,15,-1"
        "OnTrigger" "fade_transition,Fade,,14,-1"
    }
    insert:
    {
        "OnTrigger" "break_room_8b,Break,,10,-1"
        "OnTrigger" "cmd,Command,say << 10s >>,0,-1"
        "OnTrigger" "case_explode,PickRandom,,10,-1"
        "OnTrigger" "fade_transition,Fade,,9,-1"
    }
}
;------------------------------------------------------------
; changing final boss hp
;------------------------------------------------------------
modify:
{
    match:
    {
        "targetname" "to_add_hp_boss_final"
        "classname" "trigger_once"
    }
    delete:
    {
        "OnStartTouch" "final_boss_breakable,AddHealth,500,0,-1"
    }
    insert:
    {
        "OnStartTouch" "final_boss_breakable,AddHealth,300,0,-1"
    }
}
;------------------------------------------------------------
; changing final lasers speed
;------------------------------------------------------------
modify:
{
    match:
    {
        "targetname" "laser_1_move*"
        "classname" "func_movelinear"
    }
    replace:
    {
        "speed" "1800"
    }
}
modify:
{
    match:
    {
        "targetname" "laser_1_move_train"
        "classname" "func_tracktrain"
    }
    replace:
    {
        "startspeed" "2000"
        "speed" "2000"
    }
}

;--------------------------------
; Fix incorrect targetname usage
;--------------------------------
modify:
{
	match:
	{
		"hammerid" "519204"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player,0,-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,targetname player_none,0,-1"
	}
}
