;-------------------------------------
; Makes sure map has enough playtime
;-------------------------------------
modify:
{
	match:
	{
        "classname" "logic_auto"
	}
	insert:
	{
        "OnMapSpawn" "cmd_sv,Command,mp_roundtime 40,0,-1"
	}
}
;----------------------------------------------------------
; Fixes all messages in map since old was client_command
;----------------------------------------------------------
modify:
{
	match:
	{
        "targetname" "cmd"
	}
	replace:
	{
        "classname" "point_servercommand"
	}
}
;----------------------------------------------------------
; Adds 5 extra seconds to the second teleporter
;----------------------------------------------------------
modify:
{
	match:
	{
        "classname" "func_button"
        "origin" "-7185.35 -6298.13 132.66"
	}
	delete:
	{
        "OnPressed" "st1/tele3_trig,Enable,,33,1"
	}
	insert:
	{
        "OnPressed" "st1/tele3_trig,Enable,,38,1"
	}
}
;---------------------------------------------
; Reduces the long door hold by 5 seconds
;---------------------------------------------
modify:
{
	match:
	{
        "origin" "-4570.21 1444.77 -164.38"
        "classname" "func_button"
	}
	delete:
	{
        "OnPressed" "st1/door10,Open,,20,1"
        "OnPressed" "cmd,Command,say *** 20 ***,0,1"
	}
	insert:
	{
        "OnPressed" "st1/door10,Open,,12,1"
        "OnPressed" "cmd,Command,say *** 12 ***,0,1"
	}
}
;-----------------------------------------------
; Increases tp by 10 seconds at the split doors
;-----------------------------------------------
modify:
{
	match:
	{
        "origin" "-8753.64 3029.9 -1967.11"
        "classname" "func_button"
	}
	delete:
	{
        "OnPressed" "st1/tele6_trig,Enable,,35,1"
	}
	insert:
	{
        "OnPressed" "st1/tele6_trig,Enable,,45,1"
	}
}
;----------------------------------------------------
; Disables fire particle 5 sec after wall explosion
;----------------------------------------------------
modify:
{
	match:
	{
        "targetname" "door16_break"
        "classname" "func_breakable"
	}
	insert:
	{
        "OnBreak" "st1/door16_explor_partic,Kill,,5,1"
	}
}
;----------------------------------------------------
; Fixes last teleport being too early
;----------------------------------------------------
modify:
{
	match:
	{
        "origin" "-11295.9 14535.1 -2615.25"
        "classname" "trigger_multiple"
	}
	delete:
	{
        "OnStartTouch" "st1/tele10_trig,Enable,,27,1"
	}
	insert:
	{
        "OnStartTouch" "st1/tele10_trig,Enable,,38,1"
	}
}
;----------------------------------------------------
; Reduces hp of crystals
;----------------------------------------------------
modify:
{
	match:
	{
		"origin" "-8701.89 -6631.83 398.37"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "2100"
	}
}
modify:
{
	match:
	{
		"origin" "-9641.28 -6631.83 398.37"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "2100"
	}
}
modify:
{
	match:
	{
		"origin" "-9641.28 -3159.64 398.37"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "2400"
	}
}
modify:
{
	match:
	{
		"origin" "-7531.65 -3159.64 398.37"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "2400"
	}
}
modify:
{
	match:
	{
		"origin" "-6831.09 -4430.91 398.37"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "3200"
	}
}
modify:
{
	match:
	{
		"origin" "-6831.09 -5853.17 398.37"
		"classname" "func_breakable"
	}
	replace:
	{
		"health" "3200"
	}
}
;--------------------------------------
; Fixes door timer after crystal part
;--------------------------------------
modify:
{
	match:
	{
		"targetname" "st1/door5_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "cmd,Command,say *** DOOR OPEN IN 20 SEC ***,2,1"
		"OnHitMax" "st1/door5,Open,,7,1"
		"OnHitMax" "cmd,Command,say *** ALL CRYSTALL BREAK ***,1,1"
	}
	insert:
	{
		"OnHitMax" "cmd,Command,say *** DOOR OPEN IN 10 SEC ***,3,1"
		"OnHitMax" "st1/door5,Open,,13,1"
		"OnHitMax" "cmd,Command,say *** ALL CRYSTALL BREAK ***,1,1"
	}
}
;-------------------------------------------------------
; Removes output from a button that doesnt do anything
;-------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "st1/door5_counter"
		"classname" "math_counter"
	}
	delete:
	{
		"OnPressed" "st2/door1,Open,,20,1"
		"OnPressed" "cmd,Command,say *** 23 ***,0,1"
		"OnPressed" "st2/door2,Open,,40,1"
	}
}
;------------------------------------------------------------
; Slightly increases speed of the door at the bush teleport
;-------------------------------------------------------------
modify:
{
	match:
	{
		"targetname" "st1/door10"
		"classname" "func_door"
	}
	replace:
	{
		"speed" "30"
	}
}
;------------------------------------------
; Slightly increases speed of the elevator
;------------------------------------------
modify:
{
	match:
	{
		"targetname" "st1/ele_go"
		"classname" "func_movelinear"
	}
	replace:
	{
		"speed" "210"
	}
}