;fix unadjustable music volume
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/fin/acdc-back-in-black.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/fin/acdc-back-in-black.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/elevator-music1.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/elevator-music1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/makeitbundem.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/makeitbundem.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/most-badass-vocal-battle-action-ever-by-epikus.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/most-badass-vocal-battle-action-ever-by-epikus.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/paganiapt1.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/paganiapt1.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/paganiapt2.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/paganiapt2.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/poisontribe-tonalchaos.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/poisontribe-tonalchaos.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/timeforwar.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/timeforwar.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/tribalafricanepic.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/tribalafricanepic.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/zeab.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/zeab.mp3"
	}
}
modify:
{
	match:
	{
		"message" "ze_voodoo_islands/zevd1.mp3"
	}
	replace:
	{
		"message" "#ze_voodoo_islands/zevd1.mp3"
	}
}

;-----------------------
; STRIPPER BY .RUSHAWAY
;-----------------------
; FIX ISLAND 1 TP ORIGIN
;-----------------------
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"hammerid" "62571"
		"targetname" "protection"
	}
	replace:
	{
		"origin" "-2624 5493 385.46"
	}
}