;Fixes being able to crouch under diagonal lasers in the middle of floor 2 ending
modify:
{
	match:
	{
		"targetname" "Gabranth_laser_case"
	}
	delete:
	{
		"OnCase04" "Laser_maker_2B,AddOutput,angles 10 0 0,0,-1"
		"OnCase04" "Laser_maker_2B,AddOutput,origin -672 5181 8871,0,-1"
		"OnCase05" "Laser_maker_2B,AddOutput,angles -10 0 0,0,-1"
		"OnCase05" "Laser_maker_2B,AddOutput,origin -672 5181 8871,0,-1"
	}
	insert:
	{
		"OnCase04" "Laser_maker_2B,AddOutput,angles 5 0 0,0,-1"
		"OnCase04" "Laser_maker_2B,AddOutput,origin -672 5181 8857,0,-1"
		"OnCase05" "Laser_maker_2B,AddOutput,angles -5 0 0,0,-1"
		"OnCase05" "Laser_maker_2B,AddOutput,origin -672 5181 8857,0,-1"
	}
}

;Fixes ultima model disappearing to zombies
modify:
{
	match:
	{
		"targetname" "Ultima_model"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"fademindist" "-1"
		"fademaxdist" "0"
	}
}

;Fixes ultima aoe holy attack targetting zombies
modify:
{
	match:
	{
		"targetname" "Holy_trigger"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"filtername" "Humans_Filter"
	}
}
modify:
{
	match:
	{
		"targetname" "Holy_IV_trigger"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"filtername" "Humans_Filter"
	}
}

;Fixes zombies being teleported to only 1 cage of stage 3 ultima boss fight
filter:
{
	"targetname" "stage3_TP_5"
}
add:
{
	"targetname" "stage3_AFKc_4"
	"classname" "logic_case"
	
	"OnCase01" "!activator,AddOutput,origin 10649 -11774 4587,0,-1"
	"OnCase02" "!activator,AddOutput,origin 13209 -14334 4587,0,-1"
	"OnCase03" "!activator,AddOutput,origin 10649 -14334 4587,0,-1"
	"OnCase04" "!activator,AddOutput,origin 13209 -11774 4587,0,-1"
}
modify:
{
	match:
	{
		"targetname" "stage3_AFK_4"
	}
	replace:
	{
		"classname" "trigger_multiple"
		"spawnflags" "1"
		"wait" "0"
	}
	insert:
	{
		"OnStartTouch" "stage3_AFKc_4,PickRandom,,0,-1"
	}
}

;Fixes players being teleported to only 1 side of stage 3 spawn
filter:
{
	"targetname" "stage3_TP"
}
add:
{
	"targetname" "stage3_AFKc_0"
	"classname" "logic_case"
	
	"OnCase01" "!activator,AddOutput,origin -3364 361 8096,0,-1"
	"OnCase01" "!activatorRunScriptCodeself.SnapEyeAngles(QAngle(0,90,0))0-1"
	"OnCase02" "!activator,AddOutput,origin -3364 2121 8096 ,0,-1"
	"OnCase02" "!activatorRunScriptCodeself.SnapEyeAngles(QAngle(0,-90,0))0-1"
}
modify:
{
	match:
	{
		"targetname" "stage3_teleport"
	}
	replace:
	{
		"classname" "trigger_multiple"
		"spawnflags" "1"
		"wait" "0"
	}
	insert:
	{
		"OnStartTouch" "stage3_AFKc_0,PickRandom,,0,-1"
	}
}

;Buffs stage 1 Adrammelech HP
modify:
{
	match:
	{
		"targetname" "stage1_Boss_add_Hp"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Adrammelech_Health,Add,50,0,-1"
		"OnStartTouch" "Adrammelech_HealthInit,Add,50,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Adrammelech_Health,Add,60,0,-1"
		"OnStartTouch" "Adrammelech_HealthInit,Add,60,0,-1"
	}
}

;Buffs stage 2 Drace HP
modify:
{
	match:
	{
		"targetname" "Drace_Hp_Add_team"
		"classname" "filter_activator_team"
	}
	delete:
	{
		"OnPass" "Drace_Health,Add,25,0,-1"
		"OnPass" "Drace_HealthInit,Add,25,0,-1"
	}
	insert:
	{
		"OnPass" "Drace_Health,Add,40,0,-1"
		"OnPass" "Drace_HealthInit,Add,40,0,-1"
	}
}