;--------------------------
; Fix add too much hp statues
;--------------------------

modify:
{
	match:
	{
        "origin" "-176 2464 320"
        "classname" "trigger_multiple"
        "targetname" "s1_door2_6_fall"
        "hammerid" "251525"
	}
	delete:
	{
        "OnStartTouch" "s1_door2_6_break,AddHealth,500,0,-1"
        "OnStartTouch" "s1_door2_4_break,AddHealth,700,0,-1"
        "OnStartTouch" "s1_door2_2_break,AddHealth,750,0,-1"

	}
	insert:
	{
        "OnStartTouch" "s1_door2_6_break,AddHealth,100,0,2"
        "OnStartTouch" "s1_door2_4_break,AddHealth,150,0,2"
        "OnStartTouch" "s1_door2_2_break,AddHealth,200,0,1"
        "OnStartTouch" "!self,Kill,0,10,1"
	}
}

;--------------------------
; delay 4 more sec for zombie shortcut 
;--------------------------

modify:
{
	match:
	{
        "origin" "-2784 4240 -244"
        "classname" "trigger_multiple"
        "targetname" "s1_door5_trigger"
        "hammerid" "240867"
	}

	delete:
	{
        "OnStartTouch" "s1_door5_sc2,Open,0,5,1"

	}
	insert:
	{
        "OnStartTouch" "s1_door5_sc2,Open,0,9,1"
	}
}

;--------------------------
; add more tutorial for human ( room 7 )
;--------------------------

modify:
{
	match:
	{
        "origin" "-4448 4192 -448"
        "classname" "trigger_multiple"
        "targetname" "s1_door7_brk_trigger"
        "hammerid" "266685"
	}

	insert:
	{
        "OnStartTouch" "cmd_sv,Command,say >> Human need split team for trigger here << ,3,2"
        "OnStartTouch" "cmd_sv,Command,say >> And need find a way to open the side door for the other team. << ,4,2"
	}
}

;--------------------------
; Change room 11 gameplay bit faster ( room 11 )
;--------------------------

modify:
{
	match:
	{
        "origin" "-7568 8096 -480"
        "classname" "trigger_multiple"
        "targetname" "s1_door11_trigger"
        "hammerid" "457582"
	}

        delete:
	{
        "OnStartTouch" "cmd_sv,Command,say >> 20 seconds and zombie teleport in 5 seconds << ,0,1"
        "OnStartTouch" "s1_tp_afk_5,Enable,0,5,1"
	}
	insert:
	{
        "OnStartTouch" "cmd_sv,Command,say >> 20 seconds and zombie teleport now << ,1,1"
        "OnStartTouch" "s1_tp_afk_5,Enable,0,2,1"
	}
}

;--------------------------
; add more tutorial for human ( last room )
;--------------------------

modify:
{
	match:
	{
        "origin" "-4336 5072 -224"
        "classname" "trigger_once"
        "targetname" "s1_lastdoor_afk_tp_trigger"
        "hammerid" "517303"
	}

	insert:
	{
        "OnStartTouch" "cmd_sv,Command,say >> This looks like a good place for us to defend. << ,2,1"
	}
}







