;*******************************************
;*-------------STRIPPER BY-----------------*
;*---------------KLIXUS--------------------*
;*******************************************


;Moves item spawnpoints from unobtainable area to playable area

modify:
{
	match:
	{
		"targetname" "lvl3_item_origin"
		"classname" "logic_case"
		"hammerid" "2010245"
	}
	delete:
	{
		"OnCase01" "lvl3_item_spawn,AddOutput,origin 811 -1313 7270,0,1"
		"OnCase02" "lvl3_item_spawn,AddOutput,origin 6854 644 7412,0,1"
		"OnCase03" "lvl3_item_spawn,AddOutput,origin 5116 3154 7332,0,1"
		"OnCase04" "lvl3_item_spawn,AddOutput,origin 6034 5228 7424,0,1"
	}
	insert:
	{
		"OnCase01" "lvl3_item_spawn,AddOutput,origin 1187 4572 7211,0,1"
		"OnCase02" "lvl3_item_spawn,AddOutput,origin 3623 2763 3871,0,1"
		"OnCase03" "lvl3_item_spawn,AddOutput,origin 3788 944 3559,0,1"
		"OnCase04" "lvl3_item_spawn,AddOutput,origin -1170 -1038 3247,0,1"
	}
}
