;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;Delay fix so schicksal dont cry
;--------------------------------

modify:
{
	match:
	{
		"model" "*36"
		"targetname" "ElevatorBut2"
		"origin" "-2495.5 9484 1005"
		"classname" "func_button"
		"hammerid" "189446"
	}
	delete:
	{	
		"OnPressed" "Server,Command,say ***Elevator doors closing in 5 seconds***,10,1"
		"OnPressed" "ElevatorDoor_In,Close,,15,1"
		"OnPressed" "ElevatorLagSafe,Enable,,15.5,1"
		"OnPressed" "ElevatorLagSafe,Kill,,16,1"
		"OnPressed" "Elevator,Close,,17,1"
	}
	insert:
	{
		"OnPressed" "Server,Command,say ***Elevator doors closing in 5 seconds***,15,1"
		"OnPressed" "ElevatorDoor_In,Close,,20,1"
		"OnPressed" "ElevatorLagSafe,Enable,,20.5,1"
		"OnPressed" "ElevatorLagSafe,Kill,,21,1"
		"OnPressed" "Elevator,Close,,22,1"
	}
}

;----------------------
;Fix a console message
;----------------------

modify:
{
	match:
	{
		"model" "*110"
		"targetname" "Lvl3_Button2"
		"origin" "-4620.5 5201.01 790"
		"classname" "func_button"
		"hammerid" "438839"
	}
	delete:
	{	
		"OnPressed" "Server,Command,say ***Hold for 5seconds***,15,1"
	}
	insert:
	{
		"OnPressed" "Server,Command,say ***Hold for 5 seconds***,15,1"

	}
}