;ze_element_fire_v1
add:
{
"model" "*200"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "200"
"spawnflags" "1"
"pushdir" "0 158.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7101.94 7479.32 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
"OnStartTouch" "!activator,IgniteLifetime,2,0,-1"
}
add:
{
"model" "*201"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "90"
"spawnflags" "1"
"pushdir" "0 19 0"
"parentname" "1Tornado_Physbox"
"origin" "6434.94 7160.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*202"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "90"
"spawnflags" "1"
"pushdir" "0 71.5 0"
"parentname" "1Tornado_Physbox"
"origin" "6673.94 6921.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*203"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "90"
"spawnflags" "1"
"pushdir" "0 114.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7401.94 6921.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*204"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "90"
"spawnflags" "1"
"pushdir" "0 158.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7640.93 7160.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*205"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "90"
"spawnflags" "1"
"pushdir" "0 202.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7640.94 7888.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*206"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "90"
"spawnflags" "1"
"pushdir" "0 246.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7401.94 8127.79 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*207"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "90"
"spawnflags" "1"
"pushdir" "0 292.5 0"
"parentname" "1Tornado_Physbox"
"origin" "6673.94 8127.79 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*208"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "90"
"spawnflags" "1"
"pushdir" "0 339 0"
"parentname" "1Tornado_Physbox"
"origin" "6434.94 7888.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*209"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "110"
"spawnflags" "1"
"pushdir" "0 114.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7128.94 7351.3 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*210"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "110"
"spawnflags" "1"
"pushdir" "0 71.5 0"
"parentname" "1Tornado_Physbox"
"origin" "6946.94 7351.3 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*211"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "110"
"spawnflags" "1"
"pushdir" "0 19 0"
"parentname" "1Tornado_Physbox"
"origin" "6864.44 7433.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*212"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "110"
"spawnflags" "1"
"pushdir" "0 339 0"
"parentname" "1Tornado_Physbox"
"origin" "6864.44 7615.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*213"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "110"
"spawnflags" "1"
"pushdir" "0 292.5 0"
"parentname" "1Tornado_Physbox"
"origin" "6946.94 7698.3 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*214"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "110"
"spawnflags" "1"
"pushdir" "0 246.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7128.94 7698.3 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*215"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "110"
"spawnflags" "1"
"pushdir" "0 202.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7211.44 7615.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*216"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "110"
"spawnflags" "1"
"pushdir" "0 158.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7211.44 7433.8 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
}
add:
{
"model" "*217"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "200"
"spawnflags" "1"
"pushdir" "0 114.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7083.44 7460.82 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
"OnStartTouch" "!activator,IgniteLifetime,2,0,-1"
}
add:
{
"model" "*218"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "200"
"spawnflags" "1"
"pushdir" "0 71.5 0"
"parentname" "1Tornado_Physbox"
"origin" "6992.44 7460.82 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
"OnStartTouch" "!activator,IgniteLifetime,2,0,-1"
}
add:
{
"model" "*219"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "200"
"spawnflags" "1"
"pushdir" "0 19 0"
"parentname" "1Tornado_Physbox"
"origin" "6973.94 7479.32 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
"OnStartTouch" "!activator,IgniteLifetime,2,0,-1"
}
add:
{
"model" "*220"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "200"
"spawnflags" "1"
"pushdir" "0 339 0"
"parentname" "1Tornado_Physbox"
"origin" "6973.94 7570.32 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
"OnStartTouch" "!activator,IgniteLifetime,2,0,-1"
}
add:
{
"model" "*221"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "200"
"spawnflags" "1"
"pushdir" "0 292.5 0"
"parentname" "1Tornado_Physbox"
"origin" "6992.44 7588.82 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
"OnStartTouch" "!activator,IgniteLifetime,2,0,-1"
}
add:
{
"model" "*222"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "200"
"spawnflags" "1"
"pushdir" "0 246.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7083.44 7588.82 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
"OnStartTouch" "!activator,IgniteLifetime,2,0,-1"
}
add:
{
"model" "*223"
"targetname" "1Tornado_Trigger_Push"
"StartDisabled" "0"
"speed" "200"
"spawnflags" "1"
"pushdir" "0 202.5 0"
"parentname" "1Tornado_Physbox"
"origin" "7101.94 7570.32 1362"
"filtername" "Filter_T"
"alternateticksfix" "0"
"classname" "trigger_push"
"OnStartTouch" "!activator,IgniteLifetime,2,0,-1"
}
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "move_fire_1"
		"origin" "1024 14152 -1594"
		"model" "*42"
		"hammerid" "366570"
	}
	replace:
	{
		"speed" "350"
	}
}
modify:
{
    match:
    {
        "targetname" "fm_1_maker"
        "classname" "env_entity_maker"
    }
        delete:
    {
        "OnEntitySpawned" "fm_room_2_3,Open,,2,1"
    }
	insert:
	{
	"OnEntitySpawned" "fm_room_2_3,Open,,4,1"
	}
}
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "fm_room_2_3"
		"origin" "5432 7540 943.5"
		"model" "*149"
		"hammerid" "1384474"
	}
	replace:
	{
		"speed" "15"
	}
}
modify:
{
    match:
    {
        "targetname" "fm_1_maker"
        "classname" "env_entity_maker"
    }
        delete:
    {
        "OnEntitySpawned" "fm_room_2_3,Open,,2,1"
    }
	insert:
	{
	"OnEntitySpawned" "fm_room_2_3,Open,,4,1"
	}
}
modify:
{
    match:
    {
        "targetname" "temp_tp_boss_zm"
        "classname" "point_template"
    }
        delete:
    {
        "OnEntitySpawned" "tp_zm_boss_attack_back,Enable,,10,-1"
	"OnEntitySpawned" "tp_zm_boss_attack_back,Kill,,10.5,-1"
    }
	insert:
	{
	"OnEntitySpawned" "tp_zm_boss_attack_back,Enable,,15,-1"
	"OnEntitySpawned" "tp_zm_boss_attack_back,Kill,,15.5,-1"
	}
}
