;--------------------------------------------------------------
;STRIPPER CFG BY LISHANG http://steamcommunity.com/id/L1shang/
;--------------------------------------------------------------
;DISABLE BHOP SETTING & FIX ZOMBIE ITEM'S WEAPONSTRIP
;-----------------------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "290378"
	}
	delete:
	{
		"OnNewGame" "Knife_Alteci_Strip,Enable,,11,1"
		"OnNewGame" "Knife_Garuda_Strip,Enable,,11,1"
		"OnNewGame" "Knife_Gravity_Strip,Enable,,11,1"
		"OnNewGame" "Knife_Heal_Strip,Enable,,11,1"
		"OnNewGame" "Knife_Ice_Strip,Enable,,11,1"
		"OnNewGame" "Knife_Malefic_Strip,Enable,,11,1"
	}
	insert:
	{
		"OnMapSpawn" "Server,Command,sv_enablebunnyhopping 0,0,1"
		"OnMapSpawn" "Server,Command,say < Map fixed >,5,1"
		"OnNewGame" "Knife_Alteci_Strip,Enable,,15,1"
		"OnNewGame" "Knife_Garuda_Strip,Enable,,15,1"
		"OnNewGame" "Knife_Gravity_Strip,Enable,,15,1"
		"OnNewGame" "Knife_Heal_Strip,Enable,,15,1"
		"OnNewGame" "Knife_Ice_Strip,Enable,,15,1"
		"OnNewGame" "Knife_Malefic_Strip,Enable,,15,1"
	}
}

;------------------------------------
;SILENCE COLD SUN & REMOVE SINCERELY
;------------------------------------
modify:
{
	match:
	{
		"targetname" "Music_Lv4_Hollow"
		"classname" "ambient_generic"
	}
	insert:
	{
		"OnUser1" "Music_Lv4_Cold_Sun,Volume,0,0,1"
		"OnUser1" "Music_Lv4_Cold_Sun,Kill,,0.02,1"
	}
}

filter:
{
	"targetname" "Music_Counter_Lv4_Begin"
	"classname" "math_counter"
}

filter:
{
	"targetname" "Music_Trigger_Lv4_Begin_Secret"
	"classname" "func_button"
}

filter:
{
	"targetname" "Music_Lv4_Sincerely"
	"classname" "ambient_generic"
}

;--------------------------------------------------
;KILL STAR 5 PARTICLE AFTER DEFEATED ULTIMA WEAPON
;--------------------------------------------------
modify:
{
	match:
	{
		"targetname" "Ultima_Weapon_HP_Counter"
		"classname" "math_counter"
	}
	insert:
	{
		"OnHitMin" "Star_5_Particle,Kill,,0,1"
	}
}

;--------------------------------
;FIX ULTIMATE MODE ITEM'S ORIGIN 
;--------------------------------
modify:
{
	match:
	{
		"targetname" "Item_Origin_Case_Ultimate"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase04" "Temp_Maker,AddOutput,origin 5376 960 118,0,1"
	}
	insert:
	{
		"OnCase04" "Temp_Maker,AddOutput,origin 5376 960 188,0,1"
	}
}

;---------------------------------------
;FIX SEYMOUR NATUS'S FIRE METEOR'S HURT
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Seymour_Natus_Fire_Hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "80"
	}
}

;----------------------
;NERF ALL ZOMBIE ITEMS
;----------------------
modify:
{
	match:
	{
		"targetname" "Stage_Template_Normal"
		"classname" "point_template"
	}
	insert:
	{
		"OnEntitySpawned" "Item_Initial_Relay,FireUser1,,4,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Stage_Template_Hard"
		"classname" "point_template"
	}
	insert:
	{
		"OnEntitySpawned" "Item_Initial_Relay,FireUser2,,4,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Initial_Relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnUser1" "Server,Command,sm_setcooldown 6008547 50,0,1"
		"OnUser2" "Server,Command,sm_setcooldown 6008547 55,0,1"
		"OnUser3" "Server,Command,sm_setcooldown 6008547 60,0,1"
		"OnUser4" "Server,Command,sm_setcooldown 6008547 70,0,1"
		
		"OnUser1" "Server,Command,sm_setcooldown 6008852 50,0,1"
		"OnUser2" "Server,Command,sm_setcooldown 6008852 55,0,1"
		"OnUser3" "Server,Command,sm_setcooldown 6008852 60,0,1"
		"OnUser4" "Server,Command,sm_setcooldown 6008852 65,0,1"
		
		"OnUser1" "Server,Command,sm_setcooldown 6008559 50,0,1"
		"OnUser2" "Server,Command,sm_setcooldown 6008559 55,0,1"
		"OnUser3" "Server,Command,sm_setcooldown 6008559 60,0,1"
		"OnUser4" "Server,Command,sm_setcooldown 6008559 70,0,1"
		
		"OnUser1" "Server,Command,sm_setcooldown 6007303 50,0,1"
		"OnUser2" "Server,Command,sm_setcooldown 6007303 60,0,1"
		"OnUser3" "Server,Command,sm_setcooldown 6007303 70,0,1"
		"OnUser4" "Server,Command,sm_setcooldown 6007303 80,0,1"
		
		"OnUser1" "Server,Command,sm_setcooldown 6008042 50,0,1"
		"OnUser2" "Server,Command,sm_setcooldown 6008042 60,0,1"
		"OnUser3" "Server,Command,sm_setcooldown 6008042 70,0,1"
		"OnUser4" "Server,Command,sm_setcooldown 6008042 80,0,1"
		
		"OnUser1" "Server,Command,sm_setcooldown 6008053 50,0,1"
		"OnUser2" "Server,Command,sm_setcooldown 6008053 60,0,1"
		"OnUser3" "Server,Command,sm_setcooldown 6008053 80,0,1"
		"OnUser4" "Server,Command,sm_setcooldown 6008053 100,0,1"
		
		"OnUser1" "Knife_Gravity_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 50 Seconds >:0:1,1,1"		
		"OnUser2" "Knife_Gravity_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 60 Seconds >:0:1,1,1"
		"OnUser3" "Knife_Gravity_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 70 Seconds >:0:1,1,1"
		"OnUser4" "Knife_Gravity_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 80 Seconds >:0:1,1,1"
		
		"OnUser1" "Knife_Heal_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 50 Seconds >:0:1,1,1"		
		"OnUser2" "Knife_Heal_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 60 Seconds >:0:1,1,1"
		"OnUser3" "Knife_Heal_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 70 Seconds >:0:1,1,1"
		"OnUser4" "Knife_Heal_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 80 Seconds >:0:1,1,1"
		
		"OnUser1" "Knife_Malefic_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 50 Seconds >:0:1,1,1"
		"OnUser2" "Knife_Malefic_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 60 Seconds >:0:1,1,1"
		"OnUser3" "Knife_Malefic_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 80 Seconds >:0:1,1,1"
		"OnUser4" "Knife_Malefic_Text,AddOutput,OnUser2 !self:AddOutput:message < Cooldown - 100 Seconds >:0:1,1,1"
		
		"OnUser1" "Knife_Gravity_Filter,AddOutput,OnPass !self:FireUser1::0:-1,1,1"
		"OnUser2" "Knife_Gravity_Filter,AddOutput,OnPass !self:FireUser2::0:-1,1,1"
		"OnUser3" "Knife_Gravity_Filter,AddOutput,OnPass !self:FireUser3::0:-1,1,1"
		"OnUser4" "Knife_Gravity_Filter,AddOutput,OnPass !self:FireUser4::0:-1,1,1"
		
		"OnUser1" "Knife_Heal_Filter,AddOutput,OnPass !self:FireUser1::0:-1,1,1"
		"OnUser2" "Knife_Heal_Filter,AddOutput,OnPass !self:FireUser2::0:-1,1,1"
		"OnUser3" "Knife_Heal_Filter,AddOutput,OnPass !self:FireUser3::0:-1,1,1"
		"OnUser4" "Knife_Heal_Filter,AddOutput,OnPass !self:FireUser4::0:-1,1,1"
		
		"OnUser1" "Knife_Malefic_Filter,AddOutput,OnPass !self:FireUser1::0:-1,1,1"
		"OnUser2" "Knife_Malefic_Filter,AddOutput,OnPass !self:FireUser2::0:-1,1,1"
		"OnUser3" "Knife_Malefic_Filter,AddOutput,OnPass !self:FireUser3::0:-1,1,1"
		"OnUser4" "Knife_Malefic_Filter,AddOutput,OnPass !self:FireUser4::0:-1,1,1"
	}
}

;ZM GRAVITY
modify:
{
	match:
	{
		"targetname" "Knife_Gravity_Text"
		"classname" "game_text"
	}
	delete:
	{
		"OnUser1" "!self,Kill,,10,1"
	}
	insert:
	{
		"OnUser1" "!self,FireUser2,,10,1"
		"OnUser1" "!self,Kill,,15,1"
		"OnUser2" "!self,Display,,0.03,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Gravity_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Knife_Gravity_Button,Unlock,,50,-1"
		"OnPass" "Knife_Gravity_Particle,Start,,50,-1"
	}
	insert:
	{
		"OnUser1" "Knife_Gravity_Button,Unlock,,50,-1"
		"OnUser1" "Knife_Gravity_Particle,Start,,50,-1"
		
		"OnUser2" "Knife_Gravity_Button,Unlock,,60,-1"
		"OnUser2" "Knife_Gravity_Particle,Start,,60,-1"
		
		"OnUser3" "Knife_Gravity_Button,Unlock,,70,-1"
		"OnUser3" "Knife_Gravity_Particle,Start,,70,-1"
		
		"OnUser4" "Knife_Gravity_Button,Unlock,,80,-1"
		"OnUser4" "Knife_Gravity_Particle,Start,,80,-1"
	}
}

;ZM HEAL
modify:
{
	match:
	{
		"targetname" "Knife_Heal_Text"
		"classname" "game_text"
	}
	delete:
	{
		"OnUser1" "!self,Kill,,10,1"
	}
	insert:
	{
		"OnUser1" "!self,FireUser2,,10,1"
		"OnUser1" "!self,Kill,,15,1"
		"OnUser2" "!self,Display,,0.03,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Heal_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Knife_Heal_Button,Unlock,,50,-1"
		"OnPass" "Knife_Heal_Particle,Start,,50,-1"
	}
	insert:
	{
		"OnUser1" "Knife_Heal_Button,Unlock,,50,-1"
		"OnUser1" "Knife_Heal_Particle,Start,,50,-1"
		
		"OnUser2" "Knife_Heal_Button,Unlock,,60,-1"
		"OnUser2" "Knife_Heal_Particle,Start,,60,-1"
		
		"OnUser3" "Knife_Heal_Button,Unlock,,70,-1"
		"OnUser3" "Knife_Heal_Particle,Start,,70,-1"
		
		"OnUser4" "Knife_Heal_Button,Unlock,,80,-1"
		"OnUser4" "Knife_Heal_Particle,Start,,80,-1"
	}
}

;ZM ICE
modify:
{
	match:
	{
		"targetname" "Knife_Ice_Text"
		"classname" "game_text"
	}
	delete:
	{
		"OnUser1" "!self,Kill,,10,1"
	}
	insert:
	{
		"OnUser1" "!self,AddOutput,message < Only once >,10,1"
		"OnUser1" "!self,Display,,10.03,1"
		"OnUser1" "!self,Kill,,15,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Ice_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Knife_Ice_Button,Lock,,0,-1"
		"OnPass" "Knife_Ice_Particle,Stop,,0,-1"
		"OnPass" "Knife_Ice_Particle_Casting,FireUser1,,0,-1"
		"OnPass" "Knife_Ice_Hurt,FireUser1,,0,-1"
		"OnPass" "Knife_Ice_Button,Unlock,,50,-1"
		"OnPass" "Knife_Ice_Particle,Start,,50,-1"
	}
	insert:
	{
		"OnPass" "Knife_Ice_Particle_Casting,FireUser1,,0,1"
		"OnPass" "Knife_Ice_Hurt,FireUser1,,0,1"
		"OnPass" "Knife_Ice_Button,Kill,,0.03,1"
		"OnPass" "Knife_Ice_Particle,Kill,,0.03,1"
		"OnPass" "Knife_Ice_Filter_Clear,Kill,,0.03,1"
		"OnPass" "!self,Kill,,0.06,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Ice_Particle_Casting"
		"classname" "info_particle_system"
	}
	insert:
	{
		"OnUser1" "!self,Kill,,3.03,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Ice_Hurt"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"OnUser1" "Knife_Ice_Maker,Kill,,5,1"
		"OnUser1" "Knife_Ice_Template,Kill,,5,1"
		"OnUser1" "!self,Kill,,5.03,1"
	}
}

;ZM MALEFIC
modify:
{
	match:
	{
		"targetname" "Knife_Malefic_Text"
		"classname" "game_text"
	}
	delete:
	{
		"OnUser1" "!self,Kill,,10,1"
	}
	insert:
	{
		"OnUser1" "!self,FireUser2,,10,1"
		"OnUser1" "!self,Kill,,15,1"
		"OnUser2" "!self,Display,,0.03,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Malefic_Filter"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"OnPass" "Knife_Malefic_Button,Unlock,,50,-1"
		"OnPass" "Knife_Malefic_Particle,Start,,50,-1"
	}
	insert:
	{
		"OnUser1" "Knife_Malefic_Button,Unlock,,50,-1"
		"OnUser1" "Knife_Malefic_Particle,Start,,50,-1"
		
		"OnUser2" "Knife_Malefic_Button,Unlock,,60,-1"
		"OnUser2" "Knife_Malefic_Particle,Start,,60,-1"
		
		"OnUser3" "Knife_Malefic_Button,Unlock,,80,-1"
		"OnUser3" "Knife_Malefic_Particle,Start,,80,-1"
		
		"OnUser4" "Knife_Malefic_Button,Unlock,,100,-1"
		"OnUser4" "Knife_Malefic_Particle,Start,,100,-1"
	}
}

;----------------------------
;NERF VYRAAL FOR SAVAGE MODE
;----------------------------
modify:
{
	match:
	{
		"targetname" "Temp_Vyraal"
		"classname" "point_template"
	}
	insert:
	{
		"OnUser2" "Knife_Vyraal_Weapon,FireUser3,,0.06,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Vyraal_Weapon"
		"classname" "weapon_knife"
	}
	insert:
	{
		"OnUser3" "Knife_Vyraal_Button_Switch,Kill,,0,1"
		"OnUser3" "Knife_Vyraal_Filter_Switch,Kill,,0,1"
		"OnUser3" "Knife_Vyraal_Text,AddOutput,OnUser2 !self:Kill::5:1,0,1"
		"OnUser3" "Knife_Vyraal_Text_Branch,AddOutput,OnUser1 !self:Kill::0.02:1,0,1"
		"OnUser3" "Knife_Vyraal_Damage_Particle,Kill,,0,1"
		"OnUser3" "Knife_Vyraal_Damage_Hurt,Kill,,0,1"
	}
}

;-----------------------
;DELETE DEATHWING CLEAR
;-----------------------
modify:
{
	match:
	{
		"targetname" "TP_AFK_Begin"
		"classname" "trigger_teleport"
	}
	delete:
	{
		"OnUser1" "DeathWing_TD,FireUser1,,0,1"
	}
}

;--------------------------------------------------
;MODIFED CASTLE BEGIN AFK TELEPORT FOR SAVAGE MODE
;--------------------------------------------------
modify:
{
	match:
	{
		"targetname" "Star_4_Trigger"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "TP_AFK_Castle_Begin,FireUser1,,45,1"
	}
	insert:
	{
		"OnStartTouch" "TP_AFK_Castle_Begin,FireUser1,,65,1"
	}
}

;--------------------------------
;REMOVE ZOMBIE MONSTER INVISIBLE 
;--------------------------------
modify:
{
	match:
	{
		"targetname" "Knife_Alteci_Weapon"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,rendermode 10,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Garuda_Weapon"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,rendermode 10,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Knife_Vyraal_Weapon"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activator,AddOutput,rendermode 10,0,1"
	}
}

;--------------------------------------------
;REMOVE NPC MONSTER 1 POSITION FOR HARD MODE
;--------------------------------------------
modify:
{
	match:
	{
		"targetname" "Monster_Origin_Case_Hard"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase04" "Temp_Maker,AddOutput,origin -10160 64 -352,0,1"
		"OnCase04" "Temp_Maker,AddOutput,angles 0 225 0,0,1"
	}
}

;-------------------------
;NERF SAVAGE MODE BOSS HP
;-------------------------
;SEYMOUR OMNIS : 90 -> 40
;ODIN          : 31 -> 29
;-------------------------
modify:
{
	match:
	{
		"targetname" "Savage_Boss_HP_Add"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Seymour_Omnis_HP_Counter,Add,90,0,-1"
		"OnStartTouch" "Odin_HP_Counter,Add,31,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Seymour_Omnis_HP_Counter,Add,40,0,-1"
		"OnStartTouch" "Odin_HP_Counter,Add,29,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Seymour_Omnis_Hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "Odin_HP_Counter,Subtract,31,0,-1"
	}
	insert:
	{
		"OnStartTouch" "Odin_HP_Counter,Subtract,29,0,-1"
	}
}

;----------------
;NERF GARLAND HP
;----------------
modify:
{
	match:
	{
		"targetname" "Garland_Lazer_Hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnHurtPlayer" "Garland_HP_Counter,Subtract,12,0,-1"
	}
	insert:
	{
		"OnHurtPlayer" "Garland_HP_Counter,Subtract,18,0,-1"
	}
}

;--------------------------
;FIX DAMAGE FADE RENDERAMT
;--------------------------
modify:
{
	match:
	{
		"targetname" "Item_Damage_Fade"
		"classname" "env_fade"
	}
	replace:
	{
		"renderamt" "35"
	}
}

;-----------------------------------------
;MODIFY BEGIN WATER SECOND TELEPORT POINT
;-----------------------------------------
modify:
{
    match:
    {
        "targetname" "TD_Begin_Water_2"
        "classname" "info_teleport_destination"
    }
    replace:
    {
        "origin" "-4368 -11008 -4348"
    }
}

modify:
{
	match:
	{
		"targetname" "Music_Lv1_Wanderes_Palace"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/normal_wanderes_palace_theme.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv1_Tonberrys_Tears"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/normal_a_tonberrys_tears.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv1_Fine_Death"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/normal_a_fine_death_1.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv1_To_The_Fore"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/normal_to_the_fore.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv1_Praetorium"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/normal_the_praetorium_theme.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv2_Bismarcks"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/hard_bismarcks_theme_1.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv2_Eden_Under_Siege"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/hard_eden_under_siege.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv2_Deserate_Stuggle"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/hard_desperate_struggle.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv2_Revenge"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/hard_revenge_twofold.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv2_Duelling"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/hard_duelling.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv2_Crumbling_Lies"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/hard_crumbling_lies.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv3_Copied_City"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/savage_copied_city_1.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv3_The_Ruler"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/savage_the_ruler_of_time_and_space.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv3_Unseen_Abyss"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/savage_unseen_abyss_1.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv3_Wretched_Weaponry"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/savage_wretched_weaponry.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv3_Bipolar_Nightmare"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/savage_bipolar_nightmare.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv3_Gundam_Unicorn"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/savage_gundam.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv3_Song_of_The_Ancient"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/savage_song_of_the_ancients.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv3_Heart_of_Chaos"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/savage_heart_of_chaos.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv4_Re"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/ultimate_re_i_am.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv4_Cold_Sun"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/ultimate_cold_sun.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv4_Sincerely"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/ultimate_sincerely.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv4_Hollow"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/ultimate_hollow.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv4_StaringChild"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/ultimate_starringchild.mp3"
	}
}

modify:
{
	match:
	{
		"targetname" "Music_Lv4_Ref_rain"
	}
	replace:
	{
		"message" "#dakotec/map/music/ffxiv/ultimate_ref_rain.mp3"
	}
}