;---------------------------------------------
; Remove Weapons and fix Camping spots
;---------------------------------------------
filter:
{
	"classname" "weapon_elite"
}
filter:
{
	"classname" "weapon_hegrenade"
}
filter:
{
	"targetname" "nade_1_trail"
}
filter:
{
	"classname" "func_movelinear"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "1030 -470 64"
	"angles" "0 90 -90"
	"model" "models/props_lab/blastdoor001c.mdl"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"solid" "6"
	"rendermode" "10"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "1010 -322 64"
	"angles" "0 70 -90"
	"model" "models/props_lab/blastdoor001c.mdl"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"solid" "6"
	"rendermode" "10"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "910 -362 33"
	"angles" "0 0 0"
	"model" "models/props_lab/blastdoor001c.mdl"
	"disablereceiveshadows" "1"
	"disableshadows" "1"
	"solid" "6"
	"rendermode" "10"
}
add:
{
	"model" "*18"
	"spawnflags" "1"
	"classname" "trigger_push"
	"targetname" "anticamp"
	"origin" "-3450 -1920 115"
	"angles" "0 90 0"
	"speed" "1000"
}
;---------------------------------------------
filter:
{
	"classname" "ambient_generic"
	"targetname" "amb_music1"
}
filter:
{
	"classname" "ambient_generic"
	"targetname" "amb_music2"
}
filter:
{
	"classname" "ambient_generic"
	"targetname" "amb_music3"
}
filter:
{
	"classname" "ambient_generic"
	"targetname" "amb_music4"
}
filter:
{
	"classname" "ambient_generic"
	"targetname" "amb_music5"
}

;---------------------------------------------
add:
{
	"classname" "info_target"
	"targetname" "it7"
	"origin" "760 648 0"
}
add:
{
	"classname" "info_target"
	"targetname" "it8"
	"origin" "760 760 0"
}
add:
{
	"classname" "info_target"
	"targetname" "it9"
	"origin" "648 760 0"
}
add:
{
	"classname" "info_target"
	"targetname" "it10"
	"origin" "648 648 0"
}
;---------------------------------------------
add:
{
	"classname" "env_beam"
	"targetname" "beam1"
	"origin" "704 704 64"
	"BoltWidth" "16"
	"damage" "0"
	"decalname" "Bigshot"
	"framerate" "0"
	"framestart" "0"
	"life" "0"
	"LightningEnd" "it7"
	"LightningStart" "beam1"
	"NoiseAmplitude" "2"
	"Radius" "0"
	"rendercolor" "255 255 0"
	"spawnflags" "641"
	"texture" "materials/sprites/blueshaft1.vmt"
}
add:
{
	"classname" "env_beam"
	"targetname" "beam2"
	"origin" "696 712 64"
	"BoltWidth" "16"
	"damage" "0"
	"decalname" "Bigshot"
	"framerate" "0"
	"framestart" "0"
	"life" "0"
	"LightningEnd" "it9"
	"LightningStart" "beam2"
	"NoiseAmplitude" "2"
	"Radius" "0"
	"rendercolor" "255 255 0"
	"spawnflags" "641"
	"texture" "materials/sprites/blueshaft1.vmt"
}
add:
{
	"classname" "env_beam"
	"targetname" "beam3"
	"origin" "696 704 64"
	"BoltWidth" "16"
	"damage" "0"
	"decalname" "Bigshot"
	"framerate" "0"
	"framestart" "0"
	"life" "0"
	"LightningEnd" "it10"
	"LightningStart" "beam3"
	"NoiseAmplitude" "2"
	"Radius" "0"
	"rendercolor" "255 255 0"
	"spawnflags" "641"
	"texture" "materials/sprites/blueshaft1.vmt"
}
add:
{
	"classname" "env_beam"
	"targetname" "beam4"
	"origin" "704 712 64"
	"BoltWidth" "16"
	"damage" "0"
	"decalname" "Bigshot"
	"framerate" "0"
	"framestart" "0"
	"life" "0"
	"LightningEnd" "it8"
	"LightningStart" "beam4"
	"NoiseAmplitude" "2"
	"Radius" "0"
	"rendercolor" "255 255 0"
	"spawnflags" "641"
	"texture" "materials/sprites/blueshaft1.vmt"
}
;---------------------------------------------
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "704 -3056 7.62939e-006"
	"hammerid" "199217"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "768 -3056 3.8147e-006"
	"hammerid" "199219"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "768 -2992 7.62939e-006"
	"hammerid" "199221"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "704 -2992 3.8147e-006"
	"hammerid" "199223"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "832 -3056 0"
	"hammerid" "199225"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "896 -3056 7.62939e-006"
	"hammerid" "199227"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "896 -2992 1.00001"
	"hammerid" "199229"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "960 -2992 1.00001"
	"hammerid" "199231"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "960 -3056 3.8147e-006"
	"hammerid" "199233"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "832 -2992 3.8147e-006"
	"hammerid" "199235"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "704 -2928 3.8147e-006"
	"hammerid" "199237"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "768 -2928 0"
	"hammerid" "199239"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "832 -2928 -3.8147e-006"
	"hammerid" "199241"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "896 -2928 3.8147e-006"
	"hammerid" "199243"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "960 -2928 0"
	"hammerid" "199245"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "960 -2864 1"
	"hammerid" "199247"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "896 -2864 1.00001"
	"hammerid" "199249"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "832 -2864 0"
	"hammerid" "199251"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "768 -2864 3.8147e-006"
	"hammerid" "199253"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "704 -2864 0"
	"hammerid" "199255"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "384 64 7.62939e-006"
	"hammerid" "199497"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "448 64 3.8147e-006"
	"hammerid" "199499"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "448 128 7.62939e-006"
	"hammerid" "199501"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "384 128 3.8147e-006"
	"hammerid" "199503"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "512 64 0"
	"hammerid" "199505"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "576 64 7.62939e-006"
	"hammerid" "199507"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "576 128 1.00001"
	"hammerid" "199509"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "640 128 1.00001"
	"hammerid" "199511"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "640 64 3.8147e-006"
	"hammerid" "199513"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "512 128 3.8147e-006"
	"hammerid" "199515"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-192 384 3.8147e-006"
	"hammerid" "199517"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-192 448 0"
	"hammerid" "199519"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-192 512 -3.8147e-006"
	"hammerid" "199521"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-192 576 3.8147e-006"
	"hammerid" "199523"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-192 640 0"
	"hammerid" "199525"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-256 640 1"
	"hammerid" "199527"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-256 576 1.00001"
	"hammerid" "199529"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-256 512 0"
	"hammerid" "199531"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-256 448 3.8147e-006"
	"hammerid" "199533"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-256 384 0"
	"hammerid" "199535"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "640 -2992 0"
	"hammerid" "199776"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "640 -2928 -3.8147e-006"
	"hammerid" "199778"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3136 -2624 1.90735e-005"
	"hammerid" "204358"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3072 -2624 1.52588e-005"
	"hammerid" "204360"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3136 -2560 2.28882e-005"
	"hammerid" "204362"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3200 -2560 1.90735e-005"
	"hammerid" "204364"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3200 -2624 2.28882e-005"
	"hammerid" "204366"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3264 -2624 1.90735e-005"
	"hammerid" "204368"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3264 -2560 1.52588e-005"
	"hammerid" "204370"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3328 -2560 2.28882e-005"
	"hammerid" "204372"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3328 -2624 1.00003"
	"hammerid" "204374"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3392 -2624 1.00002"
	"hammerid" "204376"
}
add:
{
	"classname" "info_player_counterterrorist"
	"origin" "-3392 -2560 1.90735e-005"
	"hammerid" "204378"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3072 -2688 1.14441e-005"
	"hammerid" "204380"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3136 -2688 1.90735e-005"
	"hammerid" "204382"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3136 -2752 1.52588e-005"
	"hammerid" "204384"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3200 -2752 1.90735e-005"
	"hammerid" "204386"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3200 -2688 1.52588e-005"
	"hammerid" "204388"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3264 -2688 1.14441e-005"
	"hammerid" "204390"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3264 -2752 1.52588e-005"
	"hammerid" "204392"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3328 -2752 1.00002"
	"hammerid" "204394"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3328 -2688 1.90735e-005"
	"hammerid" "204396"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3392 -2688 1.52588e-005"
	"hammerid" "204398"
}
add:
{
	"classname" "info_player_terrorist"
	"origin" "-3392 -2752 1.00002"
	"hammerid" "204400"
}