;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------
;STAGE3: FIX TORCH SYSTEM
;-------------------------

modify:
{
	match:
	{
		"targetname" "stage_trigger"
		"origin" "-10064 -32 6592"
		"classname" "trigger_once"
		"hammerid" "764338"
	}
	insert:
	{
		"OnTrigger" "jungletemp_levers_torch4_off,Disable,,0,-1"
		"OnTrigger" "jungletemp_levers_torch4_on,Enable,,0,-1"

		"OnTrigger" "jungletemp_levers_torch2_off,Disable,,0,-1"
		"OnTrigger" "jungletemp_levers_torch2_on,Enable,,0,-1"
		
		"OnTrigger" "jungletemp_levers_torch3_off,Disable,,0,-1"
		"OnTrigger" "jungletemp_levers_torch3_on,Enable,,0,-1"
	
		"OnTrigger" "jungletemp_levers_torch7_off,Alpha,255,0,-1"
		"OnTrigger" "jungletemp_levers_torch7_on,Alpha,255,0,-1"
		"OnTrigger" "jungletemp_levers_torch7_off,Disable,,0,-1"
		"OnTrigger" "jungletemp_levers_torch7_on,Enable,,0,-1"
		
		"OnTrigger" "jungletemp_levers_torch8_off,Alpha,255,0,-1"
		"OnTrigger" "jungletemp_levers_torch8_on,Alpha,255,0,-1"
		"OnTrigger" "jungletemp_levers_torch8_off,Disable,,0,-1"
		"OnTrigger" "jungletemp_levers_torch8_on,Enable,,0,-1"
		
		"OnTrigger" "jungletemp_levers_torch9_off,Alpha,255,0,-1"
		"OnTrigger" "jungletemp_levers_torch9_on,Alpha,255,0,-1"
		"OnTrigger" "jungletemp_levers_torch9_off,Disable,,0,-1"
		"OnTrigger" "jungletemp_levers_torch9_on,Enable,,0,-1"
	}
}

;-------------------------
;HEAL: FILTER TO CT ONLY
;-------------------------

modify:
{
	match:
	{
		"targetname" "heal1_trigger"
		"classname" "trigger_hurt"
		"hammerid" "184435"
	}
	insert:
	{
		"filtername" "ct_filter"
	}
}

;--------------------------
;STAGE2: FIX ZTELE EXPLOIT
;--------------------------

; The lava 
modify:
{
	match:
	{
		"targetname" "nether_lava"
		"origin" "-3312 8000 4644"
		"classname" "trigger_teleport"
		"hammerid" "175615"
	}
	insert:
	{
		"OnUser1" "!self,AddOutput,target nether_lavadest5,0,1"
	}
}
modify:
{
	match:
	{
		"targetname" "nether_lava"
		"origin" "-624 7344 5432"
		"classname" "trigger_teleport"
		"hammerid" "1517050"
	}
	insert:
	{
		"OnUser1" "!self,AddOutput,target nether_boss_dest,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "nether_ghast_kill"
		"classname" "logic_relay"
		"hammerid" "214506"
	}
	delete:
	{
		"OnTrigger" "nether_lava,AddOutput,target nether_lavadest5,10,-1"
	}
	insert:
	{
		"OnTrigger" "nether_lava,FireUser1,,10,-1"
	}
}

