;ENDING EXPLOIT FIX FOR SERVERS WITH JUMP BOOST
add:
{
	"classname" "trigger_multiple"
	"origin" "4667 3730 -247"
	"spawnflags" "1"
	"StartDisabled" "0"
	"wait" "0"
	"model" "*24"
	"OnStartTouch" "!activator,AddOutput,origin 4352 3769 -512,0,-1"
}
		