;ze_swamp_crypt_v1 stripper by friezi

;MODIFY COMMANDS

modify:
{
	match:
	{
	"origin" "10592 6032 8032"
        "classname" "logic_auto"
        "hammerid" "241631"
	}
	insert:
	{
        "OnMapSpawn" "Level_Counter,GetValue,,0.02,1"
        "OnMapSpawn" "Server,Command,zr_infect_spawntime_max 12,0,1"
        "OnMapSpawn" "Server,Command,zr_infect_spawntime_min 11,0,1"
        "OnMapSpawn" "Server,Command,mp_roundtime 12,0,1"
        "OnMapSpawn" "Server,Command,zr_ambientsounds 0,0,1"
        "OnMapSpawn" "Map_InitPermEntities,FireUser1,,0,1"
	}
}

;OTHER SHIT

modify:
{
	match:
	{
        "targetname" "st1_starttp"
        "origin" "13424 6352 8288"
        "classname" "trigger_multiple"
	}
	insert:
	{
        "OnStartTouch" "st1_randomtp_case,PickRandom,,0,-1"
	}
}

modify:
{
	match:
	{
        "origin" "13456 6576 8176"
        "targetname" "st1_randomtp_case"
        "classname" "logic_case"
        "hammerid" "321081"
	}
	insert:
	{
        "OnCase01" "st1_tp1,Teleport,,0,-1"
        "OnCase03" "st1_tp3,Teleport,,0,-1"
        "OnCase02" "st1_tp2,Teleport,,0,-1"
        "OnCase05" "st1_tp5,Teleport,,0,-1"
        "OnCase04" "st1_tp4,Teleport,,0,-1"
        "OnCase06" "st1_tp6,Teleport,,0,-1"
        "OnCase07" "st1_tp7,Teleport,,0,-1"
        "OnCase09" "st1_tp9,Teleport,,0,-1"
        "OnCase08" "st1_tp8,Teleport,,0,-1"
        "OnCase10" "st1_tp10,Teleport,,0,-1"
        "OnCase11" "st1_tp11,Teleport,,0,-1"
        "OnCase12" "st1_tp12,Teleport,,0,-1"
        "OnCase13" "st1_tp13,Teleport,,0,-1"
        "OnCase14" "st1_tp14,Teleport,,0,-1"
        "OnCase15" "st1_tp15,Teleport,,0,-1"
        "OnCase16" "st1_tp16,Teleport,,0,-1"
	}
}

modify:
{
	match:
	{
        "targetname" "Perm_Branch"
        "classname" "logic_branch"
        "hammerid" "276223"
	}
	insert:
	{
        "OnTrue" "Relay_Perm_Branch,Trigger,,0,-1"
	}
}


; fix softlock ending


modify:
{
	match:
	{
        "targetname" "st1_several_triggers2_1"
        "classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "Server,Command,say 25s,0,1"
		"OnHitMax" "st1_wall6,Toggle,,25,1"
		"OnHitMax" "st1_wall_part6,Stop,,25,1"
	}
	insert:
	{
		"OnHitMax" "fix_aaaaa_end_several_trigger,Trigger,,0,1"
	}
}
modify:
{
	match:
	{
        "targetname" "st1_several_triggers2_2"
        "classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "Server,Command,say 25s,0,1"
		"OnHitMax" "st1_wall6,Toggle,,25,1"
		"OnHitMax" "st1_wall_part6,Stop,,25,1"
	}
	insert:
	{
		"OnHitMax" "fix_aaaaa_end_several_trigger,Trigger,,0,1"
	}
}
modify:
{
	match:
	{
        "targetname" "st1_several_triggers2_3"
        "classname" "math_counter"
	}
	delete:
	{
		"OnHitMax" "Server,Command,say 25s,0,1"
		"OnHitMax" "st1_wall6,Toggle,,25,1"
		"OnHitMax" "st1_wall_part6,Stop,,25,1"
	}
	insert:
	{
		"OnHitMax" "fix_aaaaa_end_several_trigger,Trigger,,0,1"
	}
}

add:
{
	"origin" "10632 6184 8016"
	"targetname" "fix_aaaaa_end_several_trigger"
	"StartDisabled" "0"
	"spawnflags" "0"
	"classname" "logic_relay"
	
	"OnTrigger" "Server,Command,say 25s,0,1"
	"OnTrigger" "st1_wall6,Toggle,,25,1"
	"OnTrigger" "st1_wall_part6,Stop,,25,1"
}

; nuke glitch


add:
{
	"model" "*51"
	"targetname" "st1_trigger_zmtp3"
	"target" "st1_zmtp3"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-8496 2752 5408"
	"classname" "trigger_teleport"
}
add:
{
	"model" "*51"
	"targetname" "st1_trigger_zmtp3"
	"target" "st1_zmtp3"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-8496 2560 4944"
	"classname" "trigger_teleport"
}
