filter:
{
      "targetname" "BossZoneCount"
      "classname" "game_zone_player"
}
filter:
{
      "targetname" "BossHPPlayersCounter"
      "classname" "math_counter"
}
filter:
{
      "targetname" "BossHPSubtract"
      "classname" "logic_relay"
}
modify:
{
  match:
  {
      "targetname" "ReaperBossHealth"
	  "classname" "func_physbox_multiplayer"
  }
  insert:
  {
      "OnHealthChanged" "BossHPCounter,Subtract,1,0,-1"
  }
}
modify:
{
  match:
  {
      "targetname" "BossEntranceTrigger"
	  "classname" "trigger_once"
  }
  insert:
  {
      "OnStartTouch" "addhp_trigger,Enable,,11,1"
  }
}
add:
{
      "model" "*127"
	  "classname" "trigger_once"
	  "targetname" "addhp_trigger"
	  "StartDisabled" "1"
	  "spawnflags" "1"
	  "origin" "-1084 6953 -273.68"
	  "OnStartTouch" "BossHPCounter,Add,200,0,-1"
}	
modify:
{
  match:
  {
      "targetname" "BossHPCounter"
      "classname" "math_counter"
  }
  replace:
  {
       "startvalue" "20"
  }
}  

modify:
{
    match:
    {
        "targetname" "ReaperBossHurtShell"
    }
    replace:
    {
        "damage" "50"
        "damagecap" "50"
    }
}

;-------------------
; Templates the boss
;-------------------
add:
{
    "spawnflags" "2"
    "classname" "point_template"
    "targetname" "Reaper_Template"
    "origin" "-1088 6658 -303"
    "Template01" "triggFront"
    "Template02" "triggLeft"
    "Template03" "triggDetect"
    "Template04" "triggRight"
    "Template05" "HeDetectorTrigger"
    "Template06" "ReaperBossMultiTrig"
    "Template07" "ReaperBossHealth"
    "Template08" "ReaperBossHurtShell"
    "Template09" "ReaperBoss"
    "Template10" "BossCage"
    "Template11" "Front"
    "Template12" "Left"
    "Template13" "Right"
    "Template14" "Back"
}

modify:
{
    match:
    {
        "targetname" "BossEntranceTrigger"
        "origin" "-1088 6654 -303"
    }
    insert:
    {
		"OnStartTouch" "Reaper_Template,Forcespawn,,19.50,1"
    }
}