; Changes ammo to 8000 on every map-spawned weapon
modify:
{
    match:
    {
        "classname" "/weapon_.*/"
    }
    replace:
    {
        "ammo" "8000"
    }
}
; Remove game_end
filter:
{
    "classname" "game_end"
}

;Cool Music Entities
add:
{
    "origin" "0 0 0"
    "targetname" "GlobalAmbientGenericStripper"
    "spawnflags" "49"
    "radius" "1250"
    "pitchstart" "100"
    "pitch" "100"
    "message" "music/hl1_song10.mp3"
    "health" "10"
    "classname" "ambient_generic"
}
add:
{
    "origin" "0 0 0"
    "targetname" "GlobalAmbientGenericStripper2"
    "spawnflags" "49"
    "radius" "1250"
    "pitchstart" "100"
    "pitch" "100"
    "message" "music/hl2_song23_suitsong3.mp3"
    "health" "10"
    "classname" "ambient_generic"
}
add:
{
    "origin" "0 0 0"
    "targetname" "GlobalAmbientGenericStripper2"
    "spawnflags" "49"
    "radius" "1250"
    "pitchstart" "100"
    "pitch" "100"
    "message" "music/hl2_song23_suitsong3.mp3"
    "health" "10"
    "classname" "ambient_generic"
}
add:
{
    "origin" "0 0 0"
    "targetname" "GlobalLogicTimerStripper"
    "RefireTime" "0.1"
    "spawnflags" "0"
    "StartDisabled" "1"
    "UseRandomTime" "0"
    "classname" "logic_timer"
}
add:
{
    "origin" "0 0 0"
    "targetname" "GlobalGameTextStripper"
    "x" "-1"
    "y" ".20"
    "channel" "4"
    "message" "Default Message"
    "color" "0 255 255"
    "color2" "0 240 240"
    "fadein" ".1"
    "fadeout" ".1"
    "holdtime" "3"
    "spawnflags" "1"
    "classname" "game_text"
}
